{% load i18n nh3_tags wagtailcore_tags markdown_tags heroicons %}

<article class="md:py-6 list-row hover:bg-base-200/60">
  <div class="list-col-grow">
    <h2 class="mb-2 font-bold text-h2">
      <a
        class="link link-hover"
        href="{% pageurl page %}"
        title="Click to apply for {{ page.title }}"
      >
        {{ page.title }}
      </a>
    </h2>
    {% if page.next_deadline and page.show_deadline %}
      <p class="badge badge-info badge-soft badge-md">
        {% heroicon_micro 'calendar-days' class='size-4' aria_hidden=true %}
        <span class="font-medium">{% trans 'Next deadline' %}: {{ page.next_deadline|date:'M j, Y' }}</span>
      </p>
    {% endif %}
    {% if page.description %}
      <div class="mt-2 prose">
        {{ page.description|markdown|nh3 }}
      </div>
    {% endif %}
  </div>

  <div class="flex items-center">
    <a
      class="btn btn-primary"
      href="{% pageurl page %}"
      title="Click to apply for {{ page.title }}"
    >
      {% trans 'Apply' %}
    </a>
  </div>
</article>
