.button {
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: 0;
    box-shadow: none;

    &:hover {
        cursor: pointer;
    }

    &--left-space {
        margin-left: 20px;
    }

    &--contains-icons {
        display: flex;
        align-items: center;

        .header--narrow & {
            margin-right: 20px;
        }
    }

    &--transparent,
    &--transparent--wide {
        @include button(transparent, $color--white);

        .header--light-bg & {
            @include button(transparent, $color--black);
            @include button--narrow;
            color: $color--black;
            border: 1px solid $color--black;
        }

        &:hover {
            color: $color--dark-blue;

            .header--light-bg & {
                color: $color--white;
            }
        }
    }

    &--transparent {
        @include button--narrow;
    }

    // cannot conform to BEM here in order to be able to override google button styles
    &--google-translate {
        width: 160px;
        margin-left: 10px;

        @include media-query(tablet-landscape) {
            width: 180px;
        }

        .goog-te-gadget-simple {
            @include button(transparent, $color--white);
            @include button--narrow;
            padding: 5px;
            font-family: $font--primary;
            font-weight: $weight--bold;
            transition: background, color,  $transition;

            .header--light-bg & {
                @include button(transparent, $color--black);
                @include button--narrow;
                border: 1px solid $color--black;
            }

            &:hover {
                .goog-te-menu-value {
                    span {
                        color: $color--dark-blue !important; // sass-lint:disable-line no-important

                        .header--light-bg & {
                            color: $color--white !important; // sass-lint:disable-line no-important
                        }
                    }
                }
            }

            .goog-te-menu-value {
                color: $color--white;

                .header--light-bg & {
                    color: $color--black; // sass-lint:disable-line no-important
                }

                span {
                    // color of the arrow is inlined hence !important
                    color: $color--white !important; // sass-lint:disable-line no-important
                    transition: color  $transition;

                    .header--light-bg & {
                        color: $color--black !important; // sass-lint:disable-line no-important
                    }

                    &:nth-of-type(2) {
                        // hide the pipe
                        display: none;
                    }
                }
            }
        }

        .goog-te-gadget-icon {
            // hide the google icon
            display: none;
        }
    }
}

