.wmd-panel {
}

.wmd-input {
}

.wmd-preview {
    background-color: $color--sky-blue;
    padding: 0 10px;
    width:  100%;
    overflow: hidden; /* prevent collapsing margins */

    ul {
        padding-left: 20px;
        list-style: outside disc;
    }

    ol {
        list-style: inside decimal;
    }
}

.wmd-button-row {
    position: relative;
    background-color: $color--white;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.wmd-spacer {
    position: absolute;
    display: inline-block;
    background-color: $color--mid-grey;
    width: 1px;
    height: 20px;
    margin-left: 14px;
    list-style: none;
}

.wmd-button {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    list-style: none;
    cursor: pointer;

    & > span {
        display: inline-block;
        background-image: url('./../../images/editor-buttons.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 20px;
        height: 20px;
    }
}

.wmd-spacer1 {
    left: 50px;
}

.wmd-spacer2 {
    left: 175px;
}

.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: $color--black;
}

.wmd-prompt-dialog {
    background-color: $color--light-grey;
    padding:  .5em;
    border: 4px solid $color--primary;
}
