.image {
    &--headshot-mobile {
        display: block;

        @include media-query(tablet-portrait) {
            display: none;
        }
    }

    &--headshot-desktop {
        display: none;

        @include media-query(tablet-portrait) {
            display: block;
            margin-bottom: 20px;
        }
    }

    &--float-small {
        display: block;
        margin: 0 auto 10px auto;

        @include media-query(small-tablet) {
            float: right;
            margin:  10px 0 10px 10px;
        }
    }
}
