.listing {
    $root: &;
    padding: 20px;
    margin-bottom: 20px;
    background: $color--white;
    transition: box-shadow $transition;

    @include media-query(tablet-portrait) {
        position: relative;
        height: 180px;
        padding: 30px 210px 30px 30px;
    }

    &:hover {
        box-shadow: 0 2px 15px 0 $color--black-10;
    }

    &--not-a-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid $color--light-mid-grey;

        @include media-query(mob-landscape) {
            align-items: center;
            flex-direction: row;
            height: 160px;
        }

        &:hover {
            box-shadow: none;
        }

        &:first-child {
            padding-top: 20px;
            border-top: 1px solid $color--light-mid-grey;

            @include media-query(mob-landscape) {
                padding-top: 0;
                border-top: 0;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        > div {
            flex-basis: 55%;
        }
    }

    &__title {
        margin-bottom: 5px;
        line-height: 1;
        transition: color $transition;

        #{$root}:hover & {
            color: $color--dark-blue;
        }

        &--link {
            margin-bottom: 10px;

            #{$root}:hover & {
                color: $color--default;
            }

            a {
                color: $color--default;
                transition: color $transition;

                &:hover {
                    color: $color--primary;
                }
            }
        }
    }

    &__teaser {
        font-weight: $weight--normal;
        color: $color--default;

        @include media-query(mob-landscape) {
            .listing--not-a-link & {
                margin: 0;
            }
        }
    }

    &__meta {
        font-size: 15px;
        color: darken($color--mid-grey, 20%);
    }

    &__image {
        margin-bottom: 10px;

        @include media-query(tablet-portrait) {
            position: absolute;
            top: 0;
            right: 0;
        }

        &--default {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 180px;
            background-color: $color--light-blue;

            > svg {
                width: 80px;
                height: 70px;
                fill: $color--white;
            }
        }
    }

    &__path,
    &__category {
        margin-bottom: 5px;
        color: $color--default;
    }

    &__deadline {
        @extend %h6;
        display: flex;
        align-items: center;
        margin: 0 0 10px;
        font-weight: $weight--semibold;
        color: $color--pink;

        span {
            margin-left: 5px;
        }
    }

    &__path {
        display: flex;
    }

    &__button {
        @include button(transparent, $color--purple);
        color: $color--purple;
        text-align: center;
        border-color: $color--purple;

        &:hover {
            color: $color--white;
        }

        @include media-query(mob-landscape) {
            margin-right: 30px;
            text-align: left;
        }
    }
}
