.responsive-object {
    position: relative;
    margin-bottom: 2rem;

    @include media-query(tablet-portrait) {
        margin-bottom: 4rem;
    }

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
