.rich-text {
    margin-bottom: 2rem;

    .form & {
        margin-bottom: 0;
    }

    a {
        font-weight: $weight--bold;
        border-bottom: 1px solid transparent;
        transition: border, color, .15s ease-in-out;

        &:hover {
            border-bottom: 1px solid $color--primary;
      }
    }

    ul {
        padding-left: 20px;
        list-style: outside disc;

        li {
            margin-bottom: 1rem;
        }
    }

    ol {
        list-style: inside decimal;

        li {
            margin-bottom: 1rem;
        }
    }
}
