.section {
    &--main {
        max-width: $wrapper--small;

        &:only-child {
            margin: 0 auto;
        }
    }

    &--share {
        padding: 2rem 0;
        margin: 3rem 0;
        border-top: 1px solid $color--mid-grey;
    }

    &--top-bottom-space {
        padding: 20px 0;

        @include media-query(tablet-landscape) {
            padding: 3rem 0;
        }
    }
}
