.header {
    position: relative;
    padding: 10px;
    background-color: $color--primary;

    @include media-query(tablet-portrait) {
        height: 410px;
        padding: 20px;
    }

    &--standard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &--has-bg-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        color: $color--white;
        text-transform: uppercase;
    }

    &__inner {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--mobile-buttons {
            justify-content: flex-end;

            @include media-query(tablet-portrait) {
                display: none;
            }
        }

        &--menu-open {
            padding: 10px;
            background: transparent;
            transition: background $transition;
        }

        &--search-open {
            background: $color--dark-blue;
        }
    }

    &__menus {
        &--desktop {
            display: none;

            @include media-query(tablet-portrait) {
                display: flex;
                align-items: center;
            }
        }

        &--mobile {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: $color--dark-grey;
            opacity: 0;
            transform: translate3d(0, -100%, 0);
            transition: opacity, transform, 250ms cubic-bezier(0.65, 0.05, 0.36, 1) 0ms;

            &.is-visible {
                opacity: 1;
                transform: translate3d(0, 0%, 0);

                @include media-query(tablet-portrait) {
                    display: none;
                }
            }

            nav {
                width: 100%;
            }
        }
    }

    &__logo {
        fill: $color--white;

        &--mobile {
            width: 60px;
            height: 60px;

            @include media-query(tablet-portrait) {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include media-query(tablet-portrait) {
                display: block;
                height: 50px;
                max-width: 215px;
            }
        }
    }

    &__menu-toggle {
        @include media-query(tablet-portrait) {
            display: none;
        }
    }

    &__icon {
        &--close-search {
            @extend %is-hidden;
        }

        &--pixels {
            position: absolute;
            bottom: 0;
            display: none;

            @include media-query(tablet-portrait) {
                display: block;
            }
        }

        &--pixels-left {
            left: 0;
            width: 105px;
            height: 98px;
            fill: $color--white;
        }

        &--pixels-right {
            right: 0;
            width: 295px;
            height: 300px;
            fill: $color--dark-blue;
        }
    }

    &__search {
        @extend %is-invisible;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 180px;
        padding-bottom: 50px;
        background: $color--dark-blue;

        &--mobile-menu-open {
            top: 80px;
            z-index: 12;
            height: 120px;
        }
    }
}
