.header {
    padding: 10px;
    background-color: $color--primary;

    @include media-query(tablet-portrait) {
        padding: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__inner--top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__menus {

        &--desktop {
            display: none;

            @include media-query(tablet-portrait) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
            }
        }

        &--mobile {
            position: fixed;
            top: 87px;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            padding-top: 20px;
            background: rgba($color--white, 0.95);
            transform: translate3d(100%, 0%, 0);
            transition: transform 250ms cubic-bezier(0.24, 0.26, 0.2, 1) 0ms;

            &.is-visible {
                transform: translate3d(0%, 0%, 0);
            }

            nav {
                width: 100%;
            }
        }
    }

    &__logo {
        max-width: 100px;

        @include media-query(tablet-portrait) {
            max-width: 100%;
        }
    }

    &__menu-toggle {
        @include font-size(milli);
        z-index: 10;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        font-weight: $weight--bold;
        color: $color--secondary;
        text-transform: uppercase;

        @include media-query(tablet-portrait) {
            display: none;
        }
    }
}
