{% extends "base-apply.html" %}
{% load i18n %}

{% block title %}{% trans "Deleting" %}: {{ object }}{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h2 class="heading heading--no-margin">{% trans "Deleting" %}: {{ object }}</h2>
    </div>
</div>

<div class="wrapper wrapper--light-grey-bg wrapper--form wrapper--sidebar">
    <div class="wrapper--sidebar--inner">
        <form class="form" action="" method="post">
            {% csrf_token %}
            <p><strong>{% trans "Are you sure you want to delete" %} "{{ object }}"?</strong></p>
            <button class="button button--warning button--submit button--top-space" type="submit">{% trans "Confirm" %}</button>
        </form>
    </div>
</div>
{% endblock %}
