{% extends "base-apply.html" %}
{% load i18n nh3_tags review_tags workflow_tags %}

{% block title %}{% trans "Reviews" %}{% endblock %}

{% block body_class %}reviews-list__body{% endblock %}

{% block content %}
    {% adminbar %}
        {% slot header %}{% trans "Reviews" %}{% endslot %}
        {% slot sub_heading %}{% trans "For" %} <a class="text-blue-200" href="{% url "funds:submissions:detail" submission.id %}">{{ submission.title_text_display }}</a>{% endslot %}

        {% if request.user|has_review_perm:submission %}
            {% if request.user|has_draft:submission or request.user|can_review:submission %}
                {% include 'review/includes/review_button.html' with submission=submission %}
            {% endif %}
        {% endif %}
    {% endadminbar %}

    <div class="wrapper">
        <table class="reviews-list">
            {% for answers in review_data.values %}
                <tr class="reviews-list__tr">
                    <th class="reviews-list__th">{{ answers.question }}</th>
                    {% for answer in answers.answers %}
                        {% if forloop.parentloop.first %}
                            <th class="reviews-list__th reviews-list__th--author">{{ answer|safe }}</th>
                        {% elif answers.question == "Opinions"%}
                            <td class="reviews-list__td">{{ answer }}</td>
                        {% else %}
                            <td class="reviews-list__td">{{ answer|nh3 }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
