{% extends "base-apply.html" %}
{% load i18n static heroicons %}
{% block title %}{{ title }}{% endblock %}

{% block body_attrs %}x-data="{ showSubmission: false }"{% endblock %}

{% block alpine_scripts %}
    {{ block.super }}
    <script defer src="{% static 'js/behaviours/review-score.js' %}"></script>
{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            title="{{ title }}"
            subtitle="<a class='link link-hover' href='{% url 'funds:submissions:detail' submission.id %}'>{{ submission.title_text_display }}</a>"
        >
            <div class="self-end -mb-4">
                <div class="tabs tabs-lift">
                    <button
                        class="tab tab-active text-base-content/70"
                        x-data
                        @click="showSubmission = !showSubmission"
                        :aria-selected="showSubmission"
                    >
                        <span x-show="!showSubmission" class="flex gap-2 items-center">
                            {% heroicon_outline "eye" class="w-4 h-4" aria_hidden="true" %}
                            {% trans "Show application" %}
                        </span>
                        <span x-show="showSubmission" class="flex gap-2 items-center" x-cloak>
                            {% heroicon_outline "eye-slash" class="w-4 h-4" aria_hidden="true" %}
                            {% trans "Hide application" %}
                        </span>
                    </button>
                </div>
            </div>
        </c-hero.header>
    </c-hero>
{% endblock %}

{% block content %}
    <section class="flex relative gap-4 justify-between my-4" x-data="reviewScore">

        <div class="absolute top-0 right-0 z-20 h-full lg:block" x-cloak>
            <div
                class="inline-block sticky top-1 py-1.5 px-3 mt-1 font-semibold text-center bg-neutral text-neutral-content float-end"
                x-cloak
                x-show="showScore"
            >
                {% trans "Score:" %} <span x-text="totalScore">-</span>
            </div>
        </div>

        {% if not has_submitted_review %}
            <form id="review-form-edit" class="flex-1 max-w-3xl form form--scoreable" action="" method="post">
                {% include "forms/includes/form_errors.html" with form=form %}
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

                {% for field in form.visible_fields %}
                    {# to be replaced with better logic when we use stream form #}
                    {% ifchanged field.field.group %}
                        {% for key, value in form.titles.items %}
                            {% if key == field.field.group %}
                                <h2>{{ value }}</h2>
                            {% endif %}
                        {% endfor %}
                    {% endifchanged %}

                    {% if field.field %}
                        {% include "forms/includes/field.html" %}
                    {% else %}
                        <div class="mb-2 max-w-none field-block prose">
                            {{ field.block }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="items-center mt-4 card-actions">
                    <button class="btn btn-primary" type="submit" name="submit">
                        {% trans "Submit" %}
                    </button>
                    {% if not object.id or object.is_draft %}
                        <button class="btn btn-secondary btn-outline" type="submit" name="{{ form.draft_button_name }}" formnovalidate>
                            {% trans "Save draft" %}
                        </button>
                    {% endif %}
                    <div class="text-fg-muted" x-cloak x-show="showScore">
                        {% trans "Total Score:" %} <span x-text="totalScore"></span>
                    </div>
                </div>

            </form>
            <aside
                x-cloak
                x-show="showSubmission"
                class="overflow-y-auto max-h-screen grow bg-base-200 card card-border lg:max-w-1/2"
            >
                <div
                    class="card-body"
                    hx-get="{% url 'funds:submissions:partial-answers' submission.id %}"
                    hx-trigger="intersect once"
                >
                    <p>{% trans "Loading…" %}</p>
                </div>
            </aside>
        {% else %}
            <p>{% trans "You have already posted a review for this submission" %}</p>
        {% endif %}
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/review-form-actions.js' %}"></script>
{% endblock %}
