{% extends "base-apply.html" %}
{% load i18n nh3_tags submission_tags heroicons %}
{% block title %}{% trans "Review for" %} {{ review.submission.title }}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            back_link="{{ review.submission.get_absolute_url }}"
            back_link_text="{% trans 'View application' %}"
            title="{% trans 'Review' %}"
            subtitle="{% trans 'For' %} {{ review.submission.title_text_display }} {% trans 'by' %} {% if HIDE_STAFF_IDENTITY and not request.user.is_org_faculty and not request.user == review.author.reviewer %}{% trans 'Reviewer' %}{% else %}{{ review.author }}{% endif %} {% trans 'at' %} {{ review.created_at|date:'SHORT_DATE_FORMAT' }} {% if review.is_updated %}<small>({% trans 'Last updated' %}: {{ review.updated_at|date:'SHORT_DATE_FORMAT' }})</small>{% endif %}"
        >
        </c-hero.header>
    </c-hero>
{% endblock %}

{% block content %}
    <div class="my-4 layout layout-sidebar-end layout-flowrow-until-md layout-sidebar-flowrow-start">
        <div class="layout-main">
            <div class="">

                {% if not review.for_latest %}
                    <div role="alert" class="mb-4 alert alert-vertical alert-warning alert-soft sm:alert-horizontal">
                        {% heroicon_outline "information-circle" class="w-6 h-6 stroke-warning shrink-0" stroke_width="2" aria_hidden=true %}
                        <span>{% trans "Review was not against the latest version of the application" %}</span>

                        <div>
                            <a class="btn btn-sm btn-outline" href="{{ review.get_compare_url }}">
                                {% trans "View Changes" %}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="flex flex-col gap-8">
                    <div class="card card-border bg-base-200">
                        <div class="gap-4 card-body">
                            <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6">
                                <div>
                                    <dt class="mb-2 font-bold">{% trans "Recommendation" %}</dt>
                                    <dd><p class="badge badge-outline">{{ review.get_recommendation_display }}</p></dd>
                                </div>
                                <div>
                                    <dt class="mb-2 font-bold">{% trans "Score" %}</dt>
                                    <dd><p class="badge badge-outline">{{ review.get_score_display }}</p></dd>
                                </div>
                                <div>
                                    <dt class="mb-2 font-bold">{% trans "Visibility" %}</dt>
                                    <dd><p class="badge badge-outline">{{ review.get_visibility_display }}</p></dd>
                                </div>
                            </dl>

                            {% if object.get_comments_display != "-" %}
                                <div class="[&_h2]:text-sm [&_h2]:font-bold">
                                    {{ object.get_comments_display|submission_links }}
                                </div>
                            {% endif %}
                        </div>
                    </div>


                    {{ object.output_answers|submission_links }}

                    {% if review.opinions.exists %}
                        <section id="review-opinions">
                            <h3 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300">{% trans "Opinions" %}</h3>
                            {% include 'review/includes/review_opinions_list.html' with opinions=review.opinions.all %}
                        </section>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-4 layout-sidebar">
            <div class="flex gap-3 justify-end items-start">
                {% if not perms.funds.change_review or request.user == review.author.reviewer %}
                    <a
                        class="btn btn-primary btn-sm"
                        href="{% url 'apply:submissions:reviews:edit' submission_pk=object.submission.id pk=object.id %}"
                    >
                        {% heroicon_micro "pencil-square" class="inline size-4" aria_hidden=true %}
                        {% trans "Edit" %}
                    </a>
                {% endif %}

                {% if not perms.funds.delete_review or request.user == review.author.reviewer %}
                    <a
                        class="btn btn-error btn-outline btn-sm"
                        href="{% url 'apply:submissions:reviews:delete' submission_pk=object.submission.id pk=object.id %}"
                    >
                        {% heroicon_micro "trash" class="inline size-4" aria_hidden=true %}
                        {% trans "Delete" %}
                    </a>
                {% endif %}
            </div>
            {% if form %}
                <section class="card card-border">
                    <div class="card-body">
                        <h2 class="card-title">{% trans "Your opinions" %}</h2>

                        <div class="text-fg-muted">
                            {% trans "Note: An opinion is a replacement for a review. You will no longer be able to submit a review for this application." %}
                        </div>

                        <form method="post" class="mt-2 card-actions">
                            {% csrf_token %}
                            {{ form }}
                        </form>
                    </div>
                </section>
            {% endif %}

        </div>
    </div>
{% endblock %}
