{% extends "base-apply.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h1 class="beta heading heading--no-margin heading--bold">{{ title }}</h1>
        <h5>For <a href="{% url "funds:submissions:detail" submission.id %}">{{ submission.title }}</a></h5>
    </div>
</div>

{% include "forms/includes/form_errors.html" with form=form %}

<div class="wrapper wrapper--medium wrapper--inner-space-medium">
<form class="form form--with-p-tags form--scoreable" action="" method="post" novalidate>
    {{ form.media }}
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {# to be replaced with better logic when we use stream form #}
        {% ifchanged field.field.group %}
            {% for key, value in form.titles.items %}
                {% if key == field.field.group %}
                    <h2>{{ value }}</h2>
                {% endif %}
            {% endfor %}
        {% endifchanged %}

        {% if field.field %}
            {% include "forms/includes/field.html" %}
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
    {% if not object.id or object.is_draft %}
        <button class="button button--submit button--top-space button--white" type="submit" name="{{ form.draft_button_name }}">{% trans "Save draft" %}</button>
    {% endif %}
    <button class="button button--submit button--top-space button--primary" type="submit" name="submit">{% trans "Submit" %}</button>
</form>
</div>
{% endblock %}
