{% extends "base-apply.html" %}
{% load i18n bleach_tags submission_tags heroicons %}
{% block title %}{% trans "Review for" %} {{ review.submission.title }}{% endblock %}
{% block content %}

    {% adminbar %}
        {% slot back_link %}
            <a class="simplified__submissions-link" href="{{ review.submission.get_absolute_url }}">
                {% trans "View submission" %}
            </a>
        {% endslot %}
        {% slot header %}{% trans "Review" %}{% endslot %}
        {% slot sub_heading %}
            {% trans "For" %}: {{ review.submission.title }} {% trans "by" %} {{ review.author }} {% trans "at" %} {{ review.created_at|date:"SHORT_DATE_FORMAT" }} {% if review.is_updated %}<small>({% trans "Last updated" %}: {{ review.updated_at|date:"SHORT_DATE_FORMAT" }})</small>{% endif %}
        {% endslot %}

        {% include 'review/includes/review_opinions_list.html' with opinions=review.opinions.all %}
    {% endadminbar %}

    <div class="flex justify-between mt-8 mb-8">
        <div class="flex gap-8">
            <div>
                <h5>{% trans "Recommendation" %}</h5>
                <p>{{ review.get_recommendation_display }}</p>
            </div>
            <div>
                <h5>{% trans "Score" %}</h5>
                <p>{{ review.get_score_display }}</p>
            </div>
        </div>

        <div class="flex gap-4 flex-col items-end">
            <div class="flex gap-4 items-start justify-end">
                <span class="flex items-center">
                    {% heroicon_micro "eye" class="inline me-1 w-4 h-4" aria_hidden=true %}
                    {{ review.get_visibility_display }}
                </span>
                {% if perms.funds.delete_review or request.user == review.author.reviewer %}
                    <a
                        class="font-bold flex text-red-500 items-center hover:opacity-70 transition-opacity"
                        href="{% url 'apply:submissions:reviews:delete' submission_pk=object.submission.id pk=object.id %}"
                    >
                        {% heroicon_micro "trash" class="inline me-1 w-4 h-4" aria_hidden=true %}
                        {% trans "Delete" %}
                    </a>
                {% endif %}

                {% if perms.funds.change_review or request.user == review.author.reviewer %}
                    <a
                        class="font-bold flex items-center hover:opacity-70 transition-opacity"
                        href="{% url 'apply:submissions:reviews:edit' submission_pk=object.submission.id pk=object.id %}"
                    >
                        {% heroicon_micro "pencil-square" class="inline me-1 w-4 h-4" aria_hidden=true %}
                        {% trans "Edit" %}
                    </a>
                {% endif %}
            </div>
            {% comment %} {% if not review.for_latest %} {% endcomment %}
            <div class="text-end">
                <p class="text-xs">
                    * {% trans "Review was not against the latest version" %}<br>
                </p>
                <a class="button button-primary" href="{{ review.get_compare_url }}">{% trans "Compare" %}</a>
            </div>
        {% comment %} {% endif %} {% endcomment %}
        </div>

    </div>

    <div class="rich-text rich-text--answers">
        {{ object.get_comments_display|submission_links }}

        <div class="prose">
            {{ object.output_answers|submission_links }}
        </div>
    </div>

    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
        </form>

        <P>{% trans "An opinion is a replacement for a review. You will no longer be able to submit a review for this application." %}</P>
    {% endif %}

{% endblock %}
