{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<div class="wrapper wrapper--flex">
    <section class="section section--main">
        <h1>{{ page.title }}</h1>

        {% if news %}
            <ul role="list">
                {% for n in news %}
                    <li>
                        <a href="{% pageurl n %}">
                            {% if n.listing_image %}
                                {% image n.listing_image fill-450x300 %}
                            {% endif %}
                            <div>
                                <h2 role="listitem">
                                    {{ n.listing_title|default:n.title }}
                                </h2>
                                <span>{{ n.display_date }}</span>
                                {% if n.listing_summary or n.introduction %}
                                    <p>{{ n.listing_summary|default:n.introduction }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% include "includes/pagination.html" with paginator_page=news %}
        {% else %}
            {# no items #}
        {% endif %}
    </section>
    <aside class="sidebar sidebar--filters">
        <form method="GET">
            <select name="news_type">
                <option value="">All</option>
                {% for news_type in news_types %}
                    <option value="{{ news_type.0 }}" {% if request.GET.news_type == news_type.0|slugify %}selected="selected"{% endif %}>{{ news_type.1 }}</option>
                {% endfor %}
            </select>
        </form>
    </aside>
</div>
{% endblock %}
