{% if paginator_page.paginator.num_pages > 1 %}
<nav role="navigation" aria-label="Pagination">
    <ul class="pagination">
        {% if paginator_page.has_previous %}
            <li class="previous"><a href="?page={{ paginator_page.previous_page_number }}{% if search_query %}&amp;query={{ search_query|urlencode }}{% endif %}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}">previous</a></li>
        {% endif %}

        <li class="cardinality">
            {{ paginator_page.number }}/{{ paginator_page.paginator.num_pages }}
        </li>

        {% if paginator_page.has_next %}
            <li class="next"><a href="?page={{ paginator_page.next_page_number }}{% if search_query %}&amp;query={{ search_query|urlencode }}{% endif %}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}">next</a></li>
        {% endif %}
    </ul>
</nav>{% endif %}
