{% extends "wagtailadmin/generic/confirm_delete.html" %}
{% load i18n static users_tags wagtailadmin_tags %}

{% block main_content %}
    <p>{% trans "Are you sure you want to delete this user?" %}</p>
    {% get_user_submission_count user as submission_count %}
    {% if submission_count %}
        <div class="deletion-warning">
            {% icon name="warning" classname="" title="warning icon" %}
            <span>
                {% if SUBMISSION_SKELETONING_ENABLED %}
                    <strong>{% blocktrans %}This will result in the user's {{submission_count}} associated submissions being deleted or anonymized!{% endblocktrans %}</strong>
                {% else %}
                    <strong>{% blocktrans %}This will result in the user's {{submission_count}} associated submissions being deleted!{% endblocktrans %}</strong>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <form action="{% url 'wagtailusers_users:delete' user.pk %}" method="POST">
        {% csrf_token %}
        {% if SUBMISSION_SKELETONING_ENABLED %}
            <div style="padding-bottom: 1rem;">
                <div style="display: flex; align-content: center; padding-bottom: 0.25rem;">
                    <input type="radio" id="anon" name="handle_subs" value="anon" required checked>
                    <label for="anon">Anonymize all user submissions</label>
                </div>
                <div style="display: flex; align-content: center;">
                    <input type="radio" id="delete" name="handle_subs" value="delete">
                    <label for="delete">Delete all user submissions</label>
                </div>
            </div>
        {% endif %}
        <input type="submit" value="{% trans 'Yes, delete' %}" class="button serious" />
    </form>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/wagtail_user_confirm_delete.css' %}">
{% endblock %}
