.header {
    position: relative;
    padding: 20px;
    background-color: $color--white;

    &__inner {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--menu-open {
            padding: 20px;
        }

        &--mobile-buttons {
            justify-content: flex-end;

            @include media-query(tablet-portrait) {
                display: none;
            }
        }
    }

    &__logo {
        fill: $color--default;

        &--mobile {
            width: 60px;
            height: 60px;

            .is-visible & {
                fill: $color--white;
            }

            @include media-query(tablet-landscape) {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include media-query(tablet-landscape) {
                display: block;
                width: 160px;
                height: 40px;
            }
        }
    }

    &__menu-toggle {
        @include media-query(tablet-portrait) {
            display: none;
        }
    }

    &__icon {
        &--close-search {
            @extend %is-hidden;
        }
    }

    &__button-container {
        display: none;

        @include media-query(tablet-portrait) {
            display: flex;
        }
    }

    &__menus {
        flex-grow: 1;

        &--desktop {
            display: none;

            @include media-query(tablet-portrait) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--mobile {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: $color--dark-grey;
            opacity: 0;
            transform: translate3d(0, -100%, 0);
            transition-duration: 0.25s;
            transition-property: transform, opacity;
            transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

            &.is-visible {
                opacity: 1;
                transform: translate3d(0, 0%, 0);

                @include media-query(tablet-portrait) {
                    display: none;
                }
            }

            nav {
                width: 100%;
            }
        }
    }
}
