CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    },
    'wagtailcache': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    },
    'django_file_form': {
        'BACKEND': 'django.core.cache.backends.db.DatabaseCache',
        'LOCATION': 'database_cache',
        'KEY_PREFIX': 'django_file_form',
    },
}

# ALLOWED_HOSTS = ['apply.hypha.test', 'hypha.test', '127.0.0.1']

# WAGTAILADMIN_BASE_URL = 'http://hypha.test'

# Turn off DEBUG mode.
# DEBUG = False

# Write log to local file.
# LOCAL_FILE_LOGGING = True

# Write e-mails to local files.
# LOCAL_FILE_EMAIL = True

# Enable the styleguide.
# ENABLE_STYLEGUIDE = True

# SECRET_KEY = 'CHANGEME!!!'

# Enable Wagtail Cache.
# WAGTAIL_CACHE = True

# If you have a problem with 'CSRF cookie not set'.
# CSRF_COOKIE_SAMESITE = None
# SESSION_COOKIE_SAMESITE = None


# To use a custom S3 bucket locally set the following env vars
# based on the output of running https://github.com/torchbox/buckup
# export AWS_STORAGE_BUCKET_NAME='...'
# export AWS_ACCESS_KEY_ID='...'
# export AWS_SECRET_ACCESS_KEY='...'

# Region specific settings that might be necessary to avoid
# errors when viewing files from the django admin.
# Might not be needed for US regions.
# AWS_S3_REGION_NAME = 'eu-west-2'
# AWS_S3_SIGNATURE_VERSION = 's3v4'
# AWS_S3_ADDRESSING_STYLE = 'virtual'
