SALESFORCE_DB = {
    'ENGINE': 'salesforce.backend',
    'CONSUMER_KEY': 'Consumer Key from Salesforce App',
    'CONSUMER_SECRET': 'Consumer Secret from Salesforce APP',
    'USER': 'user@email.com',
    'PASSWORD': 'Password and security token concatenated',
    'HOST': 'https://login.salesforce.com' # Or test or URL of salesforce org
}

SALESFORCE_QUERY_TIMEOUT = (30, 30)  # (connect timeout, data timeout)

DATABASE_ROUTERS = [
    "salesforce.router.ModelRouter"
]
