@use "../abstracts/mixins";
@use "../abstracts/variables";

.actions-bar {
  &__inner {
    &--batch-actions {
      display: none;
      pointer-events: none;

      .batch-actions-enabled & {
        display: flex;
        pointer-events: all;
      }
    }
  }
}
