@use "../abstracts/mixins";
@use "../abstracts/variables";

@layer components {
  .admin-bar {
    &__inner {
      max-width: variables.$site-width;
      margin: 0 auto;

      &--with-button {
        @include mixins.media-query(md) {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    &__meta {
      margin: 0 0 10px;

      span {
        margin: 0 5px;
      }
    }

    &__back-link {
      display: inline-flex;
      align-items: center;
      color: var(--color-primary);
      font-weight: variables.$weight--bold;

      &::before {
        @include mixins.triangle(top);
        margin-inline-end: 0.5rem;
        transform: rotate(-90deg);
      }
    }

    .app-open & .submissions-count {
      display: none;
    }
  }
}
