@use "../abstracts/mixins";
@use "../abstracts/variables";

// stylelint-disable selector-class-pattern,selector-max-compound-selectors

.all-submissions-table {
    @include mixins.table-ordering-styles;

    $root: &;
    font-size: 14px;

    thead {
        display: none;

        @include mixins.media-query(lg) {
            display: table-header-group;
        }

        th {
            &.reviews_stats {
                color: variables.$color--black-60;

                div {
                    font-size: 0.75rem;
                }
            }

            // set column widths
            &.title {
                @include mixins.media-query(lg) {
                    width: 130px;
                }

                @include mixins.media-query(xl) {
                    width: 260px;
                }
            }

            &.phase {
                @include mixins.media-query(lg) {
                    width: 150px;
                }
            }

            &.selected {
                @include mixins.table-checkbox;

                @include mixins.media-query(lg) {
                    width: 50px;
                    padding-inline-end: 0;
                }
            }

            &.comments {
                @include mixins.media-query(lg) {
                    width: 110px;
                }
            }

            &.organization_name {
                @include mixins.media-query(lg) {
                    width: 110px;
                }
            }
        }

        tr {
            &:hover {
                box-shadow: none;
            }
        }
    }

    tbody {
        tr {
            &[data-archived="True"] {
                background-color: variables.$color--light-mid-grey;
            }
        }

        td {
            // project title
            &.title {
                position: relative;
                padding-block-start: 15px;
                font-weight: variables.$weight--bold;

                @include mixins.media-query(lg) {
                    display: flex;
                    align-items: center;
                }

                @include mixins.media-query(xl) {
                    display: table-cell;
                }
            }

            // project status label
            &.phase {
                span {
                    display: inline-block;
                    padding: 5px;
                    font-size: 13px;
                    font-weight: variables.$weight--bold;
                    color: variables.$color--marine;
                    text-align: center;
                    background-color: variables.$color--sky-blue;

                    @include mixins.media-query(lg) {
                        width: 100%;
                    }
                }
            }

            // comments
            &.comments {
                display: none;

                @include mixins.media-query(lg) {
                    display: table-cell;
                    font-size: 13px;
                    text-align: center;
                    vertical-align: middle;
                    background: url("./../images/quote-outline.svg") transparent
                        no-repeat center center;
                    background-size: 24px;
                }
            }

            &.reviews_stats {
                display: none;

                @include mixins.media-query(lg) {
                    display: table-cell;
                }
            }

            // batch action checkboxes
            &.selected {
                @include mixins.table-checkbox;
                display: none;
                padding-inline-end: 0;

                @include mixins.media-query(lg) {
                    display: table-cell;
                }
            }

            &.fund,
            &.round,
            &.screening_status {
                hyphens: auto;
            }

            &.organization_name {
                @include mixins.media-query(lg) {
                    padding-inline-start: 15px;
                }
            }

            // arrow to toggle project info - added via js
            @include mixins.media-query(lg) {
                .arrow {
                    @include mixins.triangle(
                        right,
                        variables.$color--primary,
                        6px
                    );
                    position: relative;
                    display: inline-block;
                    transform: rotate(0);
                    transition: transform variables.$transition;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            // stylelint-disable-next-line force-element-nesting
            > span.mobile-label {
                display: inline-block;
                width: 90px;

                &.phase,
                &.title {
                    display: none;
                }

                @include mixins.media-query(lg) {
                    display: none;
                }
            }
        }
    }

    &__parent {
        &.is-expanded {
            background-color: variables.$color--mist;
            border-block-end: 1px solid variables.$color--light-mid-grey;

            + #{$root}__child {
                border-block-end: 1px solid variables.$color--light-mid-grey;
            }

            + #{$root}__child,
            + #{$root}__child + #{$root}__child {
                display: table-row;
            }

            .arrow {
                transform: rotate(90deg);
            }
        }
    }

    &__child {
        display: none;
        color: variables.$color--mid-dark-grey;
        vertical-align: top;
        background-color: variables.$color--mist;
        border: 0;
        border-block-end: 2px solid variables.$color--light-grey;

        &:hover {
            box-shadow: none;
        }

        td {
            padding: 10px;
        }

        p {
            margin: 0;
            font-weight: variables.$weight--bold;
            color: variables.$color--default;
        }

        .title {
            a {
                visibility: hidden;
            }
        }
    }

    &__empty {
        td {
            padding: 20px;
        }
    }

    &__toggle {
        padding: 0.5em;
        margin-block-start: -0.5em;
        cursor: pointer;
        vertical-align: top;

        &:hover {
            opacity: 0.7;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        background-color: variables.$color--white;
        padding: 20px 25px;
        min-height: auto;
        border-block-end: 1px solid variables.$color--light-mid-grey;
        border-inline-start: 1px solid variables.$color--light-mid-grey;
        border-inline-end: 1px solid variables.$color--light-mid-grey;

        a {
            margin: 0;
            flex-basis: auto;
            font-weight: variables.$weight--semibold;
        }
    }
}
