@use "../abstracts/mixins";
@use "../abstracts/variables";

// stylelint-disable selector-class-pattern
.all-submissions-table {
  $root: &;

  thead {
    th {
      &.reviews_stats {
        color: var(--color-fg-muted);

        div {
          font-size: 0.75rem;
        }
      }

      // set column widths
      &.title {
        @include mixins.media-query(lg) {
          width: 130px;
        }

        @include mixins.media-query(xl) {
          width: 260px;
        }
      }

      &.phase {
        @include mixins.media-query(lg) {
          width: 150px;
        }
      }

      &.comments {
        @include mixins.media-query(lg) {
          width: 110px;
        }
      }

      &.organization_name {
        @include mixins.media-query(lg) {
          width: 110px;
        }
      }
    }
  }

  tbody {
    tr {
      &[data-archived="True"] {
        background-color: var(--color-base-200);
      }
    }

    td {
      // project title
      &.title {
        position: relative;
        padding-block-start: 15px;
        font-weight: var(--font-weight-bold);

        @include mixins.media-query(lg) {
          display: flex;
          align-items: center;
        }

        @include mixins.media-query(xl) {
          display: table-cell;
        }
      }

      // project status label
      &.phase {
        span {
          display: inline-block;
          padding: 5px;
          font-size: 13px;
          font-weight: var(--font-weight-bold);
          text-align: center;
          background-color: var(--color-base-200);

          @include mixins.media-query(lg) {
            width: 100%;
          }
        }
      }

      // comments
      &.comments {
        display: table-cell;
        font-size: 13px;
        text-align: center;
        vertical-align: middle;
        background: url("./../images/quote-outline.svg") transparent no-repeat
          center center;
        background-size: 24px;
      }

      &.reviews_stats {
        display: none;

        @include mixins.media-query(lg) {
          display: table-cell;
        }
      }

      &.fund,
      &.round,
      &.screening_status {
        hyphens: auto;
      }

      &.organization_name {
        @include mixins.media-query(lg) {
          padding-inline-start: 15px;
        }
      }

      > span.mobile-label {
        display: inline-block;
        width: 90px;

        &.phase,
        &.title {
          display: none;
        }

        @include mixins.media-query(lg) {
          display: none;
        }
      }
    }
  }
}
