// stylelint-disable selector-max-compound-selectors

.all-reviews-table {
    @include table-ordering-styles;

    $root: &;
    font-size: 14px;

    thead {
        display: none;

        @include media-query($table-breakpoint) {
            display: table-header-group;
        }

        tr {
            &:hover {
                box-shadow: none;
            }
        }
    }

    tbody {
        td {
            &.title {
                position: relative;
                padding-block-start: 15px;
                padding-inline-start: 10px;
                font-weight: $weight--bold;

                @include media-query($table-breakpoint) {
                    display: flex;
                    align-items: center;
                }

                @include media-query(desktop) {
                    display: table-cell;
                }

                a {
                    color: $color--primary;
                }
            }
        }
    }
}
