@use "../abstracts/mixins";
@use "../abstracts/variables";

// stylelint-disable selector-max-compound-selectors

.all-reviews-table {
    @include mixins.table-ordering-styles;

    $root: &;
    font-size: 14px;

    thead {
        display: none;

        @include mixins.media-query(lg) {
            display: table-header-group;
        }

        tr {
            &:hover {
                box-shadow: none;
            }
        }
    }

    tbody {
        td {
            &.title {
                position: relative;
                padding-block-start: 15px;
                padding-inline-start: 10px;
                font-weight: variables.$weight--bold;

                @include mixins.media-query(lg) {
                    display: flex;
                    align-items: center;
                }

                @include mixins.media-query(xl) {
                    display: table-cell;
                }

                a {
                    color: variables.$color--primary;
                }
            }
        }
    }
}
