@use "../abstracts/mixins";
@use "../abstracts/variables";

.button {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: none;
  border-radius: 0.125rem;

  &:hover {
    cursor: pointer;
  }

  &--cookieconsent {
    @include mixins.button(transparent, variables.$color--white);
    display: inline;

    &:focus,
    &:hover {
      color: variables.$color--dark-blue;
    }
  }

  &--filters {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding: 15px 20px;
    font-weight: variables.$weight--normal;
    color: variables.$color--default;
    border: 1px solid variables.$color--light-mid-grey;
    transition: none;
    width: 100%;

    @include mixins.media-query(lg) {
      background: none;
      padding: 10px;
      border: 0;
      justify-content: flex-start;
      opacity: 0.7;
    }
  }

  &--left-space {
    margin-inline-start: 20px;
  }

  // Two-factor
  &-info,
  &-link {
    @include mixins.button(
      variables.$color--light-blue,
      variables.$color--dark-blue
    );
    display: inline-block;
    line-height: 1.15;
  }
}
