@use "../abstracts/mixins";
@use "../abstracts/variables";

.button {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: 0;
  box-shadow: none;
  border-radius: 0.125rem;

  &:hover {
    cursor: pointer;
  }

  &--cookieconsent {
    @include mixins.button(transparent, variables.$color--white);
    display: inline;

    &:focus,
    &:hover {
      color: variables.$color--dark-blue;
    }
  }

  &--left-space {
    margin-inline-start: 20px;
  }

  // Two-factor
  &-info,
  &-link {
    @include mixins.button(
      variables.$color--light-blue,
      variables.$color--dark-blue
    );
    display: inline-block;
    line-height: 1.15;
  }
}
