@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn,
.button {
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: 0;
    box-shadow: none;
    border-radius: 0.125rem;

    &:hover {
        cursor: pointer;
    }

    &:disabled,
    &.is-disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &--primary {
        @include mixins.button(
            variables.$color--light-blue,
            variables.$color--dark-blue
        );
        display: inline-block;
        border: 1px solid variables.$color--light-blue;

        .form--filters & {
            width: 100%;
            text-align: center;
            height: 45px;
        }
    }

    &--project-action {
        @include mixins.button(
            variables.$color--light-blue,
            variables.$color--dark-blue
        );
        display: inline-block;
        padding: 0.5rem 1.2rem;

        &--white {
            @include mixins.button(
                variables.$color--white,
                variables.$color--light-blue
            );
            display: inline-block;
            color: variables.$color--light-blue;
            border: 1px solid variables.$color--mid-grey;
            padding: 0.5rem 1.2rem;

            &:active,
            &:focus,
            &:hover {
                color: variables.$color--white;
            }
        }
    }

    &--login {
        /* stylelint-disable-next-line media-query-no-invalid */
        @media (min-width: variables.$input-box-max-width) {
            width: 20rem;
        }
    }

    &--transparent {
        @include mixins.button(transparent, variables.$color--black);
        color: variables.$color--black;
        border: 1px solid variables.$color--black;

        &:active,
        &:focus,
        &:hover {
            color: variables.$color--white;
        }
    }

    &--mobile-standout {
        color: variables.$color--white;
        border-color: variables.$color--white;
        max-width: 250px;
        margin: 1rem auto 0;

        @include mixins.media-query(md) {
            display: none;
        }
    }

    &--cookieconsent {
        @include mixins.button(transparent, variables.$color--white);
        display: inline;

        &:focus,
        &:hover {
            color: variables.$color--dark-blue;
        }
    }

    &--secondary,
    &--white {
        @include mixins.button(
            variables.$color--white,
            variables.$color--light-blue
        );
        display: inline-block;
        color: variables.$color--light-blue;
        border: 1px solid variables.$color--mid-grey;

        &:active,
        &:focus,
        &:hover {
            color: variables.$color--white;
        }
    }

    &--blue-white {
        @include mixins.button(
            variables.$color--white,
            variables.$color--light-blue
        );
        display: inline-block;
        color: variables.$color--light-blue;
        border: 1px solid variables.$color--light-blue;

        &:focus {
            color: variables.$color--light-blue;
        }

        &:hover {
            color: variables.$color--white;
        }
    }

    &-danger,
    &--warning {
        @include mixins.button(
            variables.$color--error,
            variables.$color--error
        );

        &:focus {
            background-color: variables.$color--pastel-red;
        }
    }

    &--filters {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        padding: 15px 20px;
        font-weight: variables.$weight--normal;
        color: variables.$color--default;
        border: 1px solid variables.$color--light-mid-grey;
        transition: none;
        width: 100%;

        @include mixins.media-query(lg) {
            background: none;
            padding: 10px;
            border: 0;
            justify-content: flex-start;
            opacity: 0.7;
        }
    }

    &--filters-header {
        display: flex;
    }

    &--search {
        position: absolute;
        inset-block-start: 0.65em;
        inset-inline-end: 10px;

        svg {
            fill: variables.$color--primary;
            height: 24px;
        }
    }

    &--left-space {
        margin-inline-start: 20px;
    }

    &--narrow {
        @include mixins.button--narrow;
    }

    &--wide {
        @include mixins.button--wide;
    }

    &--full-width {
        width: 100%;
        text-align: center;
    }

    &--half-width {
        width: 50%;
        padding: 10px;
        text-align: center;

        &:last-child {
            margin-inline-end: 0;
        }
    }

    &--bottom-space {
        margin-block-end: 10px;

        &:last-child {
            margin-block-end: 0;
        }
    }

    &--actions {
        position: relative;
        display: block;
        background-color: variables.$color--white;

        &:active {
            background: variables.$color--light-blue-90;
        }

        &::after {
            position: absolute;
            inset-block-start: 0;
            inset-inline-end: 15px;
            font-size: 30px;
            content: "+";
            line-height: 1.2;
        }

        &.is-active {
            color: variables.$color--dark-blue;
            background: variables.$color--light-blue-90;

            &::after {
                inset-block-start: -12px;
                content: "_";
            }
        }

        @include mixins.media-query(md) {
            display: none;
        }
    }

    &--top-space {
        margin-block-start: 20px;
    }

    &--submit {
        min-width: 200px;
        margin-inline-end: 10px;
        text-align: center;
    }

    &--compare {
        width: 75px;
        padding: 3px;
        margin-block-start: 10px;
        font-size: 12px;
        font-weight: variables.$weight--bold;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid currentcolor;
        transition: background-color, color, border,
            variables.$transition--quick;

        @include mixins.media-query(md) {
            margin-block-start: 0;
        }

        &:focus,
        &:hover {
            color: variables.$color--white;
            background-color: variables.$color--light-blue;
            border: 1px solid variables.$color--light-blue;
        }
    }

    &--arrow-pixels-white {
        display: flex;
        align-items: center;

        svg {
            width: 10px;
            height: 14px;
            margin-inline-start: 10px;
            fill: variables.$color--white;
        }
    }

    &--action {
        display: flex;
        color: variables.$color--default;
        align-items: center;
        transition: opacity variables.$transition;
        font-weight: variables.$weight--semibold;
        position: relative;

        &:hover {
            opacity: 0.7;
        }

        &:disabled {
            color: variables.$color--mid-dark-grey;
            cursor: not-allowed;
            pointer-events: all; // to show the tooltip on hover

            // tooltip
            &::before {
                content: attr(data-tooltip);
                pointer-events: none;
                position: absolute;
                width: 200px;
                padding: 12px;
                font-size: 12px;
                font-weight: variables.$weight--normal;
                white-space: normal;
                background: variables.$color--light-blue;
                opacity: 0;
                transition: opacity variables.$transition;
                inset-block-end: 45px;
                inset-inline-start: 50%;
                transform: translateX(-50%);
                color: variables.$color--white;
                text-align: left;
                line-height: 1rem;
                border: 1px solid variables.$color--white;
                border-radius: 0.125rem;
            }

            &::after {
                @include mixins.triangle(
                    bottom,
                    variables.$color--primary,
                    7px
                );
                position: absolute;
                inset-block-start: -22px;
                inset-inline-start: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: opacity variables.$transition;
                z-index: 10;
            }

            svg {
                fill: variables.$color--mid-dark-grey;
            }

            &:hover {
                opacity: 1;

                // show tooltip
                &::before {
                    pointer-events: all;
                    z-index: 10;
                    opacity: 1;
                }

                &::after {
                    opacity: 1;
                }
            }
        }

        svg {
            fill: variables.$color--light-blue;
            width: 1em;
            height: 1em;
            margin-inline-end: 0.5rem;
            pointer-events: none;
        }
    }

    &--link {
        color: variables.$color--primary;
    }

    &--remove {
        color: variables.$color--tomato;
    }

    &--tooltip-disabled {
        background-color: variables.$color--button-disabled;
        border: 1px solid variables.$color--button-disabled;

        &:hover,
        &:active,
        &:focus {
            cursor: default;
            background-color: variables.$color--button-disabled;
        }
    }

    &--flag {
        &.flagged {
            position: relative;

            &::after {
                content: "\2691";
                color: variables.$color--tomato;
                position: absolute;
                inset-block-start: 4px;
                padding-inline-start: 5px;
                font-size: variables.$font-size--delta;
                line-height: 1;
            }
        }
    }

    &--unflag {
        @include mixins.button(
            variables.$color--light-blue,
            variables.$color--dark-blue
        );
        @include mixins.button--small;

        /* stylelint-disable-next-line no-duplicate-selectors */
        & {
            padding-inline-end: 18px;
        }

        @include mixins.media-query(lg) {
            padding-inline-end: 18px;
        }

        &.flagged {
            &::after {
                inset-block-start: 2px;
                padding-inline-start: 3px;
                font-size: variables.$font-size--zeta;
            }
        }
    }

    // Two-factor
    &-info,
    &-link {
        @include mixins.button(
            variables.$color--light-blue,
            variables.$color--dark-blue
        );
        display: inline-block;
        line-height: 1.15;
    }

    &--like-active {
        svg {
            fill: variables.$color--dark-blue;
        }
    }

    &--dislike-active {
        svg {
            fill: variables.$color--tomato;
        }
    }
}
