@use "../abstracts/mixins";
@use "../abstracts/variables";

.h-card {
  padding: 20px;
  margin-block-end: 20px;

  &--solid {
    background-color: var(--color-base-200);
  }

  &__text {
    margin: 0 0 1rem;

    &:last-child {
      margin: 0;
    }
  }

  &__inner {
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }
  }

  &__heading {
    margin-block-end: 0;
  }

  &__reviewer-outcome {
    display: flex;
    align-items: center;
    margin-block-end: 1rem;

    @include mixins.media-query(sm) {
      margin-inline-start: 1rem;
    }
  }
}
