@use "../abstracts/mixins";
@use "../abstracts/variables";

// stylelint-disable selector-max-compound-selectors

.paf-review-table {
    @include mixins.table-ordering-styles;

    thead {
        display: none;

        @include mixins.media-query(lg) {
            display: table-header-group;
        }

        th {
            // ordering - adjust alignment
            &.desc {
                position: relative;
                color: variables.$color--dark-grey;

                &::after {
                    position: absolute;
                    inset-block-start: 40%;
                    margin-inline-start: 5px;
                }
            }

            &.asc {
                position: relative;
                color: variables.$color--dark-grey;

                &::after {
                    position: absolute;
                    inset-block-start: 50%;
                    margin-inline-start: 5px;
                }
            }
        }
    }

    tbody {
        td {
            // stylelint-disable-next-line force-element-nesting
            > span.mobile-label {
                display: inline-block;
                width: 90px;

                @include mixins.media-query(lg) {
                    display: none;
                }
            }
        }
    }
}
