@use "../abstracts/mixins";
@use "../abstracts/variables";

.data-block {
  $root: &;

  &__mobile-label {
    display: inline-block;
    font-weight: variables.$weight--bold;
    white-space: pre;

    @include mixins.media-query(lg) {
      display: none;
    }
  }

  &__table {
    thead {
      display: none;

      @include mixins.media-query(lg) {
        display: table-header-group;
      }

      th {
        color: variables.$color--mid-dark-grey;
        padding: 0.5rem;

        @include mixins.media-query(lg) {
          text-align: start;
        }
      }

      tr {
        border-block-end: 2px solid variables.$color--light-mid-grey;
      }
    }

    tbody {
      tr {
        border: 0;
        border-block-end: 2px solid variables.$color--light-grey;

        &:last-child {
          border-block-end: 0;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  &__table-amount {
    width: 12%;
    min-width: 90px;
  }

  &__table-status {
    min-width: 160px;
    width: 15%;
  }

  &__table-date {
    width: 15%;
  }

  &__table-update {
    min-width: 160px;
    width: 25%;

    @include mixins.media-query(xl) {
      width: 30%;
    }
  }

  &__action-link {
    font-weight: variables.$weight--bold;
    display: inline-block;
    margin-inline-end: 1rem;
    text-decoration: underline;
    color: variables.$color--primary;
    word-break: normal;
    transition-property: opacity;
    transition-duration: 150ms;

    &:hover {
      opacity: 0.75;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__action-icon-link {
    font-weight: variables.$weight--bold;
    display: flex;
    align-items: center;
    margin-inline-end: 1rem;
    word-break: normal;

    transition-property: opacity;
    transition-duration: 150ms;

    &:hover {
      opacity: 0.75;
    }

    &:last-child {
      margin: 0;
    }

    &--remove {
      color: variables.$color--tomato;
    }
  }

  &__list-item {
    border-block-end: 2px solid variables.$color--light-grey;
    padding: 0.5em 0.75em;

    @include mixins.media-query(lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:first-child {
      padding-block-start: 0;
    }

    &:last-child {
      border-block-end: 0;
    }

    &:only-child {
      padding: 0;
    }
  }
}
