@use "../abstracts/mixins";
@use "../abstracts/variables";

.data-block {
  $root: &;

  &__table {
    thead {
      display: none;

      @include mixins.media-query(lg) {
        display: table-header-group;
      }

      th {
        color: variables.$color--mid-dark-grey;
        padding: 0.5rem;

        @include mixins.media-query(lg) {
          text-align: start;
        }
      }

      tr {
        border-block-end: 2px solid variables.$color--light-mid-grey;
      }
    }

    tbody {
      tr {
        border: 0;
        border-block-end: 2px solid variables.$color--light-grey;

        &:last-child {
          border-block-end: 0;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  &__table-amount {
    width: 12%;
    min-width: 90px;
  }

  &__table-status {
    min-width: 160px;
    width: 15%;
  }

  &__table-date {
    width: 15%;
  }

  &__table-update {
    min-width: 160px;
    width: 25%;

    @include mixins.media-query(xl) {
      width: 30%;
    }
  }
}
