@use "../abstracts/mixins";
@use "../abstracts/variables";

.data-block {
    $root: &;
    margin-block-end: 1rem;
    border: 1px solid variables.$color--light-blue;

    &__header {
        padding: 1rem;
        background-color: variables.$color--light-blue-90;

        @include mixins.media-query(sm) {
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__body {
        padding: 1rem;

        @include mixins.media-query(sm) {
            padding: 2rem;
        }
    }

    &__title {
        font-size: variables.$font-size--epsilon;
        font-weight: variables.$weight--bold;
        margin: 0 0 1rem;

        @include mixins.media-query(sm) {
            margin: 0;
        }
    }

    &__button {
        display: inline-block;
        padding: 0.5rem 1.2rem;

        #{$root}__header & {
            &:hover,
            &:focus {
                background-color: variables.$color--white;
            }
        }

        #{$root}__links & {
            margin-inline-end: 1rem;

            &:only-child {
                margin-inline-end: 0;
            }
        }
    }

    &__status {
        margin: 0;

        @include mixins.media-query(lg) {
            display: block;
            font-weight: variables.$weight--bold;
        }
    }

    &__pagination,
    &__rejected {
        text-align: center;
    }

    &__pagination-link,
    &__rejected-link {
        font-weight: variables.$weight--bold;
    }

    &__mobile-label {
        display: inline-block;
        font-weight: variables.$weight--bold;
        white-space: pre;

        @include mixins.media-query(lg) {
            display: none;
        }
    }

    &__table {
        thead {
            display: none;
            border-block-start: 2px solid variables.$color--light-mid-grey;

            @include mixins.media-query(lg) {
                display: table-header-group;
            }

            th {
                color: variables.$color--mid-dark-grey;
                padding: 10px;

                @include mixins.media-query(lg) {
                    text-align: left;
                }
            }

            tr {
                border-color: variables.$color--light-mid-grey;
            }
        }

        tbody {
            font-size: variables.$font-size--zeta;
        }

        tr {
            border: 0;
            border-block-end: 2px solid variables.$color--light-grey;

            &:hover {
                box-shadow: none;
            }
        }
    }

    &__table-amount {
        width: 12%;
        min-width: 90px;
    }

    &__table-status {
        min-width: 160px;
        width: 15%;
    }

    &__table-date {
        min-width: 180px;
        width: 15%;
    }

    &__table-update {
        min-width: 160px;
        width: 25%;

        @include mixins.media-query(xl) {
            width: 30%;
        }
    }

    &__action-link {
        font-size: variables.$font-size--zeta;
        font-weight: variables.$weight--bold;
        display: inline-block;
        margin-inline-end: 1rem;
        text-decoration: underline;
        color: variables.$color--primary;
        word-break: normal;
        transition-property: opacity;
        transition-duration: 150ms;

        &:hover {
            opacity: 0.75;
        }

        &:last-child {
            margin: 0;
        }
    }

    &__action-icon-link {
        font-size: variables.$font-size--zeta;
        font-weight: variables.$weight--bold;
        display: flex;
        align-items: center;
        margin-inline-end: 1rem;
        word-break: normal;

        transition-property: opacity;
        transition-duration: 150ms;

        &:hover {
            opacity: 0.75;
        }

        &:last-child {
            margin: 0;
        }

        &--remove {
            color: variables.$color--tomato;
        }
    }

    &__list-item {
        border-block-end: 2px solid variables.$color--light-grey;
        padding: 1rem 0;

        @include mixins.media-query(lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &:first-child {
            padding-block-start: 0;
        }

        &:last-child {
            border-block-end: 0;
        }

        &:only-child {
            padding: 0;
        }
    }

    &__info {
        margin: 0 1rem 1rem 0;

        @include mixins.media-query(lg) {
            margin: 0 1rem 0 0;
            flex: 1;
        }
    }

    &__links {
        display: flex;
        align-items: center;

        @include mixins.media-query(lg) {
            justify-content: flex-end;
        }
    }

    &__card {
        padding-block-end: 1rem;
        position: relative;
        margin-block-end: 2rem;

        &::after {
            content: "";
            width: calc(100% + 2rem);
            position: absolute;
            height: 2px;
            display: block;
            background: variables.$color--mid-grey;
            inset-inline-start: -1rem;
            inset-block-end: 0;

            @include mixins.media-query(sm) {
                width: calc(100% + 4rem);
                inset-inline-start: -2rem;
            }
        }
    }

    &__card-copy,
    &__card-title {
        margin: 0 0 0.5rem;
    }

    &__card-title {
        font-weight: variables.$weight--bold;
    }
}
