@use "../abstracts/variables";

.wmd-preview {
  padding: 0 10px;
}

.wmd-button-row {
  display: flex;
  background-color: variables.$color--white;
  padding: 4px;
}

.wmd-spacer {
  background-color: variables.$color--mid-grey;
  width: 1px;
  height: 20px;
  margin: 0 14px;
  list-style: none;
}

.wmd-button {
  width: 20px;
  height: 20px;
  margin: 0 2px;
  list-style: none;
  cursor: pointer;

  & > span {
    display: inline-block;
    background-image: url("./../images/editor-buttons.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
  }
}
