@use "../abstracts/variables";

.error-bar {
    padding: variables.$mobile-gutter;
    margin: 0 auto 2rem;
    background: variables.$color--tomato;
    color: variables.$color--white;

    &__copy {
        margin: 0 0 1rem;
        font-weight: variables.$weight--bold;

        &:last-child {
            margin: 0;
        }
    }
}
