@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../base/typography";

.feed {
    &__item {
        position: relative;
        display: flex;
        margin-block-end: 1.5em;

        &:last-child {
            border-block-end: 0;
        }

        &--collaps {
            position: relative;
            max-height: 300px;
            overflow: hidden;
        }

        ul {
            padding-inline-start: 20px;
            list-style: outside disc;
        }

        ol {
            list-style: inside decimal;
        }
    }

    &__label {
        margin: 0;
        color: variables.$color--white;
        text-align: center;

        &--note {
            background-color: variables.$color--error;
        }

        &--determination {
            background-color: variables.$color--ocean;
        }

        &--comment,
        &--message {
            background-color: variables.$color--grass;
        }

        &--activity,
        &--action {
            background-color: variables.$color--mint;
        }

        &--submission {
            background-color: variables.$color--green;
        }

        &--project {
            background-color: variables.$color--mint;
        }

        &--mobile {
            display: block;
            margin-inline-end: 10px;

            @include mixins.media-query(sm) {
                display: none;
            }
        }
    }

    &__pre-content {
        width: 110px;
    }

    &__content {
        width: 100%;
    }

    &__meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include mixins.responsive-font-sizes(12px, 16px);

        @include mixins.media-query(sm) {
            margin-block-end: 10px;
        }
    }

    &__meta-item {
        margin: 0 10px 0 0;

        span {
            font-weight: variables.$weight--bold;
        }

        @include mixins.media-query(sm) {
            margin: 0 15px 0 0;
        }

        &--edit-button {
            padding-inline-start: 0.5em;
        }

        &--last-edited {
            margin-inline-end: 5px;
            color: variables.$color--mid-dark-grey;

            span {
                font-weight: variables.$weight--normal;
            }
        }

        &--right {
            margin-inline-start: auto;

            span {
                font-weight: variables.$weight--normal;
            }
        }

        &--progress {
            width: 100%;
            margin: 5px 0 0;
            font-size: variables.$font-size--milli;
            color: variables.$color--black-50;

            @include mixins.media-query(sm) {
                width: auto;
                margin: 0 20px 0 0;
            }

            span {
                &:first-child {
                    // stylelint-disable-next-line max-nesting-depth
                    &::after {
                        @include mixins.triangle(
                            right,
                            variables.$color--black-50,
                            4px
                        );
                        display: inline-block;
                        margin: 0 5px 0 10px;
                    }
                }
            }
        }
    }

    &__comment {
        word-break: break-word;
        max-width: variables.$max-text-line-length;
    }

    &__related-item {
        white-space: nowrap;

        svg {
            width: 10px;
            height: 14px;
            margin-inline-start: 10px;
            margin-block-start: 0.35em;
            fill: variables.$color--dark-blue;
        }
    }

    &__heading {
        margin-block-end: 0;

        @include mixins.media-query(sm) {
            width: 90%;
            font-size: 18px;
        }
    }

    &__heading-status {
        padding: 3px 10px;
        font-size: variables.$font-size--milli;
        font-weight: variables.$weight--bold;
        color: variables.$color--marine;
        text-align: center;
        text-transform: uppercase;
        background-color: variables.$color--sky-blue;
    }

    &__company {
        @extend %h6;
    }

    &__show-button {
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 3em 0 0.5em;
        background-image: linear-gradient(
            to bottom,
            variables.$color--white-10,
            variables.$color--white
        );
    }
}
