@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "sass:math";

.form {
  $root: &;

  &__group {
    #{$root}--report-frequency & {
      &--schedule {
        display: flex;
        align-items: center;
      }

      // stylelint-disable-next-line selector-class-pattern
      &.id_occurrence {
        width: 15%;
      }

      // stylelint-disable-next-line selector-class-pattern
      &.id_frequency {
        margin: 0;
      }
    }
  }

  &__file-list {
    ul {
      margin: 0.5rem 0;
    }
  }

  &__help {
    margin: 0;
    color: var(--color-fg-muted);
    font-size: 0.875rem;
    line-height: 1.25rem;

    .profile & {
      margin-block-start: 0;
    }
  }

  &__item {
    position: relative;
    padding-block-start: 0.5rem;
  }

  &__select {
    max-width: 385px;

    &:has(.choices) {
      background: none;
    }

    select[multiple="multiple"] {
      display: block;
    }
  }

  select,
  input[type="url"],
  input[type="date"],
  input[type="time"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="datetime-local"] {
    &.invalid {
      --input-color: var(--color-error);
    }
  }

  &__error {
    select,
    /* textarea, */
    input[type="url"],
    input[type="text"],
    input[type="date"],
    input[type="time"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="datetime-local"] {
      --input-color: var(--color-error);
    }
  }

  &__error-text {
    max-width: 200px;
    padding: 5px;
    margin: 20px 0 0;
    color: var(--color-error-content);
    background: var(--color-error);
    z-index: 2;

    @include mixins.media-query(lg) {
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      max-width: auto;
      margin: 0;

      &::before {
        position: absolute;
        inset-block-start: 12px;
        inset-inline-start: -10px;
        border-color: transparent var(--color-error) transparent transparent;
        border-style: solid;
        border-width: 5px 10px 5px 0;
        content: "";
      }
    }
  }

  input[type="file"] {
    position: absolute;
    inset-inline-start: -9999px;

    @media (scripting: none) {
      display: block;
    }
  }

  &__comments {
    // stylelint-disable-next-line selector-class-pattern,selector-id-pattern
    ul#id_visibility {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}

.flash-item {
  animation: flash 1s ease 1;
}

@keyframes flash {
  50% {
    background-color: var(--color-warning);
  }
}
