@use "../abstracts/mixins";
@use "../abstracts/variables";

.heading {
    &--no-margin {
        margin: 0;
    }

    &--meta {
        display: flex;
        flex-wrap: wrap;
        margin-block-start: 0.25rem;

        span {
            &::after {
                padding-inline: 0.25rem;
                content: "•";
            }

            &:last-child {
                &::after {
                    padding-inline: 0;
                    content: "";
                }
            }
        }
    }

    &--submission-meta {
        display: flex;
        flex-direction: column;
        margin-block-start: 20px;
        font-weight: variables.$weight--normal;
        color: variables.$color--black-40;

        @include mixins.media-query(lg) {
            flex-direction: row;
            margin-block-start: 0;
        }

        span {
            margin-inline-end: 15px;
        }
    }

    &--small {
        font-size: 12px;
    }

    &--light-grey {
        color: variables.$color--black-40;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--normal {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-block-end: 0.25rem;
    }

    &--bold {
        font-weight: variables.$weight--bold;
    }

    &--activity-feed {
        line-height: 1.1;
        text-align: center;

        @include mixins.responsive-font-sizes(12px, 18px);

        @include mixins.media-query(md) {
            line-height: auto;
            text-align: left;
        }
    }
}
