@use "../abstracts/mixins";
@use "../abstracts/variables";

.heading {
  &--meta {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 0.25rem;

    span {
      &::after {
        padding-inline: 0.25rem;
        content: "•";
      }

      &:last-child {
        &::after {
          padding-inline: 0;
          content: "";
        }
      }
    }
  }

  &--submission-meta {
    display: flex;
    flex-direction: column;
  }

  &--normal {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-block-end: 0.25rem;
  }
}
