@use "../abstracts/mixins";

.invoice-block {
    padding: 1rem;
    margin-block-end: 1rem;
    border: 1px solid var(--color-dark-blue);

    @include mixins.media-query(sm) {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }

    &__item {
        margin-block-end: 1rem;

        &:last-child {
            margin: 0;
        }

        @include mixins.media-query(sm) {
            margin: 0 1rem 0 0;
        }
    }

    &__title {
        font-weight: var(--weight-bold);
        margin: 0 0 0.2rem;
    }

    &__meta {
        margin: 0;
    }
}
