@use "../base/typography";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.list {
    $root: &;
    max-width: 290px;

    &--no-margin {
        margin: 0;
    }

    &--opinion {
        position: relative;
        font-size: 14px;
        border-block-start: 1px solid variables.$color--mid-grey;
        border-block-end: 1px solid variables.$color--mid-grey;
        margin: 10px 0;
        padding: 5px 0;

        #{$root}__item--opinion:first-child {
            span:last-child {
                &::before,
                &::after {
                    position: absolute;
                    inset-block-start: -15px;
                    inset-inline-end: 5px;
                }

                &::after {
                    @include mixins.triangle(top, variables.$color--mist, 6px);
                    inset-block-start: -13px;
                }

                &::before {
                    @include mixins.triangle(
                        top,
                        variables.$color--mid-grey,
                        6px
                    );
                }
            }
        }
    }

    &__item {
        &--reviewer {
            display: flex;
            justify-content: space-between;
        }

        &--reviewer-name {
            max-width: 190px;
            overflow: hidden;
            font-weight: variables.$weight--bold;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;

            > img {
                margin-inline-start: 10px;
            }

            // show truncated emails on hover
            &:hover {
                position: absolute;
                max-width: initial;
                overflow: visible;
                background-color: variables.$color--mist;

                + #{$root}__item--reviewer-outcome {
                    width: 100%;
                    text-align: right;
                }
            }

            #{$root}__item--opinion & {
                font-weight: variables.$weight--normal;
            }
        }

        &--reviewer-outcome {
            color: variables.$color--tomato;
            position: relative;

            &.agree {
                color: variables.$color--green;
            }
        }
    }
}
