@use "../abstracts/mixins";
@use "../abstracts/variables";

.messages {
    position: fixed;
    inset-block-start: 2px;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 25;
    pointer-events: none;

    &__actions {
        display: flex;
        align-items: center;
        max-width: 450px;
        margin: 0 auto;
        color: variables.$color--black;
        pointer-events: all;
        max-height: 1000px;
        background: variables.$color--cream;
    }

    &__text {
        position: relative;
        padding: 15px 20px;
        color: variables.$color--white;
        font-size: 14px;
        opacity: 1;
        transition: opacity, max-height, variables.$transition;
        pointer-events: all;
        max-height: 1000px;
        background: variables.$color--dark-blue;

        @include mixins.media-query(xl) {
            padding: 15px 30px;
        }

        &--info,
        &--success {
            background: variables.$color--dark-blue;
        }

        &--error,
        &--warning {
            background: variables.$color--dark-tomato;
        }

        &--debug {
            background: variables.$color--dark-pink;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        max-width: variables.$site-width;
        margin: 0 auto;
    }

    &__copy {
        padding-inline-end: 20px;
        margin: 0;
        flex: 1;
        word-break: break-word;
    }

    &__button {
        margin-inline-start: auto;
        color: variables.$color--dark-blue;
        background-color: variables.$color--white;
        display: inline-block;
        font-weight: variables.$weight--bold;
        padding: 2px 20px;
    }
}
