.nav {
    display: flex;
    width: 100%;
    height: 100%;
    font-weight: $weight--semibold;

    &--primary {
        justify-content: center;
        flex-direction: column;

        @include media-query(md) {
            gap: 2rem;
            flex-direction: row;
        }

        @include media-query(lg) {
            gap: 3rem;
        }
    }

    &__item {
    }

    &__link {
        @extend %h5;
        display: flex;
        position: relative;
        padding-block: 0.5rem;
        color: $color--default;
        transition: color $transition;

        &:focus,
        &:hover {
            color: $color--light-blue;
        }

        @include media-query(md) {
            padding-block: 1.5rem;

            &::after {
                position: absolute;
                inset-block-end: 0;
                inset-inline-start: 0;
                width: 100%;
                height: 5px;
                background-color: $color--dark-blue;
                content: "";
                opacity: 0;
                transition: opacity 0.5s cubic-bezier(0.2, 1.4, 0.67, 1.13);
            }
        }

        &--active,
        &:focus,
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}
