@use "../abstracts/mixins";
@use "../abstracts/variables";

.profile {
    margin-block-start: variables.$mobile-gutter;

    @include mixins.media-query(md) {
        display: flex;
        margin-block-start: 2rem;
    }

    &__column {
        padding-block-end: 2rem;
        margin-block-end: 2rem;
        border-block-end: 1px solid variables.$color--light-mid-grey;

        @include mixins.media-query(md) {
            width: 50%;
            padding-inline-end: 3rem;
            margin: 0 3rem 0 0;
            border-inline-end: 1px solid variables.$color--light-mid-grey;
            border-block-end: 0;

            &:last-child {
                padding-inline-end: 0;
                margin-inline-end: 0;
                border-inline-end: 0;
            }
        }
    }
}
