// stylelint-disable selector-max-compound-selectors

.projects-table {
    @include table-ordering-styles;

    thead {
        display: none;

        @include media-query($table-breakpoint) {
            display: table-header-group;
        }
    }

    tbody {
        td {
            // stylelint-disable-next-line force-element-nesting
            > span.mobile-label {
                display: inline-block;
                width: 90px;

                @include media-query($table-breakpoint) {
                    display: none;
                }
            }
        }
    }

    .reporting {
        .icon {
            margin-inline-end: 0.3rem;
            width: 25px;
            height: 25px;
            fill: $color--tomato;
        }
    }
}

.invoices-table {
    @include table-ordering-styles;

    thead {
        display: none;

        @include media-query($table-breakpoint) {
            display: table-header-group;
        }
    }

    tbody {
        td {
            // stylelint-disable-next-line force-element-nesting
            > span.mobile-label {
                display: inline-block;
                width: 90px;

                @include media-query($table-breakpoint) {
                    display: none;
                }
            }
        }
    }
}
