@use "../abstracts/mixins";

.responsive-table {
    @include mixins.table-ordering-styles;

    thead {
        display: none;

        @include mixins.media-query(lg) {
            display: table-header-group;
        }

        th {
            padding: 25px 10px;
        }
    }

    tbody {
        td {
            &.title {
                padding-block-start: 15px;
            }
        }
    }
}
