.diff {
    &__deleted {
        background-color: var(--color-light-pink);

        a {
            background-color: inherit;
        }
    }

    &__added {
        background-color: var(--color-light-green);

        a {
            background-color: inherit;
        }
    }
}
