@use "../abstracts/variables";

.reviews-list {
  position: relative;
  table-layout: auto;

  &__th {
    &:first-child {
      font-weight: 600;
    }
  }

  &__tr {
    border-block-start: 0;
    border-block-end: 2px solid var(--color-base-300);
  }

  &__td {
    max-width: 340px;
    min-width: 240px;
    padding: 20px;

    &--author {
      > div {
        display: flex;
        align-items: center;

        img {
          margin-inline-start: 7px;
        }
      }
    }
  }

  &__th,
  &__td {
    display: table-cell;
    height: auto;
    vertical-align: top;

    &:first-child {
      width: 160px;
      background-color: var(--color-base-200);
    }
  }

  &__th--author {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--color-base-100);
  }
}
