@use "../abstracts/variables";

.revision-diff-table {
    td {
        vertical-align: top;
        word-break: break-word;
    }
}

.diff {
    &__deleted {
        background-color: variables.$color--light-pink;

        a {
            background-color: inherit;
        }
    }

    &__added {
        background-color: variables.$color--light-green;

        a {
            background-color: inherit;
        }
    }
}
