@use "../abstracts/mixins";
@use "../abstracts/variables";

.reviews-sidebar {
  $root: &;

  &__decision {
    position: relative;
    font-size: 14px;
    border-block-start: 1px solid variables.$color--mid-grey;
    border-block-end: 1px solid variables.$color--mid-grey;
    margin-block-end: 20px;
    padding-block-start: 10px;
  }

  &__item {
    &--decision {
      margin-block-end: 10px;
      font-weight: var(--font-weight-semibold);

      &:first-child {
        #{$root}__outcome {
          &::before,
          &::after {
            position: absolute;
            inset-block-start: -23px;
            inset-inline-start: 5px;
          }

          &::after {
            @include mixins.triangle(top, var(--color-white), 8px);
            inset-block-start: -21px;
          }

          &::before {
            @include mixins.triangle(top, variables.$color--mid-grey, 8px);
          }
        }
      }
    }

    &.no-response {
      color: var(--color-fg-muted);
    }

    .yes {
      color: var(--color-success);
    }

    .maybe {
      color: var(--color-warning);
    }

    .no {
      color: var(--color-error);
    }
  }

  &__no-reviews {
    color: variables.$color--mid-grey;
  }

  &__name {
    position: relative;
    display: flex;
    align-items: center;

    img {
      margin-inline-start: 7px;
    }
  }

  &__outcome {
    position: relative;

    &.agree {
      color: var(--color-success);
    }

    &.disagree {
      color: var(--color-error);
    }
  }
}
