@use "../abstracts/variables";

.reviewer-dash-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid variables.$color--mid-grey;

    &__title {
        color: variables.$color--mid-dark-grey;
    }
}
