@use "../abstracts/mixins";
@use "../abstracts/variables";

.revision {
    margin: 20px 0;
    border: 1px solid variables.$color--mid-grey;

    @include mixins.media-query(md) {
        margin: 4rem 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 15px;
        background: variables.$color--white;
        border-block-end: 1px dashed variables.$color--mid-grey;

        @include mixins.media-query(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        &:first-child {
            background-color: variables.$color--sky-blue;
        }

        &:last-child {
            border-block-end: 0;
        }
    }

    &__meta {
        margin: 0;
    }

    &__date,
    &__current,
    &__draft {
        font-weight: variables.$weight--semibold;
    }
}
