@use "../abstracts/variables";

.rich-text {
  word-break: break-word;
  max-width: 50em;

  ul {
    &.remove-list-style {
      padding: 0;
      list-style: none;
    }
  }
}

.tox {
  .tox-statusbar {
    &__wordcount {
      padding-inline: 0.5rem;

      &::after {
        content: attr(data-after-word-count);
      }

      &.word-count-warning,
      &.word-count-warning-2 {
        background-color: var(--color-warning);
        color: var(--color-warning-content);
        font-weight: bold;
      }

      &.word-count-warning-2 {
        background-color: var(--color-error);
        color: var(--color-error-content);
      }
    }
  }
}
