@use "../abstracts/mixins";
@use "../abstracts/variables";

.section {
    &--has-sidebar {
        flex-grow: 1;
        margin: variables.$mobile-gutter 0;

        @include mixins.media-query(md) {
            padding-inline-end: 20px;
            margin-block-end: 0;
        }
    }

    &--with-options {
        display: flex;
        flex-direction: column;

        @include mixins.media-query(sm) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
