// stylelint-disable selector-max-compound-selectors, selector-class-pattern

.select2 {
    &-container {
        z-index: 99995; // to override any modals
    }

    .select2-container--default,
    &.select2-container--default {
        // stylelint-disable-next-line declaration-no-important
        width: 100% !important;

        .select2-selection--single {
            height: $dropdown-height;
            border: 1px solid $color--mid-grey;
            border-radius: 0;

            &.is-active {
                font-weight: $weight--bold;
                border-color: $color--primary;
            }

            .select2-selection__clear {
                display: none;
            }

            .select2-selection__rendered {
                padding-inline-start: 15px;
                padding-inline-end: 30px;
                line-height: $dropdown-height;
            }

            .select2-selection__arrow {
                inset-inline-end: 15px;
                height: $dropdown-height;
                pointer-events: none;
                background: url("./../images/dropdown.svg") transparent
                    no-repeat 95% center;
                background-size: 8px;
                width: 8px;

                b[role="presentation"] {
                    display: none;
                }
            }

            .select2-selection__placeholder {
                color: $color--default;
            }
        }
    }
}

// stylelint-disable-next-line no-duplicate-selectors
.select2-container {
    &--default {
        .select2-results__option--highlighted[aria-selected] {
            // stylelint-disable-next-line declaration-no-important
            color: $color--default !important;
            // stylelint-disable-next-line declaration-no-important, max-line-length
            background-color: transparentize($color--primary, 0.9) !important;
        }
    }

    .select2-dropdown {
        border: 0;
        border-block-end: 1px solid $color--mid-grey;
        border-radius: 0;

        @include media-query(small-tablet) {
            border: 1px solid $color--mid-grey;
        }
    }

    .select2-results__option {
        display: flex;
        align-items: center;
        padding: 6px;

        &::before {
            min-width: 20px;
            height: 20px;
            margin-inline-end: 10px;
            background: $color--white;
            border: 1px solid $color--mid-grey;
            content: "";
        }

        &[aria-selected="true"] {
            &::before {
                background: url("./../images/tick.svg") $color--dark-blue center
                    no-repeat;
                background-size: 12px;
                border: 1px solid $color--dark-blue;
                content: "";
            }
        }
    }
}
