@use "../abstracts/mixins";
@use "../abstracts/variables";

// stylelint-disable selector-max-compound-selectors, selector-class-pattern

.select2 {
    &-container {
        z-index: 99995; // to override any modals
    }

    .select2-container--default,
    &.select2-container--default {
        // stylelint-disable-next-line declaration-no-important
        width: 100% !important;

        .select2-selection--single {
            height: variables.$dropdown-height;
            border: 1px solid variables.$color--mid-grey;
            border-radius: 0;

            &.is-active {
                font-weight: variables.$weight--bold;
                border-color: variables.$color--primary;
            }

            .select2-selection__clear {
                display: none;
            }

            .select2-selection__rendered {
                padding-inline-start: 15px;
                padding-inline-end: 30px;
                line-height: variables.$dropdown-height;
            }

            .select2-selection__arrow {
                inset-inline-end: 15px;
                height: variables.$dropdown-height;
                pointer-events: none;
                background: url("./../images/dropdown.svg") transparent
                    no-repeat 95% center;
                background-size: 8px;
                width: 8px;

                b[role="presentation"] {
                    display: none;
                }
            }

            .select2-selection__placeholder {
                color: variables.$color--default;
            }
        }
    }
}

// stylelint-disable-next-line no-duplicate-selectors
.select2-container {
    &--default {
        .select2-results__option--highlighted[aria-selected] {
            // stylelint-disable-next-line declaration-no-important
            color: variables.$color--default !important;
            // stylelint-disable declaration-no-important, max-line-length
            background-color: variables.$color--light-blue-90 !important;
        }
    }

    .select2-dropdown {
        border: 0;
        border-block-end: 1px solid variables.$color--mid-grey;
        border-radius: 0;

        @include mixins.media-query(sm) {
            border: 1px solid variables.$color--mid-grey;
        }
    }

    .select2-results__option {
        display: flex;
        align-items: center;
        padding: 6px;

        &::before {
            min-width: 20px;
            height: 20px;
            margin-inline-end: 10px;
            background: variables.$color--white;
            border: 1px solid variables.$color--mid-grey;
            content: "";
        }

        &[aria-selected="true"] {
            &::before {
                background: url("./../images/tick.svg")
                    variables.$color--dark-blue center no-repeat;
                background-size: 12px;
                border: 1px solid variables.$color--dark-blue;
                content: "";
            }
        }
    }
}
