@use "../abstracts/mixins";

.sidebar {
  &__inner {
    padding: 15px;
    border: 1px solid var(--color-base-300);

    &--actions {
      @include mixins.media-query(md) {
        &--instructions {
          margin-block-start: 10px;
          margin-inline-start: 10px;
        }
      }
    }
  }

  &__paf-approvals {
    &--approved {
      color: var(--color-black);
    }
  }
}
