@use "../abstracts/mixins";
@use "../abstracts/variables";

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;

  @include mixins.media-query(md) {
    width: 345px;
  }

  &__inner {
    padding: 20px;
    border: 1px solid variables.$color--mid-grey;

    &--actions {
      @include mixins.media-query(md) {
        &--instructions {
          margin-block-start: 10px;
          margin-inline-start: 10px;
        }
      }
    }
  }

  &__project {
    // stylelint-disable value-no-vendor-prefix
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    align-self: flex-start;
    inset-block-start: 2rem;
  }

  &__paf-approvals {
    &--pending {
      color: variables.$color--mid-grey;
    }

    &--approved {
      color: var(--color-black);
    }
  }
}
