// class used for custom styling on the simplified submission and project pages
.simplified {
    &__admin-bar {
        position: relative;
        inset-inline-end: 50%;
        inset-inline-start: 50%;
        width: 100vw;
        padding: $mobile-gutter;
        margin-inline-end: -50vw;
        margin-inline-start: -50vw;
        color: $color--white;
        background-color: $color--dark-grey;
    }

    &__admin-bar-inner {
        max-width: $site-width;
        margin: 0 auto;
    }

    &__admin-bar-inner-project {
        max-width: $site-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__projects-link {
        display: inline-flex;
        align-items: center;
        color: $color--lightest-blue;
        font-weight: $weight--bold;

        &::before {
            @include triangle(top, currentColor, 5px);
            margin-inline-end: 0.5rem;
            transform: rotate(-90deg);
        }
    }

    &__submissions-link {
        display: inline-flex;
        align-items: center;
        color: $color--lightest-blue;
        font-weight: $weight--bold;

        &::before {
            @include triangle(top, currentColor, 5px);
            margin-inline-end: 0.5rem;
            transform: rotate(-90deg);
        }
    }

    &__heading {
        @include responsive-font-sizes(30px, map-get($font-sizes, beta));
        font-weight: $weight--bold;
        margin: 0;
    }

    &__subheading {
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        @include media-query(tablet-portrait) {
            margin-block-end: 1rem;
        }

        span {
            &::after {
                padding: 0 15px;
                content: "|";
            }

            &:last-child {
                &::after {
                    padding: 0;
                    content: "";
                }
            }
        }
    }

    &__wrapper {
        padding: $mobile-gutter 0;

        @include media-query(tablet-portrait) {
            padding: 1rem 0;
        }
    }

    &__meta {
        @include heading-text;
        @include font-size(zeta);
        display: flex;
        flex-direction: column;
        margin-block-start: $mobile-gutter;
        font-weight: $weight--normal;
        color: transparentize($color--dark-grey, 0.5);

        @include media-query(tablet-landscape) {
            flex-direction: row;
            margin-block-start: 0;
        }
    }

    &__meta-item {
        margin-inline-end: 15px;

        &:last-child {
            margin-inline-end: 0;
        }
    }

    &__rich-text {
        margin-block-end: 2rem;
        word-break: break-word;

        > section {
            margin: 0 0 2rem;

            p:first-of-type {
                margin-block-start: 0;
            }

            p:empty {
                margin: 0;
            }
        }

        h1 {
            font-size: 20px;
            font-family: $font--primary;
        }

        h2 {
            font-size: 18px;
            font-family: $font--primary;
        }

        h3,
        h4:not(.question),
        h5,
        h6 {
            font-size: 16px;
            font-family: $font--primary;
        }

        .question {
            margin: 0;
        }
    }

    &__paf_answers {
        section {
            margin: 0 0 1.5rem;
        }

        h4 {
            margin: 0;
            font-size: 16px;
        }
    }
}
