.status-block {
    $root: &;
    background-color: $color--white;
    border: 1px solid $color--light-mid-grey;

    @include media-query($table-breakpoint) {
        display: flex;
    }

    &__item {
        display: block;
        padding: 10px 20px;
        border-block-end: 1px solid $color--light-mid-grey;
        background-color: $color--white;
        transition: background-color $quick-transition;

        @include media-query($table-breakpoint) {
            border-block-end: 0;
            border-inline-end: 1px solid $color--light-mid-grey;
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        @include media-query(desktop) {
            padding: 20px 18px 30px;
        }

        @include media-query(laptop-short) {
            padding: 15px 15px 25px;
        }

        &--active {
            border-block-end: 4px solid;
        }

        &:hover {
            background-color: $color--light-grey;
        }

        &:last-child {
            border-inline-end: 0;
        }
    }

    &__info,
    &__title {
        margin: 0 0 5px;
    }

    &__info {
        @include media-query($table-breakpoint) {
            margin-block-start: auto;
        }
    }

    &__title {
        width: 100%;
        hyphens: auto;
    }
}
