@use "../abstracts/mixins";
@use "../abstracts/variables";

.status-block {
    $root: &;
    background-color: variables.$color--white;
    border: 1px solid variables.$color--light-mid-grey;

    @include mixins.media-query(lg) {
        display: flex;
    }

    &__item {
        display: block;
        padding: 10px 20px;
        border-block-end: 1px solid variables.$color--light-mid-grey;
        background-color: variables.$color--white;
        transition: background-color variables.$transition--quick;

        @include mixins.media-query(lg) {
            border-block-end: 0;
            border-inline-end: 1px solid variables.$color--light-mid-grey;
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        @include mixins.media-query(xl) {
            padding: 20px 18px 30px;
        }

        &--active {
            border-block-end: 4px solid;
        }

        &:hover {
            background-color: variables.$color--light-grey;
        }

        &:last-child {
            border-inline-end: 0;
        }
    }

    &__info,
    &__title {
        margin: 0 0 5px;
    }

    &__info {
        @include mixins.media-query(lg) {
            margin-block-start: auto;
        }
    }

    &__title {
        width: 100%;
        hyphens: auto;
    }
}
