@use "../abstracts/variables";

.submission-meta {
    background-color: transparent;

    tbody {
        td {
            &.phase {
                // stylelint-disable-next-line selector-max-compound-selectors
                span {
                    display: inline-block;
                    padding: 10px;
                    font-size: 13px;
                    font-weight: variables.$weight--bold;
                    color: variables.$color--mid-dark-grey;
                    text-align: center;
                    background-color: transparent;
                    border: 1px solid variables.$color--mid-dark-grey;
                }
            }
        }
    }

    &__row {
        border: 0;

        &:hover {
            box-shadow: none;
        }

        &--black {
            color: variables.$color--default;
        }

        th,
        td {
            padding: 5px 10px;
        }

        td {
            &.lead {
                span {
                    background: variables.$color--mist;
                }
            }
        }
    }
}
