// stylelint-disable selector-max-compound-selectors,max-nesting-depth

.table-container {
    > table {
        border: 1px solid $color--light-mid-grey;
    }

    // base table styles - specific ones in their own scss partial
    table:not(.reviews-summary) {
        width: 100%;
        background-color: $color--white;
        border-collapse: collapse;
        table-layout: fixed;

        tbody {
            @include media-query($table-breakpoint) {
                tr {
                    &:hover {
                        background-color: $color--light-grey;
                    }
                }
            }
        }

        // table head
        th {
            font-size: 15px;
            font-weight: 600;
            text-align: left;

            a {
                color: $color--black-60;
                transition: color 0.25s ease-out;
            }
        }

        // table rows
        tr {
            border: 1px solid $color--light-mid-grey;
            transition: box-shadow 0.15s ease;

            @include media-query($table-breakpoint) {
                border-block-start: 0;
                border-inline-end: 0;
                border-block-end: 1px solid $color--light-mid-grey;
                border-inline-start: 0;

                &.is-expanded {
                    border-block-end: 1px solid $color--light-grey;

                    .lead {
                        span {
                            background-color: $color--mist;
                        }
                    }
                }

                &.reviews-summary {
                    &__tr {
                        box-shadow: none;
                    }
                }
            }

            // responsive table styles
            > td {
                display: block;
                width: 100%;

                @include media-query($table-breakpoint) {
                    display: table-cell;
                    width: initial;
                }

                &.selected {
                    display: none;

                    @include media-query($table-breakpoint) {
                        display: table-cell;
                    }
                }

                &.lead {
                    span {
                        @include media-query($table-breakpoint) {
                            position: relative;
                            z-index: 1;
                            display: block;
                            padding-inline-end: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &:hover {
                                display: inline-block;
                                overflow: visible;
                            }
                        }
                    }
                }

                &.title {
                    a {
                        font-weight: $weight--bold;
                        text-decoration: underline;
                    }
                }
            }
        }

        td,
        th {
            padding: 5px 20px;

            @include media-query($table-breakpoint) {
                padding: 15px 10px;
            }

            &.title {
                padding-inline-start: 0.5em;
            }
        }
    }

    table.reviews-summary {
        tr {
            border: 0;
        }
    }
}
