@use "../abstracts/mixins";
@use "../abstracts/variables";

.tabs {
    margin-block-start: variables.$spacing;
    margin-block-end: variables.$spacing-reverse;

    &__container {
        display: flex;
    }

    &__content {
        display: none;

        &--current {
            display: inherit;
        }
    }
}

.tab {
    &__item {
        $root: &;

        position: relative;
        padding: 10px;
        font-weight: variables.$weight--bold;
        hyphens: auto;
        color: variables.$color--mid-grey;
        text-transform: uppercase;
        transition:
            color,
            background-color,
            0.1s ease-out;

        @include mixins.responsive-font-sizes(12px, 15px);

        @include mixins.media-query(sm) {
            width: 33%;
            padding: 15px;
        }

        @include mixins.media-query(sm) {
            width: auto;
            padding: 0.75rem 1rem;
        }

        &:hover {
            color: variables.$color--light-blue;
            background-color: rgba(
                #fff,
                0.8
            ); // stylelint-disable-line color-no-hex
        }

        &--alt {
            font-size: variables.$font-size--zeta;
            font-weight: variables.$weight--semibold;
            padding: 0.5rem 1rem;
            text-transform: none;
            display: inline-block;
            border-block-end: 3px solid transparent;
            color: variables.$color--mid-dark-grey;
            width: auto;

            &:hover {
                color: variables.$color--default;
            }

            &#{$root}--active {
                background-color: transparent;
                border-block-end: 3px solid variables.$color--primary;

                &:hover {
                    color: variables.$color--default;
                    background-color: transparent;
                }
            }
        }

        &--active {
            color: variables.$color--default;
            cursor: default;
            background-color: var(--color-bg-default);

            &:hover {
                background-color: var(--color-bg-default);
            }
        }

        &--right {
            display: none;

            @include mixins.media-query(sm) {
                display: block;
                margin-inline-start: auto;
            }
        }
    }
}
