@use "../abstracts/variables";

.traffic-light {
  display: block;
  width: 1em;
  height: 1em;
  aspect-ratio: 1/1;

  &--no,
  &--red {
    background-color: var(--color-error);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }

  &--maybe,
  &--amber {
    background-color: var(--color-warning);
    border-radius: 50%;
  }

  &--yes,
  &--green {
    background-color: var(--color-success);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
  }
}
