@use "../abstracts/mixins";
@use "../abstracts/variables";

.wrapper {
  width: 100%;

  &--medium {
    max-width: variables.$wrapper--medium;
    margin-inline: auto;
  }

  &--large {
    max-width: variables.$site-width;
    margin-inline: auto;
  }

  &--form {
    padding: 0;
    margin: 2em auto;

    @include mixins.media-query(lg) {
      padding: 1rem 17rem 2rem 0;
      margin: 1rem auto 3rem;
    }
  }

  &--bottom-space {
    padding-block-end: 20px;
    margin-block-end: 20px;

    @include mixins.media-query(md) {
      padding-block-end: 3rem;
      margin-block-end: 0;
    }
  }

  &--inner-space-medium {
    padding: calc(var(--spacing) * 2) 0;

    + .wrapper--inner-space-medium {
      padding: 0;
    }
  }

  &--outer-space-medium {
    padding-block: calc(var(--spacing) * 4);
  }

  &--sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include mixins.media-query(md) {
      flex-direction: row;

      > div:last-child {
        flex-basis: 210px;
      }
    }
  }

  &--status-bar-outer {
    padding: 20px 0;
    background-color: var(--color-base-100);
    border-block-end: 3px solid variables.$color--light-grey;
  }

  &--status-bar-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-end: 20px;

    @include mixins.media-query(md) {
      margin-block-end: 0;
    }
  }
}
