@use "../abstracts/mixins";
@use "../abstracts/variables";

.wrapper {
  width: 100%;

  &--sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include mixins.media-query(md) {
      flex-direction: row;

      > div:last-child {
        flex-basis: 210px;
      }
    }
  }

  &--status-bar-outer {
    padding: 20px 0;
    background-color: var(--color-base-100);
    border-block-end: 3px solid var(--color-base-200);
  }

  &--status-bar-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-end: 20px;

    @include mixins.media-query(md) {
      margin-block-end: 0;
    }
  }
}
