{% extends "base-apply.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}

{% block title %}{{ settings.utils.SystemMessagesSettings.title_404 }}{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <div class="wrapper wrapper--small wrapper--inner-space-large">
        <h1>{{ settings.utils.SystemMessagesSettings.title_404 }}</h1>
        <p>If you typed the web address, check it is correct.</p>
        <p>If you pasted the web address, check you copied the entire address.</p>
        <div class="rich-text">{{ settings.utils.SystemMessagesSettings.body_404|richtext }}</div>
    </div>
{% endblock %}
