.filter-container {
    margin: 0 auto ;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.delete-button {
    cursor: pointer;
}


