<div id="access" class="access-tray">
  <ul class="access">
    <li class="access__item">
      <a class="access-bar" href="#content">Skip to the <span class="access-bar__highlight">main content</span> on this page</a>
    </li>
    <li class="access__item">
      <a class="access-bar" href="#navigation" data-drawer-toggle="navigation">Skip to the <span class="access-bar__highlight">main navigation</span> of the site</a>
    </li>
    <li class="access__item">
      <a class="access-bar" href="/accessibility">View the <span class="access-bar__highlight">accessibility Information</span> for this site</a>
    </li>
    <li class="access__item">
      <a class="access-bar" href="/sitemap">View this sites <span class="access-bar__highlight">sitemap</span></a>
    </li>
  </ul>
</div>