{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% block title %}{% trans "Backup Codes" %}{% endblock %}</h1>
    <p>{% blocktrans trimmed %}If you loose your smartphone, or your Authenticator app is not available,
        you can use a backup code along with your username and password to login until you recover your smartphone.
        Each backup code can be used only once.
        </br>
        </br>
        These codes should be kept in a secure, private place (print them or store them in your password manager)
        for when you need them. When they are used up, you can generate a new set of backup codes.{% endblocktrans %}</p>
    <div class="wrapper wrapper--small wrapper--inner-space-medium">
        <form class="form" action="" method="POST" novalidate>
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if form.errors %}
                <ul class="errorlist">
                    {% blocktrans trimmed count counter=form.errors.items|length %}
                        <li>Please correct the error below.</li>
                    {% plural %}
                        <li>Please correct the errors below.</li>
                    {% endblocktrans %}
                </ul>
            {% endif %}

            {% csrf_token %}

            {% for field in form %}
                {% include "forms/includes/field.html" %}
            {% endfor %}

            <div class="form__group">
                <button class="button button--primary" type="submit">{% trans 'Next' %}</button>
            </div>
        </form>
    </div>
{% endblock %}
