{% extends "two_factor/_base_focus.html" %}
{% load static i18n users_tags %}

{% block content %}
  <script src="{% static 'js/clipboard.js' %}"></script>
  <p class="actions actions-header"><a href="{% url 'users:account' %}" class="link link--bold">{% trans "Back to Account" %}</a></p>
  <h1>{% block title %}{% trans "Backup Codes" %}{% endblock %}</h1>
  <p>{% blocktrans trimmed %}Each of the code can be used only once. When they are used up, you can generate a new set of backup codes.{% endblocktrans %}</p>

  {% if device.token_set.count %}
<textarea readonly cols="8" rows="{{ device.token_set.count }}" id="list-backup-tokens">{% for token in device.token_set.all %}{{ token.token }}{% if not forloop.last %}&#013;&#010;{% endif %}{% endfor %}</textarea>
    <p class="hide-print">{% blocktrans %}You should now print these codes or copy them to your
       clipboard and store them in your password manager.{% endblocktrans %}</p>

    <form method="post" class="actions actions-footer">{% csrf_token %}{{ form }}
    <p>
        <a href="#" class="btn btn-primary btn-print">{% trans "Print" %}</button>
        <a href="#"
            class="btn btn-primary btn-copy-to-clipboard"
            data-clipboard-target="#list-backup-tokens"
            data-clipboard-action="copy"
        >{% trans "Copy to Clipboard" %}</a>
        <button class="btn btn-primary" type="submit">{% trans "Regenerate Codes" %}</button>
    </p>

    <p class="hide-print">{% blocktrans %}Once done, then click next.{% endblocktrans %}</p>
    <p>
    <a class="btn btn-link" href="#">{% trans "Next" %}</a>
    </p>
        {# <a class="btn btn-link link--left-space" href="data:text/plain;charset=UTF-8,{% tokens_text device.token_set.all %}" download="backup_codes.txt">{% trans "Save Codes" %}</a> #}
    </form>
  {% else %}
    <p>{% trans "You don't have any backup codes yet." %}</p>
      <form method="post">{% csrf_token %}{{ form }}
        <button class="btn btn-primary" type="submit">{% trans "Generate Codes" %}</button>
      </form>
  {% endif %}

{% endblock %}
{% block extra_css %}
<style>
@media print {
    .header, .admin-bar, .actions, .hide-print {
        display: none;
    }
}
</style>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/clipboard.js' %}"></script>
<script>
    {# Select the codes when clicked #}
    $('#list-backup-tokens').on("click", function (e){
        $(this).select();
    });

    {# Setup print button #}
    $(".btn-print").on("click", function(e){
        e.preventDefault();
        window.print();
    });

    {# Instantiate clipboard by passing a HTML element, uses clipboard.js #}
    var clipboardBtn = document.querySelectorAll('.btn-copy-to-clipboard');
    var clipboard = new ClipboardJS(clipboardBtn);
    clipboard.on('success', function (e) {
        // @TODO: use a tooptip instead of alert
        alert("Back codes copied to clipboard.");
    });
    clipboard.on('error', function (e) {
        alert("Use ctrl/cmd + C to copy the backup codes.")
    });
</script>
{% endblock %}
