{% extends "two_factor/_base.html" %}
{% load static i18n users_tags %}

{% block content_inner %}
    <h1>{% block title %}{% trans "Backup Codes" %}{% endblock %}</h1>

    <p class="hide-print">
        {% blocktrans %}You should now print these codes or copy them to your
            clipboard and store them in your password manager.{% endblocktrans %}
    </p>

    {% if device.token_set.count %}
        <textarea readonly
                  cols="8"
                  rows="{{ device.token_set.count }}"
                  id="list-backup-tokens"
                  class="font-mono pe-0 font-medium leading-tight bg-orange-100 resize-none"
        >{% for token in device.token_set.all %}{{ token.token }}{% if not forloop.last %}&#013;&#010;{% endif %}{% endfor %}</textarea>

        <form method="post" class="actions actions-footer">{% csrf_token %}{{ form }}
            <p class="flex justify-start flex-wrap gap-2 mb-4">
                <a href="#" class="btn btn-primary btn-print">{% trans "Print" %}</button>
                <a href="#"
                   class="btn btn-primary btn-copy-to-clipboard"
                   data-clipboard-target="#list-backup-tokens"
                   data-clipboard-action="copy"
                   data-tippy-content="{% trans "Copied!" %}"
                   data-tippy-trigger="manual"
                >{% trans "Copy to Clipboard" %}</a>
                <button class="btn btn-primary" type="submit">{% trans "Regenerate Codes" %}</button>
            </p>

            <p class="text-sm text-fg-muted">{% blocktrans trimmed %} <strong>Note:</strong> Each of the code can be used only once. When they are used up, you can generate a new set of backup codes.{% endblocktrans %}</p>
            <p class="hide-print">{% blocktrans %}Once done, acknowledge you have stored the codes securely and then click "Finish".{% endblocktrans %}</p>
            <div class="form">
                <ul class="errorlist hidden error-action-agree"><li>Please confirm you have stored the codes securely below.</li></ul>
                <div class="form__item mb-4">
                    <input type="checkbox" id="action_agree" name="action_agree" value="action_agree">
                    <label for="action_agree"> I have stored the backup codes securely.</label>
                </div>
                <div class="form__item">
                    <a class="btn btn-link btn-finish" href="{% url 'users:account' %}">{% trans "Finish" %}</a>
                </div>

            </div>
        </form>
    {% else %}
        <p class="mb-4">{% trans "You don't have any backup codes yet." %}</p>
        <form method="post">{% csrf_token %}{{ form }}
            <button class="btn btn-primary" type="submit">{% trans "Generate Codes" %}</button>
        </form>
    {% endif %}

{% endblock %}
{% block extra_css %}
    <style>
        @media print {
            .header, .admin-bar, .actions, .hide-print {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/vendor/clipboard.min.js' %}"></script>
    <script>

    {# Select the codes when clicked #}
        $('#list-backup-tokens').on("click", function (e){
            $(this).select();
        });

    {# Setup print button #}
        $(".btn-print").on("click", function(e){
            e.preventDefault();
            window.print();
        });

        $(".btn-finish").on("click", function(e){
            if(!$("#action_agree").is(":checked")) {
                $(".error-action-agree").show();
                e.preventDefault();
            } else {
                $(".error-action-agree").hide();
                window.location.href = $(this).attr('href');
            }
        });


    {# Instantiate clipboard by passing a HTML element, uses clipboard.js #}
        var clipboardBtn = document.querySelector('.btn-copy-to-clipboard');
        if (clipboardBtn) {
            var clipboard = new ClipboardJS(clipboardBtn);
            var tooltip = tippy(clipboardBtn, {
                trigger: 'manual',
                animation: 'fade'
            });

            clipboard.on('success', function (e) {
                tooltip.show();
            });
            clipboard.on('error', function (e) {
                tooltip.setContent("Use ctrl/cmd + C to copy the backup codes.")
                tooltip.show();
            });
        }

    </script>
{% endblock %}
