<!--Custom template to enforce 2FA and Copied from two_factor/core/otp_required.html-->
{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
    <h1>{% block title %}{% trans "Permission Denied" %}: {{ reason }}{% endblock %}</h1>

    <div class="prose mb-4">
        <p>
            {% blocktrans trimmed %}
                The page you are trying to access requires users to verify their
                identity using two-factor authentication for security reasons.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                In order to access this page, you need to set up these security
                features. Without setting them up, you will only be able to access
                your account's profile section or log out from the system.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                Two-factor authentication has not been set up
                for your account yet. Please set it up to enhance
                the security of your account.
            {% endblocktrans %}
        </p>
    </div>


    <a href="{% url 'users:two_factor:setup' %}?next={{request.path}}" class="btn btn-primary">
        {% trans "Set up Two-Factor Authentication (2FA)" %}
    </a>

{% endblock %}
