{% extends 'base-apply.html' %}
{% load i18n users_tags %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
    {% adminbar %}
        {% slot header %}{% trans "Welcome" %} {{ user }}{% endslot %}
        {% slot sub_heading %}{% trans "Manage your account details and security." %}{% endslot %}

        {% if user.can_access_dashboard %}
            <a href="{% url 'dashboard:dashboard' %}" class="button button--primary button--arrow-pixels-white" hx-boost='true'>
                {% trans "Go to my dashboard" %}
                <svg><use xlink:href="#arrow-head-pixels--solid"></use></svg>
            </a>
        {% endif %}
    {% endadminbar %}

    <div class="profile">
        <div class="profile__column">
            <h2 class="text-2xl">{% trans "Profile" %}</h2>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% for field in form %}
                    {% include "forms/includes/field.html" %}
                {% endfor %}
                <div class="form__group">
                    <button class="button button--primary" type="submit">{% trans "Update Profile" %}</button>
                </div>
            </form>
        </div>


        <div class="profile__column">
            <h2 class="text-2xl">{% trans "Account Security" %}</h2>

            {% if show_change_password %}
                <div class="block_manage_password mb-8">
                    <h3 class="text-base mb-0">{% trans "Password" %}</h3>
                    <p>
                        {% if user.has_usable_password %}
                            <a class="button button--primary" href="{% url 'users:password_change' %}">
                                {% trans "Update password" %}
                            </a>
                        {% else %}
                            <button class="button button--primary"
                                    hx-post="{% url 'users:set_user_password' %}"
                                    hx-swap="outerHTML"
                            >
                                {% trans "Set Password" %}
                            </button>
                        {% endif %}
                    </p>
                </div>
            {% endif %}

            <h3 class="text-base mb-2">{% trans "Two-Factor Authentication (2FA)" %}</h3>
            {% if default_device %}
                <a class="button button--primary mb-2" href="{% url 'users:backup_tokens' %}">{% trans "Backup codes" %}</a>
                <a class="button button--primary button--warning mb-2" href="{% url 'users:two_factor:disable' %}">{% trans "Disable 2FA" %}</a>
            {% else %}
                <a class="button button--primary" href="{% url 'users:two_factor:setup' %}">{% trans "Enable 2FA" %}</a>
            {% endif %}
        </div>


        {% if swappable_form %}
            <div class="profile__column">
                {% if swappable_form %}
                    <h2 class="text-2xl">{% trans "Become" %}:</h2>
                    <form action="{% url 'hijack-become' %}" method="post" class="form">
                        {{ swappable_form.media }}
                        {% csrf_token %}
                        {% for field in swappable_form %}
                            {% include "forms/includes/field.html" %}
                        {% endfor %}
                        <div class="form__group">
                            <button class="button button--primary" type="submit">{% trans "Become" %}</button>
                        </div>
                    </form>
                {% endif %}

                {# Remove the comment block tags below when such need arises. e.g. adding new providers #}
                {% comment %}
                {% can_use_oauth as show_oauth_link %}
                {% if show_oauth_link %}
                    <a href="{% url 'users:oauth' %}">{% trans "Manage OAuth" %}</a>
                {% endif %}
                {% endcomment %}
            </div>
        {% endif %}
    </div>
{% endblock %}
