{% load i18n static %}

{% modal_title %}{% trans "Switch to User..." %}{% endmodal_title %}

<form class="p-4 form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    <label for="id_user_pk" class="block mb-2 text-sm font-semibold text-fg-muted">
        {% trans "Select User:" %}
    </label>

    {{ form.user_pk }}

    <p class="pt-2 m-0 text-sm text-fg-muted">
        {{ form.user_pk.help_text }}
    </p>

    <div class="mt-5 sm:flex sm:flex-row-reverse sm:gap-4 sm:mt-4">
        <button
            class="w-full sm:w-auto button button--warning"
            type="submit"
        >
            {% trans "Switch User" %}
        </button>

        <button
            type="button"
            class="inline-flex justify-center items-center py-2 px-3 mt-3 w-full text-sm font-semibold text-gray-900 bg-white ring-1 ring-inset ring-gray-300 sm:mt-0 sm:w-auto hover:bg-gray-50 rounded-xs shadow-xs"
            @click="show = false"
        >{% trans "Cancel" %}</button>
    </div>
</i>
