{% load i18n static %}

<c-modal.header>{% trans "Switch to User..." %}</c-modal.header>

<form class="p-4 form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    <label for="id_user_pk" class="block mb-2 text-sm font-semibold text-fg-muted">
        {% trans "Select User:" %}
    </label>

    {{ form.user_pk }}

    <p class="pt-2 m-0 text-sm text-fg-muted">
        {{ form.user_pk.help_text }}
    </p>

    <div class="mt-5 sm:flex sm:flex-row-reverse sm:gap-2 sm:mt-4">
        <button
            class="w-full sm:w-auto btn btn-warning"
            type="submit"
        >
            {% trans "Switch User" %}
        </button>

        <button
            type="button"
            class="btn btn-secondary btn-outline"
            @click="show = false"
        >{% trans "Cancel" %}</button>
    </div>
</i>
