{% extends 'base.html' %}
{% load i18n %}
{% block header_modifier %}header--light-bg{% endblock %}
{% block page_title %}{% trans "Set a password" %}{% endblock %}
{% block title %}{% trans "Set a password" %}{% endblock %}

{% block content %}
<div class="wrapper wrapper--small wrapper--inner-space-medium">
    <form class="form" action="" method="POST" novalidate>
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if form.errors %}
            <ul class="errorlist">
                {% blocktrans count counter=form.errors.items|length %}
                <li>Please correct the error below.</li>
                {% plural %}
                <li>Please correct the errors below.</li>
                {% endblocktrans %}
            </ul>
        {% endif %}

        {% csrf_token %}

        {% for field in form %}
            {% include "forms/includes/field.html" %}
        {% endfor %}

        <button class="button button--primary" type="submit">{% trans 'Reset password' %}</button>
    </form>
</div>
{% endblock %}
