{% extends base_template %}
{% load i18n wagtailcore_tags heroicons %}

{% block title %}
    {% trans "Log in" %}{% if ENABLE_PUBLIC_SIGNUP %} {% trans "or" %} {% trans "Sign up" %}{% endif %}
{% endblock %}

{% block content %}
    <div class="max-w-2xl bg-white mt-5 md:py-4">

        <section class="pt-4 px-5">
            <form class="form form--user-login" method="post" hx-post="./" hx-swap="outerHTML" hx-target="#main">
                {% csrf_token %}

                {% if redirect_url %}
                    <input type="hidden" name="next" value="{{ redirect_url }}">
                {% endif %}

                <h2 class="text-2xl">
                    {% if ENABLE_PUBLIC_SIGNUP %}
                        {% blocktrans %}Log in or signup to {{ ORG_SHORT_NAME }}{% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Log in to {{ ORG_SHORT_NAME }}{% endblocktrans %}
                    {% endif %}
                </h2>

                <div>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {% if field.field %}
                            {% include "forms/includes/field.html" %}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>

                {% if settings.users.AuthSettings.extra_text %}
                    <div class="prose prose-sm mb-6 p-4 rounded-sm bg-slate-50">
                        {{ settings.users.AuthSettings.extra_text|richtext}}
                    </div>
                {% endif %}

                <div class="form__group">
                    <button class="link link--button link--button--login" type="submit">{% trans "Next" %}</button>
                </div>

                <div class="flex items-center justify-center min-[465px]:justify-start relative mb-4">
                    <hr class="inline w-32 h-px my-6 bg-gray-300 border-0">
                    <span class="px-3 text-gray-400 font-medium">{% trans "or" %}</span>
                    <hr class="inline w-32 h-px my-6 bg-gray-300 border-0">
                </div>

                <section class="space-y-0.5">
                    {% if GOOGLE_OAUTH2 %}
                        {% include "includes/org_login_button.html" %}
                    {% endif %}

                    {% include "includes/password_login_button.html" %}
                </section>
            </form>
        </section>
    </div>
{% endblock %}
