{% extends base_template %}
{% load i18n heroicons %}

{% block body_class %}bg-base-200{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center min-h-[60vh]">
        <section class="w-full max-w-2xl card shadow-xs bg-base-100 md:card-lg">
            <div class="items-center card-body">
                <span class="flex justify-center items-center mb-4 rounded-full bg-primary/10">
                    {% heroicon_outline "envelope-open" aria_hidden="true" size=64 %}
                </span>

                <h1 class="mb-4 font-semibold text-h0">{% trans "Check your inbox to proceed!" %}</h1>

                <div class="mb-6 prose">
                    <p>
                        {% if ENABLE_PUBLIC_SIGNUP %}
                            {% trans "We have sent you an email containing a link for logging in or signing up. Please check your email and use the link provided to either login or create your account." %}</p>
                        {% else %}
                            {% trans "We have sent an email to you with a login link, open the link in the email to login to your account." %}</p>
                        {% endif %}
                    </p>

                    <p>
                        {% blocktrans trimmed %}
                            Check your "Spam" folder, if you don't find the email in your inbox.
                        {% endblocktrans %}
                    </p>

                    <p>
                        <a href="{% url 'users:passwordless_login_signup' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}" class="font-medium hover:underline">{% trans "Try again" %}</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
