{% extends "base-apply.html" %}
{% load i18n wagtailcore_tags %}

{% block title %}{% trans "Login or Signup" %}{% endblock %}
{% block body_class %}bg-white{% endblock %}

{% block content %}
<div class="w-full bg-white mt-5 md:py-4">

    <section class="mx-auto max-w-lg">
            <form class="form" method="post" hx-post="./">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}

                {% if form.non_field_errors %}
                    <div class="form__group">
                        {% for error in form.non_field_errors %}
                            <p class="form__error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <h2 class="text-2xl">Login {% if ENABLE_REGISTRATION_WITHOUT_APPLICATION %}or Signup {% endif %}</h2>

                <div class="form__group">
                    <label class="form__label" for="id_email">{% trans "Email address:" %}</label>
                    <div class="form__item mt-2">
                        <input type="email" name="email" required maxlength="254" autocomplete="email" id="id_email" autofocus>
                    </div>

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <p class="form__error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if settings.users.AuthSettings.extra_text %}
                        {{ settings.users.AuthSettings.extra_text|richtext}}
                    {% endif %}

                    <div class="form__group">
                        <button class="link link--button link--button-secondary" type="submit">{% trans "Next" %}</button>
                    </div>

                    <section class="">

                        <div class="flex items-center justify-start relative">
                            <hr class="inline w-32 h-px my-6 bg-gray-300 border-0">
                            <span class="px-3 text-gray-400 font-medium">or</span>
                            <hr class="inline w-32 h-px my-6 bg-gray-300 border-0">
                        </div>

                        {% if GOOGLE_OAUTH2 %}
                        <div class="">
                            <a class="link link--button link--button-tertiary" href="{% url "social:begin" "google-oauth2" %}{% if next %}?next={{ next }}{% endif %}">{% blocktrans %}Log in with your {{ ORG_SHORT_NAME }} email{% endblocktrans %}</a>
                        </div>
                        {% endif %}
                        <div class="">
                            <a class="link link--button link--button-tertiary" href="{% url 'users_public:login' %}{% if next %}?next={{next}}{% endif %}" hx-boost="true">{% trans "Login with Password" %}</a>
                        </div>
                    </section>
            </form>
        </div>
    </section>
</div>
{% endblock %}
