{% extends base_template %}
{% load i18n wagtailcore_tags heroicons %}

{% block title %}{% trans "Login or Signup" %}{% endblock %}

{% block content %}
    <div class="max-w-2xl bg-white mt-5 md:py-4">

        <section class="pt-4 px-5">
            <form class="form form--user-login" method="post" hx-post="./" hx-swap="outerHTML" hx-target="#main">
                {% csrf_token %}

                {% if redirect_url %}
                    <input type="hidden" name="next" value="{{ redirect_url }}">
                {% endif %}

                <h2 class="text-2xl">Login {% if ENABLE_PUBLIC_SIGNUP %}or Signup {% endif %}to {{ ORG_SHORT_NAME }}</h2>

                <div>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {% if field.field %}
                            {% include "forms/includes/field.html" %}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>

                {% if settings.users.AuthSettings.extra_text %}
                    <div class="prose prose-sm mb-6 p-4 rounded-sm bg-slate-50">
                        {{ settings.users.AuthSettings.extra_text|richtext}}
                    </div>
                {% endif %}

                <div class="form__group">
                    <button class="link link--button link--button-secondary" type="submit">{% trans "Next" %}</button>
                </div>

                <div class="flex items-center justify-start relative mb-4">
                    <hr class="inline w-32 h-px my-6 bg-gray-300 border-0">
                    <span class="px-3 text-gray-400 font-medium">or</span>
                    <hr class="inline w-32 h-px my-6 bg-gray-300 border-0">
                </div>

                <section>
                    {% if GOOGLE_OAUTH2 %}
                        <a
                            class="link link--button link--button-tertiary"
                            href="{% url "social:begin" "google-oauth2" %}{% if next %}?next={{ next }}{% endif %}"
                        >
                            {% blocktrans %}Log in with your {{ ORG_SHORT_NAME }} email{% endblocktrans %}
                        </a>
                    {% endif %}

                    <a
                        class="link link--button link--button-tertiary"
                        href="{% url 'users_public:login' %}{% if next %}?next={{next}}{% endif %}"
                    >
                        {% heroicon_mini "key" size=18 class="inline align-text-bottom me-1" aria_hidden=true %}
                        {% trans "Login with Password" %}
                    </a>
                </section>
            </form>
        </section>
    </div>
{% endblock %}
