{% extends "base-apply.html" %}
{% load i18n wagtailcore_tags %}

{% block title %}{% trans "Register" %}{% endblock %}
{% block body_class %}bg-white{% endblock %}

{% block content %}
    <div class="w-full grid md:mt-5 md:py-4">
        <section>
            <div class="px-4 pt-4">
                <form class="form" method="post" action="{% url 'users:register' %}">
                    {% csrf_token %}
                    {% if redirect_url %}
                        <input type="hidden" value="{{ redirect_url }}" name="next">
                    {% endif %}
                    <h2 class="text-2xl">{% trans "Create your account" %}</h2>

                    {% if form.non_field_errors %}
                        <div class="wrapper wrapper--error">{{ form.non_field_errors.as_text }}</div>
                    {% endif %}

                    {% for field in form %}
                        {%if field.id_for_label != 'id_is_superuser' and field.label != 'Groups' %}
                            {% include "forms/includes/field.html" %}
                        {%endif%}
                    {% endfor %}
                    <div class="form__group">
                        <button class="button button--primary" type="submit">{% trans "Submit" %}</button>
                    </div>
                </form>
                <p class="mt-4">
                    {% trans "Already have an account?" %}<a href="{% url 'users:login' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}" hx-boost="true"> {% trans "Log in" %}</a>
                </p>
            </div>
        </section>

        {% if settings.users.AuthSettings.register_extra_text %}
            <section>
                <div class="px-4 my-4">
                    {{ settings.users.AuthSettings.register_extra_text|richtext}}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
