.summary-content__editable {
    margin-bottom: 1rem;
    border : 0.2px solid transparent;
    transition: border 1s ease;
    p {
        margin : 5px;
        margin-left: 0px;
        word-break: break-all;
        padding-left: 3px;
    }

    &:hover {
        border-radius: 6px;
        border : 0.2px solid #e8e8e8;
        cursor: text;
        box-shadow: 0 0 3px #cbcaca;
    }
}

.summary-content__readonly{
    margin-bottom: 1rem;
    border : 0.2px solid transparent;
    
    p {
        margin : 5px;
        margin-left: 0px;
        word-break: break-all;
    }
}

.content-length{
    float: right;
}

.editor-container{
    margin-bottom: 1rem;
}
