.application-display {
    height: 100vh;
    overflow-y: scroll;
    padding: 20px;

    @include media-query(tablet-landscape) {
        height: calc(100vh - var(--header-admin-height) - #{$listing-header-height});
    }

    @include media-query(laptop-short) {
        height: calc(100vh - #{$listing-header-height});
    }
}
