@import "tailwindcss";

@import "./components/card.css" layer(components);
@import "./components/theme-toggle.css" layer(components);
@import "./components/choices.css" layer(components);
@import "./components/django-file-field.css" layer(components);
@import "./components/html-diff.css" layer(components);
@import "./components/layout.css" layer(components);
@import "./components/table.css" layer(components);
@import "./components/tinymce.css" layer(components);
@import "./components/wmd.css" layer(components);

@import "./utilities/typography.css" layer(utilities);
@import "./components/link.css" layer(utilities);
@import "./components/steps.css" layer(utilities);
@import "./components/strapline.css" layer(utilities);
@import "./components/nprogress";
@import "./utilities/misc.css";

@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: false;
}
@import "./base/themes.css";

@theme {
  --default-border-width: var(--border);

  /* Custom colors */
  --color-fg-muted: color-mix(in oklab, currentColor 60%, transparent);

  /* Custom Animations */
  --animate-flash: flash 1s ease 1;

  @keyframes flash {
    50% {
      background-color: var(--color-base-300);
    }
  }
}
