{% if newsletter_enabled %}
{% load static i18n %}

<h4>{{ settings.mailchimp.NewsletterSettings.newsletter_title }}</h4>
<form class="form newsletter-form" action="#" data-actionpath="{{ PUBLIC_SITE.root_url }}{% url "newsletter:subscribe" %}" method="post">
    <div>
        {% for field in newsletter_form %}
        <label for="{{ field.id_for_label }}"{% if field.field.required %} required{% endif %}>
            <span>{{ field.label }}</span>
            {% if field.field.required %}
                <span class="form__required">*</span>
            {% endif %}
        </label>
        {{ field }}
        {% endfor %}
        <div class="form-actions form-wrapper">
            <button class="form-submit button button--transparent--wide link--footer-signup" type="submit">{% trans 'Sign up' %}</button>
        </div>
    </div>
</form>

{% block extra_js %}
    <script src="{% static 'js/public/protect-form.js' %}"></script>
{% endblock %}
{% else %}
Set MAILCHIMP_API_KEY and MAILCHIMP_LIST_ID to activate newsletter form.
{% endif %}
