<div class="sidebar__inner">
    <h5>Determination</h5>
    {% for determination in object.determinations.submitted %}
        <p>
            <a class="link link--bold" href="{% url 'apply:submissions:determinations:detail' submission_pk=object.id pk=determination.id %}">
                {{ determination.get_outcome_display }}
            </a>
            - {{ determination.updated_at|date:"Y-m-d" }} by {{ determination.author }}
        </p>
    {% empty %}
        <p>Awaiting determination</p>
    {% endfor %}
</div>
