{% load i18n humanize %}
<div class="sidebar__inner">
    <h5>{% trans "Determinations" %}</h5>
    {% for determination in submission.determinations.submitted %}
        <p>
            <a class="link link--bold" href="{% url 'apply:submissions:determinations:detail' submission_pk=object.id pk=determination.id %}">
                {{ determination.get_outcome_display }}
            </a>
            - <time datetime="{{ determination.updated_at|date:"c" }}" title="{{ determination.updated_at|date:"SHORT_DATETIME_FORMAT" }}">{{ determination.updated_at|naturaltime }}</time> {% trans "by" %} {{ determination.author }}
        </p>
    {% empty %}
        <p>{% trans "Awaiting determination" %}</p>
    {% endfor %}
</div>
