{% load dashboard_statusbar_tags %}

<section class="pt-4 pb-8 @container">
    <ul class=" w-full steps {{ class }} hidden @lg:inline-grid">
        {% for status, display_text in statuses %}
            {% if forloop.counter0 == current_status_index %}
                <li data-content="●" class="step step-primary">
                    <span class="block py-1 px-2 text-sm font-semibold rounded-box bg-primary text-primary-content row-start-auto!">{{ display_text }}</span>
                </li>
            {% elif forloop.counter0 < current_status_index %}
                <li data-content="✓" class="step step-primary">{{ display_text }}</li>
            {% else %}
                <li data-content="" class="step">{{ display_text }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="@lg:hidden badge badge-primary badge-lg [--size:auto]">
        {{ current_status_name }}
    </div>
</section>
