{% load i18n %}

<h2 class="section-header">
    <a href="{% url "apply:submissions:list" %}?query=reviewer:@me">
        {% trans "Submissions waiting for your review" %}
        <span class="badge badge-soft badge-secondary">{{ in_review_count }}</span>
    </a>
</h2>

{% if my_review %}
    <c-submission-list
        show_more_link="{% url 'apply:submissions:list' %}?query=reviewer:@me"
        variant="table"
        rounded-top
        :submissions="my_review"
        :show_more="display_more"
    />
{% else %}
    <div class="py-10 w-full text-center card card-border bg-base-100 shadow-xs">
        <div class="card-body">
            <p class="my-2 text-base">
                {% trans "Nice! You're all caught up. 🎉" %} <br>
                <a
                    class="mt-2 btn btn-primary"
                    href="{% url 'apply:submissions:list' %}"
                    hx-boost='true'
                >{% trans "Find new applications to review" %}
                </a>
            </p>
        </div>
    </div>
{% endif %}
