{% load render_table from django_tables2 %}
{% load i18n %}

<h2 class="text-xl mb-2">
    {% trans "Submissions waiting for your review" %} <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">{{ in_review_count }}</span>
</h2>

{% if my_review.data %}

    {% include "submissions/partials/submissions-inline.html" with submissions=my_review.data row_layout="table" %}
    {% comment %} {% render_table my_review %} {% endcomment %}

    {% if display_more %}
        <div class="all-submissions-table__more">
            <a href="{{ awaiting_reviews.url }}?query=reviewer:@me">{% trans "Show all" %}</a>
        </div>
    {% endif %}

{% else %}
    <div class="border shadow-sm py-10 bg-white w-full text-center px-2">
        <p class="text-base my-2">{% trans "Nice! You're all caught up. 🎉" %}</p>
        <a class="button button--primary" href="{% url 'apply:submissions:list' %}" hx-boost='true'>{% trans "Find new applications to review" %}</a>
    </div>
    {# TODO Fill in data and update styles in future ticket #}
    <div>{# Since you last logged in #}</div>

{% endif %}
