{% load render_table from django_tables2 %}
{% load i18n %}

<h2 class="mb-2 text-xl">
    <a href="{% url "apply:submissions:list" %}?query=reviewer:@me">{% trans "Submissions waiting for your review" %} <span class="py-0.5 px-2.5 text-sm font-medium text-blue-800 bg-blue-100 rounded-sm me-2">{{ in_review_count }}</span></a>
</h2>

{% if my_review.data %}

    {% include "submissions/partials/submissions-inline.html" with submissions=my_review.data row_layout="table" %}
    {% comment %} {% render_table my_review %} {% endcomment %}

    {% if display_more %}
        <div class="flex justify-center items-center py-3 font-semibold border-b border-x">
            <a href="{% url "apply:submissions:list" %}?query=reviewer:@me">{% trans "Show all" %}</a>
        </div>
    {% endif %}

{% else %}
    <div class="py-10 w-full text-center card card-border bg-base-100 shadow-xs">
        <div class="card-body">
            <p class="my-2 text-base">
                {% trans "Nice! You're all caught up. 🎉" %} <br>
                <a
                    class="mt-2 btn btn-primary"
                    href="{% url 'apply:submissions:list' %}"
                    hx-boost='true'
                >{% trans "Find new applications to review" %}
                </a>
            </p>
        </div>

    </div>
    {# TODO Fill in data and update styles in future ticket #}
    <div>{# Since you last logged in #}</div>

{% endif %}
