{% load render_table from django_tables2 %}
{% load i18n %}

<h4 class="heading heading--normal">
    {% trans "Waiting for your review" %} <span class="heading heading--submission-count">{{ in_review_count }}</span>
</h4>

{% if my_review.data %}
    {% render_table my_review %}

    {% if display_more %}
        <div class="all-submissions-table__more">
            <a href="{% url 'apply:submissions:list' %}?reviewers={{ request.user.pk }}{{ active_statuses_filter }}">{% trans "Show all" %}</a>
        </div>
    {% endif %}

{% else %}
    <div class="reviewer-dash-box">
        <h5 class="reviewer-dash-box__title">{% trans "Nice! You're all caught up." %}</h5>
        <a class="button button--primary" href="{% url 'apply:submissions:list' %}">{% trans "Find new applications to review" %}</a>
    </div>
    {# TODO Fill in data and update styles in future ticket #}
    <div>{# Since you last logged in #}</div>

{% endif %}
