<div class="feed__item feed__item--{{ activity.type }}">
    <div class="feed__pre-content">
        <p class="feed__label feed__label--{{ activity.type }}">{{ activity.type|capfirst }}</p>
    </div>
    <div class="feed__content">
        <div class="feed__meta">
            <p class="feed__label feed__label--{{ activity.type }} feed__label--mobile">{{ activity.type|capfirst }}</p>
            <p class="feed__meta-item">{{ activity.timestamp|date:"m.d.y P e" }}</p>
        </div>
        <div class="feed__heading">
            <h4 class="feed__name">{{ activity.user }}</h4>
            {% if submission_title %}
                <h6>for</h6>
                <h6><a href="{{ activity.submission.get_absolute_url }}">{{ activity.submission.title }}</a></h6>
            {% endif %}
        </div>
        <p class="feed__teaser">{{ activity.message }}</p>
    </div>
</div>
