{% load activity_tags bleach_tags markdown_tags submission_tags %}
<div class="feed__item feed__item--{{ activity.type }}">
    <div class="feed__pre-content">
        <p class="feed__label feed__label--{{ activity.type }}">{{ activity.type|capfirst }}</p>
    </div>
    <div class="feed__content">
        <div class="feed__meta">
            <p class="feed__label feed__label--{{ activity.type }} feed__label--mobile">{{ activity.type|capfirst }}</p>
            <p class="feed__meta-item"><span>{{ activity|display_author:request.user }}</span> – {{ activity.timestamp|date:"Y-m-d H:i" }}</p>
            {% if activity.private %}
                <p class="feed__meta-item feed__meta-item--right">
                    <svg class="icon icon--eye"><use xlink:href="#eye"></use></svg>
                    {{ activity.visibility }}
                </p>
            {% endif %}
        </div>
        <p class="feed__heading">
            {% if submission_title %}
                updated <a href="{{ activity.submission.get_absolute_url }}">{{ activity.submission.title }}</a>
            {% endif %}

            {{ activity.message|markdown|bleach|submission_links }}

            {% if not submission_title and activity|user_can_see_related:request.user %}
                {% with url=activity.related_object.get_absolute_url %}
                    {% if url %}
                    <a href="{{ url }}" class="feed__related-item">
                        {{ activity.related_object }} <svg><use xlink:href="#arrow-head-pixels--solid"></use></svg>
                    </a>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </p>
    </div>
</div>
