{% extends "stream_forms/render_field.html" %}
{% block data_display %}
    {% if data %}
        <div class="wrapper wrapper--top-bottom-space">
            <a class="link link--download" href="{{ data.url }}">
                <div>
                    <svg><use xlink:href="#file"></use></svg>
                    <span>{{ data.name }}</span>
                </div>
                <svg><use xlink:href="#download"></use></svg>
            </a>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
