# Ignore all HTML files, use djHtml instead.
**/*.html

# Ignore markdown files, prettier is not great with them
**/*.md

# Minified JavaScript files shouldn't be changed
**/**.min.js
**/javascript/esm/**

# Ignore all files in the static & media directory.
static_compiled/**
media/**

# Ignore all files in the virtualenv directory.
.venv/**
venv/**

# Ignore node files
node_modules/**

# Ignore htmlcov files
htmlcov/**

# Ignore Sublime Text files.
*.sublime-project
*.sublime-workspace
