[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = 'hypha.settings.test'
addopts = [
    '-n=auto',
    '--failed-first',
]
python_files = [
    'tests.py',
    'test_*.py',
    '*_tests.py',
]
testpaths = [
    "hypha"
]
filterwarnings = [
    'ignore::DeprecationWarning',
    'ignore::PendingDeprecationWarning',
]

[tool.coverage.run]
parallel = true
plugins = [
    'django_coverage_plugin'
]
omit = [
    '*migrations*',
    '*test*',
    'hypa/public/*',
]

# https://github.com/charliermarsh/ruff#ruff
[tool.ruff.lint]
ignore = [
    "E501",  # line too long
    "C901",  # too complex
    # 'F821',
    # 'W605',
]
select = [
    'C',  # flake8-comprehensions
    'B',  # flake8-bugbear
    'E',  # pycodestyle errors
    'F',  # pyflakes
    'I',  # iSort
    'W',  # pycodestyle warnings
]

[tool.ruff.lint.per-file-ignores]
"hypha/settings/*.py" = ["F405"]
"*migrations/*.py" = ["I001"]

[tool.ruff.lint.isort]
known-first-party = ["hypha", "addressfield"]
