-r requirements.txt

coverage==7.4.4
django-browser-reload==1.12.1
django-coverage-plugin==3.1.0
django-debug-toolbar==4.3.0
django-dynamic-fixture==4.0.1
djhtml==3.0.6
dslr==0.4.0
factory_boy==3.2.1
Faker==19.13.0
model-bakery==1.17.0
pre-commit==3.6.2
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-split==0.8.2
pytest-xdist[psutil]==3.5.0
responses==0.25.0
ruff==0.3.3
time-machine==2.14.0
wagtail-factories==2.1.0
Werkzeug==3.0.1
