# Development dependencies, install manually if needed.
# stellar==0.4.5
# Werkzeug==0.14.1

# Test dependencies
flake8
factory_boy==2.9.2
# wagtail_factories - waiting on merge and release form master branch
git+git://github.com/mvantellingen/wagtail-factories.git#egg=wagtail_factories
responses==0.10.4

# Monitor dependencies
scout-apm==2.0.1
raven==6.9.0

# Production dependencies
boto3==1.7.75
celery==4.2.1
dj-database-url==0.5.0
django-anymail==3.0
django-basic-auth-ip-whitelist==0.2.1
django-bleach==0.3.0
django-countries==5.1
django-extensions==2.0.0
django-filter==1.1.0
django-fsm==2.6.0
django-heroku==0.3.1
django-hijack==2.1.9
django-pagedown==1.0.6
django-pwned-passwords==2.0.0
django-redis==4.10.0
django-referrer-policy==1.0
django-storages==1.6.6
django-tables2==1.21.1
django-tinymce4-lite==1.7.0
django-webpack-loader==0.6.0
django_select2==6.0.1
djangorestframework==3.9.0
django~=2.0.0
gunicorn==19.9.0
mailchimp3==3.0.4
mistune==0.8.4
Pillow==4.3.0
psycopg2==2.7.3.1
social_auth_app_django==3.1.0
wagtail~=2.2.0
wagtail-cache==0.5.1
whitenoise==4.0
