-r requirements.txt

coverage==6.4.4
django-browser-reload==1.6.0
django-coverage-plugin==2.0.3
django-debug-toolbar==3.8.1
dslr==0.4.0
factory_boy==3.2.1
ruff==0.0.263
model-bakery==1.10.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytest-split==0.8.0
pytest-xdist[psutil]==3.1.0
responses==0.22.0
wagtail-factories==2.1.0
Werkzeug==2.2.3
