{% load review_tags %}

<table class="reviews-summary">
    <tr class="reviews-summary__tr">
        <td class="reviews-summary__td">
            {% if record.stage.has_external_review %}
                {{ record.reviewers.count }}
            {% else %}
                {{ record.reviewers.staff.count }}
            {% endif %}
        </td>
        <td class="reviews-summary__td">{{ record.reviews.submitted.count }}</td>
        <td class="reviews-summary__td">{{ record.reviews.submitted.recommendation|traffic_light }}</td>
    </tr>
</table>
