{% load review_tags %}

<table class="reviews-summary">
    <tr>
        <td>{{ record.reviewers.staff.count }}</td>
        {% with reviews=record.reviews.by_staff %}
            <td>{{ reviews.count }}</td>
            <td>{{ reviews.recommendation|traffic_light }}</td>
        {% endwith %}
    </tr>

    <tr>
        <td>{{ record.reviewers.reviewers.count }}</td>
        {% with reviews=record.reviews.by_reviewers %}
            <td>{{ reviews.count }}</td>
            <td>{{ reviews.recommendation|traffic_light }}</td>
        {% endwith %}
    </tr>
</table>
