{% extends 'django_tables2/table.html' %}
{% load django_tables2 table_tags review_tags %}

{# example of how to extend the table template #}
{% block table.tbody.row %}
    {{ block.super }}

    {% with submission=row.record %}
        {# placeholder for example data row #}
        <tr class="tr tr--child" data-parent-id="{{ row.record.id }}">
            <td colspan="{{ table.columns|length }}">
                <table class="table table--transparent">
                    <tr class="tr tr--subchild">
                        <th><h6 class="heading heading--normal heading--no-margin">Applicant</h6></th>
                        <th><h6 class="heading heading--normal heading--no-margin">Last updated</h6></th>
                        <th><h6 class="heading heading--normal heading--no-margin">Next deadline</h6></th>
                        <th><h6 class="heading heading--normal heading--no-margin">Reviewers / Outcomes</h6></th>
                    </tr>
                    <tr class="tr tr--subchild tr--black">
                        <td><strong>{{ submission.full_name }}</strong></td>
                        <td>
                            {% with row.record.activities.actions.last as last_update %}
                                {% if last_update %}
                                    <strong>by {{ last_update.user }}</strong><br/>
                                    {{ last_update.timestamp|date:"Y-m-d \a\t H:i" }}
                                {% else %}
                                    &mdash;
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>&mdash;</td>
                        <td>
                            <dl class="dl dl--no-margin">
                            {% for review in row.cells.reviews %}
                                <dt class="dt dt--reviewer"><strong>{{ review.author }}</strong> <span>{{ review.get_recommendation_display }}</span></dt>
                            {% endfor %}
                            </dl>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endwith %}

    {% if row.record.previous %}
        {# we have a linked application #}
        {# re-render the header row #}
        <tr class="tr tr--child" data-parent-id="{{ row.record.id }}">
            <td colspan="{{ table.columns|length }}">
                <table class="table table--transparent">
                    <tr class="tr tr--subchild">
                    {% for column in row.table.columns %}
                        {% if forloop.first %}
                            <th>Linked {{ row.record.previous.stage }}</th>
                        {% else %}
                            <th class="th th--{{ column.header|lower }}">{{ column.header }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>

                    {# mutate the row to render the data for the child row #}
                    {% with row=row|row_from_record:row.record.previous %}
                        {{ block.super }}
                    {% endwith %}
                </table>
            </td>
        </tr>
    {% endif %}

{% endblock %}
