// stylelint-disable selector-pseudo-element-no-unknown

@use "../abstracts/variables";

/* Transitioning page view. */
@view-transition {
    navigation: auto;
}

:root {
  // Activate transition to intrinsic sizes like auto and fit-content.
  interpolate-size: allow-keywords;
}

body {
    overflow-x: hidden;

    &.no-scroll {
        overflow-y: hidden;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

a {
    color: variables.$color--primary;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

p {
    margin-block: 0.5rem;
}

details {
    overflow: hidden;

    & > summary {
        cursor: pointer;
        margin-block-end: 10px;
    }

    &::details-content {
        block-size: 0;
        transition: block-size 0.25s, content-visibility 0.25s;
        transition-behavior: allow-discrete;
    }

    &[open]::details-content {
        block-size: auto;
    }
}

.is-invisible,
%is-invisible {
    z-index: -1;
    opacity: 0;
    transition: opacity, z-index, variables.$transition;
}

.is-visible,
%is-visible {
    z-index: 5;
    opacity: 1;
    transition: opacity, z-index, variables.$transition;
}

.is-hidden,
%is-hidden {
    display: none;
}

.js-hidden,
%js-hidden {
    html.js & {
        @extend %is-hidden;
    }
}

.no-js-hidden,
%no-js-hidden {
    html.no-js & {
        @extend %is-hidden;
    }
}

.is-unhidden,
%is-unhidden {
    display: block;
}

.off-screen,
%off-screen {
    position: absolute;
    inset-inline-start: -9999px;
}

.on-screen,
%on-screen {
    position: relative;
    inset-inline-start: 0;
}
