@use "../abstracts/variables";

// $TYPOGRAPHY
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading-text {
    font-style: inherit;
    font-weight: variables.$weight--semibold;
    text-wrap: balance;
  }

  // Default sizes
  .body-h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-block: 0 0.5rem;
  }

  .body-h2 {
    font-size: 1.5em;
    line-height: 1.3333;
    font-weight: 700;
    margin-block: 0 0.5rem;
  }

  .body-h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block: 0 0.5rem;
  }

  h4,
  %h4,
  .delta {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h5,
  %h5,
  .epsilon {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
}
