{% extends "base.html" %}

{% load wagtailcore_tags static i18n %}
{# Dont include fixed apply button on this page #}
{% block apply_button %}{% endblock %}
{% block header_modifier %}header--light-bg{% endblock %}

{% block content %}
<div class="wrapper wrapper--small">
    {% if page.strapline %}
        <h4 class="heading heading--regular">{{ page.strapline }}</h4>
    {% endif %}

    <div class="wrapper wrapper--listings">
    {% for child_page in page.get_children.public.live %}
        {% include "apply_home/includes/apply_listing.html" with page=child_page %}
    {% endfor %}
    </div>
</div>
{% endblock %}
