.html-diff {
  --marker-border-width: 3px;
  --marker-ms: -10px;
  --marker-ps: 8px;

  :is(h1, h2, h3, h4, h5, h6):has(ins),
  :is(h1, h2, h3, h4, h5, h6):has(del),
  ul:has(ins),
  ul:has(del),
  ol:has(ins),
  ol:has(del),
  p:has(ins),
  p:has(del) {
    border-inline-start: var(--marker-border-width) solid var(--color-warning);
    margin-inline-start: var(--marker-ms);
    padding-inline-start: var(--marker-ps);
  }

  table,
  .prose {
    @apply relative;
  }

  .prose > del:before,
  .prose > ins:before,
  table:has(ins):before,
  table:has(del):before {
    @apply content-[''] block top-0 clear-both h-full absolute bg-warning;
    inset-inline-start: var(--marker-ms);
    width: var(--marker-border-width);
  }

  div:not(.prose) > del {
    margin-inline-start: var(--marker-ms);
    padding-inline-start: var(--marker-ps);
    border-inline-start: var(--marker-border-width) solid var(--color-error);
  }

  div:not(.prose) > ins {
    margin-inline-start: var(--marker-ms);
    padding-inline-start: var(--marker-ps);
    border-inline-start: var(--marker-border-width) solid var(--color-success);
  }

  del,
  del * {
    @apply bg-error text-error-content;
  }

  ins,
  ins * {
    @apply bg-success text-success-content;
    text-decoration: none;
  }
}
