.link {
  --link-color: currentColor;
  color: var(--link-color);

  &:hover {
    color: color-mix(in oklab, var(--link-color) 80%, #000);
  }

  &:focus {
    @apply outline-none;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &.disabled,
  &[disabled],
  &:disabled {
    @apply pointer-events-none opacity-50;
  }
}

.link:where(.link-muted) {
  @apply no-underline font-medium text-neutral-700 dark:text-base-content [@media(hover:hover)]:hover:text-primary hover:underline focus:underline;
}

.link:where(.link-hover) {
  @apply [@media(hover:hover)]:hover:text-primary transition-colors;
}

.link:where(.link-animated) {
  @apply relative no-underline before:pointer-events-none before:absolute before:start-0 before:bottom-0 before:h-px before:w-full before:bg-current before:transition-transform before:duration-300 before:ease-in-out before:content-[''];
}

.link:where(.link-animated)::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
}

.link:where(.link-animated):hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.link-expand-x {
  text-decoration-line: none;

  &::after {
    content: "";
    display: block;
    margin-top: 0.25rem;
    width: 100%;
    border-bottom: solid var(--link-expand-border-width, 4px)
      var(--color-primary);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover::after,
  &.link-active::after {
    transform: scaleX(1);
  }
}
