.strapline {
  @apply mb-8 text-fg-muted text-pretty;

  h1 {
    font-size: var(--h1-size);
    @apply leading-tight;
  }
  h2 {
    font-size: var(--h2-size);
    @apply leading-snug;
  }
  h3 {
    font-size: var(--h3-size);
    @apply leading-normal;
  }
  h4 {
    font-size: var(--h4-size);
    @apply leading-normal;
  }
  h5 {
    font-size: var(--h5-size);
    @apply leading-normal;
  }
  h6 {
    font-size: var(--h6-size);
    @apply leading-normal;
  }
  a {
    @apply text-primary hover:underline;
  }
  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
}
