{% load i18n wagtailcore_tags wagtailsettings_tags static heroicons %}<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html class="h-full" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% trans "Not Found (404)" %}</title>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">
        <script defer src="{% static 'js/vendor/alpine.min.js' %}"></script>
    </head>

    <body class="h-full bg-base-200">
        <main class="container-constrained" id="main">
            <div class="flex flex-col justify-center items-center min-h-[60vh]" x-data="{ hasHistory: window.history.length > 1 }">
                <div class="p-10 w-full max-w-2xl card bg-base-100">
                    <div class="items-center card-body">
                        <span class="flex justify-center items-center p-4 mb-4 rounded-full bg-warning/10">
                            {% heroicon_outline "exclamation-triangle" class="w-14 h-14 text-warning" %}
                        </span>
                        <h1 class="mb-2 text-4xl font-bold text-warning">
                            {{ settings.core.SystemSettings.title_404 }}
                        </h1>
                        <div class="mb-6 prose">
                            {{ settings.core.SystemSettings.body_404|richtext }}
                        </div>

                        <div class="card-actions">
                            <button x-show="hasHistory" @click="window.history.back()" class="btn btn-outline">
                                {% heroicon_outline "arrow-left" class="w-4 h-4" %}
                                {% trans "Go Back" %}
                            </button>

                            {% if request.user.is_authenticated %}
                                <a href="{% url 'dashboard:dashboard' %}" class="btn btn-primary">
                                    {% heroicon_outline "arrow-left" class="w-4 h-4" x_show="!hasHistory" %}
                                    {% trans "Go to Dashboard" %}
                                </a>
                            {% else %}
                                <a href="{{ settings.core.SystemSettings.site_logo_link|default:'/' }}" class="btn btn-primary">
                                    {% heroicon_outline "arrow-left" class="w-4 h-4" x_show="!hasHistory" %}
                                    {% trans "Go to homepage" %}
                                </a>
                            {% endif %}
                        </div>

                        <p class="mt-4 font-mono text-fg-muted">{% trans "Error code: Not Found (404)" %}</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
