{% load i18n static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags hijack_tags cookieconsent_tags %}<!doctype html>
{% wagtail_site as current_site %}
<html class="no-js" lang="en">
    <head>
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title_prefix %}{% if current_site.site_name %}{{ current_site.site_name }} | {% endif %}{% endblock %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{{ TITLE_SUFFIX }}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />

        <!-- favicons -->
        {% comment %}
            Generate favicons by https://realfavicongenerator.net using the following path: settings.STATIC_URL + images/favicons. Override favicons by adding them to public/images/favicons.
        {% endcomment %}
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static 'images/favicons/mstile-150x150.png' %}">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/apply/main.css' %}">
        {# Hijack styling #}
        <link rel="stylesheet" href="{% static 'hijack/hijack-styles.css' %}" />
        {% block extra_css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/js.cookie.min.js' %}"></script>
        <script src="{% static 'js/main-top.js' %}"></script>
        {% if COOKIES_ACCEPTED and MATOMO_URL and MATOMO_SITEID %}
        {# we are only expecting strings, so make sure we escape the values #}
        <script>
          var matomo = {
            'url': '{{ MATOMO_URL }}',
            'siteid': '{{ MATOMO_SITEID }}'
          };
        </script>
        <script src="{% static 'js/tracking.js' %}"></script>
        <script defer src="https://{{ MATOMO_URL }}/matomo.js"></script>
        {% endif %}
    </head>

    <body class="{% block body_class %}light-grey-bg template-{{ page.get_verbose_name|slugify }}{% endblock %}">
        {% hijack_notification %}

        {% include "includes/sprites.html" %}

        {% wagtailuserbar %}

        {% include 'includes/messages.html' %}
        <header class="header">

            <div class="header__inner wrapper wrapper--large">
                <a href="{% site_logo_link current_site %}" aria-label="Home link">
                    {% if settings.utils.SystemMessagesSettings.site_logo_default %}
                        {% image settings.utils.SystemMessagesSettings.site_logo_default width-215 as logo_default %}
                        <img class="header__logo header__logo--desktop" src="{{ logo_default.url }}">
                        {% if settings.utils.SystemMessagesSettings.site_logo_mobile %}
                            {% image settings.utils.SystemMessagesSettings.site_logo_mobile width-60 as logo_mobile %}
                            <img class="header__logo header__logo--mobile" src="{{ logo_mobile.url }}">
                        {% else %}
                            <img class="header__logo header__logo--mobile" src="{{ logo_default.url }}">
                        {% endif %}
                    {% else %}
                        <svg class="header__logo header__logo--desktop"><use xlink:href="#logo-desktop--dark"></use></svg>
                        <svg class="header__logo header__logo--mobile"><use xlink:href="#logo-mobile"></use></svg>
                    {% endif %}
                </a>

                <div class="header__inner header__inner--mobile-buttons">
                    <button class="button button--left-space js-mobile-menu-toggle" aria-haspopup="true">
                        <svg class="icon icon--mobile-menu"><use xlink:href="#mobile-menu-toggle"></use></svg>
                    </button>
                </div>

                <section class="header__menus header__menus--desktop">
                    {% include "navigation/primarynav-apply.html" %}
                </section>

                <section class="header__menus header__menus--mobile">
                    <div class="header__inner header__inner--menu-open">
                        <a href="{% site_logo_link current_site %}" aria-label="Home link">
                            {% if settings.utils.SystemMessagesSettings.site_logo_mobile %}
                                {% image settings.utils.SystemMessagesSettings.site_logo_mobile width-60 as logo_mobile %}
                                <img class="header__logo header__logo--mobile" src="{{ logo_mobile.url }}">
                            {% else %}
                                <svg class="header__logo header__logo--mobile"><use xlink:href="#logo-mobile"></use></svg>
                            {% endif %}
                        </a>
                        <div class="header__inner header__inner--mobile-buttons">
                            <button class="button button--left-space js-mobile-menu-close">
                                <svg class="header__icon header__icon--cross icon icon--mobile-menu"><use xlink:href="#cross"></use></svg>
                            </button>
                        </div>
                    </div>
                    {% include "navigation/primarynav-apply.html" %}
                    <a href="{% url 'users:account' %}" class="link link--button-transparent link--mobile-standout">
                        <svg class="icon"><use xlink:href="#person-icon"></use></svg>
                        {{ request.user }}
                    </a>
                    <a href="{% url 'users_public:logout' %}" class="link link--button-transparent link--mobile-standout">{% trans "Log out" %}</a>
                </section>

                <div class="header__button-container">
                    <a href="{% url 'users:account' %}" class="button button--transparent button--narrow button--contains-icons">
                        <svg class="icon icon--person"><use xlink:href="#person-icon"></use></svg>
                        {{ request.user }}
                    </a>
                    <a href="{% url 'users_public:logout' %}" class="button button--transparent button--narrow">
                        {% trans "Log out" %}
                    </a>
                </div>
            </div>
        </header>

        <main class="wrapper wrapper--large wrapper--main">
            {% block content_wrapper %}
            {% block content %}{% endblock %}
            {% endblock %}
        </main>

        <footer class="footer"></footer>

        {% cookie_banner %}

        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/cookieconsent.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
