{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags heroicons %}<!doctype html>

{% block header %}
    <header class="header">
        <div class="header__inner wrapper wrapper--large">
            <a href="{{ settings.core.SystemSettings.site_logo_link|default:"/" }}" aria-label="{% trans "Home link" %}">
                {% if settings.core.SystemSettings.site_logo_default %}
                    {% image settings.core.SystemSettings.site_logo_default width-215 as logo_default %}
                    <img class="header__logo header__logo--desktop"
                         width="215"
                         src="{{ logo_default.url }}"
                         alt="{{ settings.core.SystemSettings.site_logo_default.alt }}"
                    >
                    {% if settings.core.SystemSettings.site_logo_mobile %}
                        {% image settings.core.SystemSettings.site_logo_mobile width-60 as logo_mobile %}
                        <img class="header__logo header__logo--mobile"
                             width="60"
                             src="{{ logo_mobile.url }}"
                             alt="{{ settings.core.SystemSettings.site_logo_mobile.alt }}"
                        >
                    {% else %}
                        <img class="header__logo header__logo--mobile"
                             width="60"
                             src="{{ logo_default.url }}"
                             alt="{{ settings.core.SystemSettings.site_logo_default.alt }}"
                        >
                    {% endif %}
                {% else %}
                    <img class="header__logo header__logo--desktop"
                         width="215"
                         height="40"
                         src="{% static 'images/logo.png' %}"
                         alt="{% trans "Hypha logo" %}"
                    >
                    <img class="header__logo header__logo--mobile"
                         width="60" height="60"
                         src="{% static 'images/logo-small.png' %}"
                         alt="{% trans "Hypha logo" %}"
                    >
                {% endif %}
            </a>

            <div class="header__inner header__inner--mobile-buttons">
                {% if request.user.is_authenticated %}
                    <button class="button button--left-space js-mobile-menu-toggle" aria-haspopup="true">
                        <span class="sr-only">{% trans "Open menu" %}</span>
                        {% heroicon_outline "bars-3" size=32 stroke_width=2 class="inline" aria_hidden="true" %}
                    </button>
                {% else %}
                    {% if request.path != '/auth/' and request.path != '/login/' %}
                        {% include "includes/login_button.html" %}
                    {% endif %}
                {% endif %}
            </div>

            {% block header_menu %}
                <section class="header__menus header__menus--desktop">
                    {% include "core/navigation/primarynav-apply.html" %}
                </section>
            {% endblock header_menu %}

            <section class="header__menus header__menus--mobile">
                <div class="header__inner header__inner--menu-open">
                    <a href="{{ settings.core.SystemSettings.site_logo_link|default:"/" }}" aria-label="Home link">
                        {% if settings.core.SystemSettings.site_logo_mobile %}
                            {% image settings.core.SystemSettings.site_logo_mobile width-60 as logo_mobile %}
                            <img class="header__logo header__logo--mobile"
                                 width="60"
                                 src="{{ logo_mobile.url }}"
                                 alt="{{ settings.core.SystemSettings.site_logo_mobile.alt }}"
                            >
                        {% else %}
                            <img class="header__logo header__logo--mobile"
                                 width="60"
                                 height="60"
                                 src="{% static 'images/logo-small.png' %}"
                                 alt="{% trans "Hypha logo" %}"
                            >
                        {% endif %}
                    </a>
                    <div class="header__inner header__inner--mobile-buttons">
                        <button class="button button--left-space js-mobile-menu-close">
                            <span class="sr-only">{% trans "Close" %}</span>
                            {% heroicon_outline "x-mark" size=32 stroke_width=2 class="inline text-white" aria_hidden="true" %}
                        </button>
                    </div>
                </div>

                {% include "core/navigation/primarynav-apply.html" %}

                {% if request.user.is_authenticated %}
                    <a href="{% url 'users:account' %}" class="link link--button-transparent link--mobile-standout">
                        {% heroicon_micro "user" class="inline align-middle w-4 h-4 me-1" aria_hidden=true %}
                        {{ request.user }}
                    </a>
                    <a href="{% url 'users:logout' %}" class="link link--button-transparent link--mobile-standout text-center">
                        {% trans "Log out" %}
                    </a>
                {% endif %}
            </section>

            <div class="header__button-container flex gap-4">
                {% if latest_notifications %}
                    <div x-data="{open: false}">
                        <a href="{% url "activity:notifications" %}"
                           class="p-2 flex items-center hover:opacity-70 transition-opacity"
                           aria-label="{% trans "Notifications" %}"
                           aria-haspopup="activity"
                           aria-expanded="false"
                           role="button"
                           title="{% trans "Click to open your notifications" %}"
                           @click.prevent="open = ! open"
                        >
                            {% heroicon_outline "bell-alert" class="inline me-1 text-black" aria_hidden="true" %}
                        </a>
                        <div x-cloak x-show="open" x-transition @click.outside="open = false">{% include "activity/include/notifications_dropdown.html" %}</div>
                    </div>
                {% endif %}

                {% if request.path != '/auth/' and request.path != '/login/' %}
                    {% include "includes/login_button.html" %}
                {% endif %}

                {% if request.user.is_authenticated %}
                    <a href="{% url 'users:logout' %}" class="button button--transparent">
                        {% trans "Log out" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock header %}

{% block footer %}
    {% if settings.core.SystemSettings.footer_content %}
        <footer class="footer px-4 py-10 shrink-0  bg-dark-blue">
            <div class="wrapper wrapper--large prose prose-invert max-w-none text-white">
                {{ settings.core.SystemSettings.footer_content|safe }}
            </div>
        </footer>
    {% endif %}
{% endblock footer %}
