{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags heroicons %}<!doctype html>

{% block header %}
    <header
        class="header max-w-[1280px] py-2 flex gap-4 items-center justify-between mx-auto w-full"
        x-data="{'showDesktopMenu': false, isDesktop: false, mm: null}"
        x-init="mm = window.matchMedia(`(min-width: 768px)`); isDesktop = mm.matches; mm.addListener((e) => { isDesktop = e.matches }); "
    >
        <a
            class="py-2 px-0.5"
            href="{{ settings.core.SystemSettings.site_logo_link|default:"/" }}"
        >
            {% include 'includes/header-logo.html' %}
        </a>

        {% block header_menu %}
            {% if request.user.is_authenticated %}
                {% include "core/navigation/primarynav-apply.html" %}
            {% endif %}
        {% endblock %}

        <div class="flex gap-2 no-print">
            {% if request.user.is_authenticated and request.user.is_apply_staff %}
                {% include "includes/menu-notifications.html" %}
            {% endif %}

            {% if request.path != '/auth/' and request.path != '/login/' %}
                {% include "includes/user_menu.html" %}
            {% endif %}

            <button
                class="text-center p-1.5 border rounded md:hidden hover:bg-slate-100 transition-colors"
                @click="showDesktopMenu = true"
            >
                <span class="sr-only">{% trans "Menu" %}</span>
                {% heroicon_outline "bars-3" aria_hidden="true" class="inline align-bottom" %}
            </button>
        </div>
    </header>
{% endblock header %}

{% block footer %}
    {% if settings.core.SystemSettings.footer_content %}
        <footer class="footer px-4 py-10 shrink-0  bg-dark-blue">
            <div class="wrapper wrapper--large prose prose-invert max-w-none text-white">
                {{ settings.core.SystemSettings.footer_content|safe }}
            </div>
        </footer>
    {% endif %}
{% endblock footer %}
