{% load i18n static wagtailcore_tags wagtailimages_tags hijack cookieconsent_tags heroicons %}<!doctype html>
{% wagtail_site as current_site %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html class="h-full no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <head>
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title_prefix %}{% if current_site.site_name %}{{ current_site.site_name }} | {% endif %}{% endblock %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{{ TITLE_SUFFIX }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}{% endblock %}">

        <!-- favicons -->
        {% comment %}
            Generate favicons by https://realfavicongenerator.net using the following path: settings.STATIC_URL + images/favicons. Override favicons by adding them to public/images/favicons.
        {% endcomment %}
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static 'images/favicons/mstile-150x150.png' %}">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block extra_css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print">

        {% comment %}Detect if javascript is enabled; helps with styling{% endcomment %}
        <script>document.querySelector("html").classList.replace("no-js", "js")</script>

        <!-- htmx start: installed with npm -->
        <script src="{% static 'js/vendor/htmx.min.js' %}"></script>
        <script src="{% static 'js/vendor/htmx-ext-multi-swap.min.js' %}"></script>
        <script defer src="{% static 'js/vendor/nprogress-2.0.0.min.js' %}"></script>
        <!-- htmx end -->

        <!-- Cookieconsent -->
        <script defer src="{% static 'js/cookieconsent.js' %}"></script>

        <!-- Tooltips -->
        <script defer src="{% static 'js/tooltips/popper.min.js' %}"></script>
        <script defer src="{% static 'js/tooltips/tippy.min.js' %}"></script>

        <!-- alpine.js start -->
        <style> [x-cloak] {display: none !important} </style>

        <!-- Alpine Plugins: installed with npm -->
        <script defer src="{% static 'js/vendor/alpine-focus.min.js' %}"></script>
        {% block alpine_scripts %}{% endblock %}

        <!-- Alpine Core: installed with npm  -->
        <script defer src="{% static 'js/vendor/alpine.min.js' %}"></script>
        <!-- alpine.js end -->

        <!-- Modules for supporting <relative-time> and <filter-input> elements -->
        <script type="module" src="{% static 'js/esm/github-relative-time-element-4-3-0.js' %}"></script>
        <script type="module" src="{% static 'js/esm/github-filter-input-element-0-1-1.js' %}"></script>

        <!-- We still need jQuery for select2, daterangepicker and a few custom scripts. -->
        <!-- Please do not add new features that require jQuery! -->
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>

        {% include "includes/head_end.html" %}
    </head>

    <body
        hx-ext="multi-swap"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="antialiased min-h-full flex flex-col {% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}"
    >
        {% include "includes/sprites.html" %}

        {% if messages %}
            {% include 'includes/messages.html' %}
        {% endif %}

        {% block header %}{% endblock header %}

        {% block content_wrapper %}
            <main class="wrapper wrapper--large wrapper--main grow" id="main" x-data="{ showSubmission: false }">
                {% block content %}{% endblock %}
            </main>
        {% endblock %}

        {% block footer %}{% endblock footer %}

        {% block scroll_to_top %}
            {% #scroll-to-top %}
        {% endblock scroll_to_top %}

        {% cookie_banner %}

        <!-- htmx progress, error handeling and tooltip loading -->
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                document.addEventListener("htmx:beforeRequest", function() { NProgress.start(); });
                document.addEventListener("htmx:afterRequest", function() { NProgress.done(); });
            });

            {% comment %}
            If the htmx response is either 403, 404, or 500, display the error page.
            Please note that the error replaces the entire page, rather than displaying
            the error response in the target element.
            https://stackoverflow.com/a/74823597/782901
            {% endcomment %}
            document.addEventListener("htmx:beforeOnLoad", function (event) {
                const xhr = event.detail.xhr
                if (xhr.status == 500 || xhr.status == 403 || xhr.status == 404) {
                    event.stopPropagation() // Tell htmx not to process these requests
                    document.children[0].innerHTML = xhr.response // Swap in body of response instead
                }
            });

            htmx.onLoad(function() {
                tippy('[data-tippy-content]');
            });
        </script>
        <!-- htmx end -->

        <!-- Placeholder for the htmx modal & toast-->
        {% include "includes/_modal-placeholder.html" %}
        {% include "includes/_toast-placeholder.html" %}

        {% block extra_js %}{% endblock %}

        {% block sentry_sdk %}
            {% if SENTRY_PUBLIC_KEY %}
                <script
                    src="https://js.sentry-cdn.com/{{ SENTRY_PUBLIC_KEY }}.min.js"
                    crossorigin="anonymous"
                ></script>
                <script>
                    Sentry.onLoad(function() {
                        Sentry.init({
                            environment: "{{ SENTRY_ENVIRONMENT }}",
                            debug: {% if SENTRY_DEBUG %}true{% else %}false{% endif %},
                            integrations: [new BrowserTracing()],
                            denyUrls: {{ SENTRY_DENY_URLS|safe }},
                            tracesSampleRate: {{ SENTRY_TRACES_SAMPLE_RATE }}
                        });
                    });
                </script>
            {% endif %}
        {% endblock sentry_sdk %}
        {% include "includes/body_end.html" %}
    </body>
</html>
