{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password required" %}{% endblock %}

{% block body_class %}template-password-required{% endblock %}

{% block content %}
    <h1>{% trans "Password required" %}</h1>

    <h2>{% trans "Please enter the password to proceed." %}</h2>

    <form action="{{ action_url }}" method="post">
        <div>
            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.password.errors }}
            {{ form.password.label_tag }}
            {{ form.password }}

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <button type="submit">{% trans "Continue" %}</button>
        </div>
    </form>
{% endblock %}
