{% extends "reset_network/base.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}

{% block title %}{{ settings.utils.SystemMessagesSettings.title_404 }}{% endblock %}

{% block body_class %}base-darkest template-404{% endblock %}

{% block content %}
<section class="para para--head theme-darkest" data-theme="darkest" data-section-theme="dark">
  <div class="para__wrap contain">
    <div class="para__content">
      <div class="para__title">
        <h1>{{ settings.utils.SystemMessagesSettings.title_404 }}</h1>
      </div>
      <div class="para__body">
        {{ settings.utils.SystemMessagesSettings.body_404|richtext }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
