{% load i18n heroicons %}

{% if request.user.is_authenticated %}
    {% if request.user.can_access_dashboard %}
        <a
            class="button button--transparent button--contains-icons {{ class }}"
            href="{{ APPLY_SITE.root_url }}{% url 'dashboard:dashboard' %}"
        >
            {% heroicon_micro "user" class="inline align-text-bottom w-4 h-4 me-1" aria_hidden=true %}

            My {{ ORG_SHORT_NAME }}
        </a>
    {% else %}
        <a
            class="button button--transparent button--contains-icons {{ class }}"
            href="{{ APPLY_SITE.root_url }}{% url 'users:account' %}"
            title="Goto your account"
        >
            {% heroicon_micro "user" class="inline align-text-bottom w-4 h-4 me-1" aria_hidden=true %}
            {{ request.user }}
        </a>
    {% endif %}
{% else %}
    <a
        class="button button--transparent button--contains-icons {{ class }}"
        href="{{ APPLY_SITE.root_url }}{% url 'users_public:passwordless_login_signup' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}"
    >
        {% heroicon_micro "user" class="inline align-text-bottom w-4 h-4 me-1" aria_hidden=true %}
        {% trans "Login" %}
    </a>
{% endif %}
