{% load i18n %}

{% if user.is_authenticated %}
    {% if user.can_access_dashboard %}
        <a
            class="button button--transparent button--contains-icons {{ class }}"
            href="{{ APPLY_SITE.root_url }}{% url 'dashboard:dashboard' %}"
        >
            <svg class="icon icon--person"><use xlink:href="#person-icon"></use></svg>
            My {{ ORG_SHORT_NAME }}
        </a>
    {% else %}
        <a
            class="button button--transparent button--contains-icons {{ class }}"
            href="{{ APPLY_SITE.root_url }}{% url 'users:account' %}"
            title="Goto your account"
        >
            <svg class="icon icon--person"><use xlink:href="#person-icon"></use></svg>
            {{ user }}
        </a>
    {% endif %}
{% else %}
    <a
        class="button button--transparent button--contains-icons {{ class }}"
        href="{{ APPLY_SITE.root_url }}{% url 'users_public:passwordless_login_signup' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}"
    >
        <svg class="icon icon--person"><use xlink:href="#person-icon"></use></svg>
        {% trans "Login" %}
    </a>
{% endif %}
