{% load wagtailimages_tags %}
{% image page.icon max-210x210 as page_icon %}

{% if page_icon %}
    <div class="media-box__image-container">
        <img class="media-box__image" src="{{ page_icon.url }}" alt="{{ page_icon.alt }}">
    </div>
{% else %}
    {% if listing %}
        <div class="media-box__image-container">
    {% endif %}
    <div class="media-box__default-image {% if listing %}media-box__image{% endif %}">
        <svg><use xlink:href="#logo-mobile-no-text"></use></svg>
    </div>
    {% if listing %}
        </div>
    {% endif %}
{% endif %}
