<ul class="funding-block">
    <li class="funding-block__item">
        <p class="funding-block__title">Fund total</p>
        <p class="funding-block__standout">${{ object.value }}</p>
    </li>
    <li class="funding-block__item">
        <p class="funding-block__title">Total paid</p>
        <p class="funding-block__standout">${{ payments.totals.paid_absolute|default:0 }}</p>
        <p class="funding-block__meta">({{ payments.totals.paid_percentage|default:0 }}%)</p>
    </li>
    <li class="funding-block__item">
        <p class="funding-block__title">Awaiting payment</p>
        <p class="funding-block__standout">${{ payments.totals.awaiting_absolute|default:0 }}</p>
        <p class="funding-block__meta">({{ payments.totals.awaiting_percentage|default:0 }}%)</p>
    </li>
</ul>
