{% load payment_request_tools humanize %}

<div class="payment-block">
    <div class="payment-block__header">
        <p class="payment-block__title">Payment Requests</p>
        <a data-fancybox
           data-src="#request-payment"
           class="payment-block__button button button--primary"
           href="#">
            Add Request
        </a>
    </div>

    <table class="payment-block__table">
        <thead>
            <tr>
                <th class="payment-block__table-amount">Amount</th>
                <th class="payment-block__table-status">Status</th>
                <th class="payment-block__table-docs">Documents</th>
                <th class="payment-block__table-update"></th>
            </tr>
        </thead>
        <tbody>
            {% for payment_request in payments.not_rejected %}
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>${{ payment_request.value|intcomma }}</td>
                <td><span class="payment-block__mobile-label">Status: </span>{{ payment_request.get_status_display }}</td>
                <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
                <td>
                    {% can_change_status payment_request user as user_can_change_status %}
                    {% if user_can_change_status %}
                    <a
                        data-fancybox
                        data-src="#change-payment-status-{{ payment_request.pk }}"
                        class="payment-block__status-link"
                        href="#">
                        Change status
                    </a>
                    {% endif %}

                    {% user_can_edit payment_request user as user_can_edit_request %}
                    {% if user_can_edit_request %}
                    <a
                        data-fancybox
                        data-src="#edit-payment-request-{{ payment_request.pk }}"
                        class="payment-block__status-link"
                        href="#">
                        Edit
                    </a>
                    {% endif %}

                    {% can_delete payment_request user as user_can_delete_request %}
                    {% if user_can_delete_request %}
                    <form method="POST" action="{% url 'apply:projects:delete-payment-request' pk=object.pk payment_request_id=payment_request.pk %}">
                        {% csrf_token %}
                        <button class="button button--primary" type="submit">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if payments.rejected %}
        <p class="payment-block__rejected">
            <a class="payment-block__rejected-link js-payment-block-rejected-link" href="#">Show rejected</a>
        </p>

        <table class="payment-block__table is-hidden js-payment-block-rejected-table">
            <thead>
                <tr>
                    <th class="payment-block__table-amount">Amount</th>
                    <th class="payment-block__table-status">Status</th>
                    <th class="payment-block__table-docs">Documents</th>
                </tr>
            </thead>
            <tbody>
                {% for payment_request in payments.rejected %}
                <tr>
                    <td><span class="payment-block__mobile-label">Amount: </span>${{ payment_request.value }}</td>
                    <td><span class="payment-block__mobile-label">Status: </span>{{ payment_request.get_status_display }}</td>
                    <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</div>

{% for form in change_payment_request_status_forms %}
<div class="modal" id="change-payment-status-{{ form.instance.pk }}">
    <h4 class="modal__header-bar">Change payment status</h4>
    <div class="wrapper--outer-space-medium">
        <p>Current status: <b>{{ form.instance.get_status_display }}</b></p>
        {% url 'apply:projects:change-payment-status' pk=object.pk payment_request_id=form.instance.pk as change_payment_status_action %}
        {% include 'funds/includes/delegated_form_base.html' with form=form value='Update' action=change_payment_status_action %}
    </div>
</div>
{% endfor %}

{% for form in edit_payment_request_forms %}
<div class="modal" id="edit-payment-request-{{ form.instance.pk }}">
    <h4 class="modal__header-bar">Edit request</h4>
    <div class="wrapper--outer-space-medium">
        {% url 'apply:projects:edit-payment-request' pk=object.pk payment_request_id=form.instance.pk as edit_payment_request_action %}
        {% include 'funds/includes/delegated_form_base.html' with form=form value='Update' action=edit_payment_request_action %}
    </div>
</div>
{% endfor %}
