<div class="payment-block">
    <div class="payment-block__header">
        <p class="payment-block__title">Payment Requests</p>
        <a data-fancybox
           data-src="#request-payment"
           class="payment-block__button button button--primary"
           href="#">
            Add Request
        </a>
    </div>

    <table class="payment-block__table">
        <thead>
            <tr>
                <th class="payment-block__table-amount">Amount</th>
                <th class="payment-block__table-status">Status</th>
                <th class="payment-block__table-docs">Documents</th>
                <th class="payment-block__table-update">Change status</th>
            </tr>
        </thead>
        <tbody>
            {% for payment_request in payments.not_rejected %}
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>${{ payment_request.value }}</td>
                <td><span class="payment-block__mobile-label">Status: </span>{{ payment_request.status }}</td>
                <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
                <td>
                    <span class="payment-block__mobile-label">Status:</span>
                    {% comment %}
                    TODO: front end fix to make these dropdowns
                    {% for status in payments.availabe_statuses %}
                    <span class="payment-block__status">{{ status.0 }}{{ status.1 }}</span>
                    {% endfor %}
                    {% endcomment %}
                    <a data-fancybox data-src="#change-payment-status-{{ payment_request.pk }}" class="payment-block__status-link" href="#">Change status</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="payment-block__rejected">
        <a class="payment-block__rejected-link js-payment-block-rejected-link" href="#">Show rejected</a>
    </p>

    <table class="payment-block__table is-hidden js-payment-block-rejected-table">
        <thead>
            <tr>
                <th class="payment-block__table-amount">Amount</th>
                <th class="payment-block__table-status">Status</th>
                <th class="payment-block__table-docs">Documents</th>
            </tr>
        </thead>
        <tbody>
            {% for payment_request in payments.rejected %}
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>${{ payment_request.value }}</td>
                <td><span class="payment-block__mobile-label">Status: </span>{{ payment_request.status }}</td>
                <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for payment_request in payments.not_rejected %}
<div class="modal" id="change-payment-status-{{ payment_request.pk }}">
    <h4 class="modal__header-bar">Change payment status</h4>
    <div class="wrapper--outer-space-medium">
        <p>Current status: <b>{{ payment_request.status }}</b></p>
        {# {% url '' as change_payment_status_action %} #}
        {# {% include 'funds/includes/delegated_form_base.html' with form=change_payment_status_form value='Update' action=change_payment_status_action %} #}
    </div>
</div>
{% endfor %}
