{% load payment_request_tools humanize %}

<div id="payment-requests" class="payment-block">
    <div class="payment-block__header">
        <p class="payment-block__title">Payment Requests</p>
        <a class="payment-block__button button button--primary"
           href="{% url "apply:projects:request" pk=object.pk %}">
            Add Request
        </a>
    </div>

    <table class="payment-block__table">
        <thead>
            <tr>
                <th class="payment-block__table-amount">Amount</th>
                <th class="payment-block__table-status">Status</th>
                <th class="payment-block__table-date">From</th>
                <th class="payment-block__table-date">To</th>
                <th class="payment-block__table-update"></th>
            </tr>
        </thead>
        <tbody>
            {% for payment_request in object.payment_requests.not_rejected %}
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>${{ payment_request.value|intcomma }}</td>
                <td><span class="payment-block__mobile-label">Status: </span>{{ payment_request.get_status_display }}</td>
                <td><span class="payment-block__mobile-label">From: </span>{{ payment_request.date_from.date }}</td>
                <td><span class="payment-block__mobile-label">To: </span>{{ payment_request.date_to.date }}</td>
                <td>
                    <a href="{{ payment_request.get_absolute_url }}">View</a>
                    {% can_edit payment_request user as user_can_edit_request %}
                    {% if user_can_edit_request %}
                    <a href="{% url "apply:projects:payments:edit" pk=payment_request.pk %}">
                        Edit
                    </a>
                    {% endif %}

                    {% can_delete payment_request user as user_can_delete_request %}
                    {% if user_can_delete_request %}
                    <a href="{% url 'apply:projects:payments:delete' pk=payment_request.pk %}">
                        Delete
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No active Payment Requests.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if object.payment_requests.rejected %}
        <p class="payment-block__rejected">
            <a class="payment-block__rejected-link js-payment-block-rejected-link" href="#">Show rejected</a>
        </p>

        <table class="payment-block__table is-hidden js-payment-block-rejected-table">
            <thead>
                <tr>
                    <th class="payment-block__table-amount">Amount</th>
                    <th class="payment-block__table-status">Status</th>
                    <th class="payment-block__table-view"></th>
                </tr>
            </thead>
            <tbody>
                {% for payment_request in object.payment_requests.rejected %}
                <tr>
                    <td><span class="payment-block__mobile-label">Amount: </span>${{ payment_request.value }}</td>
                    <td><span class="payment-block__mobile-label">Status: </span>{{ payment_request.get_status_display }}</td>
                    <td><a href="{{ payment_request.get_absolute_url }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</div>

{% for form in change_payment_request_status_forms %}
<div class="modal" id="change-payment-status-{{ form.instance.pk }}">
    <h4 class="modal__header-bar">Change payment status</h4>
    <div class="wrapper--outer-space-medium">
        <p>Current status: <b>{{ form.instance.get_status_display }}</b></p>

        {% if not form.instance.has_changes_requested %}
        <p>Requested value: <b>${{ form.instance.requested_value }}</b></p>
        {% endif %}

        {% url 'apply:projects:change-payment-status' pk=object.pk payment_request_id=form.instance.pk as change_payment_status_action %}
        {% include 'funds/includes/delegated_form_base.html' with form=form value='Update' action=change_payment_status_action %}
    </div>
</div>
{% endfor %}
