<div id="payment-requests" class="payment-block">
    <div class="payment-block__header">
        <p class="payment-block__title">Reporting</p>
    </div>
    <div>
    {% for report in object.report_config.past_due_reports %}
        {% include "application_projects/includes/report_line.html" with report=report %}
    {% endfor %}
    {% with next_report=object.report_config.current_due_report %}
        {% include "application_projects/includes/report_line.html" with report=next_report current=True %}
    {% endwith %}

    </div>
    <table class="payment-block__table">
        <thead>
            <tr>
                <th class="payment-block__table-date">Period End</th>
                <th class="payment-block__table-date">Submitted</th>
                <th class="payment-block__table-date">Privacy</th>
                <th class="payment-block__table-update"></th>
            </tr>
        </thead>
        <tbody>
            {% for report in object.reports.done %}
            <tr>
                <td>
                    <span class="payment-block__mobile-label">Period End: </span>{{ report.end_date }}
                </td>
                <td>
                    <span class="payment-block__mobile-label">Submitted: </span>{{ report.submitted_date|default:"-" }}
                </td>
                <td>
                    <span class="payment-block__mobile-label">Privacy: </span>{% if report.public %}Public{% else %}Private{% endif %}
                </td>
                <td>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No reports submitted</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
