{% load approval_tools %}
{% user_can_edit_project object request.user as editable %}

<div class="docs-block wrapper--outer-space-large">
    <div class="docs-block__header">
        <h4 class="docs-block__heading">Supporting documents</h4>
    </div>
    <ul class="docs-block__inner">

        <li class="docs-block__row">
            <div class="docs-block__row-inner">
                <svg class="icon docs-block__icon is-complete"><use xlink:href="#tick"></use></svg>
                <p class="docs-block__title">Proposal</p>
            </div>
            <div class="docs-block__row-inner">
                <a class="docs-block__link" href="{% url 'apply:submissions:simplified' pk=project.submission.pk %}">View</a>
                {% if not user.is_applicant %}
                    <a class="docs-block__link" href="#">Download</a>
                {% endif %}
            </div>
        </li>

        <li class="docs-block__row">
            <div class="docs-block__row-inner">
                <svg class="icon docs-block__icon{% if object.user_has_updated_details %} is-complete{% endif %}">
                    <use xlink:href="#tick"></use>
                </svg>
                <p class="docs-block__title">Approval Form</p>
            </div>
            <div class="docs-block__row-inner">
                {% if editable %}
                    <a class="docs-block__link" href="{% url 'apply:projects:edit' pk=object.pk %}">
                        {% if object.user_has_updated_details %}
                        Edit
                        {% else %}
                        Create
                        {% endif %}
                    </a>
                {% endif %}
                {% if object.user_has_updated_details and not user.is_applicant %}
                    <a class="docs-block__link" href="{% url 'apply:projects:simplified' pk=project.pk %}">
                        View
                    </a>
                {% endif %}
            </div>
        </li>

        <li class="docs-block__row">
            <div class="docs-block__row-inner">
                <svg class="icon docs-block__icon{% if not remaining_document_categories %} is-complete{% endif %}">
                    <use xlink:href="#tick"></use>
                </svg>
                <p class="docs-block__title">Supporting documents</p>
            </div>
            {% if editable %}
            <div class="docs-block__row-inner">
                {% if select_document_form.should_show %}
                    <a
                        data-fancybox
                        data-src="#copy-supporting-doc"
                        class="docs-block__link"
                        href="#">
                        Choose file
                    </a>
                {% else %}
                    <span class="docs-block__link is-disabled" data-tooltip="No files on submission">Choose file</span>
                {% endif %}
                <a data-fancybox data-src="#upload-supporting-doc" class="docs-block__link" href="#">Upload new</a>
            </div>
            {% endif %}
            {% if remaining_document_categories %}
            <div class="docs-block__info-text">
                <p>
                    Every project should include the following documents:
                </p>
                <ul>
                    {% for missing in remaining_document_categories %}
                        <li>{{ missing.category.name }} ({{ missing.difference }})</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if object.packet_files.exists %}
            <ul class="docs-block__document-list">
                {% for document in object.packet_files.all %}
                <li class="docs-block__document">
                    <div class="docs-block__document-inner">
                        <p class="docs-block__document-info"><b>{{ document.title }}</b></p>
                        <p class="docs-block__document-info">{{ document.category.name }}</p>
                    </div>
                    <div class="docs-block__document-inner">
                        <a class="docs-block__document-link" href="{% url 'apply:projects:document' pk=object.pk file_pk=document.pk %}">Download</a>
                        <form method="POST" id="{{ remove_document_form.name }}" class="docs-block__document-form">
                            {% csrf_token %}
                            {{ document.get_remove_form }}
                            <input
                                class="button button--link"
                                id="{{ remove_document_form.name }}-submit"
                                name="{{ form_prefix }}{{ remove_document_form.name }}"
                                type="submit"
                                form="{{ remove_document_form.name }}"
                                value="Remove" />
                        </form>
                            </input>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </li>
    </ul>
    <div class="docs-block__buttons">
        {% can_send_for_approval object user as can_approve %}
        {% if can_approve %}
            <a data-fancybox
            data-src="#send-for-approval"
            class="button button--primary"
            href="#">
                Submit for Approval
            </a>
        {% endif %}
    </div>
</div>

<div class="modal" id="copy-supporting-doc">
    <h4 class="modal__header-bar">Select a document</h4>
    {% url 'apply:projects:copy-documents' pk=object.pk as select_document_url %}
    {% include 'funds/includes/delegated_form_base.html' with form=select_document_form value='Copy' action=select_document_url %}
</div>

<div class="modal" id="upload-supporting-doc">
    <h4 class="modal__header-bar">Upload a new document</h4>
    <p></p>
    {% include 'funds/includes/delegated_form_base.html' with form=document_form value='Upload'%}
</div>
