{% extends "base-apply.html" %}
{% load i18n activity_tags heroicons %}
{% block title %}{% trans "Notifications" %}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            title="{% trans 'Notifications' %}"
            subtitle="{% if PROJECTS_ENABLED %}{% trans 'Activity feed across all applications and projects' %}{% else %}{% trans 'Activity feed across all the applications' %}{% endif %}"
        >
            <form
                class="[&>label]:sr-only text-base-content flex items-center justify-between gap-2"
                method="get"
            >
                {{ filter.form }}
                <button class="btn btn-primary" type="submit" value="Filter">
                    {% trans "Filter" %}
                </button>
            </form>
        </c-hero.header>
    </c-hero>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper--large wrapper--outer-space-medium">
        <div class="border-b-2 border-b-base-300">
            <section class="ml-4 max-w-3xl md:ml-20">

                <div class="h-timeline">
                    {% for activity in object_list %}
                        {% with activity|display_for:request.user as activity_text %}
                            <div class="relative h-timeline-item" id="communications#{{ activity.id }}">
                                {% ifchanged activity.source.id %}
                                    <div class="py-0.5 mt-4 bg-base-200 ps-5 pe-2 border-s-2 border-slate-300">
                                        <span class="text-sm font-semibold text-fg-muted">{{ activity.source_content_type.name|source_type }}</span> <a href="{{ activity.source.get_absolute_url }}">{{ activity.source.fund_name }} #{{ activity.source.application_id }}: {{ activity.source.title|capfirst|truncatechars:50 }}</a>
                                    </div>
                                {% endifchanged %}
                                <div
                                    class="flex gap-2 items-center py-2 -ml-3 before:block before:-z-10 before:absolute before:top-0 before:bottom-0 before:left-0 before:w-0.5 before:bg-slate-300"
                                >
                                    <div class="inline-flex relative justify-center items-start">
                                        <div class="relative rounded-full inline-flex items-center justify-center border-white border-2 -ms-0.5 {% if activity.user.is_staff %}bg-slate-200 {% else %}bg-gray-200{% endif %}">
                                            <div class="inline-flex justify-center items-center w-6 h-6 text-fg-muted">
                                                {% if activity.type == "comment" %}
                                                    {% heroicon_micro "chat-bubble-bottom-center-text" class="inline" aria_hidden=true size=14 %}
                                                {% elif 'edit' in activity_text.lower %}
                                                    {% heroicon_micro "pencil-square" class="inline" aria_hidden=true size=14 %}
                                                {% elif 'progressed' in activity_text.lower %}
                                                    {% heroicon_micro "arrow-trending-up" class="inline" aria_hidden=true size=14 %}
                                                {% elif 'sent a determination' in activity_text.lower %}
                                                    {% heroicon_micro "rocket-launch" class="inline" aria_hidden=true size=14 %}
                                                {% elif 'submitted a review' in activity_text.lower %}
                                                    {% heroicon_micro "chat-bubble-left-ellipsis" class="inline" aria_hidden=true size=14 %}
                                                {% elif 'un-archived' in activity_text.lower %}
                                                    {% heroicon_micro "lock-open" class="inline" aria_hidden=true size=14 %}
                                                {% elif 'archived' in activity_text.lower %}
                                                    {% heroicon_micro "lock-closed" class="inline" aria_hidden=true size=14 %}
                                                {% else %}
                                                    {% heroicon_micro "eye" class="inline" aria_hidden=true size=15 %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-sm">
                                        <strong class="font-medium">
                                            {{ activity|display_activity_author:request.user }}
                                        </strong>
                                        <span class="text-fg-muted">
                                            {{ activity_text|lowerfirst|safe }}
                                            <relative-time datetime="{{ activity.timestamp|date:'c' }}">
                                                {{ activity.timestamp|date:'SHORT_DATETIME_FORMAT' }}
                                            </relative-time>
                                        </span>
                                        {% if activity|user_can_see_related:request.user %}
                                            {% with url=activity.related_object.get_absolute_url %}
                                                {% if url %}
                                                    <a href="{{ url }}" class="font-semibold transition-opacity hover:opacity-70">
                                                        {% trans "View" %}
                                                    </a>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>

                {% if not object_list %}
                    <p class="mb-8 text-xl">
                        {% trans "No activities found, try updating your filters." %}
                    </p>
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}
