{% load heroicons activity_tags nh3_tags markdown_tags submission_tags apply_tags users_tags %}

<div class="prose max-w-none">
    {{ activity|display_for:request.user|submission_links|markdown|nh3 }}
</div>

{% if activity.edited %}
    <span class="text-fg-muted text-sm" data-tippy-content="{{ activity.edited|date:"SHORT_DATETIME_FORMAT" }}">(edited)</span>
{% endif %}

{% with activity.attachments.all as attachments %}
    {% if attachments %}
        <div class="flex flex-wrap gap-2 min-w-40 max-w-xl mt-4 pb-2">
            {% for attachment in attachments %}
                <a href="{{attachment.get_absolute_url }}"
                   class="inline-flex items-center border rounded px-3 py-2 font-medium bg-slate-50 hover:bg-slate-200 transition-colors"
                   target="_blank"
                   rel="noopener noreferrer"
                   title="{{ attachment.filename }}"
                >
                    <span class="truncate text-sm">
                        {% heroicon_mini "paper-clip" class="inline align-text-bottom" aria_hidden=true %}
                        {{ attachment.filename|truncatechars_middle:45 }}
                    </span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
