{% load heroicons activity_tags nh3_tags markdown_tags submission_tags apply_tags users_tags %}

<div class="max-w-none prose">
    {{ activity|display_for:request.user|submission_links|markdown|nh3 }}
</div>

{% if activity.edited %}
    <span class="text-sm text-fg-muted" data-tippy-content="{{ activity.edited|date:"SHORT_DATETIME_FORMAT" }}">(edited)</span>
{% endif %}

{% with activity.attachments.all as attachments %}
    {% if attachments %}
        <div class="flex flex-wrap gap-2 pb-2 mt-4 max-w-xl min-w-40">
            {% for attachment in attachments %}
                <c-card-attachment
                    :href="attachment.get_absolute_url"
                    :title="attachment.filename"
                    :filename="attachment.filename"
                />
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
