{% load heroicons activity_tags nh3_tags markdown_tags apply_tags users_tags %}

<div class="max-w-none prose">
    {{ activity|display_for:request.user|submission_links:request.user|markdown|nh3 }}
</div>

{% if activity.edited %}
    <span class="text-sm text-fg-muted" data-tippy-content="{{ activity.edited|date:"SHORT_DATETIME_FORMAT" }}">(edited)</span>
{% endif %}

{% with activity.attachments.all as attachments %}
    {% if attachments %}
        <div class="flex flex-wrap gap-2 pb-2 mt-4 max-w-xl min-w-40">
            {% for attachment in attachments %}
                <a href="{{attachment.get_absolute_url }}"
                   class="inline-flex items-center py-2 px-3 font-medium rounded border transition-colors bg-slate-50 hover:bg-slate-200"
                   target="_blank"
                   rel="noopener noreferrer"
                   title="{{ attachment.filename }}"
                >
                    <span class="text-sm truncate">
                        {% heroicon_mini "paper-clip" class="inline align-text-bottom" aria_hidden=true %}
                        {{ attachment.filename|truncatechars_middle:45 }}
                    </span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
