{% extends "base-apply.html" %}
{% load i18n humanize invoice_tools heroicons %}

{% block title %}{% trans "Invoice" %}: {{ object.invoice_number }} - {{ object.project.title }}{% endblock %}
{% block content %}
    {% display_invoice_status_for_user user object as invoice_status %}
    {% can_show_paid_date invoice as show_paid_date %}

    {% adminbar %}
        {% slot back_link %}
            <a class="admin-bar__back-link" href="{% url 'apply:projects:detail' object.project.id %}">
                {% trans "View project page" %}
            </a>
        {% endslot %}
        {% slot header %}{% trans "Invoice" %}: {{ object.invoice_number }}{% endslot %}
        {% slot sub_heading %}{% trans "For" %}: {{ object.project.title }}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--sidebar wrapper--outer-space-medium">
        <div class="wrapper--sidebar--inner">
            <div class="card card--solid">
                <p class="card__text"><b>{% trans "Invoice number" %}:</b> {{ object.invoice_number }}</p>
                <p class="card__text"><b>{% trans "Invoice date" %}:</b> {% if invoice.invoice_date %}{{ invoice.invoice_date }}{% else %} {{ invoice.requested_at.date }} {% endif %}</p>
                {% if show_paid_date %}
                    <p class="card__text"><b>{% trans "Paid date" %}:</b> {{ invoice.paid_date }}</p>
                {% endif %}
                <p class="card__text"><b>{% trans "Vendor" %}:</b>
                    {{ object.project.user }}</p>
                {% if not HIDE_STAFF_IDENTITY or request.user.is_org_faculty %}
                    <p class="card__text"><b>{% trans "Lead" %}:</b> {{ object.project.lead }}</p>
                {% endif %}
                <p class="card__text"><b>{% trans "Fund" %}:</b> {{ object.project.submission.page }}</p>
            </div>
            <div hx-get="{% url 'apply:projects:partial-invoice-status' pk=object.project.pk invoice_pk=object.pk %}" hx-trigger="load, invoicesUpdated from:body" class="flex card card--solid" x-data="{ collapsed: true }">
                <div class="flex-none content-center min-h-10"><div class="h-4 min-w-96 bg-gray-400 rounded-full animate-pulse"></div></div>
                <div class="ps-2"></div>
            </div>

            <div class="card card--solid">
                <div class="card__inner">
                    <h5 class="card__heading">{% trans "Invoice" %}</h5>
                    <p class="card__text"><a target="_blank" href="{% url "apply:projects:invoice-document" pk=object.project.pk invoice_pk=object.pk %}">{{object.filename}}</a></p>
                    <embed src="{% url "apply:projects:invoice-document" pk=object.project.pk invoice_pk=object.pk %}" width="800px" height="800px" />
                </div>
                {% if object.supporting_documents.exists %}
                    <div class="card__inner">
                        <h5 class="card__heading">{% trans "Supporting Documents" %}</h5>
                        {% for document in object.supporting_documents.all %}
                            <p class="card__text"><a href="{% url "apply:projects:invoice-supporting-document" pk=object.project.pk invoice_pk=object.pk file_pk=document.pk %}">{{document.filename}}</a></p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <aside class="sidebar">
            {% block deliverables %}
            {% endblock %}
            <div hx-get="{% url 'apply:projects:partial-invoice-detail-actions' pk=object.project.pk invoice_pk=object.pk %}" hx-trigger="invoicesUpdated from:body" class="sticky sidebar__inner sidebar__inner--light-blue sidebar__inner--actions top-8" data-testid="sidebar-primary-actions">
                {% include "application_projects/partials/invoice_detail_actions.html" %}
            </div>
        </aside>
    </div>
{% endblock %}
