{% extends "base-apply.html" %}

{% load render_table from django_tables2 %}
{% load i18n static %}

{% block title %}{% trans "Invoices" %}{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "All Invoices" %} ({{ table.rows|length }}){% endslot %}
        {% slot sub_heading %}{% trans "View, search and filter all project invoices" %}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--large wrapper--inner-space-medium">
        {% if table %}
            {% trans "invoices" as search_placeholder %}
            {% include "funds/includes/table_filter_and_search.html" with filter_form=filter_form search_term=search_term use_search=True filter_action=filter_action use_batch_actions=True search_placeholder=search_placeholder %}
            {% render_table table %}
        {% else %}
            <p>{% trans "No Invoices available" %}</p>
        {% endif %}
    </div>

{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
    {{ filter.form.media.css }}
{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="{% static 'js/submission-filters.js' %}"></script>
{% endblock %}
