{% extends "base-pdf.html" %}
{% load i18n %}

{% block content %}
    <table id="page-width">
        <!-- Project details in table format -->
        <tr>
            <td rowspan="4" align="left" class="align-left">
                <p class="title"> <b>{{ org_name|upper }}</b> PROJECT FORM</p>
            </td>
            <td align="right" class="align-right">
                <b>{% trans "Project title" %}</b>
            </td>
        </tr>
        <tr>
            <td align="right" class="align-right">
                <a href="{{ project_link }}">{{ title }}</a>
            </td>
        </tr>
        <tr>
            <td align="right" class="align-right">
                <b>{% trans "Project ID" %}</b>
            </td>
        </tr>
        <tr>
            <td align="right" class="align-right">
                {{ id }}
            </td>
        </tr>
    </table>

    <hr>

    <!-- PAF fields data in paragraph format -->
    {% for field_name, field_value in paf_data.items %}
        <p><b>{{ field_name }}</b></p>
        <p>{{ field_value|safe|default:"-" }}</p>
    {% endfor %}

    <!-- SOW fields data in paragraph format-->
    {% for field_name, field_value in sow_data.items %}
        <p><b>{{ field_name }}</b></p>
        <p>{{ field_value|safe|default:"-" }}</p>
    {% endfor %}

    <!-- Approvers data in paragraph format-->
    <p><b> Approvals </b></p>
    {% if approvals %}
        {% for approval in approvals %}
            <p>{{ approval.paf_reviewer_role.label }} - {% if approval.approved %} Approved {% else %} Pending{% endif %}
                {% if approval.user %}({{ approval.user }}){% endif %}</p>
        {% endfor %}
    {% else %}
        <p>-</p>
    {% endif %}

    <!-- Supporting Documents with links-->
    <p>
        <b>{% trans "Supporting Documents" %}</b>
    </p>

    {% if supporting_documents %}
        {% for document, document_link in supporting_documents.items %}
            <p><a href="{{ document_link }}">{{ document }}</a></p>
        {% endfor %}
    {% else %}
        <p>-</p>
    {% endif %}

    <!-- Submission title with link-->
    <p><b>{% trans "Submission" %}</b></p>
    <p><a href="{{ submission_link }}">{{ submission }}</a></p>

{% endblock %}
