{% extends "base-pdf.html" %}
{% load i18n %}

{% block content %}
    <h1>{{ org_name }} {% trans "Project Form" %}</h1>
    <p><b>{% trans "Project title" %}</b>: <a href="{{ project_link }}">{{ title }}</a></p>
    <p><b>{% trans "Project ID" %}</b>: {{ id }}</p>

    <hr>

    <!-- PAF fields data in paragraph format -->
    {% for field_name, field_value in paf_data.items %}
        <p><b>{{ field_name }}</b></p>
        <p>{{ field_value|safe|default:"-" }}</p>
    {% endfor %}

    <!-- SOW fields data in paragraph format-->
    {% for field_name, field_value in sow_data.items %}
        <p><b>{{ field_name }}</b></p>
        <p>{{ field_value|safe|default:"-" }}</p>
    {% endfor %}

    <!-- Approvers data in list format -->
    <h2>{% trans "Approvals" %}</h2>
    {% if approvals %}
        <ul>
            {% for approval in approvals %}
                <li>{{ approval.paf_reviewer_role.label }} - {% if approval.approved %}{% trans "Approved" %} {% else %}{% trans "Pending" %} {% endif %}
                    {% if approval.user %}({{ approval.user }}){% endif %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>–</p>
    {% endif %}

    <!-- Reviews with names and dates -->
    <h2>{% trans "Reviews" %}</h2>
    <p><b>{% trans "Submission lead" %}:</b> {{ submission.lead }}</p>

    <p><b>{% trans "Staff reviewers" %}</b></p>
    {% if submission.reviews.by_staff %}
        <ul>
            {% for review in submission.reviews.by_staff %}
                <li>
                    {{ review.author }}
                    {% if review.author.role %}
                        {% trans "as" %} {{ review.author.role }}
                    {% endif %}
                    - {{ review.created_at|date:"DATE_FORMAT" }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>–</p>
    {% endif %}

    <p><b>{% trans "Advisory council" %}</b></p>
    {% if submission.reviews.by_reviewers %}
        <ul>
            {% for review in submission.reviews.by_reviewers %}
                <li>{{ review.author }} - {{ review.created_at|date:"DATE_FORMAT" }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>–</p>
    {% endif %}

    <!-- Supporting Documents with links -->
    <h2>{% trans "Supporting Documents" %}</h2>

    {% if supporting_documents %}
        <ul>
            {% for document, document_link in supporting_documents.items %}
                <li><a href="{{ document_link }}">{{ document }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>–</p>
    {% endif %}

    <!-- Submission title with link-->
    <p><big><b>{% trans "Application" %}</b></big></p>
    <p><a href="{{ submission_link }}">{{ submission }}</a></p>
{% endblock %}
