
{% extends "base-apply.html" %}
{% load i18n humanize payment_request_tools %}

{% block title %}{% trans "Payment Request" %}: {{ object.project.title }}{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <a class="simplified__projects-link" href="{{ object.project.get_absolute_url }}">
            {% trans "Project" %}
        </a>
        <h2 class="heading heading--no-margin">{% trans "Delete Payment Request" %}</h2>
        <h5 class="heading heading--no-margin">{% trans "For" %}: {{ object.project.title }}</h5>
    </div>
</div>

<div class="wrapper wrapper--sidebar wrapper--outer-space-medium">
    <div class="wrapper--sidebar--inner">

        <div class="card card--solid">
            <p class="card__text"><b>{% trans "Status" %}:</b> {{ object.get_status_display }}</p>
            <p class="card__text"><b>{% trans "Name of Vendor" %}:</b> {{ object.project.contact_legal_name }}</p>
            <p class="card__text"><b>{% trans "Invoice Number" %}:</b> {{ object.pk }}</p>
            <p class="card__text"><b>{% trans "Period of Performance" %}:</b> {{ object.date_from.date }} | {{ object.date_to.date }}</p>
            <p class="card__text"><b>{% trans "Total" %}:</b> {{ CURRENCY_SYMBOL }}{{ object.value|intcomma }}</p>

        </div>
        <div class="card card--solid">
            <form method="post">{% csrf_token %}
                <p>{% trans "Are you sure you want to delete this payment request for" %} {{ object.project.title }}?</p>
                <button class="button button--primary" type="submit">Confirm</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
