
{% extends "base-apply.html" %}
{% load humanize payment_request_tools %}

{% block title %}Payment Request: {{ object.project.title }}{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <a class="simplified__projects-link" href="{{ object.project.get_absolute_url }}">
            Project
        </a>
        <h2 class="heading heading--no-margin">Delete Payment Request</h2>
        <h5 class="heading heading--no-margin">For: {{ object.project.title }}</h5>
    </div>
</div>

<div class="wrapper wrapper--sidebar wrapper--outer-space-medium">
    <div class="wrapper--sidebar--inner">

        <div class="card card--solid">
            <p class="card__text"><b>Status:</b> {{ object.get_status_display }}</p>
            <p class="card__text"><b>Name of Vendor:</b> {{ object.project.contact_legal_name }}</p>
            <p class="card__text"><b>Invoice Number:</b> {{ object.pk }}</p>
            <p class="card__text"><b>Period of Performance:</b> {{ object.date_from.date }} | {{ object.date_to.date }}</p>
            <p class="card__text"><b>Total:</b> ${{ object.value|intcomma }}</p>

        </div>
        <div class="card card--solid">
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete this payment request for {{ object.project.title }}?</p>
                <input class="button button--primary" type="submit" value="Confirm">
            </form>

        </div>
    </div>
</div>
{% endblock %}
