{% load invoice_tools i18n tz %}

<html>
    <body>
        <h1>{% trans "Invoice Status" %}</h1>

        <ul>
            {% for activity in activities %}
                {% extract_status activity request.user as activity_status %}
                {% get_current_timezone as TIME_ZONE %}
                <li>
                    {% blocktrans with email=activity.user.email time=activity.timestamp|localtime trimmed %}
                        <strong> {{ activity_status }} ({{ email }})</strong>
                        on {{ time }} {{ TIME_ZONE }}
                    {% endblocktrans %}
                </li>
            {% endfor %}
        </ul>

        <p style="border-top: 1px solid #ccc; margin-top: 1.5em; padding-top: 0.5em; color: #656d76;">
            <small>
                {% trans "Generated" %}: {{ generated_at|date:"c" }} &middot; {{ request.scheme }}://{{ request.get_host }}{{ invoice.get_absolute_url}}
            </small>
        </p>
    </body>
</html>
