{% extends "base-apply.html" %}
{% load i18n static approval_tools project_tags apply_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block extra_css %}
    {{ reviewer_form.media.css }}
{% endblock %}

{% block content %}
    {% adminbar %}
        {% slot back_link %}
            <a class="admin-bar__back-link" href="{{ object.get_absolute_url }}" rel="noopener">
                {% trans "Back to Project" %}
            </a>
        {% endslot %}

        {% slot header %}
            {{ object.title }}
        {% endslot %}
        {% slot sub_heading %}
            <div class="mt-1 text-sm heading heading--meta">
                <span>{{ object.submission.page }}</span>
                <span>{{ object.submission.round }}</span>
                <span>{% trans "Lead" %}: {{ object.lead }}</span>
            </div>
        {% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--large wrapper--tabs">
        <div class="wrapper wrapper--sidebar">
            <article class="wrapper--sidebar--inner">
                <h4 class="mb-2">{% trans "Project Information" %}</h4>
                <div class="card card--solid">
                    {% if object.output_answers %}
                        <div class="rich-text rich-text--answers">
                            {{ object.output_answers }}
                        </div>
                    {% endif %}

                    {% has_project_sow_form object as project_sow %}
                    {% if project_sow and object.sow.output_answers %}
                        <div class="rich-text rich-text--answers">
                            {{ object.sow.output_answers }}
                        </div>
                    {% endif %}
                </div>

                <h4 class="mb-2">{% trans "Approvals" %}</h4>
                <div class="card card--solid">
                    {% for approval in project.paf_approvals.all %}
                        {% if approval.approved %}
                            <p><b>{{ approval.paf_reviewer_role.label }}</b> - {{ approval.user }} ({{ approval.approved_at|date:"DATE_FORMAT" }})</p>
                        {% else %}
                            <p><b>{{ approval.paf_reviewer_role.label }}</b> {% trans " - Pending" %}</p>
                        {% endif %}
                    {% endfor %}
                </div>

                <h4 class="mb-2">{% trans "Reviews" %}</h4>
                <div class="card card--solid">
                    <p class="mt-0 mb-0 font-bold">{% trans "Submission lead" %}</p>
                    <p class="mt-2 mb-0">{{ project.submission.lead }}</p>

                    <p class="mt-6 mb-0 font-bold">{% trans "Staff reviewers" %}</p>
                    {% for review in project.submission.reviews.by_staff %}
                        <p class="mt-2 mb-0">
                            {{ review.author }}
                            {% if review.author.role %}
                                {% trans "as" %} {{ review.author.role }}
                            {% endif %}
                            - {{ review.created_at|date:"DATE_FORMAT" }}
                        </p>
                    {% empty %}
                        <p class="mt-2 mb-0">{% trans "No reviews" %}</p>
                    {% endfor %}
                    <p class="mt-6 mb-0 font-bold">{% trans "Advisory council" %}</p>
                    {% for review in project.submission.reviews.by_reviewers %}
                        <p class="mt-2 mb-0">
                            {{ review.author }} - {{ review.created_at|date:"DATE_FORMAT" }}
                        </p>
                    {% empty %}
                        <p class="mt-2 mb-0">{% trans "No reviews" %}</p>
                    {% endfor %}
                </div>

                <h4 class="mb-2">{% trans "Supporting Documents" %}</h4>
                <div class="card card--solid">
                    <p><a href="{{ object.submission.get_absolute_url }}">{% trans "Application" %}</a></p>
                    {% for packet_file in object.packet_files.all %}
                        <p><a href="{% url 'apply:projects:document' pk=object.pk file_pk=packet_file.pk %}">{{ packet_file.title }}</a></p>
                    {% endfor %}
                </div>
            </article>
            {% user_can_update_paf_status object user request=request as can_update_paf_status %}
            {% user_can_take_actions object user as can_take_actions %}
            {% if can_take_actions %}
                <aside class="sidebar sidebar__project">
                    <div class="sidebar__inner sidebar__inner--light-blue sidebar__inner--actions" data-testid="sidebar-primary-actions">
                        <h5>{% trans "Actions to take" %}</h5>
                        {% user_can_edit_paf object user as can_edit_paf %}
                        {% if can_edit_paf %}
                            <a class="button button--bottom-space button--primary button--full-width {% if user_can_approve %} is-disabled {% endif %}" href="{% url 'apply:projects:edit' pk=object.pk %}">{% trans "Edit PAF" %}</a>
                        {% endif %}
                        <div x-data="{ show: false }" class="relative">
                            <button x-on:click="show = ! show" class="button button--bottom-space button--primary button--full-width" type="button">
                                {% trans 'Download Project Form' %}
                            </button>
                            <div x-show="show" x-transition class="dropdown__content">
                                <a href="{% url 'apply:projects:download' pk=object.pk export_type='pdf' %}">
                                    {% trans 'Download as PDF' %}</a>
                                <a href="{% url 'apply:projects:download' pk=object.pk export_type='docx' %}">
                                    {% trans 'Download as DOCX' %}</a>
                            </div>
                        </div>
                        {% user_can_update_paf_approvers object user request as can_update_paf_approvers %}
                        {% if can_update_paf_approvers %}
                            {% if user != project.lead %}
                                <a class="button button--bottom-space button--white button--full-width"
                                   href="{% url 'apply:projects:assign_pafapprovers' object.id %}"
                                   hx-get="{% url 'apply:projects:assign_pafapprovers' object.id %}"
                                   hx-target="#htmx-modal"
                                >
                                    {% trans "Change approver" %}
                                </a>
                            {% endif %}
                        {% endif %}
                        {% user_can_assign_approvers_to_project object user request as can_assign_paf_approvers %}
                        {% if can_assign_paf_approvers %}
                            <a class="button button--bottom-space button--primary button--full-width"
                               href="{% url 'apply:projects:assign_pafapprovers' object.id %}"
                               hx-get="{% url 'apply:projects:assign_pafapprovers' object.id %}"
                               hx-target="#htmx-modal"
                            >
                                {% trans "Assign approver" %}
                            </a>
                        {% endif %}
                        {% if can_update_paf_status %}
                            <a class="button button--primary button--full-width {% if user_can_approve %} is-disabled {% endif %}"
                               href="{% url 'apply:projects:update_pafstatus' object.id %}"
                               hx-get="{% url 'apply:projects:update_pafstatus' object.id %}"
                               hx-target="#htmx-modal"
                            >
                                {% trans "Update Status" %}
                            </a>
                        {% endif %}
                    </div>
                </aside>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}
