{% extends "base-apply.html" %}

{% load render_table from django_tables2 %}
{% load i18n static heroicons querystrings %}

{% block title %}{% trans "Projects" %}{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "All Projects" %} ({{ table.rows|length }}){% endslot %}
        {% slot sub_heading %}{% trans "View, Search and filter all projects" %}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--large">
<!--        Hide search and quick filters -->
<!--            <form-->
<!--                class="flex gap-2 justify-between items-center mt-3 md:gap-4"-->
<!--                hx-trigger="change"-->
<!--                hx-get="./"-->
<!--                hx-target="#main"-->
<!--                hx-push-url="true"-->
<!--                hx-swap="outerHTML"-->
<!--            >-->

<!--                {% for key, value in request.GET.items %}-->
<!--                    {% if key != 'page' and key != 'drafts' and key != 'query' and key != 'archived' %}-->
<!--                        <input type="hidden" name="{{ key }}" value="{{ value }}">-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->

<!--                <label class="inline-flex relative flex-auto items-center">-->
<!--                    <span class="flex absolute inset-y-0 items-center pointer-events-none start-0 ps-3">-->
<!--                        {% heroicon_mini "magnifying-glass" size=20 class="text-fg-muted" aria_hidden=true %}-->
<!--                    </span>-->
<!--                    <input-->
<!--                        type="text"-->
<!--                        id="search-navbar"-->
<!--                        class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-sm border border-gray-300 focus:border-blue-500 focus:ring-blue-500 ps-10"-->
<!--                        placeholder="{% trans 'Search…' %}"-->
<!--                        name="query"-->
<!--                        aria-label="{% trans 'Search submissions' %}"-->
<!--                        value="{{ search_query|default_if_none:'' }}" {% if search_query %}autofocus{% endif %}-->
<!--                    >-->
<!--                </label>-->
<!--            </form>-->
        <section>
            <header
                hx-target="body"
                hx-swap="outerHTML show:top"
                class="flex sticky top-0 flex-wrap justify-between items-center py-2 px-3 mt-3 bg-gray-50 border-t border-gray-200 md:gap-5 md:text-sm md:font-medium z-[5] border-x"
            >
                <span class="hidden items-center py-1 md:inline-flex">
                </span>
                <nav class="flex flex-wrap gap-2 items-center menu-filters">
                    {% dropdown_menu title="Status" heading="Filter by current status" enable_search=True %}
                        <ul
                            class="flex overflow-auto flex-col max-h-80 text-gray-700 divide-y"
                            data-filter-list>
                            {% if selected_statuses %}
                                <li>
                                    <a hx-get="{% remove_from_query "page" "status" %}"
                                       href="{% remove_from_query "page" "status" %}"
                                       class="flex px-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100{% if s.selected %}bg-gray-100{% endif %}">
                                        {% trans "All statuses" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% for s in status_counts %}
                                <li>
                                    <a
                                        {% if s.selected %}
                                            href="{% remove_from_query "page" status=s.slug %}"
                                        {% else %}
                                            href="{% modify_query "page" status=s.slug %}"
                                        {% endif %}
                                        role="menuitemradio" aria-checked="{{ s.selected }}"
                                        class="flex {% if s.selected %}bg-gray-100 ps-2 font-medium{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100"
                                    >
                                        {% if s.selected %}
                                            {% heroicon_mini "check" aria_hidden="true" size=16 class="stroke-2 me-2" %}
                                        {% endif %}
                                        <span>
                                            {{ s.title }} {% if s.count %}({{ s.count }}){% endif %}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="py-2 px-3 m-0 text-fg-muted" data-filter-empty-state hidden>{% trans "No statuses found. Sorry about that." %}</p>
                    {% enddropdown_menu %}
                    {% dropdown_menu title="Fund" heading="Filter by Fund &amp; Labs" enable_search=True %}
                        {% slot "url" %}{% url "apply:submissions:submenu-funds" %}{% remove_from_query "only_query_string" "page" %}{% endslot %}
                    {% enddropdown_menu %}
                    {% dropdown_menu title="Lead" heading="Filter by Lead" enable_search=True position="right" %}
                        {% slot "url" %}{% url "apply:submissions:submenu-leads" %}{% remove_from_query "only_query_string" "page" %}{% endslot %}
                    {% enddropdown_menu %}
                    {% dropdown_menu title="Reporting" heading="Filter by Reporting" enable_search=True position="right" %}
                        <ul
                            class="flex overflow-auto flex-col max-h-80 text-gray-700 divide-y"
                            data-filter-list>
                            {% if selected_reporting %}
                                <li>
                                    <a hx-get="{% remove_from_query "page" "reporting" %}"
                                       href="{% remove_from_query "page" "reporting" %}"
                                       class="flex px-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100{% if r.selected %}bg-gray-100{% endif %}">
                                        {% trans "Reporting" %}
                                    </a>
                                </li>
                            {% endif %}
                            {% for r in reporting %}
                                <li>
                                    <a
                                        {% if r.selected %}
                                            href="{% remove_from_query "page" reporting=r.slug %}"
                                        {% else %}
                                            href="{% modify_query "page" reporting=r.slug %}"
                                        {% endif %}
                                        role="menuitemradio" aria-checked="{{ r.selected }}"
                                        class="flex {% if r.selected %}bg-gray-100 ps-2 font-medium{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100"
                                    >
                                        {% if r.selected %}
                                            {% heroicon_mini "check" aria_hidden="true" size=16 class="stroke-2 me-2" %}
                                        {% endif %}
                                        <span>
                                            {{ r.title }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% enddropdown_menu %}

                    {% dropdown_menu title="Sort" heading="Sort by" position="right" icon="arrows-up-down" %}
                        {% for sort_option in sort_options %}
                            <a
                                {% if sort_option.selected %}
                                    href="{% remove_from_query "page" sort=sort_option.param %}"
                                    hx-get="{% remove_from_query "page" sort=sort_option.param %}"
                                {% else %}
                                    href="{% modify_query "page" sort=sort_option.param %}"
                                    hx-get="{% modify_query "page" sort=sort_option.param %}"
                                {% endif %}
                                hx-push-url="true"
                                aria-selected="{% if sort_option.selected %}true{% else %}false{% endif %}"
                                class="flex {% if sort_option.selected %}ps-3 font-bold{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 border-b items-center hover:bg-gray-100 focus:bg-gray-100">
                                {% if sort_option.selected %}
                                    {% heroicon_mini "check" aria_hidden="true" size=16 class="stroke-2 me-1" %}
                                {% endif %}

                                {{ sort_option.name }}
                            </a>
                        {% endfor %}
                    {% enddropdown_menu %}
                </nav>
            </header>
            {% if table %}
                {% render_table table %}
            {% else %}
                <p>{% trans "No Projects Available." %}</p>
            {% endif %}
        </section>
    </div>

{% endblock content %}

{% block extra_css %}
    {{ filter.form.media.css }}
{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="{% static 'js/submission-filters.js' %}"></script>
{% endblock %}
