{% extends "base-apply.html" %}

{% load i18n contract_tools static wagtailcore_tags approval_tools invoice_tools project_tags %}
{% load heroicons %}

{% block title %}{{ object.title }}{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}
    {% show_closing_banner object as show_banner %}
    {% display_project_status object request.user as project_status %}
    {% if show_banner %}
        <div class="banner banner__close">
            {% blocktrans with status=project_status %} This project is in {{ status }} state. {% endblocktrans %}
        </div>
    {% endif %}
    <div class="admin-bar">
        <div class="admin-bar__inner">
            <h1 class="mb-0 font-medium">{{ object.title }}</h1>
            <div class="heading heading--meta text-sm mt-1 font-medium">

                <span>{{ object.submission.page }}</span>

                {% if request.user.is_apply_staff and object.submission.round %}
                    <span>
                        <a
                            class="link--transparent link--underlined hover:opacity-70 transition-opacity"
                            href="{% url 'apply:rounds:detail' pk=object.submission.round.pk %}"
                        >
                            {{ object.submission.round }}
                        </a>
                    </span>
                {% else %}
                    <span>{{ object.submission.round }}</span>
                {% endif %}

                <span>
                    {% if request.user.is_apply_staff %}
                        <a data-fancybox
                           data-src="#assign-lead"
                           class="link link--edit-lead is-active link--transparent hover:opacity-70 transition-opacity"
                           href="#"
                        >
                            <u>{% trans "Lead" %}: {{ object.lead }}</u>
                            {% heroicon_micro "pencil-square" class="inline ms-1" aria_hidden=true %}
                        </a>
                        <div class="modal" id="assign-lead">
                            <h4 class="modal__project-header-bar">{% trans "Assign Lead" %}</h4>
                            {% trans "Update" as update %}
                            {% include 'funds/includes/delegated_form_base.html' with form=lead_form value=update %}
                        </div>
                    {% else %}
                        <span>{% trans "Lead" %}: {{ object.lead }}</span>
                    {% endif %}
                </button>
            </span>

        </div>

        <div class="status-bar">
            {% for status, text in statuses %}
                {% if forloop.counter0 == current_status_index %}
                    {% include "funds/includes/status_bar_item.html" with is_current=True is_complete=False label=text %}
                {% elif forloop.counter0 < current_status_index %}
                    {% include "funds/includes/status_bar_item.html" with is_current=False is_complete=True label=text %}
                {% else %}
                    {% include "funds/includes/status_bar_item.html" with is_current=False is_complete=False label=text %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="status-bar--mobile">
            <h6 class="status-bar__subheading">
                {{ project_status }}
            </h6>
        </div>

        <div class="tabs js-tabs">
            <div class="tabs__container">
                <a class="tab__item" href="#details" data-tab="tab-1">
                    {% trans "Details" %}
                </a>

                <a class="tab__item" href="#communications" data-tab="tab-2">
                    {% trans "Communications" %}
                </a>

                <a
                    class="tab__item"
                    href="#activity-feed"
                    data-tab="tab-3"
                    hx-get="{% url 'apply:projects:partial-activities' object.id %}"
                    hx-target="#tab-3 .feed"
                    hx-trigger="open-tab-3 once"
                    data-tab="tab-3"
                    x-data
                    @hashchange.window="location.hash === '#activity-feed' ? $dispatch('open-tab-3') : ''"
                    x-init="location.hash === '#activity-feed' ? $dispatch('open-tab-3') : ''"
                >
                    {% trans "Activity Feed" %}
                </a>
            </div>
        </div>
    </div>
    </div>

    <div class="wrapper wrapper--large wrapper--tabs js-tabs-content">
        <div class="tabs__content" id="tab-1">
            {% block notifications %}
            {% endblock %}
            <div class="wrapper wrapper--sidebar">
                <article class="wrapper--sidebar--inner">
                    <h3>{% trans "Project Information" %}</h3>
                    <div class="grid grid--proposal-info">
                        <div>
                            <h5>{% trans "Contractor" %}</h5>
                            <p>{{ object.vendor.name |default:"-" }}</p>
                        </div>

                        <div>
                            <h5>{% trans "E-mail" %}</h5>
                            {% if object.vendor.user.email %}
                                <a href="mailto:{{ object.vendor.user.email }}">{{ object.vendor.user.email }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>

                    {% user_can_view_invoices object user as can_view_invoices %}
                    {% if can_view_invoices %}
                        <div class="wrapper wrapper--outer-space-large">
                            {% include "application_projects/includes/invoices.html" %}
                        </div>
                    {% endif %}

                    {% project_can_have_report object as can_have_reports %}
                    {% if can_have_reports %}
                        <div class="wrapper wrapper--outer-space-large">
                            {% include "application_projects/includes/reports.html" %}
                        </div>
                    {% endif %}

                    {% project_can_have_contracting_section object as can_have_contracting_section %}
                    {% if can_have_contracting_section %}
                        {% include "application_projects/includes/contracting_documents.html" %}
                    {% endif %}

                    {% include "application_projects/includes/supporting_documents.html" %}
                </article>

                {% block sidebar %}

                    <aside class="sidebar">
                        {% user_next_step_on_project object user request=request as next_step %}
                        {% if next_step %}
                            {% if mobile %}
                                <a class="js-actions-toggle button button--white button--full-width button--actions">{{ next_step.heading }}</a>
                            {% endif %}

                            <div class="bg-yellow-100 shadow js-actions-sidebar px-5 py-3 mb-8 sidebar__inner--actions {% if mobile %}sidebar__inner--mobile{% endif %}">
                                <h5 class="border-b pb-2 border-b-orange-200">
                                    {% heroicon_solid "sparkles" class="inline me-1 fill-orange-500 align-text-top" aria_hidden=true %}
                                    {{ next_step.heading }}
                                </h5>
                                <p class="">{{ next_step.text }}</p>
                                {% user_next_step_instructions object user as instructions %}
                                {% if instructions %}
                                    <div class="sidebar__inner--actions--instructions">
                                        {% for instruction in instructions %}
                                            <p>{{forloop.counter}}. {{ instruction }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                        {% endif %}
                        {% if object.paf_approvals.exists and not user.is_applicant %}
                            {% if mobile %}
                                <a class="js-actions-toggle button button--white button--full-width button--actions">{% trans "PAF Approvals" %}</a>
                            {% endif %}


                            <div class="js-actions-sidebar sidebar__inner sidebar__inner--actions {% if mobile %}sidebar__inner--mobile{% endif %}">

                                <h5>{% trans "PAF Approvals" %}</h5>
                                {% for paf_approval in object.paf_approvals.all %}

                                    {% if not paf_approval.approved %}
                                        {% project_rejected_by_user object paf_approval.user as rejected %}
                                        {% if rejected %}
                                            <div class="flex">
                                                <div>
                                                    <svg class="icon icon--request-changes"><use xlink:href="#request-changes"></use></svg>
                                                </div>
                                                <div>
                                                    <p class="sidebar__paf-approvals--approved m-0">{% trans "Request changes or more information by " %}{{ paf_approval.user }}</p>
                                                    {% get_comment_for_requested_approval paf_approval as rejected_comment %}
                                                    {% if rejected_comment %}
                                                        <a href="#communications#{{ rejected_comment.id }}" class="font-bold" target="_blank">View comment</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <p class="sidebar__paf-approvals--pending m-0">{% trans "Pending approval from " %}{% if paf_approval.user %}{{ paf_approval.user }}{% else %} {{ paf_approval.paf_reviewer_role.label }}{% trans " (nobody assigned yet)" %} {% endif %}</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="sidebar__paf-approvals--approved m-0">{% trans "Approved by " %}{{ paf_approval.user }} {% if paf_approval.approved_at %}(<i>{{ paf_approval.approved_at|date }}</i>){% endif %}</p>
                                    {% endif %}
                                    <br>
                                {% endfor %}

                            </div>
                        {% endif %}

                        {% if request.user.is_apply_staff %}
                            {% block admin_assignments %}{% endblock %}
                        {% endif %}

                    </aside>
                {% endblock sidebar %}
            </div>
        </div>

    {# Tab 2 #}
        <div class="tabs__content" id="tab-2">
            <div class="feed">
                <h4 class="m-0">{% trans "Add communication" %}</h4>
                {% include "activity/include/comment_form.html" %}
                {% include "activity/include/comment_list.html" with editable=False %}
            </div>
        </div>

    {# Tab 3 #}
        <div class="tabs__content" id="tab-3">
            <div class="feed">
            {% comment %} Loaded using the htmx via alpine's custom event "open-tab-3"{% endcomment %}
                <p>Loading...</p>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/tabs.js' %}"></script>
    <script src="{% static 'js/edit-comment.js' %}"></script>
    <script src="{% static 'js/document-category.js' %}"></script>
    <script src="{% static 'js/toggle-payment-block.js' %}"></script>
    <script src="{% static 'js/past-reports-pagination.js' %}"></script>
    <script src="{% static 'js/report-calculator.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
{% endblock %}
