{% extends "base-apply.html" %}

{% load i18n static %}

{% block title %}{% trans "Editing" %}: {{ object.title }}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header title="{% trans 'Editing' %}: {{ object.title}}" />
    </c-hero>
{% endblock %}

{% block content %}
    <div class="mx-auto max-w-3xl">
        {% include "forms/includes/form_errors.html" with form=form %}

        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.field %}
                    {% include "forms/includes/field.html" %}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}

            <div class="mt-4">
                <button class="mt-4 btn btn-primary" type="submit">
                    {% trans "Save" %}
                </button>

                <a class="btn btn-secondary btn-outline" href="{{ object.get_absolute_url }}">
                    {% trans "Cancel" %}
                </a>
            </div>
        </form>
    </div>
{% endblock %}
