{% extends "base-apply.html" %}
{% load i18n static apply_tags heroicons %}
{% block title %}{% trans "SOW" %}: {{object.title }}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            back_link="{{ object.get_absolute_url }}"
            back_link_text="{% trans 'View project' %} #{{ object.application_id }}"
            title="{% trans 'Statement of work' %}"
        />
    </c-hero>
{% endblock %}

{% block content %}
    <div class="my-4">
        {% if sow_form_exists %}
            <div class="layout layout-sidebar-end layout-flowrow-until-md layout-sidebar-flowrow-start">
                <article class="layout-main">
                    {% include "forms/includes/form_errors.html" with form=sow_form %}

                    <form
                        class="max-w-3xl form application-form"
                        action=""
                        method="post"
                        enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        {% for hidden_field in sow_form.hidden_fields %}{{ hidden_field }}{% endfor %}

                        {% for field in sow_form %}
                            {% if field.field %}
                                {% if field.field.multi_input_field %}
                                    {% include "forms/includes/multi_input_field.html" %}
                                {% else %}
                                    {% include "forms/includes/field.html" %}
                                {% endif %}
                            {% else %}
                                <div class="max-w-none field-block prose">
                                    <div>
                                        {{ field.block }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="mt-4 card-actions">
                            {% trans "Save draft" as save_draft %}
                            {% for button_name, button_type, button_value in buttons %}
                                <button
                                    class="btn {{ button_type }}"
                                    type="submit"
                                    name="{{ button_name }}"
                                    {% if button_value == save_draft %}formnovalidate{% endif %}
                                >
                                    {{ button_value }}
                                </button>
                            {% endfor %}
                        </div>
                    </form>
                </article>

                {% if submissions_attachments %}
                    <aside class="layout-sidebar">
                        <div class="lg:sticky lg:top-4 card card-border">
                            <div class="card-body">
                                <h2 class="card-title">{% trans "Proposal attachments" %}</h2>
                                <ul>
                                    {% for file in submissions_attachments %}
                                        <li>
                                            <a
                                                href="{{ file.url }}"
                                                target="_blank"
                                                title="{{ file.filename }}"
                                                class="link"
                                            >
                                                {{ file.filename|truncatechars_middle:45 }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </aside>
                {% endif %}
            </div>
        {% else %}
            <div class="mx-auto w-full max-w-2xl">
                <div class="alert alert-vertical alert-error sm:alert-horizontal">
                    {% heroicon_micro "exclamation-triangle" class="opacity-80 size-5 fill-error-content" aria_hidden=true %}

                    {% trans "The statement of work form has not been set up yet." %}
                    <div>
                        <a
                            href="{% url 'wagtailadmin_pages:edit' object.submission.page.id %}"
                            target="_blank"
                            class="btn btn-sm"
                        >{% trans "configure" %}</a>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}

{% block extra_css %}
    {{ sow_form.media.css }}
{% endblock %}

{% block extra_js %}
    {{ sow_form.media.js }}
    <script src="{% static 'js/multi-input-fields-alpine.js' %}"></script>
    {% if not show_all_group_fields %}
        <script src="{% static 'js/form-group-toggle.js' %}"></script>
    {% endif %}
{% endblock %}
