{% extends "application_projects/project_approval_detail.html" %}
{% load i18n static approval_tools project_tags apply_tags %}

{% block hero %}
    <c-hero>
        <c-hero.header
            back_link="{{ object.get_absolute_url }}"
            back_link_text="{% trans 'Back to Project' %}"
            title="{{ object.title }}"
            subtitle="<div class='mt-1 text-sm heading heading--meta'><span>{{ object.submission.page }}</span><span>{{ object.submission.round }}</span><span>{% trans 'Lead' %}: {{ object.lead }}</span></div>"
        />
    </c-hero>
{% endblock %}

{% block content %}
    <div class="my-4 wrapper wrapper--large">
        <div class="wrapper wrapper--sidebar">
            <article class="grow">
                <h2 class="mb-2 text-h3">{% trans "Scope of Work" %}</h2>
                <div class="p-4 mb-4 card card-border rounded-box bg-base-200">
                    {% if object.sow.output_answers %}
                        <div class="rich-text rich-text--answers">
                            {{ object.sow.output_answers }}
                        </div>
                    {% endif %}
                </div>
            </article>
            {% user_can_take_actions object user as can_take_actions %}
            {% if can_take_actions %}
                <aside class="sidebar sidebar__project">
                    <div class="sidebar__inner sidebar__inner--light-blue sidebar__inner--actions">
                        <h5>{% trans "Actions to take" %}</h5>
                        {% user_can_edit_pfs object user as can_edit_pfs %}
                        {% if can_edit_pfs %}
                            <a
                                class="btn btn-primary btn-block {% if user_can_approve %}btn-disabled{% endif %}"
                                href="{% url 'apply:projects:edit_sow' pk=object.submission.pk %}"
                            >
                                {% trans "Edit" %}
                            </a>
                        {% endif %}
                        <div x-data="{ show: false }" class="relative">
                            <button
                                x-on:click="show = ! show"
                                class="btn btn-primary btn-block"
                                type="button"
                            >
                                {% trans 'Download SOW' %}
                            </button>
                            <div x-show="show" x-transition class="dropdown__content">
                                <a href="{% url 'apply:projects:download-sow' pk=object.submission.id export_type='pdf' %}"
                                >
                                    {% trans 'Download as PDF' %}
                                </a>
                                <a href="{% url 'apply:projects:download-sow' pk=object.submission.id export_type='docx' %}">
                                    {% trans 'Download as DOCX' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
            {% endif %}
        </div>
    </div>
{% endblock content %}
