{% extends "base-apply.html" %}
{% load i18n static %}
{% block title %}{% trans "Editing" %}: {{object.title }}{% endblock %}
{% block content %}

    {% adminbar %}
        {% slot back_link %}
            <a class="simplified__projects-link" href="{{ object.get_absolute_url }}">
                {% trans "View project page" %}
            </a>
        {% endslot %}
        {% slot header %}{% trans "Editing" %}: {{ object.title }}{% endslot %}
    {% endadminbar %}

    {% if approval_form_exists %}

        {% include "forms/includes/form_errors.html" with form=paf_form %}
        {% if sow_form_exists %}
            {% include "forms/includes/form_errors.html" with form=sow_form %}
        {% endif %}

        <div class="wrapper wrapper--light-grey-bg wrapper--sidebar pt-8 ps-20 pb-8 mt-4 mb-12 mx-auto ">
            <div class="wrapper--sidebar--inner">
                <form class="form application-form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ paf_form.media }}
                    {% if sow_form_exists %}
                        {{ sow_form.media }}
                    {% endif %}

                    {% for field in paf_form %}
                        {% if field.field %}
                            {% if field.field.multi_input_field %}
                                {% include "forms/includes/multi_input_field.html" %}
                            {% else %}
                                {% include "forms/includes/field.html" %}
                            {% endif %}
                        {% else %}
                            {{ field.block }}
                        {% endif %}
                    {% endfor %}

                {# Hidden fields needed e.g. for django-file-form. See `StreamBaseForm.hidden_fields` #}
                    {% for hidden_field in paf_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}

                    {% if sow_form_exists %}
                        <hr class="mt-6 border-2 border-dotted">
                        {% for field in sow_form %}
                            {% if field.field %}
                                {% if field.field.multi_input_field %}
                                    {% include "forms/includes/multi_input_field.html" %}
                                {% else %}
                                    {% include "forms/includes/field.html" %}
                                {% endif %}
                            {% else %}
                                {{ field.block }}
                            {% endif %}
                        {% endfor %}


                        {% for hidden_field in sow_form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                    {% endif %}

                    {% trans "Save draft" as save_draft %}
                    {% for button_name, button_type, button_value in buttons %}
                        <button class="button button--submit button--top-space button--{{ button_type }}" type="submit" name="{{ button_name }}" {% if button_value == save_draft %}formnovalidate{% endif %}>{{ button_value }}</button>
                    {% endfor %}
                </form>
            </div>
            <aside class="sidebar sidebar__project">
                <div class="js-actions-sidebar sidebar__inner sidebar__inner--actions {% if mobile %}sidebar__inner--mobile{% endif %}">
                    <h5>{% trans "Proposal attachments" %}</h5>
                    {% for file in submissions_attachments %}
                        <p><b><a href="{{ file.url }}" target="_blank">{{ file.filename }}</a></b></p>
                    {% endfor %}
                </div>
            </aside>
        </div>

    {% else %}
        <div class="wrapper wrapper--light-grey-bg wrapper--form wrapper--sidebar">
            <div class="wrapper--sidebar--inner">
                <p>
                    {% trans "Approval form not configured. Please add an approval form in the" %}
                    <a href="{% url 'wagtailadmin_pages:edit' object.submission.page.id %}" target="_blank">{% trans "fund settings" %}</a>.
                </p>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/file-uploads.js' %}"></script>
    <script src="{% static 'js/tinymce-word-count.js' %}"></script>
    <script src="{% static 'js/multi-input-fields.js' %}"></script>
    <script src="{% static 'js/application-form-links-new-window.js' %}"></script>
    {% if not show_all_group_fields %}
        <script src="{% static 'js/form-group-toggle.js' %}"></script>
    {% endif %}
{% endblock %}
