{% extends "base-apply.html" %}
{% load i18n static %}
{% block title %}{% trans "Editing" %}: {{object.title }}{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <a class="simplified__projects-link" href="{{ object.get_absolute_url }}">
            {% trans "View project page" %}
        </a>
        <h2 class="heading heading--no-margin">{% trans "Editing" %}: {{ object.title }}</h2>
    </div>
</div>

{% if approval_form_exists %}

    {% include "forms/includes/form_errors.html" with form=paf_form %}
    {% if sow_form_exists %}
        {% include "forms/includes/form_errors.html" with form=sow_form %}
    {% endif %}

    <div class="wrapper wrapper--light-grey-bg wrapper--form wrapper--sidebar">
        <div class="wrapper--sidebar--inner">
            <form class="form application-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ paf_form.media }}
                {% if sow_form_exists %}
                    {{ sow_form.media }}
                {% endif %}

                {% for field in paf_form %}
                    {% if field.field %}
                        {% if field.field.multi_input_field %}
                            {% include "forms/includes/multi_input_field.html" %}
                        {% else %}
                            {% include "forms/includes/field.html" %}
                        {% endif %}
                    {% else %}
                        {{ field.block }}
                    {% endif %}
                {% endfor %}

                {# Hidden fields needed e.g. for django-file-form. See `StreamBaseForm.hidden_fields` #}
                {% for hidden_field in paf_form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if sow_form_exists %}
                    <hr>
                    {% for field in sow_form %}
                        {% if field.field %}
                            {% if field.field.multi_input_field %}
                                {% include "forms/includes/multi_input_field.html" %}
                            {% else %}
                                {% include "forms/includes/field.html" %}
                            {% endif %}
                        {% else %}
                            {{ field.block }}
                        {% endif %}
                    {% endfor %}


                    {% for hidden_field in sow_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                {% endif %}

                {% trans "Save draft" as save_draft %}
                {% for button_name, button_type, button_value in buttons %}
                    <button class="button button--submit button--top-space button--{{ button_type }}" type="submit" name="{{ button_name }}" {% if button_value == save_draft %}formnovalidate{% endif %}>{{ button_value }}</button>
                {% endfor %}
            </form>
        </div>
    </div>

{% else %}
    <div class="wrapper wrapper--light-grey-bg wrapper--form wrapper--sidebar">
        <div class="wrapper--sidebar--inner">
            <p>
                {% trans "Approval form not configured. Please add an approval form in the" %}
                <a href="{% url 'wagtailadmin_pages:edit' object.submission.page.id %}" target="_blank">{% trans "fund settings" %}</a>.
            </p>
        </div>
    </div>

{% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apply/file-uploads.js' %}"></script>
    <script src="{% static 'js/apply/tinymce-word-count.js' %}"></script>
    <script src="{% static 'js/apply/multi-input-fields.js' %}"></script>
    <script src="{% static 'js/apply/application-form-links-new-window.js' %}"></script>
    {% if not show_all_group_fields %}
    <script src="{% static 'js/apply/form-group-toggle.js' %}"></script>
    {% endif %}
{% endblock %}
