{% extends "base-apply.html" %}
{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block body_class %}light-grey-bg{% endblock %}

{% block content %}
<div class="simplified">
    <div class="simplified__admin-bar">
        <div class="simplified__admin-bar-inner">
            <a class="simplified__projects-link" href="{{ object.get_absolute_url }}">
                {% trans "Project" %}
            </a>
            <h1 class="simplified__heading">{{ object.title }}</h1>
            <h5 class="simplified__subheading">
                <span>{{ object.submission.page }}</span>
                <span>{{ object.submission.round }}</span>
                <span>{% trans "Lead" %}: {{ object.lead }}</span>
            </h5>
            <a
                class="button button--primary simplified__button"
                href="{% url "apply:projects:download" pk=object.pk %}"
            >
                {% trans "Download PDF" %}
            </a>
        </div>
    </div>

    <div class="simplified__wrapper">
        <h3>{% trans "Project Information" %}</h3>
        <div class="card card--solid">
            <div class="grid grid--proposal-info">
                <div>
                    <h5>{% trans "Proposed start date" %}</h5>
                    <p>{{ object.proposed_start|date:"DATE_FORMAT"|default:"-" }}</p>
                </div>

                <div>
                    <h5>{% trans "Project Proposed end date" %}</h5>
                    <p>{{ object.proposed_end|date:"DATE_FORMAT"|default:"-" }}</p>
                </div>

                <div>
                    <h5>{% trans "Legal name" %}</h5>
                    <p>{{ object.contact_legal_name|default:"-" }}</p>
                </div>

                <div>
                    <h5>{% trans "E-mail" %}</h5>
                    <p>{{ object.contact_email|default:"-" }}</p>
                </div>

                <div>
                    <h5>{% trans "Address" %}</h5>
                    <p>{{ object.get_address_display|default:"-"}}</p>
                </div>

                <div>
                    <h5>{% trans "Phone" %}</h5>
                    <p>{{ object.phone|default:"-" }}</p>
                </div>

                <div>
                    <h5>{% trans "Value" %}</h5>
                    <p>{{ CURRENCY_SYMBOL }}{{ object.value|default:"-" }}</p>
                </div>

                {% if object.sent_to_compliance_at %}
                <div>
                    <h5>{% trans "Sent to Compliance" %}</h5>
                    <p>{{ object.sent_to_compliance_at|date:"DATE_FORMAT" }}</p>
                </div>
                {% endif %}

            </div>

            {% if object.output_answers %}
                <div class="simplified__rich-text">
                    {{ object.output_answers }}
                </div>
            {% endif %}
        </div>

        <h3>{% trans "Approvals" %}</h3>
        <div class="card card--solid">
            <h4>{% trans "Approver" %}</h4>
            {% with approval=project.approvals.first %}
                <p>{{ approval.by }} - {{ approval.created_at|date:"DATE_FORMAT" }}</p>
            {% endwith %}
        </div>

        <h3>{% trans "Review" %}</h3>
        <div class="card card--solid">
            <h4>{% trans "Submission lead" %}</h4>
            <p>{{ project.submission.lead }}</p>

            <h4>{% trans "Reviews" %}</h4>
            <h5>{% trans "Staff Reviewers" %}</h5>
            {% for review in project.submission.reviews.by_staff %}
            <div class="card__reviewer-outcome">
                <span class="card__reviewer">
                    {{ review.author }}
                    {% if review.author.role %}
                        as {{ review.author.role }}
                    {% endif %}
                    - {{ review.created_at|date:"DATE_FORMAT" }}
                </span>
            </div>
            {% empty %}
                {% trans "No reviews" %}
            {% endfor %}
            <h5>{% trans "External Reviewers" %}</h5>
            {% for review in project.submission.reviews.by_reviewers %}
                <div class="card__reviewer-outcome">
                    <span class="card__reviewer">
                        {{ review.author }} - {{ review.created_at|date:"DATE_FORMAT" }}
                    </span>
                </div>
            {% empty %}
                {% trans "No reviews" %}
            {% endfor %}
        </div>

        <h3>{% trans "Supporting Documents" %}</h3>
        <div class="card card--solid">
            <p><a href="{% url 'apply:submissions:simplified' pk=object.submission_id %}">{% trans "Submission" %}</a></p>
            {% for packet_file in object.packet_files.all %}
                <p><a href="{% url 'apply:projects:document' pk=object.pk file_pk=packet_file.pk %}">{{ packet_file.title }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
