{% extends "base-apply.html" %}
{% load i18n static heroicons %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block title %}{% trans "Edit Report" %} | {{ object.project.title }}{% endblock %}
{% block content %}

    {% adminbar %}
        {% slot back_link %}
            <a class="admin-bar__back-link" href="{{ object.project.get_absolute_url }}">
                {% trans "View project page" %}
            </a>
        {% endslot %}
        {% slot header %}{{ object.project.title }}{% endslot %}
        {% slot sub_heading %}{% trans "Submit a report" %}{% endslot %}
    {% endadminbar %}

    {% if report_form %}

        {% include "forms/includes/form_errors.html" with form=form %}

        <div class="wrapper wrapper--default-bg wrapper--form">
            <div class="wrapper--sidebar--inner">

                <div class="alert">
                    {% heroicon_outline 'exclamation-circle' stroke_width=2 size=22 class="inline me-1 stroke-dark-blue" aria_hidden=true %}
                    <p class="alert__text">
                        {% trans "You are reporting for the period running from" %} <strong>{{ object.start_date }}</strong> {% trans "to" %} <strong>{{ object.end_date }}</strong>
                    </p>
                </div>

                <form class="form" action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form.media }}

                    {% for field in form %}
                        {% if field.field %}
                            {% if field.field.multi_input_field %}
                                {% include "forms/includes/multi_input_field.html" %}
                            {% else %}
                                {% include "forms/includes/field.html" %}
                            {% endif %}
                        {% else %}
                            {{ field.block }}
                        {% endif %}
                    {% endfor %}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    <input type="submit" id="submit-report-form-submit" name="submit" class="is-hidden" />
                    <input type="submit" id="submit-report-form-save" name="save" class="is-hidden" />
                    <label class="button button--submit button--top-space button--white" for="submit-report-form-save" onclick="return confirm('{% blocktrans %}Saving a draft means this report will be visible to you and staff from your project page.{% endblocktrans %}')">{% trans "Save draft" %}</label>
                    <label class="button  button--submit button--top-space button--primary" for="submit-report-form-submit" onclick="return confirm('Are you sure you want to submit your report?')">{% trans "Submit" %}</label>
                </form>
            </div>
        </div>
    {% else %}
        <div class="wrapper wrapper--default-bg wrapper--form wrapper--sidebar">
            <div class="wrapper--sidebar--inner">
                {% if request.user.is_apply_staff %}
                    <p>
                        {% trans "Project Report Form not configured. Please add a project report form in the" %}
                        <a href="{% url 'wagtailadmin_pages:edit' object.project.submission.page.id %}" target="_blank">{% trans "fund settings" %}</a>.
                    </p>
                {% else %}
                    <p>
                        {% trans "Project Report Form not configured yet. Please contact us at " %}
                        <a href="mailto:{{ ORG_EMAIL }}">{{ ORG_EMAIL }}.</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/multi-input-fields.js' %}"></script>
{% endblock %}
