{% extends "base-apply.html" %}

{% load render_table from django_tables2 %}
{% load i18n static %}

{% block title %}{% trans "Reports" %}{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner wrapper--search">
        {% block page_header %}
            <h1 class="gamma heading heading--no-margin heading--bold">{% trans "Submitted Reports" %}</h1>
        {% endblock %}
    </div>
</div>

<div class="wrapper wrapper--large wrapper--inner-space-medium">
    {% if table %}
    {% include "funds/includes/table_filter_and_search.html" with filter_form=filter_form use_search=False filter_action=filter_action filter_classes="filters--dates" %}
    {% render_table table %}
    {% else %}
    <p>{% trans "No Reports Available." %}</p>
    {% endif %}
</div>

{% endblock content %}

{% block extra_css %}
    {{ filter.form.media.css }}
{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="{% static 'js/apply/submission-filters.js' %}"></script>
{% endblock %}
