{% load review_tags workflow_tags %}
{% if request.user|has_review_perm:submission %}
    {% if request.user|has_draft:submission or request.user|can_review:submission %}
        <a href="{% url 'apply:reviews:form' submission_pk=submission.id %}" class="button button--primary button--half-width">
            {% if request.user|has_draft:submission %}
                Update draft
            {% elif request.user|can_review:submission %}
                Create review
            {% endif %}
        </a>
    {% endif %}
{% endif %}
