{% load heroicons %}
<div
    class="form__item{% if field.help_text %} flex-wrap{% endif %}{% if field.errors %} form__error{% endif %}{% if field.field.group_number > 1 %} field-group field-group-{{ field.field.group_number }}{% endif %}"
    {% if field.field.group_number > 1 %} data-hidden="{% if not show_all_group_fields %}true{% else %}false{% endif %}"{% endif %}
    {% if field.field.multi_input_id %}
        x-data="multiInputField('{{ field.field.multi_input_id }}', '{{ field.name }}', {{ field.field.max_index|default:'null' }})"
        x-init="initField()"
        x-show="isVisible()"
    {% endif %}
>
    {{ field }}

    {% if field.errors %}<p class="text-error">{{ field.errors.as_text|linebreaksbr }}</p>{% endif %}
</div>

{% if field.field.multi_input_add_button %}
    <button
        class="btn btn-primary btn-sm my-2{% if field.field.group_number > 1 %} field-group field-group-{{ field.field.group_number }}{% endif %}"
        type="button"
        x-data="{ fieldId: '{{ field.field.multi_input_id }}' }"
        @click="$store.multiInput.showNext(fieldId)"
        x-show="$store.multiInput.canAddMore(fieldId)"
    >
        {% heroicon_mini "plus" size=19 class="inline align-text-bottom" aria_hidden="true" %}
        {{ field.field.add_button_text }}
    </button>
{% endif %}
