{% load heroicons static %}
{% comment %}
How this works:
- A htmx response responds with either "showMessage" or "messages" "HX-Trigger" event.
- htmx traps the event and creates another event for the toast layer.
- The toast layer listens to the event and adds the toast to the list.
- Toasts can be paused on hover and dismissed manually
- Supports different message types with corresponding styles and icons
{% endcomment %}

<!-- Toast layer -->
<script>
    function toastHandler() {
        "use strict";
        const AUTO_HIDE_TIMEOUT = 3000;
        return {
            toasts: [],
            visible: [],
            id: 0,
            timeouts: {}, // Object to keep track of timeouts

            add(toast) {
                toast.id = Date.now().toString() + this.id++;
                this.toasts.push(toast);
                this.fire(toast.id);
            },
            fire(id) {
                this.visible.push(this.toasts.find((toast) => toast.id === id));
                const timeShown = AUTO_HIDE_TIMEOUT * this.visible.length;
                const timeout = setTimeout(() => {
                    this.remove(id);
                }, timeShown);
                this.timeouts[id] = { timeout, startTime: Date.now(), remainingTime: timeShown };
            },
            remove(id) {
                const toastIndex = this.visible.findIndex((toast) => toast.id === id);
                if (toastIndex !== -1) {
                    this.visible.splice(toastIndex, 1);
                }
                clearTimeout(this.timeouts[id]?.timeout);
                delete this.timeouts[id];
            },
            pause(id) {
                if (this.timeouts[id]) {
                    const elapsed = Date.now() - this.timeouts[id].startTime;
                    clearTimeout(this.timeouts[id].timeout);
                    this.timeouts[id].remainingTime -= elapsed;
                }
            },
            resume(id) {
                if (this.timeouts[id] && this.timeouts[id].remainingTime > 0) {
                    const timeout = setTimeout(() => {
                        this.remove(id);
                    }, this.timeouts[id].remainingTime);
                    this.timeouts[id].timeout = timeout;
                    this.timeouts[id].startTime = Date.now();
                }
            },
        };
    }

    const createNoticeEvent = (detail) => new CustomEvent("notice", {
        detail,
        bubbles: true,
        cancelable: true,
        composed: true
    });

    htmx.on("showMessage", (e) => {
        dispatchEvent(createNoticeEvent({ type: "success", text: e.detail.value }));
    });

    htmx.on("messages", (e) => {
        e.detail.value.forEach(message => {
            dispatchEvent(createNoticeEvent({ type: message.tags, text: message.message }));
        });
    });
</script>

<div
    x-data="toastHandler()"
    class="flex fixed inset-0 z-50 flex-col justify-start items-end px-8 mx-auto w-screen h-screen pointer-events-none max-w-[2200px]"
    @notice.window="add($event.detail)"
>
    <template x-for="toast of toasts" :key="toast.id">
        <div
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            x-show="visible.includes(toast)"
            x-transition:enter="transition ease-in duration-200"
            x-transition:enter-start="transform opacity-0 translate-y-2"
            x-transition:enter-end="transform opacity-100 translate-y-0"
            x-transition:leave="transition ease-out duration-500"
            x-transition:leave-start="transform translate-x-0 opacity-100"
            x-transition:leave-end="transform translate-x-full opacity-0"
            @click="remove(toast.id)"
            @mouseenter="pause(toast.id)"
            @mouseleave="resume(toast.id)"
            class="relative mt-4 w-full max-w-full shadow-xl cursor-pointer sm:w-auto sm:max-w-sm alert break-anywhere hyphens-auto group sm:min-w-64"
            :class="{
                    '': toast.type === 'debug',
                    'alert-success': toast.type === 'success',
                    'alert-info': toast.type === 'info',
                    'alert-warning': toast.type === 'warning',
                    'alert-error': toast.type === 'error',
                    }"
            style="pointer-events:all"
        >
            <span x-show="toast.type == 'info'" aria-hidden="true">
                {% heroicon_outline "information-circle" size=24 class="opacity-80 size-5" %}
            </span>
            <span x-show="toast.type == 'success'" aria-hidden="true">
                {% heroicon_outline "check-circle" size=24 class="opacity-80 size-5" %}
            </span>
            <span x-show="toast.type == 'warning'" aria-hidden="true">
                {% heroicon_outline "exclamation-circle" size=24 class="opacity-80 size-5" %}
            </span>
            <span x-show="toast.type == 'error'" aria-hidden="true">
                {% heroicon_outline "exclamation-triangle" size=24 class="opacity-80 size-5" %}
            </span>
            <span x-show="toast.type == 'debug'" aria-hidden="true">
                {% heroicon_outline "wrench" size=24 class="opacity-80 size-5" %}
            </span>
            <span x-text="toast.text"></span>

            <button class="absolute -top-3 -left-3 invisible p-1 transition-all cursor-pointer group-hover:visible">
                <span class="inline-block p-1 rounded-full shadow-sm text-primary-content bg-primary" aria-label="Close">
                    {% heroicon_mini "x-mark" size=18 %}
                </span>
            </button>
        </div>
    </template>
</div>
