{% load i18n %}

<form
    class="form {{ extra_classes }}"
    action="{{ action|default:request.path }}"
    method="post"
    hx-post="{{ action|default:request.path }}"
    hx-swap="innerHTML"
    id="{{ form_id }}"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="fields--visible">
        {% for field in form.visible_fields %}
            {% if field.field %}
                {% include "forms/includes/field.html" %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="mt-5 sm:flex sm:flex-row-reverse sm:gap-4 sm:mt-4">
        {% trans "Delete" as delete %}
        <button
            class="btn btn-{% if invert %}secondary{% elif value == delete %}danger{% else %}primary{% endif %} w-full sm:w-auto"
            type="submit">
            {{ value }}
        </button>

        <button
            type="button"
            class="mt-3 w-full sm:mt-0 sm:w-auto btn btn-secondary btn-outline btn-soft"
            @click="show = false"
        >{% trans "Cancel" %}</button>
    </div>
</form>
