{% load i18n %}

<form
    class="form {{ extra_classes }}"
    action="{{ action|default:request.path }}"
    method="post"
    hx-post="{{ action|default:request.path }}"
    hx-swap="innerHTML"
    id="{{ form_id }}"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <section>
        {% for field in form.visible_fields %}
            {% if field.field %}
                {% include "forms/includes/field.html" %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </section>

    <div class="mt-4 sm:flex-row-reverse card-actions">
        {% trans "Delete" as delete %}
        <button
            class="btn {% if invert %}btn-secondary{% elif value == delete %}btn-danger{% else %}btn-primary{% endif %} w-full sm:w-auto"
            type="submit">
            {{ value }}
        </button>

        <button
            type="button"
            class="w-full sm:w-auto btn btn-secondary btn-outline btn-soft"
            @click="show = false"
        >{% trans "Cancel" %}</button>
    </div>
</form>
