{% load i18n static wagtailimages_tags %}

{% if settings.core.SystemSettings.site_logo_default %}
  {% image settings.core.SystemSettings.site_logo_default width-215 as logo_default %}
  <img class="header__logo header__logo--desktop" width="215" src="{{ logo_default.url }}" alt="{{ settings.core.SystemSettings.site_logo_default.alt }}" />
  {% if settings.core.SystemSettings.site_logo_mobile %}
    {% image settings.core.SystemSettings.site_logo_mobile width-60 as logo_mobile %}
    <img class="header__logo header__logo--mobile" width="60" src="{{ logo_mobile.url }}" alt="{{ settings.core.SystemSettings.site_logo_mobile.alt }}" />
  {% else %}
    <img class="header__logo header__logo--mobile" width="60" src="{{ logo_default.url }}" alt="{{ settings.core.SystemSettings.site_logo_default.alt }}" />
  {% endif %}
{% else %}
  <img class="header__logo header__logo--desktop" width="215" height="40" src="{% static 'images/logo.png' %}" alt="{% trans 'Hypha logo' %}" />
  <img class="header__logo header__logo--mobile" width="60" height="60" src="{% static 'images/logo-small.png' %}" alt="{% trans 'Hypha logo' %}" />
{% endif %}
