{% load i18n heroicons %}

<form action="{% url 'hijack:release' %}"
      method="POST"
      class="py-2 px-4 text-center border-t-4 bg-warning text-warning-content border-warning border-stripe"
>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <span>

        {% heroicon_micro "exclamation-triangle" size=18 class="inline align-text-bottom" aria_hidden=true %}

        {% blocktrans trimmed with user=request.user %}
            You are currently working on behalf of <strong class="font-bold">{{ user }}</strong>
        {% endblocktrans %}
        &LT;{{ request.user.email }}&GT;
        {% for role in request.user.get_role_names %}
            <span class="inline-block px-2 text-xs font-semibold text-gray-800 uppercase bg-gray-200 rounded-full">
                {{ role }}
            </span>
        {% endfor %}


    </span>

    <button class="font-semibold underline uppercase button button--link ms-2" type="submit">
        {% translate 'Release' %}
    </button>
</form>
