{% if request.user.is_authenticated %}
    <nav role="navigation" aria-label="Primary" class="w-full">
        <ul class="nav nav--primary" role="menubar">
            {% if request.user.can_access_dashboard %}
                {% include "includes/primarynav-apply-item.html" with name="My dashboard" url="dashboard:dashboard" %}
            {% endif %}
            {% if request.user.is_apply_staff %}
                {% include "includes/primarynav-apply-item.html" with name="Submissions" url="funds:submissions:overview" %}
                {% include "includes/primarynav-apply-item.html" with name="Projects" url="apply:projects:overview" %}
            {% elif request.user.is_finance or request.user.is_contracting %}
                {% include "includes/primarynav-apply-item.html" with name="Projects" url="apply:projects:overview" %}
            {% endif %}
        </ul>
    </nav>
{% endif %}
