{% load i18n wagtailcore_tags wagtailimages_tags %}
{% trans "You might also like…" as default_title %}
{% if related_documents or related_pages %}
    <div class="wrapper wrapper--breakout wrapper--dark-bg wrapper--inner-space-xl">
        <div class="wrapper wrapper--medium">
            <h2>{{ title|default:default_title }}</h2>
            <section class="grid grid--max-three">
                    {% for related_document in related_documents %}
                        {% with document=related_document.document %}
                            <div class="card">
                                <a href="{{ document.url }}">
                                    <h2>
                                        {% if related_document.title %}
                                            {{ related_document.title }}
                                            ({{ document.file_extension }})
                                        {% else %}
                                            {{ document.filename }}
                                        {% endif %}
                                    </h2>
                                </a>
                            </div>
                        {% endwith %}
                    {% endfor %}

                    {% for related in related_pages %}
                        {# a related object links to the original page (related.source_page) and a related one (related.page) #}
                        {% if related.page.live %}
                            {% with specific_related_page=related.page.specific %}
                                {% include "includes/relatedcontent_card.html" with page=specific_related_page %}
                            {% endwith %}
                        {% else %}
                            {% include "includes/relatedcontent_card.html" with page=related %}
                        {% endif %}
                    {% endfor %}
            </section>
        </div>
    </div>
{% endif %}
