{% load i18n heroicons %}

{% if request.user.is_authenticated %}
    <div x-data="{ show: false }" x-on:keydown.escape="show = false" class="relative flex">
        <button
            x-on:click="show = ! show"
            class="font-bold flex items-center transition-all rounded-sm px-1.5 md:border"
            type="button"
            :class="show ? 'bg-gray-900 text-white' : 'hover:bg-light-blue/30'"
        >
            {% heroicon_micro "user-circle" class="inline align-text-bottom w-8 h-8 md:me-1" aria_hidden=true %}
            <span class="hidden md:inline-block truncate max-w-36">{{ request.user }}hello hello hello</span>
        </button>

        <!-- panel -->
        <div
            x-cloak
            x-show="show"
            x-trap.noautofocus="show"
            x-transition
            x-transition.origin.top
            @click.outside="show = false"
            class="min-w-36 absolute block bg-white shadow-xl z-20 border-y rounded-sm end-0 top-10"
        >
            <a
                href="{% url 'users:account' %}"
                title="Goto your account"
                class="pe-4 py-3 block text-black ps-3
                       focus-visible:outline-dashed outline-1 transition-colors border-r
                       hover:bg-slate-100 hover:text-dark-blue hover:font-semibold"
            >
                {% trans 'My account' %}
            </a>
            {% if request.user.is_apply_staff %}
                <a
                    href="{% url 'activity:notifications' %}"
                    title="Check latest notifications"
                    class="pr-4 py-3 block text-black pl-3
                           focus-visible:outline-dashed outline-1 transition-colors border-r
                           hover:bg-slate-100 hover:text-dark-blue hover:font-semibold"
                >
                    {% trans "Activity feed" %}
                </a>
                <a
                    href="{% url "apply:submissions:list-alt" %}?query=flagged:@me"
                    title="Goto your flagged submissions"
                    class="pr-4 py-3 block text-black pl-3
                           focus-visible:outline-dashed outline-1 transition-colors border-r
                           hover:bg-slate-100 hover:text-dark-blue hover:font-semibold"
                >
                    {% trans "My flagged" %}
                </a>
                <a
                    href="{% url 'wagtailadmin_home' %}"
                    title="Goto wagtail admin"
                    class="pr-4 py-3 block text-black pl-3
                           focus-visible:outline-dashed outline-1 transition-colors border-r
                           hover:bg-slate-100 hover:text-dark-blue hover:font-semibold"
                >
                    {% trans "Admin" %}
                    {% heroicon_micro "wrench-screwdriver" class="ms-2 inline align-text-bottom" %}
                </a>
            {% endif %}
            <a
                href="{% url 'users:logout' %}"
                title="Log out"
                class="pr-4 py-3 block text-black pl-3 focus-visible:outline-dashed
                       outline-1 transition-colors border-r
                       hover:bg-slate-100 hover:text-dark-blue hover:font-semibold"
            >
                {% trans "Log out" %}
            </a>
        </div>
    </div>
{% else %}
    <a
        class="button button--transparent button--narrow"
        href="{{ APPLY_SITE.root_url }}{% url 'users:passwordless_login_signup' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}"
    >
        {% heroicon_micro "user" class="inline align-text-bottom w-4 h-4 me-1" aria_hidden=true %}
        {% trans "Log in" %} {% if ENABLE_PUBLIC_SIGNUP %} {% trans " or Sign up" %} {% endif %}
    </a>
{% endif %}
