{% load i18n heroicons %}

{% if request.user.is_authenticated %}
    <div x-data="{ show: false }" x-on:keydown.escape="show = false" class="flex relative">
        <button
            x-on:click="show = ! show"
            class="flex items-center px-1.5 font-bold transition-all rounded-xs group"
            type="button"
            :class="show ? 'bg-gray-900 text-white' : 'hover:bg-slate-200'"
        >
            {% heroicon_micro "user-circle" class="inline w-8 h-8 align-text-bottom transition-transform group-hover:scale-110 md:me-1" aria_hidden=true %}
            <span class="hidden md:inline-block truncate max-w-36">{{ request.user }}</span>
        </button>

        <!-- panel -->
        <div
            x-cloak
            x-show="show"
            x-trap.noautofocus="show"
            x-transition
            x-transition.origin.top
            @click.outside="show = false"
            class="block absolute top-10 bg-white shadow-xl rounded-xs min-w-48 z-100000 border-y end-0"
        >
            <a
                href="{% url 'users:account' %}"
                title="Goto your account"
                class="flex gap-2 items-center py-2 px-3 text-black transition-colors hover:font-semibold border-x group hover:bg-slate-100 hover:text-dark-blue focus-visible:outline-dashed"
            >
                {% heroicon_outline "user" size=18 class="inline transition-transform group-hover:scale-110 group-hover:stroke-2 stroke-gray-500 group-hover:stroke-dark-blue" aria_hidden=true %}
                {% trans 'My account' %}
            </a>
            {% if request.user.is_apply_staff %}
                <a
                    href="{% url 'activity:notifications' %}"
                    title="Check latest notifications"
                    class="flex gap-2 items-center py-2 px-3 text-black transition-colors hover:font-semibold border-x group hover:bg-slate-100 hover:text-dark-blue focus-visible:outline-dashed"
                >
                    {% heroicon_outline "bolt" size=18 class="inline transition-transform group-hover:scale-110 group-hover:stroke-2 stroke-gray-500 group-hover:stroke-dark-blue" aria_hidden=true %}
                    {% trans "Activity feed" %}
                </a>
                <a
                    href="{% url "apply:submissions:list" %}?query=flagged:@me"
                    title="Goto your flagged submissions"
                    class="flex gap-2 items-center py-2 px-3 text-black transition-colors hover:font-semibold border-x group hover:bg-slate-100 hover:text-dark-blue focus-visible:outline-dashed"
                >
                    {% heroicon_outline "flag" size=18 class="inline transition-transform group-hover:scale-110 group-hover:stroke-2 stroke-gray-500 group-hover:stroke-dark-blue" aria_hidden=true %}
                    {% trans "My flagged" %}
                </a>
                {% if perms.wagtailadmin.access_admin %}
                    <a
                        href="{% url 'wagtailadmin_home' %}"
                        title="Goto wagtail admin"
                        class="flex gap-2 items-center py-2 px-3 text-black transition-colors hover:font-semibold border-x group hover:bg-slate-100 hover:text-dark-blue focus-visible:outline-dashed"
                    >
                        {% heroicon_outline "cog-6-tooth" size=18 class="inline transition-transform group-hover:scale-110 group-hover:stroke-2 stroke-gray-500 group-hover:stroke-dark-blue" aria_hidden=true %}
                        {% trans "Administration" %}
                    </a>
                {% endif %}
            {% endif %}
            {% if HIJACK_ENABLE and not user.is_hijacked and user.is_superuser %}
                <a
                    class="flex gap-2 items-center py-2 px-3 text-black transition-colors hover:font-semibold border-x group hover:bg-slate-100 hover:text-dark-blue focus-visible:outline-dashed"
                    hx-get="{% url 'users:hijack' %}?next={{ request.path }}"
                    hx-target="#htmx-modal"
                    x-on:click="show = false"
                >
                    {% heroicon_outline "arrows-right-left" size=18 class="inline transition-transform group-hover:scale-110 group-hover:stroke-2 stroke-gray-500 group-hover:stroke-dark-blue" aria_hidden=true %}
                    {% trans "Switch User" %}
                </a>
            {% endif %}
            {% if user.is_hijacked %}
                <form action="{% url 'hijack:release' %}"
                      method="POST"
                >
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">

                    <button type="submit"
                            class="flex gap-2 items-center py-2 px-3 w-full text-black transition-colors hover:font-semibold border-x group hover:bg-slate-100 hover:text-dark-blue focus-visible:outline-dashed"
                    >
                        {% heroicon_outline "user-minus" size=18 class="inline transition-transform group-hover:scale-110 group-hover:stroke-2 stroke-gray-500 group-hover:stroke-dark-blue" aria_hidden=true %}
                        {% translate 'Release User' %}
                    </button>
                </form>
            {% endif %}
            <hr />
            <a
                href="{% url 'users:logout' %}"
                title="Log out"
                class="block py-2 px-3 font-semibold text-center text-red-600 transition-all hover:font-semibold hover:text-red-900 hover:bg-red-100 border-x focus-visible:outline-dashed"
            >
                {% trans "Log out" %}
            </a>
        </div>
    </div>
{% else %}
    <a
        class="button button--transparent button--narrow"
        href="{{ APPLY_SITE.root_url }}{% url 'users:passwordless_login_signup' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}"
    >
        {% heroicon_micro "user" class="inline w-4 h-4 align-text-bottom me-1" aria_hidden=true %}
        {% trans "Log in" %} {% if ENABLE_PUBLIC_SIGNUP %} {% trans " or Sign up" %} {% endif %}
    </a>
{% endif %}
