// stylelint-disable scss/dollar-variable-pattern

// Most variables are set from css variables defined in
// tailwind/base/variables.css so they are easy to override.
// Only variables used in media queries and calculations are defined here.

// Default
$color--white: var(--color-white);
$color--black: var(--color-black);
$color--light-grey: var(--color-fg-muted);
$color--light-mid-grey: var(--color-light-mid-grey);
$color--mid-grey: var(--color-mid-grey);

// Brand
$color--light-blue: var(--color-light-blue);
$color--light-blue-90: var(--color-light-blue-90);
$color--mustard: var(--color-mustard);
$color--light-pink: var(--color-light-pink);

// Transparent
$color--black-60: var(--color-black-60);
$color--black-20: rgb(0 0 0 / 20%);

// Assignment
$color--primary: var(--color-primary);

// Font sizes
$base-font-size: 16px;

// Wrappers
$wrapper--medium: 1020px;

// Breakpoints
$breakpoints: (
  "sm" "(min-width: 640px)",
  "md" "(min-width: 768px)",
  "lg" "(min-width: 1024px)",
  "xl" "(min-width: 1280px)",
  "2xl" "(min-width: 1536px)"
);
