// stylelint-disable scss/dollar-variable-pattern

// Most variables are set from css variables defined in
// tailwind/base/variables.css so they are easy to override.
// Only variables used in media queries and calculations are defined here.

// Default
$color--white: var(--color-white);
$color--black: var(--color-black);
$color--light-grey: var(--color-fg-muted);
$color--light-mid-grey: var(--color-light-mid-grey);
$color--mid-grey: var(--color-mid-grey);
$color--mid-dark-grey: var(--color-mid-dark-grey);
$color--dark-grey: var(--color-dark-grey);

// Brand
$color--light-blue: var(--color-light-blue);
$color--light-blue-90: var(--color-light-blue-90);
$color--lighter-blue: var(--color-lighter-blue);
$color--dark-blue: var(--color-dark-blue);
$color--mustard: var(--color-mustard);
$color--light-pink: var(--color-light-pink);
$color--tomato: var(--color-tomato);
$color--sky-blue: var(--color-sky-blue);
$color--marine: var(--color-marine);
$color--mist: var(--color-mist);
$color--green: var(--color-green);

// Transparent
$color--black-60: var(--color-black-60);
$color--black-20: rgb(0 0 0 / 20%);

// Assignment
$color--default: var(--color-base-content);
$color--primary: var(--color-primary);

// Font sizes
$base-font-size: 16px;

// Font weights
$weight--normal: var(--font-weight-normal);
$weight--bold: var(--font-weight-bold);
$weight--semibold: var(--font-weight-semibold);

// Wrappers
$site-width: var(--site-width);
$wrapper--medium: var(--wrapper-medium);
$wrapper--small: var(--wrapper-small);

// Text line length
$max-text-line-length: var(--max-text-line-length);

// Transition
$transition: var(--transition);

// Spacing
$spacing: var(--spacing);

// Dropdown height
$dropdown-height: var(--dropdown-height);

// Breakpoints
$breakpoints: (
  "sm" "(min-width: 640px)",
  "md" "(min-width: 768px)",
  "lg" "(min-width: 1024px)",
  "xl" "(min-width: 1280px)",
  "2xl" "(min-width: 1536px)"
);
