// stylelint-disable scss/dollar-variable-pattern

// This module is deprecated and will be removed in a future release.
$color--mid-grey: var(--color-base-300);

// Font sizes
$base-font-size: 16px;

// Breakpoints
$breakpoints: (
  "sm" "(min-width: 640px)",
  "md" "(min-width: 768px)",
  "lg" "(min-width: 1024px)",
  "xl" "(min-width: 1280px)",
  "2xl" "(min-width: 1536px)"
);
