:root {
  /* Default */
  --color-white: #fff;
  --color-black: #1f2328;
  --color-light-mid-grey: #e8e8e8;
  --color-mid-grey: #cfcfcf;

  /* Brand */
  --color-light-blue: #1d79a8;
  --color-light-blue-90: rgb(29 121 168 / 10%);
  --color-dark-blue: #0c72a0;
  --color-mustard: #e6ab32;
  --color-purple: #8c0bbf;
  --color-light-pink: #ffe1df;

  /* Transparent */
  --color-black-60: rgb(0 0 0 / 60%);
}

@theme {
  --color-light-blue: #0d7db0;
  --color-dark-blue: #0c72a0;
  --color-mid-grey: #cfcfcf;
  --color-fg-default: var(--color-base-content);
  --color-fg-muted: color-mix(in oklab, currentColor 60%, transparent);
}
