{% load heroicons %}

<div class="my-4 group text-primary-content bg-primary/70 rounded-field">
    <{{ self.size }} tabindex="-1" class="p-2 section-head" id="{{ value.heading_text|slugify }}"">

    {{ value.heading_text }}
    <a
        class="hidden float-right transition-opacity group-hover:inline-block hover:opacity-70"
        href="#{{ value.heading_text|slugify }}"
        aria-hidden='true'
        tabindex="-1"
    >
        {% heroicon_solid "link" class="inline me-1" stroke_width=2 aria_hidden=true %}
    </a>
</{{ self.size }}>
</div>
