{% load heroicons %}
<div class="mb-4 section-head group" id="{{ value.heading_text|slugify }}">
    <{{ self.size }} tabindex="-1" class="p-2 mb-2 text-white bg-light-blue">

    {{ value.heading_text }}
    <a
        class="hidden float-right p-1 text-white transition-opacity group-hover:inline-block hover:opacity-70"
        href="#{{ value.heading_text|slugify }}"
        aria-hidden='true'
        tabindex="-1"
    >
        {% heroicon_solid "link" class="inline me-1" stroke_width=2 aria_hidden=true %}
    </a>
</{{ self.size }}>
</div>
