{% extends "stream_forms/render_field.html" %}
{% load nh3_tags %}
{% block data_display %}
    {% if data %}
        {% if value.format == 'url' %}
            <a class="link" href="{{ data|nh3 }}" target="_blank" rel="noopener noreferrer">{{ data|nh3 }}</a>
        {% elif value.format == 'email' %}
            <a class="u-email" href="mailto:{{ data|nh3 }}">{{ data|nh3 }}</a>
        {% else %}
            <p>{{ data|nh3 }}</p>
        {% endif %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
