{% extends "stream_forms/render_field.html" %}
{% block data_display %}
    <div class="flex flex-col gap-2">
        {% for file in data %}
            {% if file.name %}
                <c-card-attachment
                    href="{{ file.url }}"
                    :filename="file.filename"
                    :exists="file.exists"
                    :modification_time="file.modification_time"
                />
            {% else %}
                {{ file }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
