{% load i18n %}
{% load querystrings %}
<ul class="overflow-auto max-h-80 text-gray-700 divide-y" aria-labelledby="dropdown-change-status" data-filter-list>
    {% for user in leads %}
        <li data-filter-item-text>
            <a
                hx-post="{% url "apply:submissions:submenu-bulk-update-lead" %}"
                hx-vals='{"lead": "{{ user.id }}"}'
                hx-include="[name=selectedSubmissionIds]"
                hx-confirm='{% blocktrans with user_title=user.title %}Are you sure you want to assign "{{ user_title }}" as lead of the selected submissions?{% endblocktrans %}'
                title="{% blocktrans with user_title=user.title %}Assign {{ user_title }} as lead.{% endblocktrans %}"
                class="flex items-center py-2 text-base-content/80 ps-8 pe-3 hover:bg-base-200 focus:bg-base-200">
                <strong class="font-bold">{{ user.title }}</strong>
                {% if user.slack %} <span class="font-light text-fg-muted ms-1">{{ user.slack }}</span>{% endif %}
            </a>
        </li>
    {% empty %}
        <li class="py-2 max-w-xs text-base-content/80 ps-4 pe-3">
            {% trans "No lead found. Sorry about that." %}
        </li>
    {% endfor %}
</ul>
<p class="py-2 px-3 m-0 text-fg-muted" data-filter-empty-state hidden>{% trans "No lead found. Sorry about that." %}</p>
