{% load i18n %}
{% load querystrings %}
<ul class="text-gray-700 max-h-80 overflow-scroll" aria-labelledby="dropdown-categories"
    data-filter-list>
    {% if selected_category_options %}
        <li data-filter-item-text>
            <a href="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" "category_options" %}"
               hx-get="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" "category_options" %}"
               hx-push-url="true"
               class="flex px-3 py-2 text-gray-600 border-b items-center hover:bg-gray-100 focus:bg-gray-100{% if s.selected %}bg-gray-100{% endif %}">
                {% trans "All Categories" %}
            </a>
        </li>
    {% endif %}
    {% for item in category_options %}
        <li data-filter-item-text>
            <a
                {% if item.selected %}
                    href="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" category_options=item.id %}"
                    hx-get="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" category_options=item.id %}"
                    title="Remove {{ item.title }} from current filters"
                {% else %}
                    href="{% url "apply:submissions:list-alt" %}{% add_to_query "only_query_string" "page" category_options=item.id %}"
                    hx-get="{% url "apply:submissions:list-alt" %}{% add_to_query "only_query_string" "page" category_options=item.id %}"
                    title="Add {{ item.title }} to current filters"
                {% endif %}
                hx-push-url="true"
                class="flex {% if item.selected %}ps-2 font-medium bg-gray-100{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 border-b items-center hover:bg-gray-100 focus:bg-gray-100">
                {% if item.selected %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 me-2">
                        <path fill-rule="evenodd"
                              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                              clip-rule="evenodd" />
                    </svg>
                {% endif %}
                <strong class="font-bold">{{ item.title }}</strong>
            </a>
        </li>
    {% empty %}
        <li class="ps-4 pe-3 py-2 text-gray-600 max-w-xs">
            {% trans "No categories found." %}
        </li>
    {% endfor %}
</ul>
<p class="m-0 px-3 py-2 text-fg-muted" data-filter-empty-state hidden>{% trans "No categories found. Sorry about that." %}</p>
