{% load i18n %}
{% load querystrings %}
<ul class="text-gray-700 divide-y max-h-80 overflow-scroll" aria-labelledby="dropdown-change-status">
    {% for slug, value in statuses %}
        <li data-filter-for="change-status-filter-field">
            <a
                hx-post="{% url "apply:submissions:bulk-update-status" %}"
                hx-vals='{"action": "{{ slug }}"}'
                hx-include="[name=selectedSubmissionIds]"
                hx-confirm='{% blocktrans %}Are you sure you want to change the status of the selected submissions to "{{ value }}"?{% endblocktrans %}'
                title="Change status to {{ value }}"
                class="flex ps-4 pe-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100">
                <strong class="font-bold">{{ value }}</strong>
            </a>
        </li>
    {% empty %}
        <li class="ps-4 pe-3 py-2 text-gray-600 max-w-xs">
            {% trans "No status found for currently selected submissions." %}
        </li>
    {% endfor %}
</ul>
<p class="m-0 px-3 py-2 text-fg-muted" data-filter-empty-state hidden>{% trans "No statuses found. Sorry about that." %}</p>
