{% load i18n %}
{% load querystrings heroicons %}

<ul class="text-gray-700 divide-y" aria-labelledby="dropdownBgHoverButton" data-filter-list>
    {% if selected_funds %}
        <li data-filter-item-text>
            <a href="{% url "apply:submissions:list-beta" %}{% remove_from_query "only_query_string" "page" "fund" %}"
               hx-get="{% url "apply:submissions:list-beta" %}{% remove_from_query "only_query_string" "page" "fund" %}"
               hx-push-url="true"
               class="flex px-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100{% if s.selected %}bg-gray-100{% endif %}">
                {% trans "All Funds &amp; Labs" %}
            </a>
        </li>
    {% endif %}
    {% for f in funds %}
        <li data-filter-item-text>
            <a
                {% if f.selected %}
                    href="{% url "apply:submissions:list-beta" %}{% remove_from_query "only_query_string" "page" fund=f.id %}"
                    hx-get="{% url "apply:submissions:list-beta" %}{% remove_from_query "only_query_string" "page" fund=f.id %}"
                {% else %}
                    href="{% url "apply:submissions:list-beta" %}{% modify_query "only_query_string" "page" fund=f.id %}"
                    hx-get="{% url "apply:submissions:list-beta" %}{% modify_query "only_query_string" "page" fund=f.id %}"
                {% endif %}
                hx-push-url="true"
                class="flex {% if f.selected %}ps-2 font-medium{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100{% if f.selected %}bg-gray-100{% endif %}">
                {% if f.selected %}
                    {% heroicon_mini "check" aria_hidden="true" size=16 class="stroke-2 me-1" %}
                {% endif %}
                {{ f.title }} {% if f.n %}({{ f.n }}){% endif %}
            </a>
        </li>
    {% empty %}
        <li class="ps-4 pe-3 py-2 text-gray-600 max-w-xs">
            {% trans "No funds found." %}
        </li>
    {% endfor %}
</ul>
<p class="m-0 px-3 py-2 text-fg-muted" data-filter-empty-state hidden>{% trans "No funds found. Sorry about that." %}</p>
