{% load i18n %}
{% load querystrings heroicons %}
<ul class="text-gray-700 dark:text-gray-200" aria-labelledby="dropdownBgHoverButton">
    {% if selected_leads %}
        <li data-filter-for="lead-filter-field">
            <a href="{% url "apply:submissions:list-beta" %}{% remove_from_query "only_query_string" "page" "lead" %}"
                hx-get="{% url "apply:submissions:list-beta" %}{% remove_from_query "only_query_string" "page" "lead" %}"
                hx-push-url="true"
                class="flex px-3 py-2 text-gray-600 border-b items-center hover:bg-gray-100 focus:bg-gray-100{% if s.selected %}bg-gray-100{% endif %}">
                {% trans "All Leads" %}
            </a>
        </li>
    {% endif %}
    {% for user in leads %}
        <li data-filter-for="lead-filter-field">
            <a
                href="{% url "apply:submissions:list-beta" %}{% modify_query "only_query_string" "page" lead=user.id %}"
                hx-get="{% url "apply:submissions:list-beta" %}{% modify_query "only_query_string" "page" lead=user.id %}"
                hx-push-url="true"
                class="flex {% if user.selected %}pl-2 font-medium bg-gray-100{% else %}pl-8{% endif %} pr-3 py-2 text-gray-600 border-b items-center hover:bg-gray-100 focus:bg-gray-100"
                aria-selected="{% if user.selected %}true{% else %}false{% endif %}"
            >
                {% if user.selected %}
                    {% heroicon_mini "check" aria_hidden="true" size=16 class="stroke-2 mr-1" %}
                {% endif %}
                <strong class="font-bold">{{ user.title }}</strong>
                {% if user.slack %} <span class="text-gray-500 font-light ml-1">{{ user.slack }}</span>{% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
