{% load i18n %}
{% load querystrings heroicons %}
<ul class="text-gray-700 divide-y max-h-80 overflow-scroll" aria-labelledby="dropdownBgHoverButton" data-filter-list>
    {% if selected_leads %}
        <li data-filter-item-text>
            <a href="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" "lead" %}"
               hx-get="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" "lead" %}"
               hx-push-url="true"
               class="flex px-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100{% if s.selected %}bg-gray-100{% endif %}">
                {% trans "All Leads" %}
            </a>
        </li>
    {% endif %}
    {% for user in leads %}
        <li data-filter-item-text>
            <a
                href="{% url "apply:submissions:list-alt" %}{% modify_query "only_query_string" "page" lead=user.id %}"
                hx-get="{% url "apply:submissions:list-alt" %}{% modify_query "only_query_string" "page" lead=user.id %}"
                hx-push-url="true"
                class="flex {% if user.selected %}ps-2 font-medium bg-gray-100{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100"
                aria-selected="{% if user.selected %}true{% else %}false{% endif %}"
            >
                {% if user.selected %}
                    {% heroicon_mini "check" aria_hidden="true" size=16 class="stroke-2 me-1" %}
                {% endif %}
                <strong class="font-bold">{{ user.title }}</strong>
                {% if user.slack %} <span class="text-fg-muted font-light ms-1">{{ user.slack }}</span>{% endif %}
            </a>
        </li>
    {% empty %}
        <li class="ps-4 pe-3 py-2 text-gray-600 max-w-xs">
            {% trans "No leads found." %}
        </li>
    {% endfor %}
</ul>
<p class="m-0 px-3 py-2 text-fg-muted" data-filter-empty-state hidden>{% trans "No leads found. Sorry about that." %}</p>
