{% load i18n %}
{% load querystrings %}
<ul class="text-gray-700 divide-y max-h-80 overflow-scroll" aria-labelledby="dropdown-meta-terms" data-filter-list>
    {% if selected_meta_terms %}
        <li data-filter-item-text>
            <a href="{% url "apply:submissions:list" %}{% remove_from_query "only_query_string" "page" "meta_terms" %}"
               hx-get="{% url "apply:submissions:list" %}{% remove_from_query "only_query_string" "page" "meta_terms" %}"
               hx-push-url="true"
               class="flex px-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100{% if s.selected %}bg-gray-100{% endif %}">
                {% trans "All Meta Terms" %}
            </a>
        </li>
    {% endif %}
    {% for meta_term in meta_terms %}
        <li data-filter-item-text>
            <a
                {% if meta_term.selected %}
                    href="{% url "apply:submissions:list" %}{% remove_from_query "only_query_string" "page" meta_terms=meta_term.id %}"
                    hx-get="{% url "apply:submissions:list" %}{% remove_from_query "only_query_string" "page" meta_terms=meta_term.id %}"
                    title="Remove {{ meta_term.title }} from current filters"
                {% else %}
                    href="{% url "apply:submissions:list" %}{% add_to_query "only_query_string" "page" meta_terms=meta_term.id %}"
                    hx-get="{% url "apply:submissions:list" %}{% add_to_query "only_query_string" "page" meta_terms=meta_term.id %}"
                    title="Add {{ meta_term.title }} to current filters"
                {% endif %}
                hx-push-url="true"
                class="flex {% if meta_term.selected %}ps-2 font-medium bg-gray-100{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100">
                {% if meta_term.selected %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 me-2">
                        <path fill-rule="evenodd"
                              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                              clip-rule="evenodd" />
                    </svg>
                {% endif %}
                <strong class="{% if meta_term.depth == 1 %}font-bold{% else %}font-normal{% endif %}">
                    {% for _ in meta_term.depth_range %}&nbsp;{% endfor %}{{ meta_term.title }}
                </strong>
            </a>
        </li>
    {% empty %}
        <li class="ps-4 pe-3 py-2 text-gray-600 max-w-xs">
            {% trans "No meta terms found." %}
        </li>
    {% endfor %}
</ul>
<p class="m-0 px-3 py-2 text-fg-muted" data-filter-empty-state hidden>{% trans "No meta terms found. Sorry about that." %}</p>
