{% load i18n %}
{% load querystrings %}
<ul class="text-gray-700 divide-y dark:text-gray-200" aria-labelledby="dropdown-reviewers" data-filter-list>
    {% if selected_reviewers %}
        <li data-filter-item-text>
            <a href="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" "reviewers" %}"
               hx-get="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" "reviewers" %}"
               hx-push-url="true"
               class="flex px-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100{% if s.selected %}bg-gray-100{% endif %}">
                {% trans "All Reviewers" %}
            </a>
        </li>
    {% endif %}
    {% for user in reviewers %}
        <li data-filter-item-text>
            <a
                {% if user.selected %}
                    href="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" reviewers=user.id %}"
                    hx-get="{% url "apply:submissions:list-alt" %}{% remove_from_query "only_query_string" "page" reviewers=user.id %}"
                    title="Remove {{ user.title }} from current filters"
                {% else %}
                    href="{% url "apply:submissions:list-alt" %}{% add_to_query "only_query_string" "page" reviewers=user.id %}"
                    hx-get="{% url "apply:submissions:list-alt" %}{% add_to_query "only_query_string" "page" reviewers=user.id %}"
                    title="Add {{ user.title }} to current filters"
                {% endif %}
                hx-push-url="true"
                class="flex {% if user.selected %}ps-2 font-medium bg-gray-100{% else %}ps-8{% endif %} pe-3 py-2 text-gray-600 items-center hover:bg-gray-100 focus:bg-gray-100">
                {% if user.selected %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 me-2">
                        <path fill-rule="evenodd"
                              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                              clip-rule="evenodd" />
                    </svg>
                {% endif %}
                <strong class="font-bold">{{ user.title }}</strong>
                {% if user.slack %} <span class="text-fg-muted font-light ms-1">{{ user.slack }}</span>{% endif %}
            </a>
        </li>
    {% empty %}
        <li class="ps-4 pe-3 py-2 text-gray-600 max-w-xs">
            {% trans "No reviewers found." %}
        </li>
    {% endfor %}
</ul>
<p class="m-0 px-3 py-2 text-fg-muted" data-filter-empty-state hidden>{% trans "No reviewers found. Sorry about that." %}</p>
