{% load i18n heroicons %}
<c-modal.header>{% trans "Update Invoices Status" %}</c-modal.header>

<div class="p-4">
    <details class="border collapse collapse-arrow bg-base-100 border-base-300">
        <summary class="font-semibold collapse-title">
            <span class="batch-title-count">
                {% blocktrans count counter=invoices|length trimmed %}
                    {{ counter }} invoice selected
                {% plural %}
                    {{ counter }} invoices selected
                {% endblocktrans %}
            </span>
        </summary>
        <div class="text-sm collapse-content prose">
            <ol>
                {% for invoice in invoices %}
                    <li>
                        <a
                            href="{{ invoice.get_absolute_url }}"
                            class="link list-row link-hover"
                            target="_blank"
                            title="{{ submission.title }}"
                        >
                            {{ invoice.invoice_number }}
                            {% heroicon_micro "arrow-top-right-on-square" class="inline align-text-bottom size-4" aria_hidden=true %}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </details>

    {% trans "Update status" as update %}
    {% include 'includes/dialog_form_base.html' with form=form value=update %}
</div>

<script>
    document.addEventListener("htmx:afterRequest", (event) => {
        document.getElementById("js-invoices-id").value = "{% for invoice in invoices %}{{ invoice.id }}{% if not forloop.last %},{% endif %}{% endfor %}";
    });
</script>
