{% load i18n approval_tools project_tags heroicons %}
{% modal_title %}{% trans "Submit Documents for Review" %}{% endmodal_title %}

<div class="p-4">
    {% if remaining_document_categories %}
        <div class="p-2 mb-4 bg-red-100 rounded prose">
            <p class="mb-0">{% trans "Looks like the following documents are mi" %}:</p>

            <ul class="mt-0">
                {% for missing_category in remaining_document_categories %}
                    <li>{{ missing_category.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% trans "Submit anyway" as submit %}
    {% endif %}

    {% if project_settings.paf_reviewers_roles.all %}
        <p class="mt-0 mb-4 text-gray-500">
            {% trans "This will submit the project documents for review by the configured approvers." %}
            {% if project_settings.paf_approval_sequential %}{% trans "Approvers will review sequentially in order." %}{% else %}{% trans "Approvers can review in parallel at any time." %}{% endif %}
        </p>

        <p class="text-sm text-fg-muted">
            {% trans "Note: All group members will be notified unless specific approvers are selected below." %}
        </p>

        <div class="flex items-center mb-4 text-sm">
            <p class="flex-shrink mb-0 font-bold text-slate-500 pe-2">
                {% trans "Select approvers " %} ({% trans "Optional" %})
            </p>
            <p class="flex-grow mb-0 h-px bg-mid-grey"></p>
        </div>

        {% url 'apply:projects:submit_project_for_approval' pk=object.id as document_submit_url %}
        {% include 'funds/includes/dialog_form_base.html' with form=form value=submit url=document_submit_url %}
    {% else %}
        <p>
            {% trans "No reviewer roles configured. Please add roles in " %}
            <a href="{% project_settings_url project_settings %}" target="_blank">{% trans "project settings" %}</a>.
        </p>
    {% endif %}
</div>
