{% load i18n approval_tools project_tags heroicons %}

<c-modal.header>{% trans "Submit documents for review" %}</c-modal.header>

<div class="p-4 prose prose-sm">
    {% if remaining_document_categories %}
        <div class="p-2 mb-4 rounded-sm bg-error/10 prose">
            <p class="mb-0">{% trans "Looks like the following documents are missing" %}:</p>

            <ul class="mt-0">
                {% for missing_category in remaining_document_categories %}
                    <li>{{ missing_category.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% trans "Submit anyway" as submit %}
    {% endif %}

    {% if project_settings.paf_reviewers_roles.all %}
        <p>
            {% trans "This will submit the project documents for review by the configured approvers." %}
            {% if project_settings.paf_approval_sequential %}{% trans "Approvers will review sequentially in order." %}{% else %}{% trans "Approvers can review in parallel at any time." %}{% endif %}
        </p>

        <p class="text-sm text-fg-muted">
            {% trans "Note: All group members will be notified unless specific approvers are selected below." %}
        </p>

        <div class="divider divider-start" style="--divider-m: 1rem 0 0 0">{% trans "Select approvers " %} ({% trans "Optional" %})</div>
        {% trans "Submit" as submit %}
        {% include 'includes/dialog_form_base.html' with form=form value=submit %}
    {% else %}
        <p>
            {% trans "No reviewer roles configured. Please add roles in " %}
            <a href="{% project_settings_url project_settings %}" target="_blank">{% trans "project settings" %}</a>.
        </p>
    {% endif %}
</div>
