{% load i18n %}
{% modal_title %}{% trans "Upload Supporting Documents" %}{% endmodal_title %}

<div class="p-4">
    <div>
        <dl class="mb-4">
            <dt class="font-semibold">{% trans "Category" %}</dt>
            <dd class="truncate">{{ category }}</dd>
        </dl>
    </div>

    {% url 'apply:projects:supporting_doc_upload' pk=object.id category_pk=category.id as document_upload_url %}
    {% include 'funds/includes/dialog_form_base.html' with form=form value=value url=document_upload_url %}
</div>
