{% load i18n project_tags %}
{% if user.is_applicant %}
    <c-modal.header>{% trans "Upload countersigned contract" %}</c-modal.header>
{% else %}
    <c-modal.header>{% trans "Upload signed contract" %}</c-modal.header>
{% endif %}

<div class="flex flex-col gap-2 p-4">
    {% if not user.is_applicant %}
        <p class="text-sm text-fg-muted">
            {% trans "Upload a signed contract that will sent to applicant for countersigning." %}
        </p>
        <p class="text-sm text-fg-muted">
            {% blocktranslate trimmed %}
                NOTE: Selecting "Signed and approved" indicates the uploaded contract is
                already signed by both parties and the current project will move to the
                invoicing & reporting stage.
            {% endblocktranslate %}
        </p>
    {% endif %}
    {% include 'includes/dialog_form_base.html' with form=form value=value %}
</div>
