{% extends "messages/email/applicant_base.html" %}

{% block content %}We’ve reviewed your Concept note and think it could be a good fit for OTF funding. We would like to invite you to submit a Proposal with more details about your project.

You can find more information about what we’d like to see in your Proposal here: https://guide.opentech.fund/

The system will allow you to save a draft of your Proposal as you work on it. When you feel it is ready for our review, please click the “Submit” button and we’ll know to take a look at it. We’ll reply to you with feedback on your Proposal as quickly as possible.{% endblock %}
