{% load i18n markdown_tags nh3_tags heroicons %}

<div class="bg-white p-2 flex items-center">
    <svg class="icon icon--dashboard-tasks"><use xlink:href="#{{ task.icon }}"></use></svg>
    <div class="flex flex-1 items-center">
        <span>{{ task.text|markdown|nh3 }}</span>
        {% if task.type == "Draft" %}
            <span
                class="bg-red-200 rounded-full whitespace-nowrap inline-block ms-1 my-2 px-2 pt-0.5 pb-1 text-sm font-medium text-gray-800"
            >
                {{ task.type }}
            </span>
        {% endif %}
    </div>
    <a class="button {{ button_type_class }} ms-2" href="{{ task.url }}">{% trans "View" %}</a>
    {% if task.user %}
        <button class="ms-2" data-tooltip="Remove" hx-delete="{% url 'todo:delete' pk=task.id %}" hx-confirm='{% trans "Are you sure you want to remove this task? It will remove this task from your task list." %}'>{% heroicon_micro "trash" class="inline me-1 fill-red-600" aria_hidden=true %}</button>
    {% else %}
        <button class="ms-2" data-tooltip="Remove this task for whole team" hx-delete="{% url 'todo:delete' pk=task.id %}" hx-confirm='{% trans "It will remove this task from whole team task list. Are you sure you want to remove this task for whole team?" %}'>{% heroicon_micro "trash" class="inline me-1 fill-red-300" aria_hidden=true %}</button>
    {% endif %}
</div>
