{% load i18n markdown_tags nh3_tags heroicons %}

<div class="bg-white p-2 flex items-center" x-data="{openTaskRemoval: false}">
    <svg class="icon icon--dashboard-tasks"><use xlink:href="#{{ task.icon }}"></use></svg>
    <div class="flex flex-1 items-center">
        <span>{{ task.text|markdown|nh3 }}</span>
        {% if task.type == "Draft" %}
            <span
                class="bg-red-200 rounded-full whitespace-nowrap inline-block ms-1 my-2 px-2 pt-0.5 pb-1 text-sm font-medium text-gray-800"
            >
                {{ task.type }}
            </span>
        {% endif %}
    </div>
    <a class="button {{ button_type_class }} ms-2" href="{{ task.url }}">{% trans "View" %}</a>
    {% if task.user %}
        <button class="ms-2" data-tooltip="Remove" @click="openTaskRemoval = true">{% heroicon_micro "x-mark" class="inline me-1 fill-red-600" aria_hidden=true %}</button>
    {% else %}
        <button class="ms-2" data-tooltip="Remove this task for whole team" @click="openTaskRemoval = true">{% heroicon_micro "x-mark" class="inline me-1 fill-red-300" aria_hidden=true %}</button>
    {% endif %}
    <dialog x-show="openTaskRemoval" x-htmldialog.noscroll="openTaskRemoval = false" @click.outside="openTaskRemoval=false" class="w-[580px]">
        <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
            <span class="font-bold text-lg text-white">{% trans "Remove Task" %}</span>
        </div>
        <div class="p-6 z-20">
            {% if task.user %}
                <p>{% trans "Are you sure you want to remove this task? It'll remove this task from your task list." %}</p>
            {% else %}
                <p>{% trans "It'll remove this task from whole team's task list. Are you sure you want to remove this task for whole team?" %}</p>
            {% endif %}
            <div class="flex justify-between">
                <button
                    type="button"
                    class="button button--white"
                    title="{% trans "Close" %}"
                    @click="openTaskRemoval = false">
                    {% trans "Cancel" %}
                </button>
                <button
                    type="button"
                    class="button button--warning"
                    title="{% trans "Delete" %}"
                    hx-delete="{% url 'todo:delete' pk=task.id %}"
                    @click="openTaskRemoval = false">
                    {% trans "Delete" %}
                </button>
            </div>
        </div>
    </dialog>
</div>
