{% extends "reset_network/base.html" %}

{% load wagtailcore_tags %}
{% block body_class %}base-darkest{% endblock %}

{% block content %}

<div class="para para--head para--col-xxl theme-lightest" data-section-theme="light">
  <div class="para__wrap contain">
    <div class="para__content">
      <div class="para__title">
        <h1>{{ page.content_heading }}</h1>
      </div>
      <div class="para__body rte">

        <div class="call-apply theme-light">
          {% if page.fund and page.is_open %}
          <div class="call-apply__content">
            {% if page.deadline %}
            Deadline:<br />{{ page.deadline|date:"jS F Y" }}
            {% endif %}
          </div>
          <div class="call-apply__action">
            <a class="call-button" data-button="" href="{% pageurl page.fund %}">
              <span class="call-button__drop"></span>
              <span class="call-button__label">
                Apply for this fund
              </span>
            </a>
          </div>
          {% else %}
          <div class="call-apply__content">
            Closed
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>



<div class="para para--article para--col-xxl theme-darkest" data-section-theme="dark">
  <div class="para__wrap contain">
    <article class="para__content">
      <div class="para__body rte">
        {{ page.content_text|richtext }}
      </div>
      <div class="para__action">
        <div class="call-apply theme-light">
          {% if page.fund and page.is_open %}
          <div class="call-apply__content">
            {% if page.deadline %}
            Deadline:<br />{{ page.deadline|date:"jS F Y" }}
            {% endif %}
          </div>
          <div class="call-apply__action">
            <a class="call-button" data-button="" href="{% pageurl page.fund %}">
              <span class="call-button__drop"></span>
              <span class="call-button__label">
                Apply for this fund
              </span>
            </a>
          </div>
          {% else %}
          <div class="call-apply__content">
            Closed
          </div>
          {% endif %}
        </div>
      </div>
    </article>
  </div>
</div>

{% endblock %}