{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static wagtailcore_tags workflow_tags statusbar_tags heroicons dashboard_statusbar_tags apply_tags invoice_tools markdown_tags nh3_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            title="{% trans 'My dashboard' %}"
            subtitle="{% trans 'An overview of active and past submissions and projects' %}"
        >
            <div class="flex items-center p-4 w-lg bg-base-100 text-base-content rounded-box">
                <div class="flex-1">
                    <h3 class="text-xl font-semibold">{% trans "Submit a new application" %}</h3>
                    <p class="text-sm">{% trans "Apply now for our open rounds" %}</p>
                </div>
                <div>
                    <a
                        class="btn btn-primary btn-outline"
                        href="{% pageurl APPLY_SITE.root_page %}"
                    >
                        {% trans "Apply" %}
                    </a>
                </div>
            </div>
        </c-hero.header>
    </c-hero>
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-8 my-4">
        {% if my_tasks.count %}
            {% include "dashboard/includes/my-tasks.html" with mytasks=mytasks %}
        {% endif %}

        {% if my_submissions_exists %}
            <section>
                <h2 class="section-header">{% trans "My submissions" %}</h2>
                <div class="overflow-hidden border border-base-200 rounded-box shadow-xs">
                    <div
                        hx-get="{% url 'dashboard:applicant_submissions' %}"
                        hx-trigger="load"
                        id="submissions_list"
                        class="list"
                    >
                        {% for dummy_item in per_section_items %}
                            <div class="animate-pulse list-row min-h-40">
                                <div class="mt-5 ms-4 lg:max-w-[30%] h-9 bg-base-300 "></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if my_projects_exists %}
            <section id="my-projects">
                <h2 class="section-header">{% trans "My projects" %}</h2>
                <div class="overflow-hidden border border-base-200 rounded-box shadow-xs">
                    <div
                        hx-get="{% url 'dashboard:applicant_projects' %}"
                        hx-trigger="load delay:50"
                        id="projects_list"
                        class="list"
                    >
                        {% for dummy_item in per_section_items %}
                            <div class="animate-pulse list-row min-h-40">
                                <div class="mt-5 ms-4 lg:max-w-[30%] h-9 bg-base-300 "></div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        {% endif %}

        {% if active_invoices.count %}
            <section id="active-invoices">
                <h2 class="section-header">{% trans "My active invoices" %}</h2>
                <div class="border list border-base-200 rounded-box shadow-xs">
                    {% for invoice in active_invoices.data %}
                        <div class="sm:grid-cols-3 list-row">
                            <div class="col-span-2 sm:col-span-1">
                                <h4 class="font-bold text-h4">
                                    <a class="link link-hover" href="{{ invoice.get_absolute_url }}">
                                        {{ invoice.invoice_number }}
                                    </a>
                                </h4>
                                <p class="m-0 text-sm text-fg-muted">
                                    {% trans "Submitted" %}
                                    <relative-time datetime={{ invoice.requested_at|date:"c" }}>
                                        {{ invoice.requested_at|date:"SHORT_DATETIME_FORMAT" }}
                                    </relative-time>
                                </p>
                            </div>
                            <div class="sm:row-start-1 list-col-wrap">
                                {% display_invoice_table_status_for_user invoice.status request.user as invoice_status %}
                                <span class="{{ invoice_status|invoice_status_to_classname }} badge-md">
                                    {{ invoice_status }}
                                </span>
                            </div>
                            <div class="sm:row-start-1 list-col-wrap">
                                <span class="text-h4">
                                    {% if invoice.invoice_amount %}
                                        {{ invoice.invoice_amount | format_number_as_currency }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% empty %}
                        <div class="list-row">
                            {% trans "No active invoices" %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {% if historical_submissions.count %}
            <section id="submission-history">
                <h2 class="section-header">
                    {% trans "Submission history" %}
                </h2>
                <div class="overflow-x-auto border border-base-200 rounded-box shadow-xs">
                    {% render_table historical_submissions.table %}
                </div>
            </section>
        {% endif %}

        {% if historical_projects.count %}
            <section id="project-history">
                <h2 class="section-header">
                    {% trans "Project history" %}
                </h2>
                <div class="overflow-x-auto border border-base-200 rounded-box shadow-xs">
                    {% render_table historical_projects.table %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
