{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static statusbar_tags workflow_tags wagtailcore_tags heroicons %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block hero %}
    {% adminbar %}
        {% slot header %}{% trans "Dashboard" %}{% endslot %}
        {% slot sub_heading %}{% trans "An overview of active and past submissions" %}{% endslot %}

        <div class="flex items-center p-4 w-lg bg-base-100 text-base-content rounded-box">
            <div class="flex-1">
                <h3 class="text-xl font-semibold">{% trans "Submit a new application" %}</h3>
                <p class="text-sm">{% trans "Apply now for our open rounds" %}</p>
            </div>
            <div>
                <a class="btn btn-primary btn-outline" href="{% pageurl APPLY_SITE.root_page %}">
                    {% trans "Apply" %}
                </a>
            </div>
        </div>
    {% endadminbar %}
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-8">
        <section>
            <h2 class="mb-2 card-title">
                {% trans "Community review submissions" %}
                <span class="badge badge-soft badge-secondary">
                    {{ my_community_review_count }}
                </span>
            </h2>

            {% if my_community_review.data %}
                {% render_table my_community_review %}
            {% else %}
                {% trans "No submissions" %}
            {% endif %}
        </section>

        {% if my_reviewed.count %}
            <section>
                <h2 class="mb-2 card-title">
                    {% trans "Your previous reviews" %}
                </h2>

                <c-submission-list
                    variant="table"
                    rounded-top
                    rounded-bottom
                    :submissions="my_reviewed.objects"
                />
            </section>
        {% endif %}

        <section>
            <h2 class="mb-2 card-title">
                {% trans "Your active submissions" %}
            </h2>
            {% for submission in my_submissions %}
                <div class="wrapper wrapper--status-bar-outer">
                    <div class="wrapper wrapper--status-bar-inner">
                        <div class="flex flex-col gap-2 max-w-sm sm:max-w-lg md:flex-row md:justify-between md:w-full md:max-w-none lg:flex-col lg:justify-start lg:w-auto lg:max-w-sm">
                            <div>
                                <h3 class="text-base font-bold">
                                    <a class="{% if not submission.is_active %} text-slate-500 {% endif %} hover:underline" href="{% url 'funds:submissions:detail' submission.id %}">
                                        {{ submission.title }}
                                        <span class="text-fg-muted">#{{ submission.application_id }}</span>
                                    </a>
                                </h3>
                                <p class="text-sm heading text-fg-muted">
                                    {% trans "Submitted" %}: {{ submission.submit_time.date }} {% trans "by" %} {{ submission.user.get_full_name }}
                                </p>
                            </div>
                            {% if request.user|has_edit_perm:submission %}
                                <div>
                                    <a class="btn btn-primary" href="{% url 'funds:submissions:edit' submission.id %}">
                                        {% if submission.status == 'draft_proposal' %}
                                            {% trans "Start your" %} {{ submission.stage }} {% trans "application" %}
                                        {% else %}
                                            <span class="whitespace-nowrap">
                                                {% heroicon_mini "pencil-square" size=18 class="inline align-text-bottom me-1" aria_hidden=true %}
                                                {% trans "Edit" %}
                                            </span>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>

                        {% status_bar submission.workflow submission.phase request.user css_class="status-bar--small" %}
                    </div>
                </div>
            {% empty %}
                {% trans "No active submissions" %}
            {% endfor %}
        </section>

        {% if my_inactive_submissions.data %}
            <section>
                <h2 class="mb-2 card-title">
                    {% trans "Submission history" %}
                </h2>
                {% render_table my_inactive_submissions %}
            </section>
        {% endif %}
    </div>

{% endblock %}
