{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static statusbar_tags workflow_tags wagtailcore_tags heroicons %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            title="{% trans 'Dashboard' %}"
            subtitle="{% trans 'An overview of active and past submissions' %}"
        >
            <div class="flex items-center p-4 w-lg bg-base-100 text-base-content rounded-box">
                <div class="flex-1">
                    <h3 class="text-xl font-semibold">{% trans "Submit a new application" %}</h3>
                    <p class="text-sm">{% trans "Apply now for our open rounds" %}</p>
                </div>
                <div>
                    <a class="btn btn-primary btn-outline" href="{% pageurl APPLY_SITE.root_page %}">
                        {% trans "Apply" %}
                    </a>
                </div>
            </div>
        </c-hero.header>
    </c-hero>
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-8">
        <section>
            <h2 class="section-header">
                {% trans "Community review submissions" %}
                <span class="badge badge-soft badge-secondary">
                    {{ my_community_review_count }}
                </span>
            </h2>

            {% if my_community_review.data %}
                {% render_table my_community_review %}
            {% else %}
                {% trans "No submissions" %}
            {% endif %}
        </section>

        {% if my_reviewed.count %}
            <section>
                <h2 class="section-header">
                    {% trans "Your previous reviews" %}
                </h2>

                <c-submission-list
                    variant="table"
                    rounded-top
                    rounded-bottom
                    :submissions="my_reviewed.objects"
                />
            </section>
        {% endif %}

        {% if my_submissions_exists %}
            <section>
                <h2 class="section-header">{% trans "My submissions" %}</h2>
                <div class="overflow-hidden border border-base-200 rounded-box shadow-xs">
                    <div
                        hx-get="{% url 'dashboard:applicant_submissions' %}"
                        hx-trigger="load"
                        id="submissions_list"
                        class="list"
                    >
                        {% for dummy_item in per_section_items %}
                            <div class="animate-pulse list-row min-h-40">
                                <div class="mt-5 ms-4 lg:max-w-[30%] h-9 bg-base-300 "></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if historical_submissions.count %}
            <section id="submission-history">
                <h2 class="section-header">
                    {% trans "Submission history" %}
                </h2>
                <div class="overflow-x-auto border border-base-200 rounded-box shadow-xs">
                    {% render_table historical_submissions.table %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
