{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static markdown_tags nh3_tags heroicons %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
    {% adminbar %}
        {% slot header %}{% trans "Dashboard" %}{% endslot %}

        {% if perms.wagtailadmin.access_admin %}
            <a href="{% url 'wagtailadmin_home' %}" class="button button--primary">
                {% heroicon_solid "cog-6-tooth" size=20 class="inline align-text-bottom me-1" aria_hidden=true %}
                {% trans "Administration" %}
            </a>
        {% endif %}
    {% endadminbar %}

    <div class="wrapper wrapper--large wrapper--inner-space-medium">

        {% if my_tasks.count %}
            {% include "dashboard/includes/my-tasks.html" with mytasks=mytasks %}
        {% endif %}

        {% if paf_for_review.count %}
            <div id="paf_for_review" class="wrapper wrapper--bottom-space">
                <h4 class="heading heading--normal">{% trans "PAFs for review" %}</h4>
                {% render_table paf_for_review.table %}
            </div>
        {% endif %}

        {% if projects_in_contracting.count %}
            {% include "dashboard/includes/projects_in_contracting.html" with projects_in_contracting=projects_in_contracting %}
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/submission-filters.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}
