{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static markdown_tags nh3_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
    {% adminbar %}
        {% slot header %}{% trans "Dashboard" %}{% endslot %}

        <a href="{% url 'wagtailadmin_home' %}" class="button button--primary button--arrow-pixels-white">
            {% trans "Apply admin" %}
            <svg><use xlink:href="#arrow-head-pixels--solid"></use></svg>
        </a>
    {% endadminbar %}

    <div class="wrapper wrapper--large wrapper--inner-space-medium">
        {% if my_tasks.count %}
            <div class="w-8/12 m-auto mb-10">
                <h2 class="text-center font-light">{% trans "My tasks" %}</h2>
                {% for task in my_tasks.data %}
                    <div class="bg-white p-1 flex mb-1 items-center">
                        <svg class="icon icon--dashboard-tasks"><use xlink:href="#{{ task.icon }}"></use></svg>
                        <div class="flex-1">{{ task.text|markdown|nh3 }}</div>
                        <a class="button button-primary m-2" href="{{ task.url }}">{% trans "View" %}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if paf_for_review.count %}
            <div id="paf_for_review" class="wrapper wrapper--bottom-space">
                <h4 class="heading heading--normal">{% trans "PAFs for review" %}</h4>
                {% render_table paf_for_review.table %}
            </div>
        {% endif %}

        {% if projects_in_contracting.count %}
            {% include "dashboard/includes/projects_in_contracting.html" with projects_in_contracting=projects_in_contracting %}
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/url-search-params.js' %}"></script>
    <script src="{% static 'js/submission-filters.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}
