{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static markdown_tags nh3_tags heroicons %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header title="{% trans 'Dashboard' %}">
            {% if perms.wagtailadmin.access_admin %}
                <a href="{% url 'wagtailadmin_home' %}" class="btn btn-primary">
                    {% heroicon_solid "cog-6-tooth" size=20 class="inline align-text-bottom me-1" aria_hidden=true %}
                    {% trans "Administration" %}
                </a>
            {% endif %}
        </c-hero.header>
    </c-hero>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper--large wrapper--inner-space-medium">

        {% if my_tasks.count %}
            {% include "dashboard/includes/my-tasks.html" with mytasks=mytasks %}
        {% endif %}

        <div class="wrapper wrapper--bottom-space" >
            <h2 class="mb-2 card-title">{% trans 'Invoices' %} </h2>

            <div class="tabs tabs-lift">
                <input type="radio"
                       name="invoice_tabs"
                       class="tab"
                       id="tab-invoices-active"
                       aria-label="{% trans 'Active Invoices' %}"
                       checked="checked" />
                <div class="tab-content border-base-300 bg-base-100"
                     role="tabpanel"
                     tabindex="0"
                     aria-labelledby="tab-invoices-active"
                     id="panel-invoices-active">
                    {% if active_invoices.count %}
                        {% render_table active_invoices.table %}
                    {% else %}
                        <span class="block p-4">
                            {% trans "No active invoices" %}
                        </span>
                    {% endif %}
                </div>

                <input type="radio"
                       name="invoice_tabs"
                       class="tab"
                       id="tab-invoices-for-approval"
                       aria-label="{% trans 'For Approval' %}" />
                <div class="tab-content border-base-300 bg-base-100"
                     role="tabpanel"
                     tabindex="0"
                     aria-labelledby="tab-invoices-for-approval"
                     id="panel-invoices-for-approval">
                    {% if invoices_for_approval.count %}
                        {% render_table invoices_for_approval.table %}
                    {% else %}
                        <span class="block p-4">
                            {% trans "No invoices for Approval " %}
                        </span>
                    {% endif %}
                </div>

                <input type="radio"
                       name="invoice_tabs"
                       class="tab"
                       id="tab-invoices-for-conversion"
                       aria-label="{% trans 'For Conversion' %}" />
                <div class="tab-content border-base-300 bg-base-100"
                     role="tabpanel"
                     tabindex="0"
                     aria-labelledby="tab-invoices-for-conversion"
                     id="panel-invoices-for-conversion">
                    {% if invoices_to_convert.count %}
                        {% render_table invoices_to_convert.table %}
                    {% else %}
                        <span class="block p-4">
                            {% trans "No invoices for conversion " %}
                        </span>
                    {% endif %}
                </div>
            </div>

        </div>

        {% if paf_for_review.count %}
            <div id="paf_for_review" class="wrapper wrapper--bottom-space">
                <h2 class="card-title">{% trans "PAFs for review" %}</h2>
                {% render_table paf_for_review.table %}
            </div>
        {% endif %}

    </div>
{% endblock %}
