{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
    <div class="admin-bar">
        <div class="text-center">
            {% block page_header %}
                <h1 class="gamma heading heading--no-margin heading--bold">{% trans "My dashboard" %}</h1>
                <span>{% trans "Here’s a list of items that need attention" %}</span>
            {% endblock %}
        </div>
    </div>
    <div class="wrapper wrapper--large wrapper--inner-space-medium">
        <div class="wrapper wrapper--bottom-space">
            <section class="w-8/12 m-auto">
                <h3>{% trans "Overview" %}</h3>
                <ul class="flex border-l border-b border-t border-solid">
                    {% for card in cards %}
                        <a class="w-full p-2 bg-white hover:bg-grey focus:bg-grey border-r border-solid border-grey" href="{{ card.url }}">
                        <li>
                            <h5 class="status-block__title">{{ card.name }}</h5>
                            <p class="text-grey">{{ card.count }}</p>
                        </li>
                        </a>
                    {% endfor %}
                </ul>
            </section>
        </div>
        {% if my_tasks.count %}
        <div class="w-8/12 m-auto mb-10">
            <h3 >{% trans "My tasks" %}</h3>
            {% for invoice in my_tasks.tasks.invoices_for_approval.data %}
            <div class="bg-white p-1 flex mb-1 items-center">
                <svg class="icon icon--dashboard-tasks"><use xlink:href="#dashboard-invoice"></use></svg>
                <p class="flex-1">{% trans "Invoice " %}'<a href="{{ invoice.get_absolute_url }}">{{ invoice.invoice_number }}</a>'{% trans " is waiting for your approval" %}</p>
                <a class="button button-primary m-2" href="{{ invoice.get_absolute_url }}">View</a>
            </div>
            {% endfor %}
            {% for project in my_tasks.tasks.paf_waiting_for_assignment.data %}
            <div class="bg-white p-1 flex mb-1 items-center">
                <svg class="icon icon--dashboard-tasks"><use xlink:href="#dashboard-paf"></use></svg>
                <p class="flex-1">{% trans "PAF project " %}'<a href="{{ project.get_absolute_url }}">{{ project.title }}</a>'{% trans " is waiting for your approval" %}</p>
                <a class="button button-primary m-2" href="{% url 'apply:projects:approval' pk=project.pk %}">View</a>
            </div>
            {% endfor %}
            {% for project in my_tasks.tasks.paf_waiting_for_approval.data %}
            <div class="bg-white p-1 flex mb-1 items-center">
                <svg class="icon icon--dashboard-tasks"><use xlink:href="#dashboard-paf"></use></svg>
                <p class="flex-1">{% trans "PAF project " %}'<a href="{{ project.get_absolute_url }}">{{ project.title }}</a>'{% trans " is waiting for assignee" %}</p>
                <a class="button button-primary m-2" href="{% url 'apply:projects:approval' pk=project.pk %}">View</a>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ my_reviewed.filterset.form.media.js }}
    <script src="{% static 'js/apply/url-search-params.js' %}"></script>
    <script src="{% static 'js/apply/submission-filters.js' %}"></script>
{% endblock %}
