{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static statusbar_tags workflow_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        {% block page_header %}
            <h1 class="gamma heading heading--no-margin heading--bold">{% trans "Dashboard" %}</h1>
        {% endblock %}
    </div>
</div>

<div class="wrapper wrapper--large wrapper--inner-space-medium">

    <div class="wrapper wrapper--bottom-space">
        <h4 class="heading heading--normal">
            {% trans "You are the partner of these submissions" %} <span class="heading heading--submission-count">{{ partner_submissions_count }}</span>
        </h4>

        {% if partner_submissions.data %}
            {% render_table partner_submissions %}
        {% else %}
            {% trans "No submissions" %}
        {% endif %}
    </div>

    <div class="wrapper wrapper--bottom-space">
        <h4 class="heading heading--normal">{% trans "Your active submissions" %}</h4>
        {% for submission in my_submissions %}
            <div class="wrapper wrapper--status-bar-outer">
                <div class="wrapper wrapper--status-bar-inner">
                    <div>
                        <h5 class="heading heading--no-margin"><a class="link link--underlined" href="{% url 'funds:submissions:detail' submission.id %}">{{ submission.title }}</a></h5>
                        <h6 class="heading heading--no-margin heading--submission-meta"><span>{% trans "Submitted" %}:</span> {{ submission.submit_time.date }} by {{ submission.user.get_full_name }}</h6>
                    </div>
                    {% status_bar submission.workflow submission.phase request.user css_class="status-bar--small" %}
                </div>
                {% if request.user|has_edit_perm:submission %}
                    <a class="button button--primary" href="{% url 'funds:submissions:edit' submission.id %}">
                        {% if submission.status == 'draft_proposal' %}
                            {% trans "Start your" %} {{ submission.stage }} {% trans "application" %}
                        {% else %}
                            {% trans "Edit" %}
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        {% empty %}
            {% trans "No active submissions" %}
        {% endfor %}
    </div>

    {% if my_inactive_submissions.data %}
        <div class="wrapper wrapper--bottom-space">
            <h4 class="heading heading--normal">{% trans "Submission history" %}</h4>
            {% render_table my_inactive_submissions %}
        </div>
    {% endif %}
</div>

{% endblock %}
