{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load i18n static statusbar_tags workflow_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header title="{% trans 'Dashboard' %}" />
    </c-hero>
{% endblock %}

{% block content %}
    <div class="flex flex-col gap-8 my-4">
        <section>
            {% include "dashboard/includes/submissions-waiting-for-review.html" with in_review_count=awaiting_reviews.count my_review=awaiting_reviews.submissions display_more=awaiting_reviews.display_more %}
        </section>

        {% if my_flagged.count %}
            <section id="submissions-flagged">
                <h2 class="section-header">
                    <a href="{% url "apply:submissions:list" %}?query=flagged:@me">
                        {% trans "Your flagged submissions" %}
                        <span class="badge badge-soft badge-secondary">
                            {{ my_flagged.count }}
                        </span>
                    </a>
                </h2>

                <c-submission-list
                    show_more_link="{% url 'apply:submissions:list' %}?query=reviewer:@me"
                    variant="table"
                    rounded-top
                    :submissions="my_flagged.objects"
                    :show_more="my_flagged.display_more"
                />
            </section>
        {% endif %}

        {% if my_reviewed.count %}
            <section>
                <h2 class="section-header">
                    <a href="{% url "apply:submissions:list" %}?query=reviewed-by:@me">
                        {% trans "Your previous reviews" %}
                        <span class="badge badge-soft badge-secondary">{{ my_reviewed.count }}</span>
                    </a>
                </h2>
                <c-submission-list
                    show_more_link="{% url 'apply:submissions:list' %}?query=reviewed-by:@me"
                    variant="table"
                    rounded-top
                    :submissions="my_reviewed.objects"
                    :show_more="my_reviewed.display_more"
                />
            </section>
        {% endif %}

        {% if my_submissions %}
            <section>
                <h2 class="section-header">
                    {% trans "Your active submissions" %}
                </h2>
                {% for submission in my_submissions %}
                    <div class="wrapper wrapper--status-bar-outer">
                        <div class="wrapper wrapper--status-bar-inner">
                            <div>
                                <h5 class="m-0 heading"><a class="underline" href="{% url 'funds:submissions:detail' submission.id %}">{{ submission.title }}</a></h5>
                                <h6 class="m-0 heading"><span>{% trans "Submitted" %}:</span> {{ submission.submit_time.date }} {% trans "by" %} {{ submission.user.get_full_name }}</h6>
                            </div>
                            {% status_bar submission.workflow submission.phase request.user css_class="status-bar--small" %}
                        </div>
                        {% if request.user|has_edit_perm:submission %}
                            <a class="btn btn-primary" href="{% url 'funds:submissions:edit' submission.id %}">
                                {% if submission.status == 'draft_proposal' %}
                                    {% trans "Start your" %} {{ submission.stage }} {% trans "application" %}
                                {% else %}
                                    {% trans "Edit" %}
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </section>
        {% endif %}

        {% if my_inactive_submissions.data %}
            <section>
                <h2 class="section-header">
                    {% trans "Submission history" %}
                </h2>
                {% render_table my_inactive_submissions %}
            </section>
        {% endif %}
    </div>
{% endblock %}
