{% load wagtailcore_tags %}

{% with details=page.specific.detail.specific %}
    <h4 class="listing__title">
        {# details may be None, so be more verbose in the handling of the title #}
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ details.listing_title|default:details.title }}
        {% endif %}
    </h4>
<div class="listing listing--not-a-link">
    <div>

    {% if details.listing_summary or details.introduction %}
        <h6 class="listing__teaser">{{ details.listing_summary|default:details.introduction|truncatechars_html:155 }}</h6>
    {% endif %}

    {% if details %}
        <a href="{% pageurl details %}">More info...</a>
    {% endif %}

    <a class="" href="{% pageurl page %}">Apply</a>
    </div>
</div>
{% endwith %}
