{% extends "base-apply.html" %}
{% load i18n heroicons %}

{% block title %}{% if is_signup or is_activation %}{% trans "Confirm account creation" %}{% else %}{% trans "Confirm login" %}{% endif %}{% endblock %}
{% block body_class %}bg-base-200{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center min-h-[60vh]">
        <section class="w-full max-w-2xl card shadow-xs bg-base-100 md:card-lg">
            <div class="items-center card-body">
                <span class="flex justify-center items-center mb-4 rounded-full bg-primary/10">
                    {% heroicon_outline "key" aria_hidden="true" size=64 %}
                </span>

                <h1 class="mb-4 font-semibold text-h0">
                    {% if is_signup or is_activation %}
                        {% trans "Complete your registration" %}
                    {% else %}
                        {% trans "Complete your login" %}
                    {% endif %}
                </h1>

                <div class="mb-6 prose">
                    {% if is_signup or is_activation %}
                        <p>{% trans "Your activation link is valid. Click the button below to create your account." %}</p>
                    {% else %}
                        <p>{% trans "Your login link is valid. Click the button below to complete your login." %}</p>
                    {% endif %}
                </div>

                <form method="post">
                    {% csrf_token %}
                    {% if remember_me %}
                        <input type="hidden" name="remember_me" value="1">
                    {% endif %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-lg">
                        {% if is_signup or is_activation %}
                            {% trans "Create my account" %}
                        {% else %}
                            {% trans "Log in" %}
                        {% endif %}
                    </button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
