{% extends "base-apply.html" %}
{% load i18n heroicons %}

{% block title %}{% trans "Activation link issue" %}{% endblock %}
{% block body_class %}bg-base-200{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center min-h-[60vh]">
        <section class="w-full max-w-2xl card shadow-xs bg-base-100 md:card-lg">
            <div class="items-center card-body">
                <span class="flex justify-center items-center p-4 mb-4 rounded-full bg-warning/10">
                    {% heroicon_outline "exclamation-triangle" class="w-14 h-14 text-warning" %}
                </span>

                <h2 class="mb-4 font-semibold text-h0">{% trans "We couldn't activate your account" %}</h2>

                <div class="prose">
                    {% url 'users:password_reset' as password_reset %}

                    <p>{% trans "This usually happens because your activation link has expired, or your account is already activated." %}</p>

                    <p>
                        {% blocktrans trimmed %}
                            Try <a href="{{ password_reset }}">resetting your password</a> first.
                            If you're still having trouble, contact us at {{ ORG_SHORT_NAME }}:
                            <a href="mailto:{{ ORG_EMAIL }}">{{ ORG_EMAIL }}</a>.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
