{% load i18n %}
{% load heroicons primaryactions_tags %}
<h5>{% trans "Actions to take" %}</h5>

{% if object.is_archive %}
    <div x-data="{ closeUnarchiveOutside(e){if (e.currentTarget == e.target){$refs.dialogUnarchive.close()}}}">
        <button class="button button--bottom-space button--primary" @click="$refs.dialogUnarchive.showModal()" hx-get="{% url 'funds:submissions:unarchive' pk=object.pk %}" hx-target="#unarchive_form">
            {% heroicon_outline "lock-open" aria_hidden="true" size=16 stroke_width=2 class="inline align-baseline me-1" %}
            {% trans "Unarchive Submission" %}
        </button>
        <dialog x-ref="dialogUnarchive" @click="closeUnarchiveOutside" x-init="document.addEventListener('htmx:unarchived', (event) => {$refs.dialogUnarchive.close()});" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Unarchive Submission" %}</span>
                <button @click="$refs.dialogUnarchive.close()" class="text-white font-bold">X</button>
            </div>
            <div id="unarchive_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>
    </div>

{% else %}

    {% if PROJECTS_ENABLED %}
        {% if object.accepted_for_funding and not object.project %}
            <div x-data="{ closeProjectFormOutside(e){if (e.currentTarget == e.target){$refs.dialogProjectForm.close()}}}">
                <button class="button button--bottom-space button--primary button--full-width" @click="$refs.dialogProjectForm.showModal()" hx-get="{% url 'funds:submissions:create_project' pk=object.pk %}" hx-target="#project_form">
                    {% trans "Create Project" %}
                </button>
                <dialog x-ref="dialogProjectForm" @click="closeProjectFormOutside" x-init="document.addEventListener('htmx:projectCreated', (event) => {$refs.dialogProjectForm.close()});" class="w-[580px]">
                    <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                        <span class="font-bold text-lg text-white">{% trans "Create Project" %}</span>
                        <button @click="$refs.dialogProjectForm.close()" class="text-white font-bold">X</button>
                    </div>
                    <div id="project_form">
                        <div class="animate-pulse">
                            <div class="w-full h-16 bg-gray-200 mb-5"></div>
                            <div class="w-full h-6 bg-gray-200 mb-5"></div>
                        </div>
                    </div>
                </dialog>
            </div>
        {% endif %}
    {% endif %}

    {% if object.ready_for_determination %}
        {% trans "Complete draft determination" as determination_draft %}
        {% include 'determinations/includes/determination_button.html' with submission=object class="button--bottom-space" draft_text=determination_draft %}
    {% endif %}

    {% if object.in_internal_review_phase or object.in_external_review_phase %}
        {% trans "Complete draft review" as review_draft %}
        {% include 'review/includes/review_button.html' with submission=object class="button--full-width button--bottom-space" draft_text=review_draft %}

        {% if object.in_external_review_phase or not object.has_all_reviewer_roles_assigned %}
            <a data-fancybox data-src="#update-reviewers" class="button button--bottom-space button--primary button--full-width" href="#">{% trans "Assign reviewers" %}</a>
        {% endif %}
    {% endif %}

    {% if object.is_finished %}
        {% with determination=object.determinations.last %}
            {% if determination %}
                <a class="button button--primary button--full-width button--bottom-space" href="{% url 'apply:submissions:determinations:detail' submission_pk=object.id pk=determination.id %}">{% trans "View determination" %}</a>
            {% endif %}
        {% endwith %}
    {% endif %}

    {% show_progress_button request.user object as show_progress_form %}
    <div x-data="{ closeProgressFormOutside(e){if (e.currentTarget == e.target){$refs.dialogProgress.close()}}}">
        <button class="button button--primary button--full-width {% if show_progress_form %}is-not-disabled{% else %}is-disabled{% endif %}" @click="$refs.dialogProgress.showModal()" hx-get="{% url 'funds:submissions:progress' pk=object.pk %}" hx-target="#progress_form">
            {% trans "Update status" %}
        </button>
        <dialog x-ref="dialogProgress" @click="closeProgressFormOutside" x-init="document.addEventListener('htmx:statusUpdated', (event) => {$refs.dialogProgress.close()});" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Update status" %}</span>
                <button @click="$refs.dialogProgress.close()" class="text-white font-bold">X</button>
            </div>
            <div id="progress_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>
    </div>

    <div class="sidebar__separator mt-4">{% trans "Assign" %}</div>

    <div class="wrapper wrapper--sidebar-buttons mt-2" x-data="{ closeReviewersOutside(e){if (e.currentTarget == e.target){$refs.dialogReviewers.close()}}, closePartnersOutside(e){if (e.currentTarget == e.target){$refs.dialogPartners.close()}}, closeLeadOutside(e){if (e.currentTarget == e.target){$refs.dialogLead.close()}} }">
        <button class="button button--half-width button--white" @click="$refs.dialogReviewers.showModal()" hx-get="{% url 'funds:submissions:reviewers_update' pk=object.pk %}" hx-target="#reviewers_form">{% trans "Reviewers" %}</button>
        <dialog x-ref="dialogReviewers" @click="closeReviewersOutside" x-init="document.addEventListener('htmx:reviewersUpdated', (event) => {$refs.dialogReviewers.close()});" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Update Reviewers" %}</span>
                <button @click="$refs.dialogReviewers.close()" class="text-white font-bold">X</button>
            </div>
            <div id="reviewers_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>


        <button class="button button--half-width button--white" @click="$refs.dialogPartners.showModal()" hx-get="{% url 'funds:submissions:partners_update' pk=object.pk %}" hx-target="#partners_form">{% trans "Partners" %}</button>
        <dialog x-ref="dialogPartners" @click="closePartnersOutside" x-init="document.addEventListener('htmx:partnersUpdated', (event) => {$refs.dialogPartners.close()});" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Update Partners" %}</span>
                <button @click="$refs.dialogPartners.close()" class="text-white font-bold">X</button>
            </div>
            <div id="partners_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>

        <button class="button button--half-width button--white" @click="$refs.dialogLead.showModal()" hx-get="{% url 'funds:submissions:lead_update' pk=object.pk %}" hx-target="#lead_form">{% trans "Lead" %}</button>
        <dialog x-ref="dialogLead" @click="closeLeadOutside" x-init="document.addEventListener('htmx:leadForm', (event) => {$refs.dialogLead.close()});" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Assign Lead" %}</span>
                <button @click="$refs.dialogLead.close()" class="text-white font-bold">X</button>
            </div>
            <div id="lead_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>
    </div>

    <details class="mt-4" x-data="{closeArchiveOutside(e){if (e.currentTarget == e.target){$refs.dialogArchive.close()}}, closeReminderOutside(e){if (e.currentTarget == e.target){$refs.dialogReminder.close()}}, closeMetaTermsOutside(e){if (e.currentTarget == e.target){$refs.dialogMetaTerms.close()}} }">
        <summary class="sidebar__separator sidebar__separator--medium">{% trans "More actions" %}</summary>
        <a class="button button--white button--full-width button--bottom-space" href="{% url 'funds:submissions:revisions:list' submission_pk=object.id %}">{% trans "Revisions" %}</a>

        <button class="button button--white button--full-width button--bottom-space" @click="$refs.dialogMetaTerms.showModal()" hx-get="{% url 'funds:submissions:metaterms_update' pk=object.pk %}" hx-target="#metaterms_form">{% trans "Meta Terms" %}</button>
        <dialog x-ref="dialogMetaTerms" @click="closeMetaTermsOutside" x-init="document.addEventListener('htmx:metaTermsUpdated', (event) => {$refs.dialogMetaTerms.close()});" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Update Meta Terms" %}</span>
                <button @click="$refs.dialogMetaTerms.close()" class="text-white font-bold">X</button>
            </div>
            <div id="metaterms_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>

        <button class="button button--white button--full-width button--bottom-space" @click="$refs.dialogReminder.showModal()" hx-get="{% url 'funds:submissions:create_reminder' pk=object.pk %}" hx-target="#reminder_form">{% trans "Create Reminder" %}</button>
        <dialog x-ref="dialogReminder" @click="closeReminderOutside" x-init="document.addEventListener('htmx:reminderUpdated', (event) => {$refs.dialogReminder.close()});" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Create Reminder" %}</span>
                <button @click="$refs.dialogReminder.close()" class="text-white font-bold">X</button>
            </div>
            <div id="reminder_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>

        {% if can_archive %}
            <button class="button button--white button--full-width button--bottom-space" @click="$refs.dialogArchive.showModal()" hx-get="{% url 'funds:submissions:archive' pk=object.pk %}" hx-target="#archive_form">
                {% heroicon_outline "lock-closed" aria_hidden="true" size=15 stroke_width=2 class="inline align-baseline me-1" %}
                {% trans "Archive Submission" %}
            </button>
            <dialog x-ref="dialogArchive" @click="closeArchiveOutside" x-init="document.addEventListener('htmx:archived', (event) => {$refs.dialogArchive.close()});" class="w-[580px]">
                <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                    <span class="font-bold text-lg text-white">{% trans "Archive Submission" %}</span>
                    <button @click="$refs.dialogArchive.close()" class="text-white font-bold">X</button>
                </div>
                <div id="archive_form">
                    <div class="animate-pulse">
                        <div class="w-full h-16 bg-gray-200 mb-5"></div>
                        <div class="w-full h-6 bg-gray-200 mb-5"></div>
                    </div>
                </div>
            </dialog>
        {% endif %}
    </details>
{% endif %}
