{% load i18n %}
{% load heroicons %}
<h5>{% trans "Actions to take" %}</h5>

{% if object.is_archive %}
    <div x-data="{ unarchiveForm: false }">
        <a class="button button--bottom-space button--primary" @click="unarchiveForm = true" hx-get="{% url 'funds:submissions:unarchive' pk=object.pk %}" hx-target="#unarchive_form">
            {% heroicon_outline "lock-open" aria_hidden="true" size=16 stroke_width=2 class="inline align-baseline me-1" %}
            {% trans "Unarchive Submission" %}
        </a>
        <dialog x-show="unarchiveForm" x-htmldialog.noscroll="unarchiveForm = false" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Unarchive Submission" %}</span>
                <button @click="unarchiveForm = false" class="text-white font-bold">X</button>
            </div>
            <div id="unarchive_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>
    </div>

{% else %}

    {% if PROJECTS_ENABLED %}
        {% if object.accepted_for_funding and not object.project %}
            <div x-data="{ projectForm: false }">
                <a class="button button--bottom-space button--primary button--full-width" @click="projectForm = true" hx-get="{% url 'funds:submissions:create_project' pk=object.pk %}" hx-target="#project_form">
                    {% trans "Create Project" %}
                </a>
                <dialog x-show="projectForm" x-htmldialog.noscroll="projectForm = false" class="w-[580px]">
                    <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                        <span class="font-bold text-lg text-white">{% trans "Create Project" %}</span>
                        <button @click="projectForm = false" class="text-white font-bold">X</button>
                    </div>
                    <div id="project_form">
                        <div class="animate-pulse">
                            <div class="w-full h-16 bg-gray-200 mb-5"></div>
                            <div class="w-full h-6 bg-gray-200 mb-5"></div>
                        </div>
                    </div>
                </dialog>
            </div>
        {% endif %}
    {% endif %}

    {% if object.ready_for_determination %}
        {% trans "Complete draft determination" as determination_draft %}
        {% include 'determinations/includes/determination_button.html' with submission=object class="button--bottom-space" draft_text=determination_draft %}
    {% endif %}

    {% if object.in_internal_review_phase or object.in_external_review_phase %}
        {% trans "Complete draft review" as review_draft %}
        {% include 'review/includes/review_button.html' with submission=object class="button--full-width button--bottom-space" draft_text=review_draft %}

        {% if object.in_external_review_phase or not object.has_all_reviewer_roles_assigned %}
            <a data-fancybox data-src="#update-reviewers" class="button button--bottom-space button--primary button--full-width" href="#">{% trans "Assign reviewers" %}</a>
        {% endif %}
    {% endif %}

    {% if object.is_finished %}
        {% with determination=object.determinations.last %}
            {% if determination %}
                <a class="button button--primary button--full-width button--bottom-space" href="{% url 'apply:submissions:determinations:detail' submission_pk=object.id pk=determination.id %}">{% trans "View determination" %}</a>
            {% endif %}
        {% endwith %}
    {% endif %}

    <a data-fancybox data-src="#update-status" class="button button--primary button--full-width {% if progress_form.should_show %}is-not-disabled{% else %}is-disabled{% endif %}" href="#">{% trans "Update status" %}</a>


    <div class="sidebar__separator mt-4">{% trans "Assign" %}</div>

    <div class="wrapper wrapper--sidebar-buttons mt-2" x-data="{ leadForm: false, partnerForm: false, reviewerForm:false }">
        <a class="button button--half-width button--white" @click="reviewerForm = true">{% trans "Reviewers" %}</a>
        <dialog x-show="reviewerForm" x-htmldialog.noscroll="reviewerForm = false" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Update Partners" %}</span>
                <button @click="reviewerForm = false" class="text-white font-bold">X</button>
            </div>
            <div class="p-6 z-20">
                {% trans "Update" as update %}
                {% include 'funds/includes/delegated_form_base.html' with form=reviewer_form value=update %}
            </div>
        </dialog>

        <a class="button button--half-width button--white" @click="partnerForm = true">{% trans "Partners" %}</a>
        <dialog x-show="partnerForm" x-htmldialog.noscroll="partnerForm = false" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Update Partners" %}</span>
                <button @click="partnerForm = false" class="text-white font-bold">X</button>
            </div>
            <div class="p-6 z-20">
                {% trans "Update" as update %}
                {% include 'funds/includes/delegated_form_base.html' with form=partner_form value=update %}
            </div>
        </dialog>

        <a class="button button--half-width button--white" @click="leadForm = true" hx-get="{% url 'funds:submissions:lead_update' pk=object.pk %}" hx-target="#lead_form">{% trans "Lead" %}</a>
        <dialog x-show="leadForm" x-htmldialog.noscroll="leadForm = false" class="w-[580px]">
            <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                <span class="font-bold text-lg text-white">{% trans "Assign Lead" %}</span>
                <button @click="leadForm = false" class="text-white font-bold">X</button>
            </div>
            <div id="lead_form">
                <div class="animate-pulse">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        </dialog>
    </div>

    <details class="mt-4" x-data="{ archiveForm: false }">
        <summary class="sidebar__separator sidebar__separator--medium">{% trans "More actions" %}</summary>
        <a class="button button--white button--full-width button--bottom-space" href="{% url 'funds:submissions:revisions:list' submission_pk=object.id %}">{% trans "Revisions" %}</a>

        <a data-fancybox data-src="#update-meta-terms" class="button button--white button--full-width button--bottom-space" href="#">{% trans "Meta Terms" %}</a>

        <a data-fancybox data-src="#create-reminder" class="button button--white button--full-width button--bottom-space" href="#">{% trans "Create Reminder" %}</a>

        {% if can_archive %}
            <a class="button button--white button--full-width button--bottom-space" @click="archiveForm = true" hx-get="{% url 'funds:submissions:archive' pk=object.pk %}" hx-target="#archive_form">
                {% heroicon_outline "lock-closed" aria_hidden="true" size=15 stroke_width=2 class="inline align-baseline me-1" %}
                {% trans "Archive Submission" %}
            </a>

            <dialog x-show="archiveForm" x-htmldialog.noscroll="archiveForm = false" class="w-[580px]">
                <div class="dialog-header flex justify-between items-center border-block-end bg-light-blue p-4 align-middle">
                    <span class="font-bold text-lg text-white">{% trans "Archive Submission" %}</span>
                    <button @click="archiveForm = false" class="text-white font-bold">X</button>
                </div>
                <div id="archive_form">
                    <div class="animate-pulse">
                        <div class="w-full h-16 bg-gray-200 mb-5"></div>
                        <div class="w-full h-6 bg-gray-200 mb-5"></div>
                    </div>
                </div>
            </dialog>
        {% endif %}
    </details>
{% endif %}
