{% load i18n statusbar_tags %}

<h1 class="text-h1 text-pretty">
    <span id="app-title">{{ object.title }}</span>
    <span class="text-fg-muted">#{{ object.application_id }}</span>
</h1>

<div class="mb-4 font-medium text-fg-muted">
    <span class="separator-dot">
        {{ object.page }}
    </span>

    {% if object.round %}
        {% if request.user.is_apply_staff %}
            <span class="separator-dot">
                <a class="text-white hover:underline"
                   href="{% url 'apply:submissions:list' %}?round={{ object.round.pk }}"
                >{{ object.round }}</a>
            </span>
        {% else %}
            <span class="separator-dot">{{ object.round }}</span>
        {% endif %}
    {% endif %}

    <span class="separator-dot">{{ object.stage }}</span>

    <span
        class="separator-dot"
        hx-get="{% url 'apply:submissions:partial-get-lead' object.id %}"
        hx-trigger="load, leadUpdated from:body"
    >
        <span class="inline-block w-24 bg-gray-600 rounded-md animate-pulse"></span>
    </span>
</div>

<div class="mt-4 mb-8">
    {% status_bar object.workflow object.phase request.user author=object.user same_stage=True %}
</div>
