{% load i18n statusbar_tags %}

<h1 class="mb-0 font-medium">
    <span id="app-title">{{ object.title }}</span><span class="text-gray-400"> #{{ object.public_id|default:object.id }}</span>
</h1>

<div class="mt-1 text-sm font-medium heading heading--meta">
    <span>{{ object.stage }}</span>
    <span>{{ object.page }}</span>
    {% if object.round %}
        {% if request.user.is_apply_staff %}
            <span>
                <a class="text-white underline"
                   href="{% url 'apply:submissions:list' %}?round={{ object.round.pk }}"
                >{{ object.round }}</a>
            </span>
        {% else %}
            <span>{{ object.round }}</span>
        {% endif %}
    {% endif %}

    <span
        hx-get="{% url "apply:submissions:partial-get-lead" object.id %}"
        hx-trigger="load, leadUpdated from:body"
    >
        <span class="inline-block w-24 bg-gray-600 rounded-md animate-pulse"></span>
    </span>
</div>

{% status_bar object.workflow object.phase request.user author=object.user same_stage=True %}
