{% load i18n %}
<div class="modal" id="batch-delete-submission">
    <h4 class="modal__header-bar modal__header-bar--no-bottom-space">{% trans "Delete Submissions" %}</h4>
    <p><strong>{% trans "Are you sure you want to delete selected submissions?" %}</strong></p>
    <div class="list-reveal">
        <div class="list-reveal__item list-reveal__item--meta" aria-live="polite">
            <span class="js-batch-title-count"></span>
            <a href="#" class="list-reveal__link js-toggle-batch-list">{% trans "Show" %}</a>
        </div>
        <div class="list-reveal__list js-batch-titles is-closed" aria-live="polite"></div>
    </div>
    <p>{% trans "All content related to these submissions will also be deleted. This includes reviews, determinations and comments" %}.</p>

    {% trans "Delete" as delete %}
    {% include 'funds/includes/delegated_form_base.html' with form=batch_delete_submission_form value=delete %}
</div>
