{% load i18n %}

{% modal_title %}Create Project{% endmodal_title %}

<form class="p-4"
      method="POST"
      action="{{ request.path }}"
      hx-post="{{ request.path }}"
>
    <p class="mt-0 text-fg-muted">{% trans "Are you sure you want create a project from this submission? This cannot be undone." %}</p>

    {% url 'funds:submissions:create_project' pk=object.pk as project_creation_url %}
    {% include 'funds/includes/dialog_form_base.html' with form=form value=value url=project_creation_url %}
</form>
