{% load i18n %}
<form
    class="form {{ extra_classes }}"
    method="post"
    id="{% if form_id %}{{ form_id }}{% else %}{{ form.name }}{% endif %}"
    enctype="multipart/form-data"
    {% if action %}action="{{ action }}"{% endif %}
>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="fields--visible">
        {% for field in form.visible_fields %}
            {% if field.field %}
                {% include "forms/includes/field.html" %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="form__group form__group--actions">
        {% if cancel %}
            <button
                type="button"
                class="button {% if invert %}btn-primary{% else %}btn-secondary btn-outline{% endif %}"
                title="{% trans "Close" %}">
                {% trans "Cancel" %}
            </button>
        {% endif %}
        {% trans "Delete" as delete %}
        <button
            class="btn {% if invert %}btn-secondary btn-outline{% elif value == delete %}btn-warning{% else %}btn-primary{% endif %}"
            id="{{ form.name }}-submit"
            name="{{ form_prefix }}{{ form.name }}"
            type="submit"
            form="{% if form_id %}{{ form_id }}{% else %}{{ form.name }}{% endif %}">
            {{ value }}
        </button>
    </div>
</form>
