{% load i18n %}
<form
    class="form {{ extra_classes }}"
    method="post"
    id="{{ form.name }}"
    enctype="multipart/form-data"
    {% if action %}action="{{ action }}"{% endif %}
    >
    {% csrf_token %}

    {{ form.media }}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if field.field %}
            {% include "forms/includes/field.html" %}
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}

    {% if cancel %}
    <button
        type="button"
        data-fancybox-close=""
        class="button button--{% if invert %}primary{% else %}white{% endif %} button--top-space"
        title="{% trans "Close" %}">
        {% trans "Cancel" %}
    </button>
    {% endif %}

    {% trans "Delete" as delete %}
    <button
        class="button button--{% if invert %}white{% elif value == delete %}warning{% else %}primary{% endif %} button--top-space"
        id="{{ form.name }}-submit"
        name="{{ form_prefix }}{{ form.name }}"
        type="submit"
        form="{{ form.name }}">
        {{ value }}
    </button>

</form>
