{% load i18n primaryactions_tags %}

{% if request.user|should_display_primary_actions_block:object %}
    <div class="card sidebar__inner--actions" data-testid="sidebar-primary-actions">
        <div class="card-body">
            <h2 class="card-title">{% trans "Actions to take" %}</h2>

            {% if object.in_internal_review_phase or object.in_external_review_phase %}
                {% trans "Complete draft review" as review_draft %}
                {% include 'review/includes/review_button.html' with submission=object draft_text=review_draft %}
            {% endif %}

            {% if object.is_finished %}
                {% with determination=object.determinations.last %}
                    {% if determination %}
                        <a
                            class="mb-2 btn btn-primary btn-block"
                            href="{% url 'apply:submissions:determinations:detail' submission_pk=object.id pk=determination.id %}"
                        >{% trans "View determination" %}</a>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endif %}
