{% load i18n primaryactions_tags %}

{% if request.user|should_display_primary_actions_block:object %}
    <div class="sidebar__inner sidebar__inner--light-blue sidebar__inner--actions" data-testid="sidebar-primary-actions">
        <h5>{% trans "Actions to take" %}</h5>

        {% if object.in_internal_review_phase or object.in_external_review_phase %}
            {% trans "Complete draft review" as review_draft %}
            {% include 'review/includes/review_button.html' with submission=object class="button--full-width button--bottom-space" draft_text=review_draft %}
        {% endif %}

        {% if object.is_finished %}
            {% with determination=object.determinations.last %}
                {% if determination %}
                    <a
                        class="button button--primary button--full-width button--bottom-space"
                        href="{% url 'apply:submissions:determinations:detail' submission_pk=object.id pk=determination.id %}"
                    >{% trans "View determination" %}</a>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
{% endif %}

{% display_coapplicant_section user object as coapplicant_section %}
{% if coapplicant_section %}
    <div class="sidebar__inner sidebar__inner--light-blue sidebar__inner--actions" data-testid="sidebar-primary-actions">
        <h5>{% trans "Manage Co-applicants" %}</h5>
        {% for invite in object.co_applicant_invites.all %}
            <p> {{ invite.invited_user_email }}</p>
        {% endfor %}
        <button
            class="button button--primary button--full-width button--bottom-space"
            hx-get="{% url 'apply:submissions:invite_co_applicant' pk=object.id %}"
            hx-target="#htmx-modal"
            {% if object.co_applicant_invites.count >= 5 %}disabled{% endif %}
            role="button"
            aria-label="{% trans "Invite CoApplicant" %}"
        >{% trans "Invite Co-applicant" %}</button>
    </div>
{% endif %}
