{% load i18n static heroicons %}

<form class="px-4 pt-5 pb-4 sm:p-6 form" action="{{ request.path }}" method="post" x-data="{value: ''}">
    {% csrf_token %}

    <div class="sm:flex sm:items-start">
        <div class="flex justify-center items-center mx-auto w-12 h-12 bg-red-100 rounded-full sm:mx-0 sm:w-10 sm:h-10 shrink-0">
            {% heroicon_outline "exclamation-triangle" class="w-6 h-6 text-red-600" stroke_width="1.5" aria_hidden="true" %}
        </div>
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-base-content" id="modal-title">Archive Submission</h3>
            <div class="mt-2">
                <p class="text-sm text-fg-muted">
                    {% blocktrans %}
                        Are you sure you want to archive submission? Archived submissions will be hidden from the
                        main list of submissions and can not be edited.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>

    <div class="mt-5 sm:flex sm:flex-row-reverse sm:mt-4">
        <button
            type="submit"
            class="w-full sm:ml-3 sm:w-auto btn btn-warning"
        >{% trans "Archive" %}</button>
        <button
            type="button"
            class="mt-3 w-full sm:mt-0 sm:w-auto btn btn-secondary btn-outline btn-soft"
            @click="show = false"
        >{% trans "Cancel" %}</button>
    </div>
</form>
