{% load i18n primaryactions_tags %}
{% show_progress_button request.user object as show_progress_form %}

{% if show_progress_form %}
    <div class="px-4 pt-5 pb-4 sm:p-6 ">

        {% modal_title %}{% trans "Update Submission Status" %}{% endmodal_title %}

        <div class="mt-4 mb-4">
            <dl>
                <dt class="font-bold">{% trans "Current status" %}</dt>
                <dd>{{ object.phase }}</dd>
            </dl>
        </div>
        {% url 'funds:submissions:progress' pk=object.pk as progress_url %}
        {% include 'funds/includes/dialog_form_base.html' with form=form value=value url=progress_url data_var="statusUpdated" %}
    </div>
{% endif %}
