{% load i18n heroicons %}

{% regroup object.reminders.all by get_action_display as action_list %}
<ul>
    {% for action in action_list %}
        <li><span class="font-semibold text-fg-muted">{{ action.grouper }}</span>
            <ul class='pt-1 divide-y'>
                {% for reminder in action.list %}
                    <li class="flex justify-between gap-4 py-1">
                        <span class="{% if reminder.is_expired %}text-red-600{% endif %}">
                            <span class="font-medium line-clamp-2">{{ reminder.title|default:"untitled reminder" }}</span>
                            <datetime class="text-xs text-fg-muted" datetime="{{ reminder.time|date:"c" }}">
                                {{ reminder.time|date:"SHORT_DATE_FORMAT" }}
                                {% if reminder.is_expired %} - {% trans "Expired" %}{% endif %}
                            </datetime>
                        </span>

                        <div>
                            <a class="inline-flex items-center p-2 rounded hover:bg-gray-100"
                               title="{% trans "Delete" %}"
                               href="{% url 'funds:submissions:reminders:delete' object.id reminder.id %}"
                               role="button"
                            >
                                {% heroicon_micro "trash" class="inline-block fill-red-500" aria_hidden=true %}
                                <span class="sr-only">{% trans "Delete" %}</span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <li>{% trans "No reminders yet." %}</li>
    {% endfor %}
</ul>
