{% load i18n wagtailusers_tags workflow_tags translate_tags heroicons %}
{% if request.user|can_translate_submission %}
    {% if from_lang_name and to_lang_name %}
        {# For active translations #}
        <div class="w-full text-center my-2 py-5 border rounded-lg shadow-md">
            <span>
                {% heroicon_outline "language" aria_hidden="true" size=15 stroke_width=2 class="inline align-baseline me-1" %}
                {% blocktrans %} This application is translated from {{from_lang_name}} to {{to_lang_name}}. {% endblocktrans %}
                <a href="{% url 'funds:submissions:detail' object.id %}">
                    {% trans "See original" %}
                </a>
            </span>
        </div>
    {% else %}
        {# For a translation loading indicator #}
        <div id="translate-card-loading" class="w-full text-center h-0 m-0 p-0 overflow-hidden content-center rounded-lg shadow-md animate-pulse htmx-indicator">
            <span class="w-[490px] bg-gray-200 rounded-lg"></span>
        </div>
    {% endif %}
{% endif %}
<h3 class="text-xl border-b pb-2 font-bold">{% trans "Proposal Information" %}</h3>
<div class="hypha-grid hypha-grid--proposal-info">
    {% if object.get_value_display != "-" %}
        <div>
            <h5 class="text-base">{% trans "Requested Funding" %}</h5>
            {{ object.get_value_display }}
        </div>
    {% endif %}

    {% if object.get_duration_display != "-" %}
        <div>
            <h5 class="text-base">{% trans "Project Duration" %}</h5>
            {{ object.get_duration_display }}
        </div>
    {% endif %}

    {# Hide potential applicant PII if warranted #}
    {% if object|show_applicant_identity:request.user %}
        <div>
            <h5 class="text-base inline">{% trans "Legal Name" %}</h5>{% if request.user.is_apply_staff %} <span class="text-sm">(<a class="underline" href="{% url 'wagtailusers_users:edit' object.user_id %}">{% trans "Edit" %}</a>)</span>{% endif %}
            {{ object.get_full_name_display }}
        </div>
        <div>
            <h5 class="text-base">{% trans "E-mail" %}</h5>
            {{ object.get_email_display }}
        </div>
        {% if object.get_address_display != "-" %}
            <div class="hypha-grid__cell--span-two">
                <h5 class="text-base">{% trans "Address" %}</h5>
                {{ object.get_address_display }}
            </div>
        {% endif %}
    {% endif %}
    {% if object.get_organization_name_display != "-" %}
        <div class="hypha-grid__cell--span-two">
            <h5 class="text-base">{% trans "Organization name" %}</h5>
            {{ object.get_organization_name_display }}
        </div>
    {% endif %}
</div>

<div class="rich-text rich-text--answers">
    {{ object.output_answers }}
</div>

<style type="text/css">
    #translate-card-loading.htmx-request.htmx-indicator{
        height: 64px;
        transition: height 0.25s ease-in;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-width: 1px;
    }

    #translate-card-loading.htmx-request.htmx-indicator span {
        display: inline-block;
        height: 1rem;
    }
</style>