{% load i18n review_tags heroicons %}

{% with recommendation|traffic_light as traffic_light_html %}
    {% with assigned_reviewers|average_review_score as average %}
        {% if traffic_light_html or average %}
            <div class="flex justify-around items-center p-2 mb-2 bg-base-200">
                {% if traffic_light_html %}
                    <span>{{ recommendation|traffic_light }}</span>
                {% endif %}
                {% if average %}
                    <span class="font-medium">{{ average }}</span>
                {% endif %}
            </div>
        {% endif %}
    {% endwith %}
{% endwith %}

{% if not staff_reviewers_exist %}
    <p class="p-2 mb-2 alert alert-info alert-soft">
        {% heroicon_outline "information-circle" aria_hidden="true" %}
        {% if request.user.is_org_faculty %}
            {% trans "No staff reviewers yet" %}
        {% else %}
            {% trans "No public reviews yet" %}
        {% endif %}
    </p>
{% endif %}

<ul class="reviews-sidebar list" id="id_reviewers" x-data='{showHiddenReviewers: false}'>

    {% regroup assigned_reviewers by type as reviewers_list %}

    {% for reviewer_type, reviewers in reviewers_list %}
        {% for reviewer in reviewers %}
            {% if reviewer_type.name in hidden_types %}
                {% include 'funds/includes/review_sidebar_item.html' with reviewer=reviewer hidden=True %}

                {% if forloop.last %}
                    <li class="list-row">
                        <button
                            role="button"
                            class="text-sm font-semibold link link-muted"
                            @click.prevent="showHiddenReviewers = !showHiddenReviewers"
                            href="#"
                        >
                            <span x-show="!showHiddenReviewers">{% trans "Show more..." %}</span>
                            <span x-cloak x-show="showHiddenReviewers">{% trans "Show less..." %}</span>
                        </button>
                    </li>
                {% endif %}
            {% else %}
                {% include 'funds/includes/review_sidebar_item.html' with reviewer=reviewer %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
