{% load i18n %}
<section>
    <h2 class="section-header">
        <a href="{% url 'apply:rounds:list' %}" class="link link-hover">{{ title }}</a>
    </h2>

    <div class="tabs tabs-lift">
        <input type="radio"
               name="rounds_tabs"
               class="tab"
               id="tab-open-rounds"
               aria-label="{% trans 'Open' %}"
               checked="checked" />
        <div class="tab-content border-base-300 bg-base-100"
             role="tabpanel"
             tabindex="0"
             aria-labelledby="tab-open-rounds"
             id="panel-open-rounds">
            {% if page_type == 'dashboard' %}
                {% include "funds/includes/no_round_block_dashboard.html" with rounds=open_rounds display_text="Open until" query=open_query type=_("Open") %}
            {% else %}
                {% include "funds/includes/round-block-listing.html" with can_export=can_export rounds=open_rounds display_text=_("Open until") query=open_query type=_("Open") %}
            {% endif %}
        </div>

        <input type="radio"
               name="rounds_tabs"
               class="tab"
               id="tab-closed-rounds"
               aria-label="{% trans 'Closed' %}" />
        <div class="tab-content border-base-300 bg-base-100"
             role="tabpanel"
             tabindex="0"
             aria-labelledby="tab-closed-rounds"
             id="panel-closed-rounds">
            {% if page_type == 'dashboard' %}
                {% include "funds/includes/no_round_block_dashboard.html" with rounds=closed_rounds display_text=_("Closed") query=closed_query type=_("Closed") %}
            {% else %}
                {% include "funds/includes/round-block-listing.html" with rounds=closed_rounds display_text=_("Closed") query=closed_query type=_("Closed") %}
            {% endif %}
        </div>
    </div>
</section>
