{% load i18n %}

<ul class="round-block">
    {% for round in rounds %}
        {% if forloop.counter0 < 5 %}
            <li class="round-block__item">
                <a href="{% url 'apply:rounds:detail' pk=round.pk %}" class="round-block__title">{{ round }}</a>
                <p> {{ round.fund|default_if_none:"-" }} </p>
                <p class="round-block__date">
                    {% if round.end_date %}
                        {{ display_text }} {{ round.end_date|date:"SHORT_DATE_FORMAT" }}
                    {% else %}
                        Open
                    {% endif %}
                    </p>
                    <p class="round-block__determination">
                        {% if round.progress is None %}
                            -
                        {% else %}
                            {{ round.progress }}% {% trans 'Determined' %} ({{ round.closed_submissions }}/{{ round.total_submissions }})
                        {% endif %}
                    </p>
                <a class="round-block__view" href="{% url 'apply:rounds:detail' pk=round.pk %}">{% trans 'View' %}</a>
            </li>
        {% else %}
            <li class="round-block__item round-block__item--more">
                <a href="{% url 'apply:rounds:list' %}{{ query }}">{% trans 'Show all' %}</a>
            </li>
        {% endif %}
    {% empty %}
            {% block empty_round %}
                <p class="round-block__not-found">
                    There are no {% if round.end_date %} {{ display_text|lower }} {% else %} {{ type|lower }} {% endif %} rounds
                </p>
            {% endblock %}
    {% endfor %}
</ul>
