{% load i18n %}
<div class="wrapper wrapper--bottom-space">
    <section class="section section--with-options">
        <h4 class="heading heading--normal heading--no-margin">{{ title }}</h4>
        <div class="js-tabs">
            <a class="tab__item tab__item--alt" href="#open-rounds" data-tab="tab-1">{% trans "Open" %}</a>
            <a class="tab__item tab__item--alt" href="#closed-rounds" data-tab="tab-2">{% trans "Closed" %}</a>
            <a class="tab__item tab__item--alt" href="#future-rounds" data-tab="tab-3">{% trans "Future" %}</a>
        </div>
    </section>

    <div class="js-tabs-content">
        {# Open rounds/labs tab #}
        <div class="tabs__content" id="tab-1">
            {% if page_type == 'dashboard' %}
                {% include "funds/includes/no_round_block_dashboard.html" with rounds=open_rounds display_text="Open until" query=open_query type="Open" %}
            {% else %}
                {% include "funds/includes/round-block-listing.html" with rounds=open_rounds display_text="Open until" query=open_query type="Open" %}
            {% endif %}
        </div>

        {# Closed rounds/labs tab #}
        <div class="tabs__content" id="tab-2">
            {% if page_type == 'dashboard' %}
                {% include "funds/includes/no_round_block_dashboard.html" with rounds=closed_rounds display_text="Closed as of" query=closed_query type="Closed" %}
            {% else %}
                {% include "funds/includes/round-block-listing.html" with rounds=closed_rounds display_text="Closed as of" query=closed_query type="Closed" %}
            {% endif %}
        </div>

        {# Future rounds/labs tab #}
        <div class="tabs__content" id="tab-3">
            {% if page_type == 'dashboard' %}
                {% include "funds/includes/no_round_block_dashboard.html" with rounds=future_rounds display_text="Future opens" query=future_query type="Future" %}
            {% else %}
                {% include "funds/includes/round-block-listing.html" with rounds=future_rounds display_text="Future opens" query=future_query type="Future" %}
            {% endif %}
        </div>

    </div>

</div>
