{% load i18n %}
<div class="wrapper wrapper--bottom-space">
    <section class="section">
        <ul class="status-block">
            {% for status, data in status_counts.items %}
                <a class="status-block__item {% if data.is_active %}status-block__item--active{% endif %}" href="{{ data.url }}">
                    <p class="status-block__title text-black"><strong>{{ data.name }}</strong></p>
                    <p class="status-block__info text-gray-400">{{ data.count }} {{ type }}</p>
                </a>
            {% endfor %}
        </ul>
    </section>
</div>
