{% load i18n %}
<div class="wrapper wrapper--bottom-space">
    <section>
        <ul class="status-block">
            {% for status, data in status_counts.items %}
                <a class="status-block__item {% if data.is_active %}status-block__item--active{% endif %}" href="{{ data.url }}">
                    <p class="text-base-content status-block__title"><strong>{{ data.name }}</strong></p>
                    <p class="text-fg-muted status-block__info">{{ data.count }} {{ type }}</p>
                </a>
            {% endfor %}
        </ul>
    </section>
</div>
