{% load statusbar_tags %}

<section class="@container">
    <ul class=" w-full steps steps-sm {{ class }} hidden @lg:inline-grid">
        {% for phase in phases %}
            {% ifchanged phase.step %}
                {% status_display current_phase phase public as display_text %}
                {% if current_phase.step == phase.step %}
                    <li data-content="●" class="step step-primary">
                        <span class="block py-1 px-2 text-xs font-semibold rounded-box bg-primary text-primary-content row-start-auto!">{{ display_text }}</span>
                    </li>
                {% elif current_phase.step > phase.step %}
                    <li data-content="✓" class="step step-primary">{{ display_text }}</li>
                {% else %}
                    <li data-content="" class="step text-fg-muted">{{ display_text }}</li>
                {% endif %}
            {% endifchanged %}
        {% endfor %}
    </ul>

    <div class="@lg:hidden badge badge-primary badge-lg [--size:auto]">
        {% if public %}
            {{ current_phase.public_name }}
        {% else %}
            {{ current_phase }}
        {% endif %}
    </div>
</section>
