{% load i18n heroicons querystrings %}
{% load show_applicant_identity from workflow_tags %}

<tr
    class="relative hover:bg-base-200"
>
    {% if enable_selection %}
        <td class="hidden text-center align-top md:table-cell pe-2">
            <!-- select -->
            <label class="py-2.5">
                <input id="submission-{{ s.id }}"
                       type="checkbox"
                       value="{{ s.id }}"
                       x-model="selectedSubmissions"
                       name="selectedSubmissionIds"
                       class="checkbox checkbox-sm"
                >
                <span class="sr-only">{% trans "Select submission" %} #{{ s.id }}</span>
            </label>
        </td>
    {% endif %}

    <td class="text-center align-top pe-2">
        <div class="py-1" tabindex="-1">
            {% if s.is_archive %}
                {% trans "Archived Submission" as text_archived %}
                {% heroicon_outline "lock-closed" aria_hidden="true" size=21 class="inline -mt-1 align-text-bottom stroke-red-800 stroke-1.5" data_tippy_placement='right' data_tippy_content=text_archived data_tippy_delay=200 %}
                <span class="sr-only">{% trans "Archived" %}</span>
            {% elif s.get_current_screening_status %}
                {% if s.get_yes_screening_status %}
                    {% heroicon_mini "hand-thumb-up" aria_hidden="true" size=21 class="inline -mt-1 align-text-bottom fill-green-400 stroke-1.5" data_tippy_placement='right' data_tippy_content=s.get_current_screening_status data_tippy_delay=200 %}
                {% else %}
                    {% heroicon_mini "hand-thumb-down" aria_hidden="true" size=21 class="inline -mt-1 align-text-bottom fill-red-400 stroke-1.5" data_tippy_placement='right' data_tippy_content=s.get_current_screening_status data_tippy_delay=200 %}
                {% endif %}
            {% else %}
                {% heroicon_outline "question-mark-circle" aria_hidden="true" size=21 class="inline -mt-1 align-text-bottom stroke-slate-300 stroke-1.5" data_tippy_placement='right' data_tippy_content="Awaiting Screening" data_tippy_delay=200 %}
            {% endif %}
        </div>
    </td>

    <!-- title -->
    <td class="align-text-top">
        <a
            title="{{ s.form_data.title }}"
            href="{% url "funds:submissions:detail" s.id %}?ref=table-view"
            class="text-base font-semibold break-words link link-hover line-clamp-2"
        >{{ s.form_data.title }}</a>
        <div class="text-xs text-fg-muted">
            #{{ s.application_id }}
            submitted <relative-time datetime="{{ s.submit_time|date:"c" }}">{{ s.submit_time|date:"SHORT_DATE_FORMAT" }}</relative-time>
            • {{ s.stage }}
            {% if s.project %}
                • <a href="{% url "funds:submissions:project" s.id %}" class="link link-muted text-inherit">{% trans "Project" %}</a>
            {% endif %}
        </div>
    </td>

    <td class="text-center align-top">
        <a
            hx-target="#main"
            hx-push-url="true"
            hx-swap="outerHTML transition:true"
            href="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" status=s.phase.display_slug %}"
            hx-get="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" status=s.phase.display_slug %}"
            class="{{ s.phase.bg_color }} hover:opacity-70 text-center transition-opacity rounded-full inline-block ms-1 px-2 pt-0.5 pb-1 text-xs font-medium text-gray-800"
        >{{ s.phase.display_name }}</a>
    </td>

    <td class="text-sm align-top">
        {% if s|show_applicant_identity:request.user %}
            <a
                href="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" applicants=s.user.id %}"
                hx-get="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" applicants=s.user.id %}"
                hx-target="#main"
                hx-push-url="true"
                hx-swap="outerHTML transition:true"
                class="link link-muted text-inherit"
            >
                {{ s.user }}
            </a>
            {% if 'organization_name' not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS and s.form_data.organization_name %}
                <span class="text-xs text-fg-muted"> / {{ s.form_data.organization_name }}</span>
            {% endif %}
        {% endif %}
    </td>

    {% if "round" not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
        <!-- fund -->
        <td class="text-sm text-center align-top">
            {% if s.round %}
                <a
                    href="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" round=s.round.id %}"
                    hx-get="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" round=s.round.id %}"
                    hx-target="#main"
                    hx-push-url="true"
                    hx-swap="outerHTML transition:true"
                    class="link link-muted text-inherit"
                >{{ s.round }}</a>
                {% if 'fund' not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
                    <span class="text-xs text-fg-muted"> / {{ s.page }}</span>
                {% endif %}
            {% else %}
                <a
                    href="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" fund=s.page.id %}"
                    hx-get="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" fund=s.page.id %}"
                    hx-target="#main"
                    hx-push-url="true"
                    hx-swap="outerHTML transition:true"
                    class="link link-muted text-inherit"
                >
                    {{ s.page }}
                </a>
            {% endif %}
        </td>
    {% endif %}

    {% if not 'lead' in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
        <td class="text-sm align-top">
            <a
                href="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" lead=s.lead.id %}"
                hx-get="{% url "apply:submissions:list" %}{% modify_query "only_query_string" "page" lead=s.lead.id %}"
                hx-target="#main"
                hx-push-url="true"
                hx-swap="outerHTML transition:true"
                class="link link-muted text-inherit"
            >{{ s.lead }}</a>
        </td>
    {% endif %}
    <td class="align-top">
        <div class="flex {% if 'reviews' in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}justify-center{% else %}justify-start{% endif%} gap-2">
            {% if 'reviews' not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
                {% comment %} Reviews {% endcomment %}
                <span class="inline-block w-16">
                    <div
                        class="relative gap-1 items-center w-full text-sm group"
                        hx-trigger="mouseover once"
                        hx-get="{% url "funds:submissions:partial-reviews-card" s.id %}"
                        hx-target="find .review-hovercard"
                        hx-swap="innerHTML"
                    >
                        <span id="r{{s.id}}" class="inline-block w-full">
                                {% comment %} pre-loading animation {% endcomment %}
                            <span class="inline-block w-full h-5 rounded-sm animate-pulse bg-base-300"
                            ></span>
                        </span>

                        <div
                            class="hidden absolute bottom-6 z-10 p-2 w-64 rounded-sm border shadow-lg group-hover:block bg-base-100 review-hovercard -end-1/2 md:-end-4"
                        >
                                {% comment %} pre-loading animation {% endcomment %}
                            <div class="animate-pulse min-h-30">
                                <div class="mb-3 w-full h-9 bg-base-300"></div>
                                <div class="mb-1 w-full h-6 bg-base-300"></div>
                                <div class="mb-3 w-full h-1 bg-base-300"></div>
                                <div class="mb-3 w-1/2 h-6 bg-base-300"></div>
                            </div>
                        </div>
                    </div>
                </span>
            {% endif %}
            {% if s.comment_count %}
                <a class="flex items-center transition-colors text-inherit group hover:text-primary"
                   title="{% trans "View communications" %}"
                   href="{% url "funds:submissions:comments" s.id %}"
                >
                    {% heroicon_outline "chat-bubble-left" aria_hidden="true" size=16 class="inline-block stroke-2 me-1 group-hover:stroke-light-blue" %}
                    <span class="inline-block font-medium">{{ s.comment_count }}</span>
                </a>
            {% endif %}
        </div>
    </td>
</tr>
