{% load django_tables2 i18n %}

<div class="wrapper wrapper--table-actions js-table-actions">
    <div class="actions-bar">
        {# Left #}
        <div class="actions-bar__inner actions-bar__inner--left">
            {% if use_batch_actions %}
                <div class="actions-bar__per-page">{% trans "Show" %} <a href="{% querystring "per_page"=25 %}">25</a> | <a href="{% querystring "per_page"=50 %}">50</a> | <a href="{% querystring "per_page"=100 %}">100</a> {% trans "items" %}</div>
            {% endif %}

            {% if heading %}
                <h4 class="heading heading--normal heading--no-margin">{{ heading }}</h4>
            {% endif %}


            {% if use_batch_actions %}
                <div class="actions-bar__inner actions-bar__inner--batch-actions">
                    <p class="actions-bar__total"><span class="js-total-actions">0</span> {% trans "Selected" %}</p>

                    <button
                        data-fancybox
                        type="button"
                        data-src="#batch-progress"
                        class="button button--action button--change-status js-batch-button js-batch-progress"
                    >
                        <svg><use xlink:href="#arrow-split"></use></svg>
                        {% trans "Status" %}
                    </button>

                    <button data-fancybox data-src="#batch-update-lead" class="button button--action js-batch-button" type="button">
                        <svg><use xlink:href="#add-person"></use></svg>
                        {% trans "Lead" %}
                    </button>

                    <button data-fancybox data-src="#batch-update-reviewers" class="button button--action js-batch-button" type="button">
                        <svg><use xlink:href="#add-person"></use></svg>
                        {% trans "Reviewers" %}
                    </button>

                    <button data-fancybox data-src="#batch-delete-submission" class="button button--action js-batch-button" type="button">
                        <svg class="icon icon--delete"><use xlink:href="#delete-submissions"></use></svg>
                        {% trans "Delete" %}
                    </button>
                </div>
            {% endif %}
        </div>

        {# Right #}
        <div class="actions-bar__inner actions-bar__inner--right">
            {% if filter_classes != 'filters-open' %}
                <button class="button button--filters js-toggle-filters">{% trans "Filters" %}</button>
            {% endif %}

            {% if use_search|default:False %}
            <form action="{{ search_action }}" method="get" role="search" class="form form--search-desktop">
                <button class="button button--search" type="submit" aria-label="{% trans "Search" %}">
                    <svg class="icon icon--magnifying-glass icon--search"><use xlink:href="#magnifying-glass"></use></svg>
                </button>
                <input class="input input--search input--secondary" type="text" placeholder="Search {{ search_placeholder|default:"submissions" }}" name="query"{% if search_term %} value="{{ search_term }}"{% endif %} aria-label="{% trans "Search input" %}">
            </form>
            {% endif %}
        </div>
    </div>

</div>

<div class="filters {% if filter_classes %}{{filter_classes}}{% endif %}">
    <div class="filters__header">
        <button class="filters__button js-clear-filters">{% trans "Clear" %}</button>
        <div>{% trans "Filter by" %}</div>
        <button class="filters__button js-close-filters">{% trans "Close" %}</button>
    </div>

    <form action="{{ filter_action }}" method="get" class="form form--filters js-filter-form">
        <ul class="form__filters select2">
            {{ filter.form.as_ul }}
            <li>
                <button class="button button--primary" type="submit" value="Filter">{% trans "Filter" %}</button>
            </li>
        </ul>
    </form>
</div>

{% if use_batch_actions %}
    {% include "funds/includes/batch_update_lead_form.html" %}
    {% include "funds/includes/batch_update_reviewer_form.html" %}
    {% include "funds/includes/batch_progress_form.html" %}
    {% include "funds/includes/batch_delete_submission_form.html" %}
{% endif %}
