{% load django_tables2 i18n heroicons %}
{% load querystrings table_tags static %}

{% if heading or use_search %}
    <div class="wrapper wrapper--table-actions js-table-actions">
        <div class="actions-bar">
            {# Left #}
            <div class="actions-bar__inner actions-bar__inner--left">
                {% if heading %}
                    <h2 class="mb-2 text-xl">{{ heading }}</h2>
                {% endif %}

            </div>

            {# Right #}
            <div class="flex gap-4 items-center">
                {% if use_search|default:False %}
                    {% include "funds/includes/search-input.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

<div>
    {% get_filtered_query request filter.form as filtered_query %}
    {% if filtered_query %}
        <div class="flex flex-wrap gap-2 items-center mt-2">
            <a
                href="./"
                class="btn btn-ghost btn-sm btn-link link-hover"
            >
                {% heroicon_mini "x-mark" aria_hidden="true" fill="currentColor" %}
                {% trans "Clear current filters and sorts" %}
            </a>
            {% for query in filtered_query %}
                {% for key, data in query.items %}
                    <c-badge.action btn_url="{% update_filter_query_params key data.value operation='remove' %}">
                        {{ data.key_label }}: {{ data.label }}
                    </c-badge.action>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <form method="GET" class="flex sticky top-0 flex-wrap gap-2 justify-end items-center py-2 px-3 mt-3 border-t md:gap-5 md:text-sm md:font-medium bg-base-200 border-base-300 z-[5] border-x">
        <span class="hidden items-center py-1 md:inline-flex"></span>
        {% for field_name, field in filter.form|get_filter_fields %}
            {% if filter.form %}
                <nav class="flex flex-wrap gap-2 items-center menu-filters">
                    {% if not field|is_datefilter %}
                        {% dropdown_menu title=field.label heading=field|get_dropdown_heading enable_search=True position="right" %}
                            <ul class="flex overflow-auto flex-col max-h-80 text-gray-700 divide-y" data-filter-list>
                                {% for value, label in filter.form|get_field_choices:field_name %}
                                    {% get_item_value filter.form field_name as selected_value %}
                                    <li>
                                        <a
                                            {% if value|stringformat:'s' in selected_value %}
                                                href="{% update_filter_query_params field_name value operation='remove' %}"
                                            {% elif field|is_multiple %}
                                                href="{% update_filter_query_params field_name value operation='add' %}"
                                            {% else %}
                                                href="{% update_filter_query_params field_name value operation='modify' %}"
                                            {% endif %}
                                            role="menuitemradio"
                                            class="flex {% if value|stringformat:'s' in selected_value %}bg-base-200 ps-2 font-medium{% else %}ps-8{% endif %} pe-3 py-2 text-base-content/80 items-center hover:bg-base-200 focus:bg-base-200"
                                        >
                                            {% if value|stringformat:'s' in selected_value %}
                                                {% heroicon_mini "check" aria_hidden="true" size=16 class="stroke-2 me-2" %}
                                            {% endif %}
                                            <span>{{ label }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% enddropdown_menu %}
                    {% else %}
                        <div id="{{ field_name }}"
                             class="flex justify-between items-center py-1 w-full font-medium border cursor-pointer md:border-none hover:bg-gray-50 text-base-content/80 ps-2 pe-2 md:hover:bg-transparent md:hover:text-blue-700"
                             data-field-name="{{ field_name }}" data-filter-list>
                            {{ field.label }}
                            {% heroicon_micro attributes.icon|default:"chevron-down" aria_hidden="true" size="16" class="hidden w-4 h-4 md:inline-block ms-0.5" %}
                        </div>

                        <script defer src="{% static 'js/vendor/moment.min.js' %}"></script>
                        <script defer src="{% static 'js/vendor/daterangepicker.min.js' %}"></script>
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                function updateURL(paramStart, paramEnd, startDate, endDate) {
                                    let url = new URL(window.location);
                                    if (startDate) {
                                        url.searchParams.set(paramStart, startDate);
                                    } else {
                                        url.searchParams.delete(paramStart);
                                    }

                                    if (endDate) {
                                        url.searchParams.set(paramEnd, endDate);
                                    } else {
                                        url.searchParams.delete(paramEnd);
                                    }
                                    window.history.pushState({}, '', url);
                                    location.reload(); // Reload to apply the filter
                                }

                                var fieldName = "{{ field_name }}";  // Django variable inside JS
                                let dateLink = $("#{{ field_name }}");

                                var start = moment().subtract(29, 'days');
                                var end = moment();


                                dateLink.daterangepicker({
                                    startDate: start,
                                    endDate: end,
                                    ranges: {
                                        'Today': [moment(), moment()],
                                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                    }
                                }, function(start, end) {
                                    let formattedStart = start.format('YYYY-MM-DD');
                                    let formattedEnd = end.format('YYYY-MM-DD');
                                    dateLink.textContent = formattedStart + ' - ' + formattedEnd;
                                    updateURL(fieldName + "_after", fieldName + "_before", formattedStart, formattedEnd);

                                });
                            });
                        </script>
                    {% endif %}
                </nav>
            {% endif %}
        {% endfor %}
    </form>
</div>
