{% load i18n static %}
<div class="p-6 z-20">
    <form
        class="form px-3"
        id="reviewer_form"
        hx-target="#id_reviewers"
        hx-swap="innerHTML"
        hx-select="#id_reviewers"
        method="POST"
        hx-post="{% url 'funds:submissions:reviewers_update' pk=object.pk %}"
    >
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% for field in form.visible_fields %}
            {% if field.name == "external_reviewers" and not show_external_reviewers %}
            {% comment %} skip for external reviewer if not allowed {% endcomment %}
            {% else %}
                <fieldset class="mt-3">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    <div class="mt-2">
                        {{ field }}
                    </div>
                </fieldset>
            {% endif %}
        {% endfor %}

        <button
            class="button button--primary mt-6 mb-3"
            type="submit"
            @click='reviewerForm = false'
        >
            {% trans "Update" %}
        </button>
    </form>
</div>

<script type="module">
    {% comment %} Do this here as the select elements for different roles are dynamically generated. {% endcomment %}
    import Choices from "{% static 'js/esm/choices.js-10-2-0.js' %}";

    const selectElements = document.querySelectorAll('#reviewer_form select');

    // add choices to all select elements
    selectElements.forEach((selectElement) => {
        new Choices(selectElement, {
            removeItemButton: true,
            allowHTML: true,
        });
    });
</script>
