.title-text {
    width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.delete-icon {
    color : red;
    cursor: pointer;
    float: right;
}

.list-item {
    padding: 3px 3px 0px 3px;
    &:hover {
        background-color: #d4d4d4;
    }
}
