// $TYPOGRAPHY
// Base font
html {
    font-size: ($base-font-size / 16px) * 100%;
    line-height: $base-line-height / $base-font-size;
    color: $color--default;
}

/* ============================================
    Families – one mixin per typeface
    :: For each font mixin defined here, make sure each property is negated (set
    :: to its default value, usually `inherit`) in all other font mixins.
*/
@mixin heading-text {
    margin: 0 0 1rem;
    font-family: $font--headings;
    font-style: inherit;
    font-weight: $weight--bold;
}

@mixin body-text {
    font-family: $font--primary;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
}

// sass-lint:disable single-line-per-selector
h1, h2, h3, h4, h5, h6,
.heading-text {
    @include heading-text;
}
// sass-lint:enddisable

.body-text {
    @include responsive-font-sizes($base-font-size, $base-font-size-large);
}

// Default sizes
h1, %h1, .alpha   {
    @include responsive-font-sizes(40px, map-get($font-sizes, alpha));
    font-weight: $weight--black;
    letter-spacing: -.02rem;
}

h2, %h2, .beta    {
    @include responsive-font-sizes(30px, map-get($font-sizes, beta));
    letter-spacing: -.02rem;
}

h3, %h3, .gamma   {
    @include responsive-font-sizes(20px, map-get($font-sizes, gamma));
    letter-spacing: -.02rem;
}

h4, %h4, .delta   {
    @include responsive-font-sizes(18px, map-get($font-sizes, delta));
    letter-spacing: -.02rem;
}

h5, %h5, .epsilon {
    @include responsive-font-sizes(15px, map-get($font-sizes, epsilon));
}

h6, %h6, .zeta    {
    @include font-size(zeta);
}

small, .milli {
    @include font-size(milli);
}

// thin
@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../../fonts/montserrat/Montserrat-Light.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// regular
@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/montserrat/Montserrat-Regular.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// semibold
@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// bold
@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/montserrat/Montserrat-Bold.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// black
@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../../fonts/montserrat/Montserrat-Black.woff') format('woff');
    text-rendering: optimizeLegibility;
}



// regular
@font-face {
    font-family: 'noto-sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/noto-sans/NotoSans.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// bold
@font-face {
    font-family: 'noto-sans';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/noto-sans/NotoSans-Bold.woff') format('woff');
    text-rendering: optimizeLegibility;
}
