{% load i18n %}
{% if is_root %}
  <span><strong>{{ name }}</strong></span>
{% else %}
  <span>
    <span class="inline-block" style="margin-left:{{ depth }}em; font-size:{% if depth is 1 %}90{% elif depth is 2 %}80{% else %}100{% endif %}%;"></span>
    <i class="icon icon-fa-level-up icon-fa-rotate-90" style="display: inline-block;"></i>
    {% if is_archived %}
        <span style="color: LightGray">{{ name }} ({% trans "archived" %})</span>
    {% else %}
        {{ name }}
    {% endif %}
  </span>
{% endif %}
