$color--white: #fff;
$color--black: #141414;
$color--light-blue: #43bbf1;
$color--dark-blue: #25aae1;
$color--dark-grey: #404041;
$color--purple: #8b1fbc;

$color--default: $color--black;
$color--primary: $color--light-blue;
$color--secondary: #eaeaea;
$color--tertiary: #f9f9f9;

// Button colours
$button-colours: (
    primary:    (bg: $color--primary, color: #fff),
    secondary:  (bg: $color--secondary, color: #000),
    tertiary:   (bg: $color--tertiary, color: #000),
);

// Fonts
$font--primary: 'proxima-nova';
$font--secondary: Sans-Serif;

// Font weights
$weight--black: 800;
$weight--bold: 700;
$weight--semibold: 600;
$weight--normal: 400;
$weight--light: 200;

// Font sizes
$base-font-size: 19px;
$base-line-height: 29px;
$font-sizes: (
    // standard sizes
    alpha:   72px,
    beta:    42px,
    gamma:   36px,
    delta:   24px,
    epsilon: 17px,
    zeta:    15px,

    // non-standard small sizes
    milli:   13px
);

// Wrappers
$site-width: 1280px;
$wrapper--small: 790px;

// Breakpoints
$breakpoints: (
    'mob-portrait'      '(min-width: 320px)',
    'mob-landscape'     '(min-width: 480px)',
    'tablet-portrait'   '(min-width: 768px)',
    'tablet-landscape'  '(min-width: 1024px)',
    'desktop'           '(min-width: 1280px)',
    'deskop-wide'       '(min-width: 2556px)'
);

// Transition speeds
$transition: 0.25s ease-out;
