{% extends "base.html" %}
{% load i18n %}
{% block header_modifier %}header--light-bg{% endblock %}
{% block page_title %}Set your new password{% endblock %}
{% block content %}
<div class="wrapper wrapper--small wrapper--bottom-space">
    <form class="form form--login" method="post" novalidate>
        {% csrf_token %}
        <p>{{ form.new_password1.label_tag }} {{ form.new_password1 }}</p>
        <p>{{ form.new_password2.label_tag }} {{ form.new_password2 }}</p>
        <button class="link link--button-secondary" type="submit">{% trans 'Reset password' %}</button>
    </form>
</div>
{% endblock %}
