{% load review_tags %}

<table class="reviews-summary">
    <tr class="reviews-summary__tr">
        <td class="reviews-summary__td">
            {% if record.stage.has_external_review %}
                {{ record.review_count|default:'0' }}
            {% else %}
                {{ record.review_staff_count|default:'0' }}
            {% endif %}
        </td>
        <td class="reviews-summary__td">{{ record.review_submitted_count|default:'0' }}</td>
        <td class="reviews-summary__td">{{ record.review_recommendation|traffic_light }}</td>
    </tr>
</table>
