

.formFieldcontainer {

    .form__item {
        padding-bottom: 0px;
    }
}
.error {
    color: #ec2d0b;
    font-size:12px;
    line-height: 14px; 
    min-height: 15px; 
    margin-bottom: 17px;
}
