{% extends "funds/applicationsubmission_detail.html" %}
{% load workflow_tags review_tags%}

{% block sidebar_forms %}
        {% include "funds/includes/actions.html" %}
        {% include "funds/includes/progress_form.html" %}
        {% include "funds/includes/update_lead_form.html" %}
        {% include "funds/includes/update_reviewer_form.html" %}
{% endblock %}

{% block reviews %}
    <div class="sidebar__inner">
        <h5>Reviews &amp;amp; assignees</h5>

        {% include 'funds/includes/review_table.html' %}

        <div class="wrapper wrapper--button-container">
            {% if request.user|has_review_perm:object %}
                {% if request.user|has_draft:object %}
                    <a href="{% url 'apply:reviews:form' submission_pk=object.id %}" class="button button--primary">Update draft</a>
                {% elif request.user|can_review:object %}
                    <a href="{% url 'apply:reviews:form' submission_pk=object.id %}" class="button button--primary">Create review</a>
                {% endif %}
            {% endif %}

            {% if request.user.is_apply_staff %}
                <a href="{% url 'apply:reviews:list' submission_pk=object.id %}" class="button button--white button--half-width">View all</a>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    {{ reviewer_form.media }}
{% endblock %}
