{% extends "base-apply.html" %}
{% load static workflow_tags wagtailcore_tags %}
{% block title %}{{ object.title }}{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
{% if object.round.specific.is_sealed %}
<ul class="messages">
    {% include "includes/message_item.html" with message="This submission is sealed " tag="warning" close=False %}
</ul>
{% endif %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h1 class="beta heading heading--no-margin heading--bold">{{ object.title }}</h1>
        <h5 class="heading heading--meta">
            <span>{{ object.stage }}</span>
            <span>{% if public_page %}<a class="link--transparent link--underlined" href="{% pageurl public_page %}" >{{ object.page }}</a>{% else %}{{ object.page }}{% endif %}</span>
            <span>{{ object.round }}</span>
            <span>Lead: {{ object.lead }}</span>
        </h5>
        {% include "funds/includes/status_bar.html" with phases=object.workflow current_phase=object.phase same_stage=True%}

        <div class="tabs js-tabs">
            <div class="tabs__container">
                <a class="tab__item" href="#submission-details" data-tab="tab-1">
                    Submission Details
                </a>

                <a class="tab__item" href="#communications" data-tab="tab-2">
                    Communications
                </a>

                <a class="tab__item" href="#activity-feed" data-tab="tab-3">
                    Activity Feed
                </a>
                {% if request.user.is_superuser %}
                <a class="tab__item tab__item--right js-tabs-off" href="{% url 'admin:activity_event_changelist' %}?submission__id={{ object.id }}">
                    View message log
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper--large wrapper--tabs">
{# Tab 1 #}
    <div class="tabs__content" id="tab-1">
        {% block admin_actions %}
        {% endblock %}
        <div class="wrapper wrapper--sidebar">
            {% if request.user|has_edit_perm:object and object.status == 'draft_proposal' and not request.user.is_apply_staff %}
                <div class="wrapper--sidebar--inner">
                    <h4>Congratulations!</h4>
                    <h5>Your {{ object.previous.stage }} application has been accepted.</h5>
                    <a class="button button--primary" href="{% url 'funds:submissions:edit' object.id %}">Start your {{ object.stage }} application</a>
                </div>
            {% else %}
                <article class="wrapper--sidebar--inner">
                    <header class="heading heading--submission-meta heading-text zeta">
                        <span>Submitted: <strong>{{ object.submit_time.date }} by {{ object.user.get_full_name }}</strong></span>
                        <span>Last edited: <strong>{{ object.live_revision.timestamp.date }} by {{ object.live_revision.author }}</strong></span>
                        {% if request.user|has_edit_perm:object %}
                            <a class="link link--edit-submission is-active" href="{% url 'funds:submissions:edit' object.id %}">
                                Edit
                                <svg class="icon icon--pen"><use xlink:href="#pen"></use></svg>
                            </a>
                        {% else %}
                            <span class="link link--edit-submission">
                                Edit
                                <svg class="icon icon--padlock"><use xlink:href="#padlock"></use></svg>
                            </span>
                        {% endif %}
                    </header>

                    {% include "funds/includes/rendered_answers.html" %}
                </article>
            {% endif %}

            <aside class="sidebar">
                {% if request.user.is_apply_staff %}
                    {% block sidebar_forms %}
                    {% endblock %}
                {% endif %}

                {% block determination %}
                    {% include 'determinations/includes/applicant_determination_block.html' with submission=object %}
                {% endblock %}

                {% block reviews %}
                {% endblock %}

                {% if other_submissions or object.previous or object.next %}
                    <div class="sidebar__inner">
                        <h5>Related submissions</h5>
                        {% if object.previous %}
                            <p><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' object.previous.id %}">View linked {{ object.previous.stage }}</a></p>
                        {% endif %}

                        {% if object.next %}
                            <p><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' object.next.id %}">View linked {{ object.next.stage }}</a></p>
                        {% endif %}

                        {% for submission in other_submissions %}
                            {% if forloop.first %}
                            <h6 class="heading heading--light-grey heading--uppercase">Past Submissions</h6>
                            <ul>
                            {% endif %}
                            <li><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' submission.id %}">{{ submission.title }}</a></li>
                            {% if forloop.last %}
                            </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </aside>
        </div>
    </div>

    {# Tab 2 #}
    <div class="tabs__content" id="tab-2">
        <div class="feed">
            {% include "activity/include/comment_form.html" %}
            {% include "activity/include/comment_list.html" %}
        </div>
    </div>

    {# Tab 3 #}
    <div class="tabs__content" id="tab-3">
        <div class="feed">
            {% include "activity/include/action_list.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ comment_form.media.js }}
    <script src="{% static 'js/apply/tabs.js' %}"></script>
    <script src="{% static 'js/apply/submission-text-cleanup.js' %}"></script>
{% endblock %}

