{% extends "base-apply.html" %}
{% load static %}
{% block title %}Editing: {{object.title }}{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h2 class="heading heading--no-margin">Editing: {{ object.title }}</h2>
    </div>
</div>

{% include "forms/includes/form_errors.html" with form=form %}

<div class="wrapper wrapper--light-grey-bg wrapper--form wrapper--sidebar">
    <div>
        <form class="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}

            {% for field in form %}
                {% if field.field %}
                    {% include "forms/includes/field.html" %}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            {% for button_name, button_type, button_value in buttons %}
                <input class="button button--submit button--top-space button--{{ button_type }}" type="submit" name="{{ button_name }}" value="{{ button_value }}" />
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apply/list-input-files.js' %}"></script>
{% endblock %}
