{% extends "base-apply.html" %}
{% load workflow_tags %}
{% block title %}{{ object.title }}{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
<div class="wrapper wrapper--breakout wrapper--admin">
    <div class="wrapper wrapper--medium">
        <h1 class="beta heading heading--no-margin heading--bold">{{ object.title }}</h1>
        <h5 class="heading heading--meta">
            <span>{{ object.stage }}</span>
            <span>{{ object.page }}</span>
            <span>{{ object.round }}</span>
            <span>Lead: {{ object.lead }}</span>
        </h5>
        {% include "funds/includes/status_bar.html" with phases=object.workflow current_phase=object.phase same_stage=True%}

        <div class="tabs js-tabs">
            <div class="tabs__container">
                <a class="tab__item" href="#submission-details" data-tab="tab-1">
                    Submission Details
                </a>

                <a class="tab__item" href="#communications" data-tab="tab-2">
                    Communications
                </a>

                <a class="tab__item" href="#activity-feed" data-tab="tab-3">
                    Activity Feed
                </a>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper--medium wrapper--tabs">
{# Tab 1 #}
    <div class="tabs__content" id="tab-1">
        {% block admin_actions %}
        {% endblock %}
        <div class="wrapper wrapper--sidebar">
            {% if request.user|has_edit_perm:object and not request.user.is_apply_staff %}
                <div>
                    <h4>Congratulations!</h4>
                    <h5>Your {{ object.previous.stage }} application has been accepted.</h5>
                    <a class="button button--primary" href="{% url 'funds:submissions:edit' object.id %}">Start your {{ object.stage }} application</a>
                </div>
            {% else %}
                <div>
                    <h6 class="heading heading--submission-meta">
                        <span>Submitted: </span>{{ object.submit_time.date }} by {{ object.user.get_full_name }}
                        <span>Edited: </span>{{ object.last_edit.timestamp.date }} by {{ object.last_edit.user.get_full_name }}
                        {% if request.user|has_edit_perm:object %}
                            <a href="{% url 'funds:submissions:edit' object.id %}">Edit</a>
                        {% endif %}
                    </h6>

                    <h3>Proposal Information</h3>
                    <div class="grid grid--proposal-info">
                        <div>
                            <h5>Requested Funding</h5>
                            <p>{{ object.value }}</p>
                        </div>

                        <div>
                            <h5>Project Duration</h5>
                            <p>{{ object.value }}</p>
                        </div>

                        <div>
                            <h5>Legal Name</h5>
                            <p>{{ object.full_name }}</p>
                        </div>

                        <div>
                            <h5>Email</h5>
                            <p>{{ object.email }}</p>
                        </div>
                    </div>
                    <div class="rich-text rich-text--answers">
                        {{ object.render_answers }}
                    </div>
                </div>
            {% endif %}

            <aside class="sidebar">
                {% if request.user.is_apply_staff %}
                    {% block sidebar_forms %}
                    {% endblock %}
                {% endif %}

                {% block reviews %}
                {% endblock %}

                {% if other_submissions or object.previous %}
                    <div class="sidebar__inner">
                        {% if object.previous %}
                            <h6><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' object.previous.id %}">View linked {{ object.previous.stage }}</a></h6>
                        {% endif %}

                        {% if object.next %}
                            <h6><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' object.next.id %}">View linked {{ object.next.stage }}</a></h6>
                        {% endif %}

                        {% for submission in other_submissions %}
                            {% if forloop.first %}
                                <h6 class="heading heading--light-grey heading--small heading--uppercase">Past Submissions</h6>
                            {% endif %}

                            <h6><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' submission.id %}">{{ submission.title }}</a></h6>
                        {% endfor %}
                    </div>
                {% endif %}
            </aside>
        </div>
    </div>

    {# Tab 2 #}
    <div class="tabs__content" id="tab-2">
        <div class="feed">
            {% include "activity/include/comment_form.html" %}
            {% include "activity/include/comment_list.html" %}
        </div>
    </div>

    {# Tab 3 #}
    <div class="tabs__content" id="tab-3">
        <div class="feed">
            {% include "activity/include/action_list.html" %}
        </div>
    </div>
</div>
{% endblock %}
