{% extends "base-apply.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <a class="link link--bold link--arrow-right link--on-dark" href="{{ object.project.get_absolute_url }}">
            Projects
        </a>
        <h1 class="beta heading heading--no-margin heading--bold">{{ object.title }}</h1>
        <h5 class="heading heading--meta">
            <span>{{ object.stage }}</span>
            <span>{{ object.page }}</span>
            <span>{{ object.round }}</span>
            <span>Lead: {{ object.lead }}</span>
        </h5>
    </div>
</div>

<div class="wrapper wrapper--inner-space-large">
    <header class="heading heading--submission-meta heading-text zeta">
        <span>Submitted: <strong>{{ object.submit_time.date }} by {{ object.user.get_full_name }}</strong></span>
        <span>Last edited: <strong>{{ object.live_revision.timestamp.date }} by {{ object.live_revision.author }}</strong></span>
    </header>

    <h3>Proposal Information</h3>
    <div class="rich-text rich-text--answers">
        {{ object.output_text_answers }}
    </div>
</div>
{% endblock %}
