{% extends "funds/applicationsubmission_detail.html" %}
{% load workflow_tags review_tags determination_tags %}

{% block admin_actions %}
    {% include "funds/includes/actions.html" with mobile=True %}
{% endblock %}

{% block sidebar_forms %}
        {% include "funds/includes/actions.html" %}
        {% include "funds/includes/progress_form.html" %}
        {% include "funds/includes/update_lead_form.html" %}
        {% include "funds/includes/update_reviewer_form.html" %}
{% endblock %}

{% block reviews %}
    <div class="sidebar__inner">
        <h5>Reviews &amp; assignees</h5>

        {% include 'funds/includes/review_table.html' %}
        <a class="link link--bold link--underlined link--toggle-reviewers js-toggle-reviewers" href="#">all assigned advisors</a>

        <div class="wrapper wrapper--button-container">
            {% include 'review/includes/review_button.html' with submission=object %}
            {% if request.user.is_apply_staff and object.reviews.exists %}
                <a href="{% url 'apply:submissions:reviews:list' submission_pk=object.id %}" class="button button--white button--half-width">View all</a>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    {{ reviewer_form.media }}
{% endblock %}
