{% extends "funds/applicationsubmission_detail.html" %}

{% load review_tags %}

{% block sidebar_forms %}
    {% include "funds/includes/actions.html" %}
    {% include "funds/includes/progress_form.html" %}
    {% include "funds/includes/update_lead_form.html" %}

    {# For convenience. Update me #}
{% endblock %}

{% block reviews %}
    <div class="sidebar__inner">
        <h6 class="heading heading--light-grey heading--small heading--uppercase">Reviews</h6>

        <table>
            <tr>
                <th>OTF</th>
                <th>{{ object.reviews.staff_reccomendation|traffic_light }}</th>
                <th>{{ object.reviews.staff_score }}</th>
            </tr>
            <tr>
                {% for review in staff_reviews %}
                    <td>{{ review.author }}</td>
                    <td>{{ review.get_recommendation_display }}</td>
                    <td>{{ review.score }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for reviewer in object.missing_staff_reviews %}
                    <td>{{ reviewer }}</td>
                    <td>-</td>
                    <td>-</td>
                {% endfor %}
            </tr>
        </table>

        <a href="{% url 'apply:reviews:create' submission_pk=object.id %}" class="button button--primary">Create review</a>
    </div>
{% endblock %}
