{% extends "base-apply.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block extra_css %}
{{ filter.form.media.css }}
{% endblock %}

{% block content %}
    {% block table %}
        {% if table.data or active_filters %}
        <div class="button button--filters button--contains-icons js-toggle-filters">Filter By</div>

        <div class="filters">
            <div class="filters__header">
                <div class="js-clear-filters">Clear</div>
                <div>Filter by</div>
                <div class="js-close-filters">Close</div>
            </div>

            <form action="" method="get" class="form form--filters">
                <ul class="form__filters select2">
                    {{ filter.form.as_ul }}
                    <li>
                        <button class="button button--primary" type="submit" value="Filter">Filter</button>
                    </li>
                </ul>
            </form>
        </div>
        {% endif %}

        {% render_table table %}
    {% endblock %}
{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="{% static 'js/apply/all-submissions-table.js' %}"></script>
    <script src="{% static 'js/apply/submission-filters.js' %}"></script>
    <script src="{% static 'js/apply/submission-tooltips.js' %}"></script>
{% endblock %}
