{% extends "base.html" %}

{% load wagtailcore_tags static i18n %}
{# Dont include fixed apply button on this page #}
{% block apply_button %}{% endblock %}
{% block header_modifier %}header--light-bg{% endblock %}

{% block content %}

{% if form.errors or form.non_field_errors %}
<div class="wrapper wrapper--medium wrapper--error">
    <svg class="icon icon--error"><use xlink:href="#error"></use></svg>
    <h5 class="heading heading--no-margin heading--regular">There were some errors with your form. Please amend the fields highlighted below</h5>
    {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endif %}

<div class="wrapper wrapper--medium wrapper--light-grey-bg wrapper--form">
    {% if not page.open_round and not page.start_date and not request.is_preview %}
        {# the fund has no open rounds and we arent on a round page #}
        <h3>{% trans "Sorry this fund is not accepting applications at the moment" %}</h3>
    {% else%}
        <form class="form" action="" method="POST">
            {{ form.media }}
            {% csrf_token %}
          
            {% for field in form %}
              {% if field.field %}
                {% include "funds/includes/field.html" %}
              {% else %}
                {{ field }}
              {% endif %}
            {% endfor %}
            <input class="link link--button-secondary" type="submit" value="{% if page.action_text %}{{ page.action_text|safe }}{% else %}Submit{% endif %}" />
        </form>
    {% endif %}
</div>
{% endblock %}
