{% extends "base-apply.html" %}
{% block content %}
<div class="wrapper wrapper--breakout wrapper--admin">
    <div class="wrapper wrapper--medium">
        <h2 class="heading heading--no-margin">Revisions</h2>
        <h5>For <a href="{% url "funds:submission" submission.id %}">{{ submission.title }}</a></h5>
    </div>
</div>

<div class="wrapper wrapper--medium wrapper--tabs">
    {% with base_revision=revisions.0.id %}
    {% for revision in revisions %}
        <div>
            {{ revision.date }} by {{ revision.author }}
            {% if not forloop.first %}
                <a class="button button--primary" href="{% url 'apply:revisions:compare' submission_pk=submission.id from=revision.id to=base_revision %}">Compare</a>
            {% endif %}
        </div>
    {% endfor %}
    {% endwith %}
</div>
{% endblock %}
