{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}Submissions{% endblock %}

{% block extra_css %}
    {{ filter.form.media.css }}
{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner wrapper--search">
        {% block page_header %}
            <div>
                <h1 class="gamma heading heading--no-margin heading--bold">Received Submissions</h1>
                <h5>Track and explore recent submissions</h5>
            </div>
        {% endblock %}
        {% include "funds/includes/search.html" %}
    </div>
</div>

<div class="wrapper wrapper--large wrapper--inner-space-medium">

    {% if table.data or active_filters %}
        <div class="button button--filters button--contains-icons js-open-filters">Filter By</div>

        <div class="filters js-filter-wrapper">
            <div class="filters__header">
                <div class="js-clear-filters">Clear</div>
                <div>Filter by</div>
                <div class="js-close-filters">Close</div>
            </div>

            <form action="" method="get" class="form form--filters">
                <ul class="form__filters select2 js-filter-list">
                    {{ filter.form.as_ul }}
                    <li>
                        <button class="button button--primary" type="submit" value="Filter">Filter</button>
                    </li>
                </ul>
            </form>
        </div>
    {% endif %}

    {% render_table table %}
</div>

<a href="#" class="js-open-feed link link--open-feed">
    <h4 class="heading heading--no-margin heading--activity-feed">Activity Feed</h4>
</a>

{% include "funds/includes/activity-feed.html" %}

{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="{% static 'js/apply/tabs.js' %}"></script>
    <script src="{% static 'js/apply/all-submissions-table.js' %}"></script>
    <script src="{% static 'js/apply/submission-filters.js' %}"></script>
    <script src="{% static 'js/apply/submission-tooltips.js' %}"></script>
    <script src="{% static 'js/apply/activity-feed.js' %}"></script>
{% endblock %}
