{% extends "funds/base_submissions_table.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ status }}{% endblock %}

{% block content %}
    <div class="admin-bar">
        <div class="admin-bar__inner admin-bar__inner--with-button">
            <div>
                <h1 class="gamma heading heading--no-margin heading--bold">{{ status }}</h1>
            </div>
            <div id="submissions-by-status-app-react-switcher"></div>
        </div>
    </div>

    <div id="submissions-by-status-react-app" data-statuses="{{ statuses }}">
        <div class="wrapper wrapper--large wrapper--inner-space-medium">
            {% block table %}
                {{ block.super }}
            {% endblock %}
        </div>
    </div>
{% render_bundle 'main' %}

{% endblock %}
