{% extends "base-apply.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <div>
            <h5><a href="{% url "apply:submissions:list" %}">< Submissions</a></h5>
            <h1 class="gamma heading heading--no-margin heading--bold">{{ object }}</h1>
            <h5>{% if object.fund %}{{ object.fund }} | {% endif %}Lead: {{ object.lead }}</h5>
        </div>
    </div>
</div>

<div class="wrapper wrapper--large">
    <div>
        <h2>THERE WILL BE A TABLE HERE</h2>
    </div>
</div>

<div id="react-app"></div>
{% render_bundle 'main' %}

{% endblock %}
