.note {
    margin: 20px;
    font-size: 14px;

    &__meta {
        display: flex;
        justify-content: space-between;
        font-weight: $weight--bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: transparentize( $color--default, .2);
        letter-spacing: .3px;
        font-size: 15px;
    }

    &__date {
        color: $color--dark-blue;
        margin-left: 10px;
    }

    &__content {
        margin: 0;
        word-break: break-all;
        hyphens: auto;

        ul {
            list-style: initial;
            list-style-position: inside;
        }

        ol {
            list-style-type: decimal;
            list-style-position: inside;
        }

        blockquote {
            margin: 0;
            padding-left: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            border-left: 2px solid $color--dark-blue;
        }
    }

    &__edit {
        color: $color--dark-blue;
        padding-left: 10px;
        margin-left: 10px;
        border-left: 2px solid $color--mid-grey;

        svg {
            fill: $color--dark-blue;
        }
    }
}
