{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <h1>{{ page.title }}</h1>
{% block header %}
    {% image page.header_image fill-1440x740 as header_image %}
    <header class="header header--homepage {% if page.header_image %}header--has-bg-image{% endif %} {% block header_modifier %}{% endblock %}" {% if page.header_image %}style="background-image:url('{{ header_image.url }}')"{% endif %}>

    {{ page.strapline }}

    {% include "includes/call_to_action.html" with call_to_action=page.call_to_action %}

    {% include "includes/share.html" %}

    </header>
{% endblock %}
{% endblock %}
