{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static navigation_tags %}

{% block header %}
    {% image page.header_image fill-1440x740 as header_image %}
    <header class="header header--homepage {% if page.header_image %}header--has-bg-image{% endif %} {% block header_modifier %}{% endblock %}" {% if page.header_image %}style="background-image:url('{{ header_image.url }}')"{% endif %}>

        {% block apply_button %}
            {% include "includes/apply_button.html" %}
        {% endblock %}

        <div class="header__inner wrapper wrapper--large">
            <a href="{% slugurl 'home' %}" aria-label="Home link">
                <svg class="header__logo header__logo--desktop"><use xlink:href="#logo-desktop--dark-alt"></use></svg>
                <svg class="header__logo header__logo--mobile"><use xlink:href="#logo-mobile-dark"></use></svg>
            </a>

            <div class="header__inner header__inner--mobile-buttons">
                <button class="button js-search-toggle" aria-haspopup="true">
                    <svg class="header__icon header__icon--open-search header__icon--open-search-menu-closed icon icon--mobile-menu"><use xlink:href="#magnifying-glass"></use></svg>
                    <svg class="header__icon header__icon--close-search header__icon--close-search-menu-closed icon icon--mobile-menu"><use xlink:href="#cross"></use></svg>
                </button>
                <button class="button button--left-space js-mobile-menu-toggle" aria-haspopup="true">
                    <svg class="icon icon--mobile-menu"><use xlink:href="#mobile-menu-toggle"></use></svg>
                </button>
            </div>

            <section class="header__menus header__menus--desktop">
                {% primarynav %}

                <button class="button button--contains-icons button--left-space js-search-toggle" aria-haspopup="true" aria-label="Toggle desktop search">
                    <svg class="header__icon header__icon--open-search icon"><use xlink:href="#magnifying-glass"></use></svg>
                    <svg class="header__icon header__icon--close-search icon"><use xlink:href="#cross"></use></svg>
                </button>
            </section>

            <section class="header__menus header__menus--mobile">
                <div class="header__inner header__inner--menu-open">
                    <a href="{% slugurl 'home' %}" aria-label="Home link">
                        <svg class="header__logo header__logo--mobile"><use xlink:href="#logo-mobile"></use></svg>
                    </a>
                    <div class="header__inner header__inner--mobile-buttons">
                        <button class="button js-mobile-search-toggle" aria-haspopup="true" aria-label="Toggle mobile search">
                            <svg class="header__icon header__icon--open-search icon icon--mobile-menu"><use xlink:href="#magnifying-glass"></use></svg>
                        </button>
                        <button class="button button--left-space js-mobile-menu-close">
                            <svg class="header__icon header__icon--cross icon icon--mobile-menu"><use xlink:href="#cross"></use></svg>
                        </button>
                    </div>
                </div>
                {% primarynav %}
            </section>

            <div class="header__button-container">
                <a href="{% url 'users:login' %}" class="button button--transparent button--contains-icons">
                    <svg class="icon icon--person"><use xlink:href="#person-icon"></use></svg>
                    My OTF
                </a>
                <div class="button button--google-translate" id="google_translate_element"></div>
            </div>
        </div>

        <div class="header__search">
            <form action="{% url 'search' %}" method="get" role="search" class="form form--header-search-desktop">
                <button class="button" type="submit" aria-label="Search">
                    <svg class="icon icon--magnifying-glass icon--search"><use xlink:href="#magnifying-glass"></use></svg>
                </button>
                <input class="input input--transparent input--secondary" type="text" placeholder="Search…" name="query"{% if search_query %} value="{{ search_query }}{% endif %}" aria-label="Search input">
            </form>
        </div>

        <div class="wrapper wrapper--medium wrapper--page-title">
            <h1 class="header__title header__title--homepage">{% block page_title %}{{ page.title }}{% endblock %}</h1>
            <p class="header__strapline">{{ page.strapline }}</p>
            <a class="link link--button header__link" href="#">Learn more about us</a>
        </div>
        <svg class="header__icon header__icon--pixels header__icon--pixels-left-home"><use xlink:href="#hero-home-left-pixels"></use></svg>
        <svg class="header__icon header__icon--pixels header__icon--pixels-right-home"><use xlink:href="#hero-home-right-pixels"></use></svg>
    </header>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper--inner-space-large">
        <h2 class="heading heading--center heading--focus-areas">{{ page.our_work_title }}</h2>
        <div class="grid grid--focus-areas">
            {% for block in page.our_work %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="wrapper wrapper--center">
            <h5 class="heading heading--contains-link">
                <a class="link link--arrow-pixels-blue" href="{% pageurl page.our_work_link %}">
                    {{ page.our_work_link_text }}
                    <svg><use xlink:href="#arrow-head-pixels--solid"></use></svg>
                </a>
            </h5>
        </div>
    </div>

    {% include "home/includes/list_block.html" with bg_color="dark" arrow_color="white" title=page.funds_title intro=page.funds_intro link=page.funds_link link_text=page.funds_link_text listing=fund_list %}

    {% include "home/includes/list_block.html" with bg_color="light-grey" arrow_color="blue" card_modifier="card--lab" title=page.labs_title intro=page.labs_intro link=page.labs_link link_text=page.labs_link_text listing=lab_list %}

    {% include "home/includes/list_block.html" with bg_color="dark" arrow_color="white" title=page.rfps_title intro=page.rfps_intro listing=rfps_list %}

{% endblock %}
