.display-panel {
    background-color: $color--white;

    @include media-query(tablet-landscape) {
        display: grid;
        grid-template-columns: 1fr 250px;
    }

    @include media-query(desktop) {
        grid-template-columns: 1fr 390px;
        grid-template-rows: 75px 1fr;
    }

    @include target-ie11 {
        display: flex;
        flex-wrap: wrap;
    }

    &__body,
    &__header {
        @include submission-list-item;
        padding: 20px;
    }

    // loading container
    &__loading {
        // 100vh - listing header - display-panel__body padding
        @include media-query(laptop-short) {
            height: calc(100vh -  #{$listing-header-height} - 40px);
        }

        @include media-query(tablet-portrait) {
            height: calc(100vh - var(--header-admin-height) - #{$listing-header-height} - 40px);
        }
    }

    &__header {
        &--spacer {
            display: none;
            min-height: 75px;

            @include media-query(tablet-landscape) {
                display: block;
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        padding: 0;
    }

    &__link {
        padding: 20px;
    }
}
