.display-panel {
    background-color: $color--white;

    @include media-query(tablet-landscape) {
        display: grid;
        grid-template-columns: 1fr 390px;
        grid-template-rows: 75px 1fr;
    }

    @include target-ie11 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__column {
        border-bottom: 2px solid $color--light-mid-grey;
    }

    &__header {
        border-right: 2px solid $color--light-mid-grey;
    }

    &__body {
        &--center {
            border-right: 2px solid $color--light-mid-grey;
        }
    }

    // loading container
    &__loading {
        @include column-scrolling;

        &--cover {
            background: $color--white;
            height: 100%;
            border-left: 2px solid $color--light-mid-grey;
        }
    }

    &__header {
        &--spacer {
            display: none;
            min-height: 75px;

            @include media-query(tablet-landscape) {
                display: block;
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        padding: 0;
    }

    &__link {
        padding: 20px;
    }

    &__column {
        &:first-child {
            @include target-ie11 {
                width: 70%;
            }
        }

        &:last-child {
            @include target-ie11 {
                width: 30%;
            }
        }
    }
}
