//------------------------------------------------------------------//
//
//  GLOBAL COLORS
//
//------------------------------------------------------------------//

// COLORS

$colors: (
    seed-black: rgb(0, 0, 0),
    seed-white: rgb(255, 255, 255),
    seed-grey: rgb(211, 211, 211),
    seed-grey-light: rgb(240, 240, 240),
    seed-red: rgb(226, 56, 61),
    seed-pink: rgb(204, 94, 123),
    seed-purple: rgb(187, 122, 170),
    seed-indigo: rgb(158, 138, 219),
    seed-blue: rgb(90, 162, 224),
    seed-cyan: rgb(65, 183, 204),
    seed-teal: rgb(78, 190, 172),
    seed-green: rgb(154, 204, 84),
    seed-emerald: rgb(98, 200, 132),
    seed-yellow: rgb(244, 236, 49),
    seed-gold: rgb(215, 180, 49),
    seed-orange: rgb(245, 166, 29),
    seed-rust: rgb(245, 115, 58),
    seed-brown: rgb(105, 61, 50),
    text-darkest: rgb(0, 0, 0),
    text-dark: rgb(149, 149, 149),
    text-light: rgb(182, 182, 182),
    text-lightest: hsl(0, 0%, 100%)
);
