{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="wrapper wrapper--small wrapper--flex wrapper--person">
        {% for person_type in page.person_types.all %}
            <h5 class="heading heading--no-margin">{{ person_type }}</h5>
        {% endfor %}

    <div class="intro">
        <div class="container">
            {% if page.introduction %}
                <p>{{ page.introduction }}</p>
            {% endif %}
            {% if page.photo %}
                {% image page.photo original %}
            {% endif %}
        <h2 class="heading heading--person">{{ page.first_name }} {{ page.last_name }}</h2>

        {% if page.job_title %}
            <h4 class="heading heading--no-margin">{{ page.job_title }}</h4>
        {% endif %}
            {% if page.website %}
                <p>{{ page.website }}</p>
            {% endif %}
            {% if page.email %}
                <p>{{ page.email }}</p>
            {% endif %}

            {% with contact_details=page.contact_details.all %}
                {% if contact_details %}

                    {% for contact in contact_details %}
                        <p>{{ contact.method_display }}: {{ contact.contact_detail }}</p>
                    {% endfor %}

                {% endif %}
            {% endwith %}

        </div>
    </div>

    <section class="main-body">
        <div class="container">
            {% include_block page.biography %}
        </div>

        <div class="container">
            <h2>Person types</h2>
            {% for person_type in page.person_types.all %}
                <p>{{ person_type }}</p>
            {% endfor %}

            <h2>Social Media Links</h2>
            {% for item in page.social_media_profile.all %}
                <h3>{{ item.get_service_display }}</h3>
                <p>{{ item.profile_url }}</p>
            {% endfor %}

            {% include "utils/includes/funding.html" %}
        </div>
    </section>

</div>
{% endblock %}
