{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="intro">
        <div class="container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <section class="main-body">
        <div class="container">
            {% if people.paginator.count %}
                {% for person in people %}
                    {% include "people/includes/person_listing.html" with person=person %}
                {% endfor %}

                {% include "includes/pagination.html" with paginator_page=people %}
            {% else %}
                {# no results #}
            {% endif %}
        </div>
    </section>

{% endblock %}
