{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}light-grey-bg{% endblock %}
{% block content %}


            {% if people.paginator.count %}
                {% for person in people %}
                    {% include "people/includes/person_listing.html" with person=person %}
                {% endfor %}

                {% include "includes/pagination.html" with paginator_page=people %}
            {% else %}
                {# no results #}
            {% endif %}

{% endblock %}
