{% extends "base.html" %}
{% block page_title %}People{% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="wrapper wrapper--small wrapper--top-inner-space wrapper--sidebar">
    <div>
        {% for person_type in page.person_types.all %}
            <h5 class="heading heading--no-margin">{{ person_type }}</h5>
        {% endfor %}

        <h2 class="heading heading--person">{{ page.first_name }} {{ page.last_name }}</h2>

        {% if page.job_title %}
            <h4 class="heading">{{ page.job_title }}</h4>
        {% endif %}

        {% if page.photo %}
            {% image page.photo fill-210x235 class="image image--headshot-mobile" %}
        {% endif %}

        {% if page.introduction %}
            <h4 class="heading heading--person-introduction">{{ page.introduction }}</h4>
        {% endif %}

        {% include_block page.biography %}

        {% if page.website %}
            <p class="list list--contact"><span>Website:</span> <a href="{{ page.website }}">{{ page.website }}</a></p>
        {% endif %}

        {% if page.email %}
            <p class="list list--contact"><span>Email:</span> <a href="{{ page.email }}">{{ page.email }}</a></p>
        {% endif %}

        {% with contact_details=page.contact_details.all %}
            {% if contact_details %}
                {% for contact in contact_details %}
                    <p class="list list--contact"><span>{{ contact.method_display }}:</span> {{ contact.contact_detail }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% include "utils/includes/funding.html" with class="wrapper--top-outer-space-small" %}
    </div>

    <div>
        {% if page.photo %}
            {% image page.photo fill-210x235 class="image image--headshot-desktop" %}
        {% endif %}

        {% if page.social_media_profile.all %}
            <h5>Follow {{ page.first_name }}</h5>
            {% for item in page.social_media_profile.all %}
                <a aria-label="Social media link" href="{{ item.profile_url }}">
                    <svg class="icon icon--social-share icon--{{item.service}}-share"><use xlink:href="#{{item.service}}"></use></svg>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}
