
//================================================================================================//
//
//  LIGHTEST THEME
//
//================================================================================================//

// VARS

// THEME

.theme-lightest {
  background-color: color(seed-white);
  color: color(text-darkest);

  a {
    @include link-darkest();
  }
}
