{% extends "reset_network/base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load resource_tags %}

{% block body_class %}base-lightest{% endblock %}
{% block content %}

<div class="para para--head para--col-xxl theme-darkest" data-section-theme="dark">
  <div class="para__wrap contain reveal">
    <div class="para__content">

      <div class="resource-head">
        <div class="resource-head__type">[Article]</div>
        <h1 class="resource-head__title">{{ page.content_heading }}</h1>

        <div class="resource-head__image">
          <div class="surface surface--1-1">
            <div class="surface__plane">
              {% image page.content_image fill-590x590-c100 class="surface__image" %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="para para--back para--col-xxl theme-lightest" data-section-theme="light">
  <div class="para__wrap contain">
    <div class="para__content">
      <a class="back-link" href="{% pageurl page.get_parent %}">
        <i class="back-link__icon">
          <svg class="icon icon--arrow">
            <use xlink:href="#back"></use>
          </svg>
        </i>
        Back to {{ page.get_parent }}
      </a>
    </div>
  </div>
</div>

<div class="resource-block para para--article para--col-xxl para--article theme-lightest" data-section-theme="light">
  <div class="para__wrap contain">
    <article class="para__content">
      <div class="resource-block__wrapper para__body rte">
        {% for block in page.content_text %}
          <div class="
            reveal
            resource-block__item
            {% if block.block_type == 'text' %}resource-block__item--text{% endif %}
            {% if block.block_type == 'image' %}resource-block__item--img{% endif %}
            {% if block.block_type == 'embed' %}resource-block__item--vid{% endif %}
          ">
            {{ block }}
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
</div>

{# asset downloads #}
{% with assets=page.reset_network_resource_page_assets.all %}
{% if assets and assets|length %}

<div class="para para--assets para--col-xxl theme-lightest" data-section-theme="light">
  <div class="para__wrap contain reveal">
    <div class="para__content">
      <div class="para__title">
        <h2>{{ page.content_assets_heading }}</h2>
      </div>

      <div class="para__body">
        <ul class="assets">
          {% for asset in assets %}
            <li class="assets__item">
              <div class="asset">
                <div class="asset__content">
                  <div class="asset__title">
                    {{ asset.heading }}
                  </div>
                    {{ asset.text }}
                </div>
                <a class="asset-link" href="{{ asset.asset.file.url }}" target="_blank" rel="noopener noreferrer">
                  <svg class="asset-link__icon icon icon--download"><use xlink:href="#download"></use></svg>
                  <span class="asset-link__size">
                  {{ asset|resilientfilesizeformat }}
                  </span>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% endif %}
{% endwith %}

{# asset links #}
{% with links=page.reset_network_resource_page_links.all %}
{% if links and links|length %}

<div class="para para--external para--col-xxl theme-lightest" data-section-theme="light">
  <div class="para__wrap contain reveal">
    <div class="para__content">
      <div class="para__title">
        <h2>{{ page.content_links_heading }}</h2>
      </div>

      <div class="para__body">
      <ul class="links links--external">
          {% for link in links %}
          <li class="links__item">
              <a href="{{ link.link }}" class="card-link card-link--sm" target="_blank" rel="noopener noreferer">
                <span class="card-link__drop">
                  <span class="card-link__label">{{ link.heading }}</span>
                  <svg class="card-link__icon icon icon--arrow">
                      <use xlink:href="#arrow"></use>
                  </svg>
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% endif %}
{% endwith %}

{% endblock %}
