input[type='checkbox']::before {
    top: 0;
}

input[type='checkbox'] {
    float: left;
}

.grid > li {
    margin-bottom: 15px;

    & > label {
        line-height: 22px;
        font-weight: normal;
    }
}
