.form {
    &__label {
        p {
            margin: 0;
        }

        .group-help-text {
            font-size: smaller;
            padding-left: 10px;
            color: var(--w-color-grey-400);
        }
    }
}
