{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    {% include "publicpages/includes/fund_apply_cta.html" with fund_type=page.fund_type.specific %}
    <div class="wrapper wrapper--flex">
        <section class="section section--main">
            <h1>{{ page.title }}</h1>
            <h5>{{ page.introduction }}</h5>

            {% include_block page.body %}
        </section>
    </div>
    {% include "publicpages/includes/fund_apply_cta.html" with fund_type=page.fund_type.specific %}
    {% include "includes/relatedcontent.html" with related_pages=page.related_pages.all %}
{% endblock %}
