CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

# Use the Django debug toolbar. First install via pip.
# pip install django-debug-toolbar
# DEBUGTOOLBAR = True

# Write log to local file.
# LOCAL_FILE_LOGGING = True

# Write e-mails to local files.
# LOCAL_FILE_EMAIL = True

# On staging, uncomment the following to enable the styleguide
# ENABLE_STYLEGUIDE = True

# ALLOWED_HOSTS = ['apply.otf.test', 'otf.test', '127.0.0.1']

# BASE_URL = 'http://otf.test'

# SECRET_KEY = 'CHANGEME!!!'
