{% extends "base.html" %}

{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/apply/fancybox.css' %}">
    {{ filter.form.media.css }}
{% endblock %}

{% block content %}
    {% block table %}
        {% include "partner/includes/table_filter_and_search.html" with filter_form=filter_form search_term=search_term use_search=True filter_action=filter_action %}
        {% render_table table %}
    {% endblock %}
{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="{% static 'js/apply/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/apply/fancybox-global.js' %}"></script>
    <script src="{% static 'js/public/all-investments-table.js' %}"></script>
    <script src="{% static 'js/public/investment-tooltips.js' %}"></script>
    <script src="{% static 'js/apply/symbol-es6.min.js' %}"></script>
    <script src="{% static 'js/apply/url-search-params.js' %}"></script>
    <script src="{% static 'js/public/investment-filters.js' %}"></script>
{% endblock %}
