{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="wrapper wrapper--small wrapper--inner-space-large wrapper--sidebar">
    <div class="wrapper--sidebar--inner">

        {{ page.description|richtext }}

        <p class="list list--contact"><span>Status</span><br>{{ page.get_status_display }}</p><br>

        {% if page.web_url %}
            <p class="list list--contact"><span>Website</span><br><a href="{{ page.web_url }}">{{ page.web_url }}</a></p><br>
        {% endif %}

        {% for key, value in page.category_questions.items %}
            <p class="list list--contact"><span>{{ key }}</span><br>{{ value|join:', ' }}</p><br>
        {% endfor %}

        <p class="list list--contact"><span>Total Investments: </span>US$ {{ total_investments }}</p>
    </div>

    <div>
        {% if page.logo %}
            {% image page.logo fill-210x235 class="image image--headshot-desktop" %}
        {% endif %}
    </div>
</section>
{% endblock %}
