{% extends 'django_tables2/table.html' %}
{% load django_tables2 table_tags review_tags wagtailimages_tags i18n %}

{% block table.tbody.row %}
    <tr {{ row.attrs.as_html }}>
        {% for column, cell in row.items %}
            <td {{ column.attrs.td.as_html }}>
                {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}
            </td>
        {% endfor %}
    </tr>

    {% with investment=row.record %}
        <tr class="all-investments-table__child" data-parent-id="{{ investment.id }}">
            <td colspan="{{ table.columns|length }}">
                <table class="investment-meta">
                    <tr class="investment-meta__row">
                        <th><h6 class="heading heading--normal heading--no-margin">Investment Name</h6></th>
                        <th><h6 class="heading heading--normal heading--no-margin">Investment Description</h6></th>
                    </tr>
                    <tr class="investment-meta__row investment-meta__row--black">
                        <td>{{ investment.name }}</td>
                        <td>{{ investment.description }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endwith %}

{% endblock %}

{% block table.tbody.empty_text %}
    <tr class="all-investments-table__empty"><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
{% endblock table.tbody.empty_text %}

{% block pagination %}
    {% if table.page and table.paginator.num_pages > 1 %}
        <ul class="pagination">
            {% if table.page.has_previous %}
                <li class="previous">
                    <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                        {% trans 'previous' %}
                    </a>
                </li>
            {% endif %}
            {% if table.page.has_previous or table.page.has_next %}
                <li class="cardinality">
                    <p>
                        Page {{ table.page.number }}
                    </p>
                </li>
            {% endif %}
            {% if table.page.has_next %}
                <li class="next">
                    <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">
                        {% trans 'next' %}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock pagination %}
