.dropbtn {
    padding: 7px 12px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    font-size: 15px;
    background-color: $color--light-grey;
    min-width: 400px;
    box-shadow: 1px 1px 6px 4px $color--light-mid-grey;

    p {
        color: $color--black;
        padding: 0 10px;
        display: block;
    }
}

.dropdown-item {
    border-bottom: .1px solid $color--dark-grey;
}

.show-all {
    text-align: center;
}

.show {
    display: block;
}

.notification {
    &__filters {
        display: flex;
        align-items: center;
        padding: 4px;
        justify-content: space-between;

        p {
            font-weight: 520;
            padding-right: 10px;
        }

        select {
            padding-right: 1em;
        }
    }
}
