.all-reviews-table {
    @include table-ordering-styles;
    $root: &;
    font-size: 14px;


    thead {
        display: none;

        @include media-query($table-breakpoint) {
            display: table-header-group;
        }

        tr {
            &:hover {
                box-shadow: none;
            }
        }
    }

    tbody {
        td {
            &.title {
                position: relative;
                padding-top: 15px;
                padding-left: 10px;
                font-weight: $weight--bold;

                @include media-query($table-breakpoint) {
                    display: flex;
                    align-items: center;
                }

                @include media-query(desktop) {
                    display: table-cell;
                }

                &.has-tooltip {
                    @include media-query($table-breakpoint) {
                        &::before {
                            position: absolute;
                            top: 50px;
                            left: 45px;
                            z-index: -1;
                            width: 200px;
                            padding: 5px;
                            font-size: 12px;
                            font-weight: $weight--normal;
                            white-space: normal;
                            background: $color--sky-blue;
                            border: 1px solid $color--marine;
                            content: attr(data-title-tooltip);
                            opacity: 0;
                            transition: opacity $transition;
                        }

                        &:hover {
                            &::before {
                                z-index: 10;
                                opacity: 1;
                            }
                        }
                    }
                }

                a {
                    color: $color--primary;
                }
            }
        }
    }
}
