// stylelint-disable selector-class-pattern,selector-max-compound-selectors

.all-submissions-table {
    @include table-ordering-styles;

    $root: &;
    font-size: 14px;

    thead {
        display: none;

        @include media-query($table-breakpoint) {
            display: table-header-group;
        }

        th {
            &.reviews_stats {
                color: $color--black-60;

                div {
                    font-size: 13px;
                }
            }

            // set column widths
            &.title {
                @include media-query($table-breakpoint) {
                    width: 130px;
                }

                @include media-query(desktop) {
                    width: 260px;
                }
            }

            &.phase {
                @include media-query($table-breakpoint) {
                    width: 150px;
                }
            }

            &.selected {
                @include table-checkbox;

                @include media-query($table-breakpoint) {
                    width: 50px;
                    padding-right: 0;
                }
            }

            &.comments {
                @include media-query($table-breakpoint) {
                    width: 110px;
                }
            }

            &.organization_name { // stylelint-disable-line selector-class-pattern
                @include media-query($table-breakpoint) {
                    width: 110px;
                }
            }
        }

        tr {
            &:hover {
                box-shadow: none;
            }
        }
    }

    tbody {
        tr {
            &[data-archived='True'] {
                background-color: $color--light-mid-grey;
            }
        }

        td {
            // project title
            &.title {
                position: relative;
                padding-top: 15px;
                font-weight: $weight--bold;

                @include media-query($table-breakpoint) {
                    display: flex;
                    align-items: center;
                }

                @include media-query(desktop) {
                    display: table-cell;
                }
            }

            // project status label
            &.phase {
                span {
                    display: inline-block;
                    padding: 5px;
                    font-size: 13px;
                    font-weight: $weight--bold;
                    color: $color--marine;
                    text-align: center;
                    background-color: $color--sky-blue;

                    @include media-query($table-breakpoint) {
                        width: 100%;
                    }
                }
            }

            // comments
            &.comments {
                display: none;

                @include media-query($table-breakpoint) {
                    display: table-cell;
                    font-size: 13px;
                    text-align: center;
                    vertical-align: middle;
                    background: url("./../../images/quote-outline.svg")
                        transparent no-repeat center center;
                    background-size: 24px;
                }
            }

            &.reviews_stats {
                display: none;

                @include media-query($table-breakpoint) {
                    display: table-cell;
                }
            }

            // batch action checkboxes
            &.selected {
                @include table-checkbox;
                display: none;
                padding-right: 0;

                @include media-query($table-breakpoint) {
                    display: table-cell;
                }
            }

            &.fund,
            &.round,
            &.screening_status {
                hyphens: auto;
            }

            &.organization_name { // stylelint-disable-line selector-class-pattern
                @include media-query($table-breakpoint) {
                    padding-left: 15px;
                }
            }

            // arrow to toggle project info - added via js
            @include media-query($table-breakpoint) {
                .arrow {
                    @include triangle(right, $color--primary, 6px);
                    position: relative;
                    display: inline-block;
                    margin-right: 10px;
                    transform: rotate(0);
                    transition: transform $transition;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            // stylelint-disable-next-line force-element-nesting
            > span.mobile-label {
                display: inline-block;
                width: 90px;

                &.phase,
                &.title {
                    display: none;
                }

                @include media-query($table-breakpoint) {
                    display: none;
                }
            }
        }
    }

    &__parent {
        &.is-expanded {
            background-color: $color--mist;
            border-bottom: 1px solid $color--light-mid-grey;

            + #{$root}__child {
                border-bottom: 1px solid $color--light-mid-grey;
            }

            + #{$root}__child,
            + #{$root}__child + #{$root}__child {
                display: table-row;
            }

            .arrow {
                border-right-color: darken($color--dark-blue, 10%);
                transform: rotate(90deg);
            }
        }
    }

    &__child {
        display: none;
        color: $color--mid-dark-grey;
        vertical-align: top;
        background-color: $color--mist;
        border: 0;
        border-bottom: 2px solid $color--light-grey;

        &:hover {
            box-shadow: none;
        }

        td {
            padding: 10px;
        }

        p {
            margin: 0;
            font-weight: $weight--bold;
            color: $color--default;
        }

        .title {
            a {
                visibility: hidden;
            }
        }
    }

    &__empty {
        td {
            padding: 20px;
        }
    }

    &__toggle {
        padding: 5px 0 5px 5px;
    }

    &__more {
        display: flex;
        justify-content: center;
        background-color: $color--white;
        padding: 20px 25px;
        min-height: auto;
        border-bottom: 1px solid $color--light-mid-grey;
        border-left: 1px solid $color--light-mid-grey;
        border-right: 1px solid $color--light-mid-grey;

        a {
            margin: 0;
            flex-basis: auto;
            font-weight: $weight--semibold;
        }
    }
}
