.banner {
    position: relative;
    height: 25px;
    width: 100vw;
    margin: 0 -20px;
    text-align: center;

    &__archived {
        color: $color--white;
        background-color: $color--tomato;
    }

    &__close {
        color: $color--white;
        background-color: $color--tomato;
    }
}
