.data-block {
    $root: &;
    margin-bottom: 1rem;
    border: 1px solid $color--light-blue;

    &__header {
        padding: 1rem;
        background-color: $color--light-blue-90;

        @include media-query(mob-landscape) {
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__body {
        padding: 1rem;

        @include media-query(mob-landscape) {
            padding: 2rem;
        }
    }

    &__title {
        font-size: $base-font-size-large;
        font-weight: $weight--bold;
        margin: 0 0 1rem;

        @include media-query(mob-landscape) {
            margin: 0;
        }
    }

    &__button {
        @include button($color--light-blue, $color--dark-blue);
        display: inline-block;
        padding: 0.5rem 1.2rem;

        #{$root}__header & {
            &:hover,
            &:focus {
                background-color: $color--white;
            }
        }

        #{$root}__links & {
            margin-right: 1rem;

            &:only-child {
                margin-right: 0;
            }
        }
    }

    &__status {
        margin: 0;

        @include media-query(tablet-landscape) {
            display: block;
            font-weight: $weight--bold;
        }
    }

    &__pagination,
    &__rejected {
        text-align: center;
    }

    &__pagination-link,
    &__rejected-link {
        font-weight: $weight--bold;
    }

    &__mobile-label {
        display: inline-block;
        font-weight: $weight--bold;
        white-space: pre;

        @include media-query(tablet-landscape) {
            display: none;
        }
    }

    &__table {
        thead {
            display: none;
            border-top: 2px solid $color--light-mid-grey;

            @include media-query(tablet-landscape) {
                display: table-header-group;
            }

            th {
                color: $color--mid-dark-grey;
                padding: 10px;

                @include media-query(tablet-landscape) {
                    text-align: left;
                }
            }

            tr {
                border-color: $color--light-mid-grey;
            }
        }

        tbody {
            font-size: map-get($font-sizes, zeta);
        }

        tr {
            border: 0;
            border-bottom: 2px solid $color--light-grey;

            &:hover {
                box-shadow: none;
            }

            td {
                word-break: break-word;
            }
        }
    }

    &__table-amount {
        width: 12%;
        min-width: 90px;
    }

    &__table-status {
        min-width: 160px;
        width: 15%;
    }

    &__table-date {
        min-width: 180px;
        width: 15%;
    }

    &__table-update {
        min-width: 160px;
        width: 25%;

        @include media-query(desktop) {
            width: 30%;
        }
    }

    &__action-link {
        font-size: map-get($font-sizes, zeta);
        font-weight: $weight--bold;
        display: inline-block;
        margin-right: 1rem;
        text-decoration: underline;
        color: $color--primary;
        word-break: normal;
        transition-property: opacity;
        transition-duration: 150ms;

        &:hover {
            opacity: 0.75;
        }

        &:last-child {
            margin: 0;
        }
    }

    &__action-icon-link {
        font-size: map-get($font-sizes, zeta);
        font-weight: $weight--bold;
        display: flex;
        align-items: center;
        margin-right: 1rem;
        word-break: normal;

        transition-property: opacity;
        transition-duration: 150ms;

        &:hover {
            opacity: 0.75;
        }

        &:last-child {
            margin: 0;
        }

        &--remove {
            color: $color--tomato;
        }
    }

    &__list-item {
        border-bottom: 2px solid $color--light-grey;
        padding: 1rem 0;

        @include media-query(tablet-landscape) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        &:only-child {
            padding: 0;
        }
    }

    &__info {
        margin: 0 1rem 1rem 0;

        @include media-query(tablet-landscape) {
            margin: 0 1rem 0 0;
            flex: 1;
        }
    }

    &__links {
        display: flex;
        align-items: center;

        @include media-query(tablet-landscape) {
            justify-content: flex-end;
        }
    }

    &__card {
        padding-bottom: 1rem;
        position: relative;
        margin-bottom: 2rem;

        &::after {
            content: "";
            width: calc(100% + 2rem);
            position: absolute;
            height: 2px;
            display: block;
            background: $color--mid-grey;
            left: -1rem;
            bottom: 0;

            @include media-query(mob-landscape) {
                width: calc(100% + 4rem);
                left: -2rem;
            }
        }
    }

    &__card-copy,
    &__card-title {
        margin: 0 0 0.5rem;
    }

    &__card-title {
        font-weight: $weight--bold;
    }
}
