.docs-block {
    border: 1px solid $color--light-blue;

    &__header {
        background-color: $color--light-blue-90;
        padding: 0.5rem 0.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
        margin: 0;
    }

    &__inner {
        padding: 1rem;
    }

    &__row {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $color--mid-grey;

        @include media-query(tablet-portrait) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__row-inner {
        display: flex;
        align-items: center;

        &:first-child {
            margin-bottom: 1rem;
        }

        @include media-query(tablet-portrait) {
            &:first-child {
                margin: 0 1rem 0 0;
                flex: 1;
            }
        }

        &__contract-upload-row {
            border: 1px solid $color--light-blue;
        }
    }

    &__title {
        margin: 0;

        @include media-query(tablet-landscape) {
            flex: 1;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        stroke: $color--mid-grey;
        fill: transparent;
        margin-right: 0.5rem;

        @include media-query(tablet-landscape) {
            margin-right: 1rem;
        }
    }

    &__link {
        font-weight: $weight--bold;
        margin-right: 1rem;

        &:disabled,
        &.is-disabled {
            color: $color--mid-grey;
            cursor: default;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon-link {
        font-weight: $weight--bold;
        display: flex;
        align-items: center;
        margin-right: 1rem;

        &:disabled,
        &.is-disabled {
            color: $color--mid-grey;
            cursor: default;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__info-text {
        @include media-query(tablet-landscape) {
            max-width: 65%;
            margin-left: 3rem;
        }
    }

    &__buttons {
        padding: 0 1rem 1rem;

        .button {
            padding: 0.5rem 1rem;
            margin: 0 0.5rem 0.5rem 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__document-list {
        width: 100%;
        margin-top: 1rem;
        padding-left: 0;
    }

    &__document {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        flex-wrap: wrap;

        &:last-child {
            padding-bottom: 0;
            margin: 0;
            border-bottom: 0;
        }
    }

    &__document-inner {
        &:first-child {
            margin: 0 1rem 1rem 0;
        }

        @include media-query(tablet-portrait) {
            &:first-child {
                margin: 0 1rem 0 0;
            }
        }

        &__actions {
            display: flex;
            align-items: center;
        }
    }

    &__document-info {
        margin: 0;
    }

    &__document-link {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__document-form {
        display: inline;
    }
}
