.wmd-preview {
    background-color: $color--sky-blue;
    padding: 0 10px;
    width:  100%;
    overflow: hidden; /* prevent collapsing margins */

    ul {
        padding-left: 20px;
        list-style: outside disc;
    }

    ol {
        list-style: inside decimal;
    }

    @include media-query(tablet-portrait) {
        max-width: 70%;
    }
}

.wmd-button-row {
    display:  flex;
    background-color: $color--white;
    padding:  4px;
}

.wmd-spacer {
    background-color: $color--mid-grey;
    width: 1px;
    height: 20px;
    margin: 0 14px;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    list-style: none;
    cursor: pointer;

    & > span {
        display: inline-block;
        background-image: url('./../../images/editor-buttons.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 20px;
        height: 20px;
    }
}

.wmd-prompt-background {
    background-color: $color--black;
}

.wmd-prompt-dialog {
    background-color: $color--light-grey;
    padding:  .5em;
    border: 4px solid $color--primary;
}
