.heading {
    &--no-margin {
        margin: 0;
    }

    &--meta {
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        @include media-query(tablet-portrait) {
            margin-bottom: 1rem;
        }

        span {
            &::after {
                padding: 0 15px;
                content: '|';
            }

            &:last-child {
                &::after {
                    content: '';
                }
            }
        }
    }

    &--submission-meta {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-weight: $weight--normal;
        color: transparentize($color--dark-grey, .5);

        @include media-query(tablet-landscape) {
            flex-direction: row;
            margin-top: 0;
        }

        span {
            margin-right: 15px;
        }


    }

    &--small {
        font-size: 12px;
    }

    &--light-grey {
        color: transparentize($color--dark-grey, .5);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--normal {
        font-weight: $weight--normal;
    }

    &--bold {
        font-weight: $weight--bold;
    }

    &--activity-feed {
        @include responsive-font-sizes(12px, 18px);
        line-height: 1.1;
        text-align: center;

        @include media-query(tablet-portrait) {
            line-height: auto;
            text-align: left;
        }
    }

    &--submission-count {
        display: inline-block;
        padding: 2px 10px;
        font-size: 13px;
        font-weight: $weight--bold;
        color: $color--marine;
        text-align: center;
        background-color: $color--sky-blue;
        border-radius: 20%;
        border: 1px solid $color--light-blue-90;
        vertical-align: middle;
    }
}
