.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill $transition;
    fill: $color--dark-grey;

    .header__menus--mobile.is-visible & { // stylelint-disable-line force-element-nesting, selector-class-pattern
        fill: $color--white;
    }

    &--anchor-link {
        line-height: 1;
        height: .8em;
        vertical-align: middle;
    }

    &--person {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        transition: fill $transition;

        .button:hover & {
            fill: $color--white;
        }
    }

    &--social-share {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 5px;
    }

    &--calendar {
        fill: $color--pink;
    }

    &--error {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    &--close {
        width: 12px;
        height: 12px;
    }

    &--status {
        width: 65px;
        height: 160px;
        stroke: $color--mid-grey;
        fill: transparent;

        .is-active & {
            stroke: $color--correct;
        }
    }

    &--small {
        width: 14px;
        height: 14px;
    }

    &--speech-bubble {
        fill: $color--white;

        .activity-feed__header & { // stylelint-disable-line selector-class-pattern
            margin-left: 10px;
        }
    }

    &--to-top {
        display: flex;
        align-items: center;
        width: 45px;
        height: 45px;
        padding: 12px;
        margin: 0 0 5px;
        background-color: $color--white;
        border: 2px solid $color--black-50;
        border-radius: 50%;
        fill: $color--black-50;

        @include media-query(small-tablet) {
            width: 65px;
            height: 65px;
            padding: 20px;
        }
    }

    &--eye {
        position: relative;
        top: .25em;
        align-self: center;
        width: 1em;
        height: 1em;
        stroke: $color--black;
    }

    &--action-tick {
        stroke: $color--black;
        fill: transparent;
        margin-right: 8px;
        width: 16px;
        height: 16px;
    }

    &--action-cross {
        stroke: $color--black;
        fill: transparent;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    &--project-eye {
        align-self: center;
        width: 1em;
        height: 1em;
        margin-right: 2px;
        stroke: $color--light-blue;

        .border:hover & {
            stroke: $color--white;
        }
    }

    &--caret-down {
        position: relative;
        top: .4em;
        align-self: center;
        width: 1em;
        height: 1em;
        margin-left: 10px;
    }

    &--caret-up {
        position: relative;
        top: .4em;
        align-self: center;
        width: 1em;
        height: 1em;
        margin-left: 10px;
    }

    &--arrow-up {
        position: relative;
        align-self: center;
        width: 16px;
        height: 17px;
        stroke: $color--light-blue;
    }

    &--arrow-down {
        position: relative;
        align-self: center;
        width: 16px;
        height: 17px;
        stroke: $color--light-blue;
    }

    &--arrow-up-short-bar {
        position: relative;
        align-self: center;
        height: 1.4em;
        margin-right: 3px;
        fill: $color--light-blue;
        stroke: $color--light-blue;

        &--contract-upload {
            stroke: $color--white;
        }
    }

    &--project-pen {
        width: 12px;
        margin-right: 3px;
        fill: $color--light-blue;
    }

    &--pen {
        width: 12px;
        margin-left: 7px;
        fill: $color--light-blue;
    }

    &--request-changes {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        margin-top: 2px;
    }

    &--padlock {
        width: 12px;
        margin-left: 7px;
        stroke: $color--mid-grey;
    }

    &--delete {
        margin-left: 7px;
        fill: $color--tomato;
    }

    &--like {
        fill: $color--dark-grey;
        cursor: pointer;
    }

    &--dislike {
        fill: $color--dark-grey;
        cursor: pointer;
    }

    &--like-yes {
        fill: $color--dark-blue;
        cursor: not-allowed;
    }

    &--dislike-no {
        fill: $color--tomato;
        cursor: not-allowed;
    }

    &--like-disable {
        cursor: not-allowed;
    }

    &--dislike-disable {
        cursor: not-allowed;
    }

    &--info-circle {
        width: 18px;
        height: 18px;
        cursor: pointer;
        margin-right: 3px;
        vertical-align: middle;
    }
}
