.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill $transition;
    fill: $color--dark-grey;

    // stylelint-disable-next-line force-element-nesting, selector-class-pattern
    .header__menus--mobile.is-visible & {
        fill: $color--white;
    }

    &--person {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        transition: fill $transition;

        .button:hover & {
            fill: $color--white;
        }
    }

    &--social-share {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 5px;
    }

    &--close {
        width: 12px;
        height: 12px;
    }

    &--status {
        width: 65px;
        height: 160px;
        stroke: $color--mid-grey;
        fill: transparent;

        .is-active & {
            stroke: $color--correct;
        }
    }

    &--small {
        width: 14px;
        height: 14px;
    }

    &--speech-bubble {
        fill: $color--white;

        // stylelint-disable-next-line selector-class-pattern
        .activity-feed__header & {
            margin-left: 10px;
        }
    }

    &--eye {
        position: relative;
        top: 0.25em;
        align-self: center;
        width: 1em;
        height: 1em;
        stroke: $color--black;
    }

    &--dashboard-tasks {
        margin-left: 4px;
        margin-right: 8px;
        width: 24px;
        height: 24px;
    }

    &--action-cross {
        stroke: $color--black;
        fill: transparent;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    &--project-eye {
        align-self: center;
        width: 1em;
        height: 1em;
        margin-right: 2px;
        stroke: $color--light-blue;

        .border:hover & {
            stroke: $color--white;
        }
    }

    &--arrow-up-short-bar {
        position: relative;
        align-self: center;
        height: 1.4em;
        margin-right: 3px;
        fill: $color--light-blue;
        stroke: $color--light-blue;

        &--contract-upload {
            stroke: $color--white;
        }
    }

    &--request-changes {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        margin-top: 2px;
    }
}
