.list {
    $root: &;
    max-width: 290px;

    &--no-margin {
        margin: 0;
    }

    &--opinion {
        position: relative;
        font-size: 14px;
        border-top: 1px solid $color--mid-grey;
        border-bottom: 1px solid $color--mid-grey;
        margin: 10px 0;
        padding: 5px 0;

        #{$root}__item--opinion:first-child {
            span:last-child {
                &::before,
                &::after {
                    position: absolute;
                    top: -15px;
                    right: 5px;
                }

                &::after {
                    @include triangle(top, $color--mist, 6px);
                    top: -13px;
                }

                &::before {
                    @include triangle(top, $color--mid-grey, 6px);
                }
            }
        }
    }

    &__item {
        &--reviewer {
            display: flex;
            justify-content: space-between;
        }

        &--reviewer-name {
            max-width: 190px;
            overflow: hidden;
            font-weight: $weight--bold;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;

            > img {
                margin-left: 10px;
            }

            #{$root}__item--opinion & {
                font-weight: $weight--normal;
            }
        }

        &--reviewer-outcome {
            color: $color--tomato;
            position: relative;

            &.agree {
                color: $color--green;
            }
        }

        &--average_score {
            color: $color--dark-grey;
            font-weight: $weight--normal;
            font-size: map-get($font-sizes, zeta);
            display: inline;
            padding-left: 2px;
        }
    }
}
