.pagination--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 60px;
    margin-block-start: 30px;

    .per-page {
        a.current {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
        }

        a {
            text-decoration: underline;
        }
    }
}

.pagination {
    @extend %h6;
    display: flex;
    align-items: center;
    justify-content: center;

    .cardinality {
        margin: 0 10px;
    }

    .previous,
    .next {
        a {
            position: relative;
            display: block;
            width: 55px;
            height: 55px;
            font-size: 0;
            color: $color--white;
            background: $color--white;
            border: 1px solid $color--mid-grey;

            &::after {
                position: absolute;
                inset-block-start: 18.5px;
                inset-inline-start: 22.5px;
            }
        }
    }

    .previous {
        a {
            &::after {
                @include triangle(left, $color--primary, 7px);
            }
        }
    }

    .next {
        a {
            &::after {
                @include triangle(right, $color--primary, 7px);
            }
        }
    }
}
