.projects-table {
    @include table-ordering-styles;

    .reporting {
        .icon {
            margin-right: 0.3rem;
            width: 25px;
            height: 25px;
            fill: $color--tomato;
        }
    }
}

.invoices-table {
    @include table-ordering-styles;
}
