.projects-table {
    @include table-ordering-styles;

    .reporting {
        .icon {
            margin-right: .3rem;
            width: 25px;
            height: 25px;
            fill: $color--tomato;
        }
    }
}

.payment-requests-table {
    @include table-ordering-styles;
}
