// stylelint-disable max-nesting-depth

.reviews-sidebar {
    $root: &;
    margin-bottom: 20px;
    font-weight: $weight--bold;

    &__decision {
        position: relative;
        font-size: 14px;
        border-top: 1px solid $color--mid-grey;
        border-bottom: 1px solid $color--mid-grey;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        @supports (display: grid) {
            display: grid;
            grid-template-columns: 45% 25% 15% 15%;
            grid-gap: 5px;
        }

        &--decision {
            margin-bottom: 10px;
            font-weight: $weight--semibold;

            &:first-child {
                #{$root}__outcome {
                    &::before,
                    &::after {
                        position: absolute;
                        top: -23px;
                        left: 5px;
                    }

                    &::after {
                        @include triangle(top, $color--white, 8px);
                        top: -21px;
                    }

                    &::before {
                        @include triangle(top, $color--mid-grey, 8px);
                    }
                }
            }
        }

        &.is-hidden {
            display: none;
        }

        &.no-response {
            color: $color--black-20;
        }

        .yes {
            color: $color--green;
        }

        .maybe {
            color: $color--mustard;
        }

        .no {
            color: $color--tomato;
        }
    }

    &__date {
        @include font-size(milli);
    }

    &__no-reviews {
        color: $color--mid-grey;
    }

    &__name {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        background: $color--white;

        &:hover {
            display: inline-flex;
            overflow: visible;
        }

        img {
            margin-left: 7px;
        }
    }

    &__outcome {
        position: relative;

        &.agree {
            color: $color--green;
        }

        &.disagree {
            color: $color--tomato;
        }
    }

    &__split {
        margin-bottom: 20px;
    }
}
