.rich-text {
    margin-bottom: 2rem;
    word-break: break-word;
    max-width: $max-text-line-length;

    &--answers {
        > section {
            margin: 0 0 2rem;

            p:first-of-type {
                margin-top: 0;
            }

            p:empty {
                margin: 0;
            }
        }
    }

    h1 {
        font-size: 20px;
        font-family: $font--primary;
    }

    h2 {
        font-size: 18px;
        font-family: $font--primary;
    }

    h3,
    h4:not(.question),
    h5,
    h6 {
        font-size: 16px;
        font-family: $font--primary;
    }

    .question {
        margin: 0;
    }

    &--hidden {
        display: none;

        &.is-open {
            display: block;
        }
    }

    &__table {
        overflow: auto;
    }

    a {
        font-weight: $weight--bold;
        border-bottom: 1px solid transparent;
        transition: border, color, .15s ease-in-out;

        &:hover {
            border-bottom: 1px solid $color--primary;
      }
    }

    ul {
        padding-left: 20px;
        list-style: outside disc;

        &.remove-list-style {
            padding: 0;
            list-style: none;
        }
    }

    ol {
        list-style: inside decimal;
    }
}

.mce-widget {
    &.mce-wordcount {
        padding-left: 10px;
        padding-right: 10px;

        &::after {
            content: attr(data-after-word-count);
        }
    }

    &.word-count-warning,
    &.word-count-warning-2 {
        background-color: $color--pastel-red;
        font-weight: bold;
        text-shadow: none;
        color: $color--black;
    }

    &.word-count-warning-2 {
        background-color: $color--tomato;
    }
}
