.sidebar {
    @include media-query(tablet-portrait) {
        width: 345px;
    }

    &__inner {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid $color--mid-grey;

        &--light-blue {
            background-color: $color--light-blue-90;
        }

        &--actions {
            display: none;

            @include media-query(tablet-portrait) {
                display: block;

                &--instructions {
                    margin-top: 10px;
                    margin-left: 10px;
                }
            }
        }

        &--mobile {
            display: none;

            &.is-visible {
                display: block;
                border-top: 0;
            }
        }
    }

    &__project {
        // stylelint-disable value-no-vendor-prefix
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        align-self: flex-start;
        top: 0;
    }

    &__paf-approvals {
        &--pending {
            color: $color--mid-grey;
        }

        &--approved {
            color: $color--black;
        }
    }

    &__screening-selected-options {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }

    &__screening-option {
        margin: 0.3em;
        border: 1px solid $color--black-20;
        border-radius: 16px;
        padding: 6px;
        padding-right: 12px;
        padding-left: 12px;
        font-size: 0.8125rem;
    }

    &__separator {
        position: relative;
        font-size: 12px;
        font-weight: $weight--bold;
        color: $color--black-40;
        text-transform: uppercase;

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: calc(100% - 60px);
            height: 1px;
            background-color: $color--black-20;
            content: "";
        }

        &--medium {
            &::after {
                width: calc(100% - 120px);
            }
        }
    }
}
