.stat-block {
    $root: &;

    @include media-query(tablet-portrait) {
        display: flex;
    }

    &__item {
        position: relative;
        padding: 1rem;
        background-color: $color--white;
        flex: 1;
        display: block;
        margin: 0 0 1rem;

        @include media-query(tablet-portrait) {
            margin: 0 3rem 0 0;
            padding: 1.5rem;
        }

        &:last-child {
            margin-inline-end: 0;
        }

        &:only-child {
            @include media-query(tablet-portrait) {
                max-width: calc(100% / 3);
            }
        }
    }

    &__number {
        @extend %h3;
        line-height: 1;
        margin: 0;
        color: $color--marine;
    }

    &__text {
        // font-weight: $weight--bold;
        margin: 0.5rem 0;
        color: var(--color-fg-default);

        @include media-query(small-tablet) {
            margin: 0.5rem 0;
        }
    }

    &__view {
        text-transform: uppercase;
        font-weight: $weight--bold;
        transition: opacity $quick-transition;

        @include media-query(tablet-portrait) {
            position: absolute;
            inset-block-start: 1rem;
            inset-inline-end: 1rem;
            opacity: 0;

            #{$root}__item:hover & {
                opacity: 1;
            }
        }
    }
}
