.submission-meta {
    background-color: transparent;

    tbody {
        td {
            &.phase {
                span {
                    display: inline-block;
                    padding: 10px;
                    font-size: 13px;
                    font-weight: $weight--bold;
                    color: $color--mid-dark-grey;
                    text-align: center;
                    background-color: transparent;
                    border: 1px solid $color--mid-dark-grey;
                }
            }
        }
    }

    &__row {
        border: 0;

        &:hover {
            box-shadow: none;
        }

        &--black {
            color: $color--default;
        }

        th,
        td {
            padding: 5px 10px;
        }

        td {
            &.lead {
                span {
                    background: $color--mist;
                }
            }
        }
    }
}
