.two-factor {
    position: relative;

    &__back {
        position: absolute;
        top: .5rem;
    }

    h1,
    h2 {
        @extend %h3;
        font-weight: 700;
    }
}

.d-none {
    display: none;
}

// 2FA token field.
// stylelint-disable property-no-vendor-prefix, selector-id-pattern, selector-max-id
#id_generator-token {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
// stylelint-enable
