// stylelint-disable property-no-vendor-prefix, selector-id-pattern, selector-max-id

.two-factor {
    position: relative;

    &__back {
        position: absolute;
        top: .5rem;
    }

    h1,
    h2 {
        @extend %h3;
        font-weight: 700;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }
}

// 2FA token label font size
label[for='id_generator-token'] {
    font-size: 1.2em;
}

#list-backup-tokens {
    border: $color--mid-grey;
    padding: 1em;
    line-height: 1.4em;
    font-size: larger;
    font-family: monospace;
    resize: none;
    font-style: bold;
}

.d-none {
    display: none;
}

.bg-white {
    background-color: $color--white;
}

// 2FA token field.
#id_generator-token {
    -moz-appearance: textfield;
    line-height: 1.5;
    width: 8ch;
    padding: 3px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
