/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

/* ============================================
    Base font
*/
html {
    font-size: ($base-font-size / 16px) * 100%;
    line-height: $base-line-height / $base-font-size;
    color: $color--default;
}

/* ============================================
    Families – one mixin per typeface
    :: For each font mixin defined here, make sure each property is negated (set
    :: to its default value, usually `inherit`) in all other font mixins.
*/
@mixin heading-text {
    font-family: $font--primary;
    font-style: inherit;
    font-weight: inherit;
}

@mixin body-text {
    font-family: $font--primary;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
}

@mixin quote-text {
    font-family: $font--secondary;
    font-style: italic;
    font-weight: inherit;
    text-transform: inherit;
}

// sass-lint:disable single-line-per-selector
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
}
// sass-lint:enddisable

// sass-lint:disable single-line-per-selector
h1, h2, h3, h4, h5, h6,
.heading-text {
    @include heading-text;
}
// sass-lint:enddisable

html,
.body-text {
    @include body-text;
}

blockquote {
    @include quote-text;
}

// Default sizes
h1, .alpha   {
    @include font-size(alpha);
    font-weight: $weight--black;
}

h2, .beta    {
    @include font-size(beta);
    font-weight: $weight--bold;
}

h3, .gamma   {
    @include font-size(gamma);
    font-weight: $weight--light;
}

h4, .delta   {
    @include font-size(delta);
    font-weight: $weight--bold;
}

h5, .epsilon {
    @include font-size(epsilon);
    font-weight: $weight--bold;
}

h6, .zeta    {
    @include font-size(zeta);
    font-weight: $weight--bold;
}

.giga { @include font-size(giga); }
.mega { @include font-size(mega); }
.kilo { @include font-size(kilo); }
small, .milli { @include font-size(milli); }

// thin
@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 200;
    src: url('./../fonts/proxima-nova/proxima-nova-thin.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// regular
@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/proxima-nova/proxima-nova-regular.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// semibold
@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 600;
    src: url('./../fonts/proxima-nova/proxima-nova-semibold.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// bold
@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 700;
    src: url('./../fonts/proxima-nova/proxima-nova-bold.woff') format('woff');
    text-rendering: optimizeLegibility;
}

// black
@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 800;
    src: url('./../fonts/proxima-nova/proxima-nova-black.woff') format('woff');
    text-rendering: optimizeLegibility;
}
