{% extends "base-apply.html" %}
{% load static bleach_tags %}
{% block title %}{% if object %}Edit a Determination {% if object.is_draft %}draft{% endif %}{% else %}Create a Determination{% endif %}{% endblock %}
{% block content %}

{% block header %}
    <div class="admin-bar">
        <div class="admin-bar__inner">
            <h2 class="heading heading--no-margin">{% if object %}Update Determination draft{% else %}Create Determination{% endif %}</h2>
            <h5>For <a href="{% url "funds:submissions:detail" submission.id %}">{{ submission.title }}</a></h5>
        </div>
    </div>
{% endblock %}

{% block form %}
{% include "forms/includes/form_errors.html" with form=form %}

<div class="wrapper wrapper--medium wrapper--inner-space-medium">
    {% block determination_information %}
    {% endblock %}

    <form class="form form--with-p-tags" action="" method="post">
        {{ form.media }}
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {# to be replaced with better logic when/if we use stream form #}
            {% ifchanged field.field.group %}
                {% for key, value in form.titles.items %}
                    {% if key == field.field.group %}
                        <h2>{{ value }}</h2>
                    {% endif %}
                {% endfor %}
            {% endifchanged %}

            {% if field.field %}
                {% include "forms/includes/field.html" %}
            {% else %}
                {{ field }}
            {% endif %}

        {% endfor %}

        {# Set up some hidden fields that we can use to map #}
        {# between (seemingly) random field ids and canonical names #}
        {# that our javascript can use. #}
        {% for k, v in form_field_id_to_name.items %}
            <input type=hidden id="id_{{v}}" name="id_{{v}}" value="{{k}}"/>
        {% endfor %}

        {% block form_buttons %}
            {% if form.draft_button_name %}
                <button class="button button--submit button--top-space button--white" type="submit" name="{{ form.draft_button_name }}" formnovalidate>Save Draft</button>
            {% endif %}
            <button class="button button--submit button--top-space button--primary" type="submit" name="submit">Send/Save</button>
        {% endblock %}
    </form>
    {% for type, message in message_templates.items %}
        <div class="is-hidden" data-type="{{ type }}" id="determination-message-{{ type }}">
            {{ message|bleach }}
        </div>
    {% endfor %}
</div>
{% endblock %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apply/determination-template.js' %}"></script>
{% endblock %}
