{% extends "base-apply.html" %}
{% load i18n static bleach_tags %}
{% block title %}{% if object %}{% trans "Edit a Determination" %} {% if object.is_draft %}{% trans "draft" %}{% endif %}{% else %}{% trans "Create a Determination" %}{% endif %}{% endblock %}
{% block content %}

    {% adminbar %}
        {% slot header %}{% if object %}{% trans "Update Determination draft" %}{% else %}{% trans "Create Determination" %}{% endif %}{% endslot %}
        {% slot sub_heading %}{% if submission %}{% trans "For" %} <a href="{% url "funds:submissions:detail" submission.id %}">{{ submission.title }}</a>{% endif %}{% endslot %}
    {% endadminbar %}

    {% block form %}
        <section class="my-8">
            {% include "forms/includes/form_errors.html" with form=form %}
            {% block determination_information %}
            {% endblock %}
            <form class="form max-w-3xl" action="" method="post" x-data="{ isFormSubmitting: false }" x-on:submit="isFormSubmitting = true">
                {{ form.media }}
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                {# to be replaced with better logic when/if we use stream form #}
                    {% ifchanged field.field.group %}
                        {% for key, value in form.titles.items %}
                            {% if key == field.field.group %}
                                <h2>{{ value }}</h2>
                            {% endif %}
                        {% endfor %}
                    {% endifchanged %}
                    {% if field.field %}
                        {% include "forms/includes/field.html" %}
                    {% else %}
                        {{ field.block }}
                    {% endif %}
                {% endfor %}
                {% block form_buttons %}
                    <div class="form__group">
                        {% if form.draft_button_name %}
                            <button class="button button--submit button--white" type="submit" name="{{ form.draft_button_name }}">{% trans "Save draft" %}</button>
                        {% endif %}
                        <button class="button button--submit button--primary" :disabled="isFormSubmitting" type="submit" name="submit">{% trans "Submit" %}</button>
                    </div>
                {% endblock %}
            </form>
            {% for type, message in message_templates.items %}
                <div class="is-hidden" data-type="{{ type }}" id="determination-message-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
    {% endblock %}
    </section>
{% endblock %}

{% block extra_js %}
    {{ field_blocks_ids|json_script:"block-ids" }}
    <script src="{% static 'js/determination-template.js' %}"></script>
{% endblock %}
