{% extends "base-apply.html" %}
{% load i18n static nh3_tags heroicons %}
{% block title %}{% if object %}{% trans "Edit a Determination" %} {% if object.is_draft %}{% trans "draft" %}{% endif %}{% else %}{% trans "Create a Determination" %}{% endif %}{% endblock %}
{% block body_attrs %}x-data="{ showSubmission: false }"{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            title="{% if object %}{% trans 'Update Determination draft' %}{% else %}{% trans 'Create Determination' %}{% endif %}"
            subtitle="{% if submission %}{% trans 'For' %} <a class='link link-hover' href='{% url 'funds:submissions:detail' submission.id %}'>{{ submission.title_text_display }}</a>{% endif %}"
        >

            <div class="self-end -mb-4">
                <div class="tabs tabs-lift">
                    <button
                        class="tab tab-active text-base-content/70"
                        @click="showSubmission = !showSubmission"
                        :aria-selected="showSubmission"
                    >
                        <span x-show="!showSubmission" class="flex gap-2 items-center">
                            {% heroicon_outline "eye" class="size-4" aria_hidden="true" %}
                            {% trans "Show application" %}
                        </span>
                        <span x-show="showSubmission" class="flex gap-2 items-center" x-cloak>
                            {% heroicon_outline "eye-slash" class="size-4" aria_hidden="true" %}
                            {% trans "Hide application" %}
                        </span>
                    </button>
                </div>
            </div>
        </c-hero.header>
    </c-hero>
{% endblock %}

{% block content %}
    {% block form %}
        <section class="flex flex-col-reverse gap-4 justify-between my-8 lg:flex-row">
            <div class="flex-1 max-w-3xl">
                {% include "forms/includes/form_errors.html" with form=form %}
                {% block determination_information %}{% endblock %}

                <form
                    class="form"
                    action="" method="post"
                    x-data="{ isFormSubmitting: false }"
                    x-on:submit="isFormSubmitting = true"
                >
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    {# to be replaced with better logic when/if we use stream form #}
                        {% ifchanged field.field.group %}
                            {% for key, value in form.titles.items %}
                                {% if key == field.field.group %}
                                    <h2>{{ value }}</h2>
                                {% endif %}
                            {% endfor %}
                        {% endifchanged %}
                        {% if field.field %}
                            {% include "forms/includes/field.html" %}
                        {% else %}
                            <div class="max-w-none field-block prose">
                                <div>
                                    {{ field.block }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% block form_buttons %}
                        <div class="mt-4 card-actions">
                            <button
                                class="btn btn-primary"
                                :disabled="isFormSubmitting"
                                type="submit"
                                name="submit"
                            >{% trans "Submit" %}</button>

                            {% if form.draft_button_name %}
                                <button
                                    class="btn btn-secondary btn-outline"
                                    type="submit"
                                    name="{{ form.draft_button_name }}"
                                >{% trans "Save draft" %}</button>
                            {% endif %}
                        </div>
                    {% endblock %}
                </form>
                {% for type, message in message_templates.items %}
                    <div class="hidden" data-type="{{ type }}" id="determination-message-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            {% block show_submission %}
                <aside
                    x-cloak
                    x-show="showSubmission"
                    class="overflow-y-auto max-h-screen grow bg-base-200 card card-border lg:max-w-1/2"
                >
                    <div
                        class="card-body"
                        hx-get="{% url 'funds:submissions:partial-answers' submission.id %}"
                        hx-trigger="revealed"
                    >
                        <p>{% trans "Loading…" %}</p>
                    </div>
                </aside>
            {% endblock %}

        </section>
    {% endblock %}
{% endblock %}

{% block extra_js %}
    {{ field_blocks_ids|json_script:"block-ids" }}
    <script src="{% static 'js/determination-template.js' %}"></script>
{% endblock %}
