{% extends "determinations/base_determination_form.html" %}
{% load i18n static heroicons %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block adminbar %}
    {% adminbar %}
        {% slot header %}{% trans "Add batch determination" %} - {{ action_name }}{% endslot %}
    {% endadminbar %}
{% endblock %}

{% block determination_information %}
    <details class="border collapse collapse-arrow bg-base-100 border-base-300">
        <summary class="font-semibold collapse-title">
            <span>
                {% trans "Determining" %} {{ submissions.count }} {% trans "submission" %}{{ submissions.count|pluralize }} {% trans "as" %} "{{ action_name }}"
            </span>
        </summary>
        <div class="text-sm collapse-content prose">
            <ol>
                {% for submission in submissions %}
                    <li>
                        <a
                            href="{% url 'funds:submissions:detail' submission.id %}"
                            class="link list-row link-hover"
                            target="_blank"
                            title="{{ submission.title }}"
                        >
                            {{ submission.title_text_display }}
                            {% heroicon_micro "arrow-top-right-on-square" class="inline w-4 h-4 align-text-bottom" aria_hidden=true %}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </details>
{% endblock %}

{% block form_buttons %}
    <button class="mt-4 btn btn-primary" type="submit" onclick="return confirm('{% blocktrans %}This determination message will be emailed to applicants and cannot be undone. Do you wish to continue?{% endblocktrans %}')">
        {% trans "Send" %}
    </button>
{% endblock %}

{% block show_submission %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/batch-actions.js' %}"></script>
{% endblock %}
