{% extends "base-apply.html" %}
{% load i18n nh3_tags heroicons %}

{% block title %}{% trans "Determination for" %} {{ determination.submission.title }}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            back_link="{{ determination.submission.get_absolute_url }}"
            back_link_text="{% trans 'View application' %}"
            title="{% trans 'Determination' %} {% if determination.is_draft %}[{% trans 'DRAFT' %}] {% endif %}"
            subtitle="{% trans 'For' %} <a class='link link-hover' href='{% url 'funds:submissions:detail' determination.submission.id %}'>{{ determination.submission.title_text_display }}</a>"
        />
    </c-hero>
{% endblock %}


{% block content %}
    <div class="flex flex-col gap-8 my-4 mx-auto max-w-3xl">
        <div class="flex justify-between">
            <dl>
                <dt class="text-sm label">{% trans "Outcome" %}:</dt>
                <dd><span class="badge badge-info badge-outline">{{ determination.get_outcome_display }}</span></dd>
            </dl>


            {% if request.user.is_apply_staff %}
                <a
                    class="btn btn-sm {% if determination.is_draft %}btn-primary{% else %}btn-ghost{% endif %}"
                    href="{% url 'apply:submissions:determinations:edit' submission_pk=determination.submission.id pk=determination.id %}"
                >
                    {% heroicon_mini "pencil-square" size=18 aria_hidden=true %}
                    {% if determination.is_draft %}
                        {% trans "Continue editing" %}
                    {% else %}
                        {% trans "Edit" %}
                    {% endif %}
                </a>
            {% endif %}
        </div>

        <section>
            <h2 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">
                {% trans "Determination message" %}
            </h2>

            <div class="max-w-none prose">
                {{ determination.message|nh3 }}
            </div>
        </section>

        {% for group in determination.detailed_data.values %}
            <section>
                {% if group.title %}
                    <h2 class="section-title">{{ group.title|nh3 }}</h2>
                {% endif %}

                {% for question, answer in group.questions %}
                    <h3 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{{ question }}</h3>
                    {% if answer %}
                        {% if answer == True or answer == False %}
                            {{ answer|yesno:"Agree,Disagree" }}
                        {% else %}
                            <div class="max-w-none prose">
                                {{ answer|nh3 }}
                            </div>
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                {% endfor %}
                <section>
        {% endfor %}

    </div>
{% endblock %}
