{% extends "base-apply.html" %}
{% load i18n wagtailcore_tags heroicons %}

{% block title %}{% trans "Confirm access" %}{% endblock %}
{% block body_class %}bg-base-100{% endblock %}

{% block content %}
    <div class="px-4 pt-4 mx-auto max-w-md md:py-4 md:mt-5">

        <h2 class="text-2xl text-center">{% trans "Confirm access" %}</h2>

        <p class="mb-4 text-center">
            {% if request.user.full_name %}
                {% blocktrans with name=request.user.full_name email=request.user.email trimmed %}
                    Signed in as <strong>{{ name }}({{ email }})</strong>
                {% endblocktrans %}
            {% else %}
                {% blocktrans with email=request.user.email trimmed %}
                    Signed in as <strong>{{ email }}</strong>
                {% endblocktrans %}
            {% endif %}
        </p>

        <section id="section-form">
            <div class="card card-border bg-base-200">
                {% if request.user.has_usable_password %}
                    <form
                        class="card-body form"
                        method="post"
                        action="./"
                        data-test-id="section-password-input"
                        id="form-password-input"
                    >
                        {% csrf_token %}
                        {% for field in form %}
                            {% include "forms/includes/field.html" %}
                        {% endfor %}

                        <button role="button" class="mt-4 btn btn-primary" type="submit">{% trans "Confirm" %}</button>
                    </form>
                {% else %}
                    <section data-test-id="section-confirm" id="confirm-code-input" class="px-4 pt-4 mb-4 text-center">
                        <button
                            class="btn btn-primary"
                            type="submit"
                            hx-post="{% url 'users:elevate_send_confirm_access_email' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}"
                            hx-swap="outerHTML transition:true"
                            hx-target="#confirm-code-input"
                        >
                            {% trans "Send a confirmation code to your email" %}
                        </button>
                    </section>
                {% endif %}
            </div>

            {% if request.user.has_usable_password %}
                <section data-test-id="section-send-email" class="px-4 pt-2 pb-4 border">
                    <p>{% trans "Having problems?" %}</p>
                    <ul class="list-disc ms-4">
                        <li>
                            <a
                                class="m-0 link"
                                type="submit"
                                hx-post="{% url 'users:elevate_send_confirm_access_email' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}"
                                hx-target="#section-form"
                            >
                                {% trans "Send a confirmation code to your email" %}
                            </a>
                        </li>
                    </ul>
                </section>
            {% endif %}

        </section>


        <p class="mx-auto mt-8 max-w-xs text-xs leading-relaxed text-center text-gray-500">
            <strong>{% trans "Tip:" %}</strong>
            {% blocktrans trimmed %}
                You are entering sudo mode. After you've performed a sudo-protected
                action, you'll only be asked to re-authenticate again after a few hours of inactivity.
            {% endblocktrans %}
        </p>

    </div>
{% endblock %}
