.submissions-grid {
    margin: 0 -20px;

    // temporary to visualise middle column
    > div:nth-child(2) {
        background-color: white;
    }

    @include media-query(tablet-landscape) {
        display: grid;
        grid-template-columns: 28% 1fr 28%;
    }

    @include media-query(desktop) {
        // breakout of the wrapper
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        grid-template-columns: 20% 1fr 28%;
    }

    @include media-query(desktop-medium) {
        grid-template-columns: 1fr 1280px 1fr;
    }

    &__header {
        @include submission-list-item;
        padding: 15px 20px;
    }

    &__list {
        @include media-query(tablet-portrait) {
            height: calc(100vh - var(--header-admin-height) - 56px);
            overflow-y: scroll;
        }

        @include media-query(laptop-short) {
            height: calc(100vh - 56px);
        }
    }
}
