//------------------------------------------------------------------//
//
//  ALERT COMPONENT
//
//  Mixins have already been decared in a parent file
//  sass-lint:disable mixins-before-declarations
//
//------------------------------------------------------------------//

// VARS

$alert-default: color(text-darkest) !default;
$alert-default-bg: color(seed-grey, 75) !default;
$alert-default-border: color(seed-grey) !default;
$alert-info: $color-info !default;
$alert-info-bg: $color-info-bg !default;
$alert-info-border: $color-info-border !default;
$alert-warning: $color-warning !default;
$alert-warning-bg: $color-warning-bg !default;
$alert-warning-border: $color-warning-border !default;
$alert-error: $color-error !default;
$alert-error-bg: $color-error-bg !default;
$alert-error-border: $color-error-border !default;
$alert-success: $color-success !default;
$alert-success-bg: $color-success-bg !default;
$alert-success-border: $color-success-border !default;

// CONTAINER

.alert-tray {
    position: fixed;
    bottom: #{$gutter-sm}px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    width: calc(100% - #{$gutter-sm * 2}px);
    z-index: $z-index-notification;
}

// ELEMENTS

.alert {
    @include animate(transform opacity, $animation-speed-medium);
    background-color: $color-info;
    color: $alert-default;
    overflow: hidden;
    padding: #{$gutter-sm / 2}px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .alert-tray & {
        &:last-child {
            margin: 0;
        }
    }

    .is-hidden & {
        opacity: 0;
        transform: translateY(calc(100% + #{$gutter-sm}px));

        @include media-min-xs {
            transform: translateY(calc(100% + #{$gutter}px));
        }
    }
}

.alert--success {
    background-color: $color-success;
}

.alert--warning {
    background-color: $color-warning;
}

.alert--error {
    background-color: $color-error;
}

.alert__body {
    @include font-size-md();
    color: color(seed-white);
    position: relative;
    flex: 0 1 100%;
}

.alert__close {
    @include font-size-xl;
    color: transparent;
    float: right;
    overflow: hidden;
    position: relative;
    margin: 0 0 0 #{$size-md}px;
    width: 20px;
    height: 20px;

    &::after,
    &::before {
        background-color: color(seed-white);
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }

    &::before {
        transform: translateY(-50%) rotate(45deg);
    }

    &::after {
        transform: translateY(-50%) rotate(-45deg);
    }
}
