//------------------------------------------------------------------//
//
//  BUTTON COMPONENT
//
//  Mixins have already been decared in a parent file
//  sass-lint:disable mixins-before-declarations
//
//------------------------------------------------------------------//

// VARS

$btn-opacity-disabled: .5 !default;

$btn-default-bg: color(seed-black) !default;
$btn-default-bg-focus: color(seed-black) !default;
$btn-default-bg-active: color(seed-black) !default;
$btn-default-bg-disabled: color(seed-black) !default;

$btn-default-drop-bg: color(seed-black, null, 0) !default;
$btn-default-drop-bg-focus: color(seed-black, null, .1) !default;
$btn-default-drop-bg-active: color(seed-black, null, .25) !default;
$btn-default-drop-bg-disabled: color(seed-black, null, 0) !default;

$btn-default-label: color(seed-white) !default;
$btn-default-label-focus: color(seed-white) !default;
$btn-default-label-active: color(seed-yellow, 50) !default;
$btn-default-label-disabled: color(seed-grey, 50) !default;

$btn-primary-bg: color(seed-black) !default;
$btn-primary-label: color(seed-white) !default;
$btn-primary-label-focus: color(seed-white) !default;
$btn-primary-label-active: color(seed-white) !default;

$btn-group-radius: $size-xs !default;

$btn-icon-xs: 8 !default;
$btn-icon-sm: 12 !default;
$btn-icon-md: 16 !default;
$btn-icon-lg: 32 !default;
$btn-icon-xl: 55 !default;

$btn-color-active: rgb(245, 255, 0) !default;

// CONTAINERS

// ELEMENT

button.button,
a.button {
    position: relative;
    border: 0;
    cursor: pointer;
    margin-right: 10px;
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    text-align: center;
    align-items: flex-start;
    justify-content: stretch;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    min-width: 220px;
    font-family: $font-family-primary;

    &,
    &:link,
    &:visited {
        outline: none;
        text-decoration: none;

        .theme-lightest &,
        .theme-light & {
            box-shadow: inset 0 0 0 2px color(seed-black);
            background-color: transparent;
        }

        .theme-grey &,
        .theme-dark &,
        .theme-darkest & {
            box-shadow: inset 0 0 0 2px color(seed-white);
            background-color: transparent;
        }
    }

    &:focus {
        outline: 2px solid $color-focus-border;
    }

    .focus-disabled &:focus,
    &:active {
        outline: none;
    }

    &:active {
        &::before {
            transform: translateX(0);
        }
    }

    &:last-child {
        margin-right: 0;
    }

    /****************************** ACTIVE STATE ********************************/

    &::before {
        @include animate(background-color transform, 250ms);
        background: $btn-color-active;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        width: 100%;
        z-index: 2;
    }

    &.is-clicked {}

    &.is-clicked--reveal {

        &::before {
            transform: translateX(0);
        }
    }

    &.is-clicked--exit {
        &::before {
            transform: translateX(100%);
        }
    }
}

a.button--sm,
button.button--sm {
    min-width: 130px;
}

.button__drop {
    @include animate(background-color transform, 250ms);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
    z-index: 1;

    .button &,
    .button:link &,
    .button:visited & {
        @include theme-switch(background-color, seed-black, seed-white);
    }

    .button:focus & {
        transform: translateX(0);
        @include theme-switch(background-color, seed-orange, seed-orange);
    }

    .button:focus &,
    .button:active & {

        .focus-disabled .theme-lightest &,
        .focus-disabled .theme-light & {
            background-color: color(seed-black);
        }

        .focus-disabled .theme-grey &,
        .focus-disabled .theme-dark &,
        .focus-disabled .theme-darkest & {
            background-color: color(seed-white);
        }
    }

    .button.is-clicked &,
    .button:hover & {
        @include theme-switch(background-color, seed-black, seed-white);
        transform: translateX(0);
    }

    .button:disabled &,
    .button.is-disabled &,
    .button[disabled] & {
        background-color: $btn-default-drop-bg-disabled;
    }
}

.button__label {
    @include animate(color opacity, 250ms);
    @include font-size-sm();
    display: block;
    flex: 1 1 100%;
    line-height: 1;
    opacity: 1;
    padding: #{$size-xl}px #{$size-xxl}px;
    position: relative;
    text-align: center;
    z-index: 3;

    .button--sm & {
        padding: 17px;
    }

    .button:focus & {
        @include theme-switch(color, seed-black, seed-black);

        .focus-disabled .theme-lightest &,
        .focus-disabled .theme-light & {
            color: color(seed-white);
        }

        .focus-disabled .theme-grey &,
        .focus-disabled .theme-dark &,
        .focus-disabled .theme-darkest & {
            color: color(seed-black);
        }
    }

    .button:active & {

        .focus-disabled .theme-lightest &,
        .focus-disabled .theme-light & {
            color: color(seed-black);
        }

        .focus-disabled .theme-grey &,
        .focus-disabled .theme-dark &,
        .focus-disabled .theme-darkest & {
            color: color(seed-black);
        }
    }

    .button &,
    .button:link &,
    .button:visited & {
        @include theme-switch(color, seed-black, seed-white);
    }

    .button.is-clicked--reveal.is-clicked--exit &,
    .button:hover &,
    .button:active & {
        @include theme-switch(color, seed-white, seed-black);
    }

    .button.is-clicked--reveal &,
    .button.is-clicked--reveal:active &,
    .button:visited:active &,
    .button:active & {
        @include theme-switch(color, seed-black, seed-black);
    }

    .button.is-disabled &,
    .button:disabled &,
    .button[disabled] & {

        &,
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $btn-default-label-disabled;
        }
    }
}
