//------------------------------------------------------------------//
//
//  PERSON COMPONENTS
//
//  Mixins have already been decared in a parent file
//  sass-lint:disable mixins-before-declarations
//
//------------------------------------------------------------------//

// VARS

// ELEMENTS

.people-title {
    width: 100%;
    position: relative;
    padding: 0 0 40px;

    @include media-max-sm {
        margin: 0;


        &::after {
            content: '';
            display: block;
            height: 1px;
            width: calc(100% + #{$gutter-sm * 2}px);
            background-color: color(seed-grey);
            position: absolute;
            left: -#{$gutter-sm}px;
            bottom: 0;
        }
    }

    @include media-min-sm {
        padding: 0 0 50px;
    }

    @include media-min-md {
        padding: 0 0 70px;
    }

    h2 {
        @include font-size-xl();
        font-family: $font-family-secondary;

        @include media-min-sm() {
            @include font-size-xxl();
        }
    }

    .person+& {
        padding: 50px 0 40px;

        @include media-min-sm {
            padding: 50px 0;
        }

        @include media-min-md {
            padding: 70px 0;
        }
    }
}

.person {
    position: relative;
    width: 100%;

    @include media-max-sm {
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: calc(100% + #{$gutter-sm * 2}px);
            background-color: color(seed-grey);
            position: absolute;
            left: -#{$gutter-sm}px;
            bottom: 0;
        }
    }

    @include media-min-sm {
        backface-visibility: hidden;
        flex: 0 0 50%;
        max-width: calc(50% - #{$gutter-sm}px);
        margin: 0 #{$gutter-sm}px #{$gutter - $gutter-sm}px 0;
        transition: opacity 500ms;
        width: auto;
        will-change: opacity;
    }

    @include media-min-md {
        flex: 0 0 33.33333%;
        max-width: calc(33.33333% - #{$gutter-sm}px);
    }

    &.is-person-hovered {
        @include media-min-sm {
            opacity: .4;
        }
    }

    &.is-hovered {
        @include media-min-sm {
            opacity: 1;
            z-index: 1;

            .person__hover {
                opacity: 1;
            }
        }
    }
}

.person__title {
    display: none;
    position: relative;
    font-family: $font-family-secondary;

    &::after {
        @include animate(opacity transform);
        height: 15px;
        width: 15px;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: color(seed-black);
        opacity: 0;
    }

    @include media-min-sm {
        display: block;
    }

    @include media-max-sm {
        cursor: pointer;
        padding: 30px 30px 30px 0;

        &::after {
            opacity: .5;

            .is-active & {
                transform: translateY(0) rotate(-135deg);
            }
        }

        &:focus::after,
        &:hover::after {
            opacity: 1;
        }
    }
}

.person__title--mob {
    display: block;

    @include media-min-sm {
        display: none;
    }
  }


.person__name {
    font-size: 20px;
    font-family: $font-family-secondary;

    @include media-min-sm {
        @include font-size-lg();
    }
}

.person__role {
    font-size: 20px;
    font-family: $font-family-secondary;

    @include media-min-sm {
        @include font-size-lg();
    }
}

.person__tray {
    height: 0;
    overflow: hidden;
    transition: height 500ms;

    @include media-min-sm {
        height: auto !important; // sass-lint:disable-line no-important
    }
}

.person__info {
    flex: 1 1 auto;
    line-height: 1.4;
    padding-bottom: #{$gutter-sm}px;

    @include media-min-sm {
        @include pad-gutter-top-sm();
    }
}

.person__social {
    padding-bottom: #{$gutter-sm}px;
}

.person__image {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: #{$gutter-sm}px;
    transform: none !important; // sass-lint:disable-line no-important

    @include media-min-sm {
        padding-bottom: #{$gutter-sm}px;
        padding-right: 30px;
    }

    img {
        height: auto;
        max-width: 400px;
        width: 100%;
    }
}

.socials {
    padding: 0;
    margin: 0 0 0 -10px;
    list-style: none;
    display: flex;
}

.socials__item {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 12px;
        width: 1px;
        opacity: .5;

        .theme-dark &,
        .theme-darkest & {
            background-color: color(seed-white);
        }

        .theme-grey &,
        .theme-light &,
        .theme-lightest & {
            background-color: color(seed-black);
        }
    }

    &:last-child::after {
        display: none;
    }
}

.social-link {
    @include animate(opacity);
    @include font-size-sm();
    display: block;
    padding: 5px 10px;

    &,
    &:link,
    &:visited {
        opacity: .25;
        text-decoration: none;
    }

    &:hover,
    &:active {
        opacity: 1;
    }
}
