{
    "parser": "@babel/eslint-parser",
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "eqeqeq": "off",
        "guard-for-in": "off",
        "no-console": "off",
        "no-dupe-keys": "off",
        "no-nested-ternary": "off",
        "no-new-func": "off",
        "no-prototype-builtins": "off",
        "no-return-assign": "off",
        "no-undef": "off",
        "no-undefined": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "react/no-children-prop": "off",
        "valid-jsdoc": "off"
    }
}
