{% load wagtailcore_tags wagtailimages_tags %}
<a class="listing {{ class }}" href="{% pageurl person %}">
    <div class="listing__image listing__image--default">
        {% if person.photo %}
            {% image person.photo fill-180x180 %}
        {% else %}
            <svg><use xlink:href="#logo-mobile-no-text"></use></svg>
        {% endif %}

    </div>
    {% for type in person.person_types.all %}
        <h6 class="listing__category">{{ type }}</h6>
    {% endfor %}
    <h4 class="listing__title">{{ person.first_name }} {{ person.last_name }}</h4>
    {% if person.listing_summary or person.introduction %}
        <h6 class="listing__teaser">{{ person.listing_summary|default:person.introduction|truncatechars:235 }}</h6>
    {% endif %}
</a>
