{% load wagtailcore_tags wagtailimages_tags %}
<a class="listing {% if person.photo %}listing--with-image{% endif %}" href="{% pageurl person %}">
    {% if person.photo %}
        {% image person.photo fill-180x180 class="listing__image" %}
    {% endif %}
    {% for type in person.person_types.all %}
        <h6 class="listing__category">{{ type }}</h6>
    {% endfor %}
    <h4 class="listing__title">{{ person.first_name }} {{ person.last_name }}</h4>
    {% if person.listing_summary or person.introduction %}
        <h6 class="listing__teaser">{{ person.listing_summary|default:person.introduction }}</h6>
    {% endif %}
</a>
