{% extends 'django_tables2/table.html' %}
{% load django_tables2 table_tags review_tags wagtailimages_tags i18n %}

{% block table.tbody.row %}
    <tr {{ row.attrs.as_html }}>
        {% for column, cell in row.items %}
            <td {{ column.attrs.td.as_html }}>
                {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}
            </td>
        {% endfor %}
    </tr>
{% endblock %}

{% block pagination %}
    {% if table.page and table.paginator.num_pages > 0 %}
        <div class="relative">
            <div class='hidden absolute top-2 left-4 text-sm md:block per-page text-fg-muted'>
                {% trans "Show" %}
                <a href="{% querystring "per_page"=25 %}" class="link {% if not table.paginator.per_page == 25 %}link-hover current{% endif %}">25</a> |
                <a href="{% querystring "per_page"=50 %}" class="link {% if not table.paginator.per_page == 50 %}link-hover current{% endif %}">50</a> |
                <a href="{% querystring "per_page"=100 %}" class="link {% if not table.paginator.per_page == 100 %}link-hover current{% endif %}">100</a> |
                {% trans "items" %}
            </div>
            <c-pagination :page="table.page" class="my-4" />
        </div>
    {% endif %}
{% endblock pagination %}
