{% load i18n %}

<div class="border-b-2 border-b-base-300">
    <section class="max-w-3xl ms-4 md:ms-20">

        <div class="h-timeline">
            {% for activity in activities %}
                {% if activity.type == "comment" %}
                    {% include "activity/ui/activity-comment-item.html" with activity=activity %}
                {% else %}
                    {% include "activity/ui/activity-action-item.html" with activity=activity %}
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <a
                    href="{{ request.path }}?page={{ page.next_page_number }}"
                    class="btn btn-sm"
                    hx-get="{{ request.path }}?page={{ page.next_page_number }}"
                    hx-trigger="intersect"
                    hx-target="this"
                    hx-swap="outerHTML transition:true"
                    hx-select=".h-timeline"
                >Show more...</a>
            {% endif %}
        </div>

        {% if not activities %}
            {% trans "No comments available" %}
        {% endif %}
    </section>
</div>
