{% load i18n activity_tags bleach_tags markdown_tags submission_tags apply_tags %}
<div class="feed__item feed__item--{{ activity.type }}">
    <div class="feed__pre-content">
        <p class="feed__label feed__label--{{ activity.type }}">{{ activity.type|capfirst }}</p>
    </div>
    <div class="feed__content js-feed-content">
        <div class="feed__meta js-feed-meta">
            <p class="feed__label feed__label--{{ activity.type }} feed__label--mobile">{{ activity.type|capfirst }}</p>
            <p class="feed__meta-item"><span>{{ activity|display_author:request.user }}</span> – {{ activity.timestamp|date:"SHORT_DATETIME_FORMAT" }}</p>

            {% if editable %}
                {% if activity.user == request.user %}
                    <p class="feed__meta-item feed__meta-item--edit-button">
                        <a class="link link--edit-submission is-active js-edit-comment" href="#">
                            Edit
                            <svg class="icon icon--pen"><use xlink:href="#pen"></use></svg>
                        </a>
                    </p>
                {% endif %}
                <p class="feed__meta-item feed__meta-item--last-edited" {% if not activity.edited %} hidden {% endif %}>
                    ({% trans "Last edited" %}: <span class="js-last-edited">{{ activity.edited|date:"SHORT_DATETIME_FORMAT" }}</span>)
                </p>
            {% endif %}

                <p class="feed__meta-item feed__meta-item--right" {% if not activity.private %} hidden {% endif %}>
                    <svg class="icon icon--eye"><use xlink:href="#eye"></use></svg>
                    <span class="js-comment-visibility">{{ activity.visibility }}</span>
                </p>
        </div>

        <p class="feed__heading">
            {% if submission_title %}
                {% trans "updated" %} <a href="{{ activity.source.get_absolute_url }}">{{ activity.source.title }}</a>
            {% endif %}

            {% if editable %}
                <div class="feed__comment js-comment" data-id="{{activity.id}}" data-comment="{{activity|display_for:request.user|to_markdown}}" 
                data-visibility-options="{{activity|visibility_options:activity.user}}"
                data-visibility="{{activity.visibility}}"
                data-edit-url="{% url 'api:v1:comments-edit' pk=activity.pk %}">
                    {{ activity|display_for:request.user|submission_links|markdown|bleach }}
                </div>

                <div class="js-edit-block" aria-live="polite"></div>
            {% else %}
                {{ activity|display_for:request.user|submission_links|markdown|bleach }}
            {% endif %}

            {% if not submission_title and activity|user_can_see_related:request.user %}
                {% with url=activity.related_object.get_absolute_url %}
                    {% if url %}
                    <a href="{{ url }}" class="feed__related-item">
                        {{ activity.related_object|model_verbose_name }} <svg><use xlink:href="#arrow-head-pixels--solid"></use></svg>
                    </a>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </p>
    </div>
</div>
