{% load i18n dashboard_statusbar_tags statusbar_tags workflow_tags heroicons submission_tags %}
{% load can from permission_tags %}

{% for submission in page.object_list %}
    <div class="list-row">
        <div class="w-full sm:w-sm">
            <h2 class="mb-1 font-bold text-h4 line-clamp-4">
                <a
                    class="link link-hover"
                    href="{% url 'funds:submissions:detail' submission.id %}"
                >
                    {{ submission.title }}
                    <span class="text-fg-muted">#{{ submission.application_id }}</span>

                    {% if submission.is_draft %}
                        <span class="badge badge-warning badge-sm badge-outline ms-1">{% trans "Draft" %}</span>
                    {% endif %}
                </a>
            </h2>
            <p class="text-xs text-fg-muted">
                {% if submission.is_draft %}
                    {% trans "Drafted" %}
                {% else %}
                    {% trans "Submitted" %}
                {% endif %}
                <relative-time datetime="{{ submission.submit_time|date:'c' }}">
                    {{ submission.submit_time|date:'SHORT_DATETIME_FORMAT' }}
                </relative-time>
                {% if submission.user != request.user %}
                    {% trans "by" %} {{ submission.user.get_full_name }}
                {% endif %}
            </p>
            <div class="flex gap-2 mt-2">
                {% if request.user|has_edit_perm:submission %}
                    <a class="btn btn-primary btn-sm" href="{% url 'funds:submissions:edit' submission.id %}">
                        {% if submission.status == 'draft_proposal' %}
                            {% trans "Start your" %} {{ submission.stage }} {% trans "application" %}
                        {% else %}
                            {% heroicon_micro "pencil-square" class="opacity-80 size-4" aria_hidden=true %}
                            {% trans "Edit" %}
                        {% endif %}
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-secondary" href="{% url 'funds:submissions:detail' submission.id %}">
                        {% heroicon_micro "eye" class="opacity-80 size-4" aria_hidden=true %}
                        {% trans "View" %}
                    </a>
                {% endif %}
                {% can "delete_submission" submission as can_delete_submission %}
                {% if can_delete_submission %}
                    <a
                        class="btn btn-sm btn-square btn-error btn-soft"
                        href="{% url 'funds:submissions:delete' submission.id %}"
                        hx-get="{% url 'funds:submissions:delete' submission.id %}"
                        hx-target="#htmx-modal"
                        role="button"
                    >
                        {% heroicon_micro "trash" class="opacity-80 size-4" aria_hidden=true %}
                        <span class="sr-only">{% trans "Delete" %}</span>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="list-col-grow">
            {% status_bar submission.workflow submission.phase request.user css_class="w-full" %}
        </div>
    </div>
{% empty %}
    <div class="list-row">
        {% trans "No active submissions" %}
    </div>
{% endfor %}

<c-pagination
    :page="page"

    target="#submissions_list"
    class="my-4"
    use_htmx
></c-pagination>
