{% load i18n %}

<section class="flex flex-col gap-4 items-center md:flex-row md:justify-between">
    <div x-data="{ showBackButton: {{ back_link|yesno:'true,false' }} || (window.history && window.history.length > 1) }">
        <a
            x-show="showBackButton"
            class="inline-flex items-center font-semibold transition-all hover:-translate-x-0.5 text-fg-muted hover:text-neutral-content"
            href="{{ back_link|default:'#' }}"
            {% if not back_link %}@click.prevent="window.history.back()"{% endif %}
        >
            {% translate "Go back" as back_default_text %}
            ← {{ back_link_text|default:back_default_text }}
        </a>
        <h1 class="mb-2 text-2xl font-medium md:m-0 md:text-3xl">{{ title }}</h1>
        {% if subtitle %}
            <p class="max-w-3xl text-sm text-fg-muted">{{ subtitle }}</p>
        {% endif %}
    </div>

    {{ slot }}
</section>
