{% load i18n l10n wagtailadmin_tags %}

{{ self.formset.management_form }}

{% if self.help_text %}
    {% help_block status="info" %}{{ self.help_text }}{% endhelp_block %}
{% endif %}

<ul class="multiple" id="id_{{ self.formset.prefix }}-FORMS">
    {% if self.formset.non_form_errors %}
        <li class="error-message">
            {% for error in self.formset.non_form_errors %}
                <span>{{ error|escape }}</span>
            {% endfor %}
        </li>
    {% endif %}

    {% for child in self.children %}
        <li data-inline-panel-child id="inline_child_{{ child.form.prefix }}" data-contentpath-disabled>
        {{ child.render_form_content }}
        </li>
    {% empty %}
    <li>
    ---
    </li>
    {% endfor %}
</ul>
