{% load heroicons i18n apply_tags %}

<c-vars class="btn btn-sm truncate" />

{% if exists %}
    <a class="flex justify-between items-center py-2 px-3 mb-2 max-w-xl font-medium rounded-sm border transition-colors not-prose bg-base-200 hover:bg-base-300"
       href="{{ href }}"
       target="_blank"
       rel="noopener noreferrer"
       {% if title %}
           title="{{ title }}"
       {% else %}
           title="{% blocktrans %}View file - {{ filename }}{% endblocktrans %}"
       {% endif %}
    >
        <span class="text-sm truncate">
            {% heroicon_mini "paper-clip" class="inline size-4" aria_hidden=true %}
            {{ filename|truncatechars_middle:45 }}
            {% if modification_time %}
                <span class="text-xs text-fg-muted">
                    <span class="sr-only">{% trans "uploaded" %}</span>
                    <span aria-hidden>•</span>
                    <relative-time datetime={{ modification_time|date:"c" }}>{{ modification_time|date:"SHORT_DATE_FORMAT" }}</relative-time>
                </span>
            {% endif %}
        </span>
        <span>
            {% heroicon_mini "arrow-down" class="w-5 h-5" stoke_width=2 aria_hidden=true %}
        </span>
    </a>
{% else %}
    <div class="flex justify-between items-center py-2 px-3 mb-2 max-w-2xl font-medium rounded-sm border opacity-60 not-prose bg-base-200"
         title="{% blocktrans %}File not found - {{ filename }}{% endblocktrans %}"
    >
        <span class="text-sm truncate">
            {% heroicon_mini "paper-clip" class="inline align-text-bottom" aria_hidden=true %}
            {{ filename|truncatechars_middle:45 }}
            <span class="text-xs text-error">
                <span aria-hidden>•</span>
                {% trans "Missing file" %}
            </span>
        </span>
        <span>
            {% heroicon_mini "exclamation-circle" class="w-5 h-5 text-error" aria_hidden=true %}
        </span>
    </div>
{% endif %}
