{% extends 'base.html' %}
{% load i18n %}
{% block header_modifier %}header--light-bg{% endblock %}
{% block page_title %}Set a password{% endblock %}
{% block title %}{% trans "Set a password" %}{% endblock %}

{% block content %}
<div class="wrapper wrapper--small wrapper--bottom-space">

    {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.errors %}
        <ul class="errorlist">
            {% blocktrans count counter=form.errors.items|length %}
            <li>Please correct the error below.</li>
            {% plural %}
            <li>Please correct the errors below.</li>
            {% endblocktrans %}
        </ul>
    {% endif %}

    <form class="form form--with-p-tags" action="" method="POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
            {{ field.errors }}
            <p>{{ field.label_tag }}</p>
            <p>{{ field }}</p>
        {% endfor %}

        <button class="link link--button-secondary" type="submit">{% trans 'Reset password' %}</button>
    </form>
</div>
{% endblock %}
