{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Set a password{% endblock %}
{% block title %}{% trans "Set a password" %}{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
        <div class="messages">
            <ul>
                {% for error in form.non_field_errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="messages">
            {% blocktrans count counter=form.errors.items|length %}
            Please correct the error below.
            {% plural %}
            Please correct the errors below.
            {% endblocktrans %}
        </div>
    {% endif %}

    <form action="{% url 'users:password_change' %}" method="POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}

        <button type="submit">{% trans 'Reset password' %}</button>
    </form>
{% endblock %}
