{% extends 'base.html' %}
{% load i18n %}
{% block header_modifier %}header--light-bg{% endblock %}
{% block page_title %}Set a password{% endblock %}
{% block title %}{% trans "Set a password" %}{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.errors %}
        <ul class="errorlist">
            {% blocktrans count counter=form.errors.items|length %}
            <li>Please correct the error below.</li>
            {% plural %}
            <li>Please correct the errors below.</li>
            {% endblocktrans %}
        </ul>
    {% endif %}

    <form action="{% url 'users:password_change' %}" method="POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}

        <button type="submit">{% trans 'Reset password' %}</button>
    </form>
{% endblock %}
