{% extends 'base-apply.html' %}
{% block header_modifier %}header--light-bg{% endblock %}
{% block page_title %}Login{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
  <div class="wrapper wrapper--small">
    <form class="form form--with-p-tags" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><a class="link link--small" href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
      <button class="link link--button-secondary" type="submit">Login</button>
    </form>

    <div class="wrapper wrapper--inner-space-large">
      <a class="link link--button link--button-long-text" href="{% url "social:begin" "google-oauth2" %}?next={% url "users:account" %}">Log in with your OTF email</a>
    </div>
  </div>
{% endblock %}
