.loading-panel {
    text-align: center;
    padding: 20px;

    &__text {
        width: 100%;
    }

    &__icon {
        width: 100%;
        svg {
            width: 80px;
            height: 80px;
        }
    }

}
