{% extends "messages/email/base.html" %}

{% load i18n %}
{% block salutation %}{% blocktrans with name="User" %}Dear {{ name }},{% endblocktrans %}{% endblock %}

{% block more_info %}
{% trans "Link to your application" %}: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}
{% trans "If you have any questions, please submit them here" %}: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}#communications

{% trans "Link to our guide" %}: {{ ORG_GUIDE_URL }}

{% blocktrans %}If you have any issues accessing the submission system or other general inquiries, please email us at {{ ORG_EMAIL }}{% endblocktrans %}
{% endblock %}
