{% extends "messages/email/base.html" %}

{% load i18n invoice_tools %}

{% block content %}{# fmt:off #}
{% display_invoice_status_for_user user invoice as invoice_status %}
{% blocktrans with title=source.title_text_display %}An invoice on the project "{{ title }}" had it's status updated by {{ source_user }}.{% endblocktrans %}

{% blocktrans with status=invoice_status %}It's status is now "{{ status }}".{% endblocktrans %}

{% if invoice.comment %}
{% trans "A comment was left that can be read here" %}: {{ request.scheme }}://{{ request.get_host }}{{ comment_url }}
{% endif %}

{% trans "View the invoice here" %}: {{ request.scheme }}://{{ request.get_host }}{{ invoice.get_absolute_url }}

{% endblock %}{# fmt:on #}