{% extends "messages/email/applicant_base.html" %}

{% load i18n %}
{% block content %}
{% blocktrans %}An {{ ORG_SHORT_NAME }} staff member has updated your payment request for {{ source.title }} for period {{ payment_request.date_from }} to {{ payment_request.date_to }}.{% endblocktrans %}
{% blocktrans %}It is now {{ payment_request.get_status_display }}.{% endblocktrans %}

{% trans "Title" %}: {{ source.title }}
{% trans "Link" %}: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}
{% endblock %}
