{% extends "messages/email/base.html" %}

{% load i18n %}
{% block salutation %}{% trans "Dear Reviewer," %}{% endblock %}
{% block content %}
{% trans "This application is awaiting your review." %}

{% trans "Title" %}: {{ source.title }}
{% if related.title %}
{% trans "Reminder Title" %}: {{ related.title }}
{% endif %}
{% if related.description %}
{% trans "Reminder Description" %}: {{ related.description }}
{% endif %}
{% trans "Link" %}: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}
{% endblock %}
