{% extends "messages/email/base.html" %}

{% load i18n %}
{% block salutation %}{% endblock %}

{% block content %}{# fmt:off #}
{% trans "A Project is awaiting your review." %}

{% trans "Title" %}: {{ source.title }}
{% trans "Link" %}: {{ request.scheme }}://{{ request.get_host }}{% url 'apply:projects:approval' pk=source.pk %}

{% blocktrans with lead=source.lead email=source.lead.email %}Please contact {{ lead }} - {{ email }} if you have any questions.{% endblocktrans %}
{% endblock %}{# fmt:on #}
