{% extends "messages/email/base.html" %}

{% load i18n %}

{% block content %}{# fmt:off #}
{% blocktrans with title=source.title_text_display %}We appreciate your {{ title }} application submission to the {{ ORG_LONG_NAME }}.{% endblocktrans %}

{% if source.is_draft %}{% trans "Please note that it is not submitted for review because it's still in draft." %} {% trans "You can access the draft at" %}: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}{% else %}{% trans "We will review and reply to your submission as quickly as possible." %}{% endif %}

{% trans "If you have any questions, please submit them here" %}: {{ request.scheme }}://{{ request.get_host }}{{ source.get_absolute_url }}#communications

{% blocktrans %}If you have issues accessing the submission system or general inquiries, please email us at {{ ORG_EMAIL }}.{% endblocktrans %}

{% blocktrans %}For more information about our support options, review process, and selection criteria, please visit our website at {{ ORG_URL }}.{% endblocktrans %}

{% with email_context=source.page.specific %}{{ email_context.confirmation_text_extra }}{% endwith %}

{% trans "Project ID" %}: {{ source.public_id|default:source.id }}
{% trans "Project name" %}: {{ source.title }}
{% trans "Contact name" %}: {{ source.user.get_full_name }}
{% trans "Contact email" %}: {{ source.user.email }}
{% endblock %}{# fmt:on #}
