{% load wagtailcore_tags %}
<nav role="navigation" aria-label="Tertiary">
    <ul class="footer-links">
        {% for snippet in footernav %}
            {% if snippet %}
                <li>
                    {% if snippet.menu_label %}
                        <a href="{% pageurl snippet.menu_item %}">{{ snippet.menu_label }}</a>
                    {% else %}
                        <a href="{% pageurl snippet.menu_item %}">{{ snippet.menu_item.title }}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
