<!-- JS NOT SUPPORTED -->
<noscript>
  <div class="not-supported">
    <p><strong>This site requires JavaScript</strong></p>
  </div>
</noscript>

<!--[if lte IE 9]>

<div class="not-supported">
  <p>Your browser is outdated and may not display all features of this site.</p>
</div>

<![endif]-->

<div class="not-supported" style="display:none;">
  <p>Your browser is outdated and may not display all features of this site.</p>
</div>

<div class="size-not-supported" style="display:none;">
  <p>Make your browser taller or rotate your device to enjoy this site.</p>
</div>