{% if resource.paginator.num_pages > 1 %}
<div class="pagination">
    <div class="pagination__content">
        {% if resource.has_previous %}
        <span class="pagination__previous">
            <a class="page-link" href="?page={{ resource.previous_page_number }}">Prev</a>
        </span>
        {% endif %}
        <ul class="pages">
            {% for page_num in resource.paginator.page_range %}
            <li class="pages__item{% if page_num == resource.number %} active{% endif %}">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %}
        </ul>
        {% if resource.has_next %}
        <span class="pagination__next">
            <a class="page-link" href="?page={{ resource.next_page_number }}">Next</a>
        </span>
        {% endif %}
    </div>
</div>
{% endif %}