<h4>Get the latest internet freedom news</h4>
<form class="form" action="{{ PUBLIC_SITE.root_url }}{% url "newsletter:subscribe" %}" method="post">
    <div>
        {% for field in newsletter_form %}
        <label for="{{ field.id_for_label }}"{% if field.field.required %} required{% endif %}>
            <span>{{ field.label }}</span>
            {% if field.field.required %}
                <span class="form__required">*</span>
            {% endif %}
        </label>
        {{ field }}
        {% endfor %}
        <div class="form-actions form-wrapper">
            <input type="submit" value="Sign up" class="form-submit button button--transparent--wide link--footer-signup">
        </div>
    </div>
</form>
