{% load i18n querystrings heroicons %}

{% if status %}
    {% if status == "generating" %}
        {% comment %} Disabled button used to indicate generation of the CSV is in progress {% endcomment %}
        <button
            class="py-1.5 px-2 rounded-sm border transition-colors animate-pulse shadow-xs"
            aria-label="{% trans 'Submissions: Generating downloadable CSV' %}"
            title="{% trans 'Generating downloadable CSV...' %}"
            disabled
            hx-get="{% url 'apply:submissions:submission-export-status' %}"
            hx-swap="outerHTML"
            hx-target="this"
            hx-trigger="every {{ poll_time }}s"
            hx-push-url="false"
            hx-noprog
        >
            {% heroicon_mini "clock" %}
        </button>
    {% else %}
        {% comment %} The final download link for the generated CSV {% endcomment %}
        <a
            class="relative py-1.5 px-2 rounded-sm border transition-colors hover:bg-gray-100 shadow-xs"
            aria-label="{% trans 'Submissions: Download generated CSV' %}"
            href="{% url 'apply:submissions:submission-export-download' %}"
            data-tippy-content="{% trans 'Download generated CSV' %}"
            hx-get="{% url 'apply:submissions:submission-export-status' %}"
            hx-swap="outerHTML"
            hx-target="this"
            hx-trigger="every 2s"
            hx-push-url="false"
            hx-noprog
        >
            <span class="flex absolute top-0 right-0 -mt-1 -mr-1 size-3">
                <span class="inline-flex absolute w-full h-full bg-green-400 rounded-full opacity-75 animate-ping"></span>
                <span class="inline-flex relative bg-green-500 rounded-full size-3"></span>
            </span>
            {% heroicon_mini "arrow-down-tray" %}
        </a>

    {% endif %}
{% else %}
    {% if not_async %}
        {% comment %} For sync uses: no polling, just a download after pressing the button {% endcomment %}
        <a
            class="relative py-1.5 px-2 rounded-sm border transition-colors hover:bg-gray-100 shadow-xs"
            aria-label="{% trans 'Submissions: Export as CSV' %}"
            href="{{ start_export_url }}"
            data-tippy-content="{% trans 'Export as CSV' %}"
            onclick="return confirm('{% blocktrans %}Are you sure you want to export the submissions as a CSV file? This file may contain sensitive information, so please handle it carefully.{% endblocktrans %}')"
        >
            {% heroicon_mini "arrow-down-tray" %}
        </a>
    {% else %}
        {% comment %} Button that will begin the generation of the CSV {% endcomment %}
        <button
            class="py-1.5 px-2 rounded-sm border transition-colors cursor-pointer hover:bg-gray-100 shadow-xs"
            aria-label="{% trans 'Submissions: Generate downloadable CSV' %}"
            data-tippy-content="{% trans 'Generate downloadable CSV' %}"
            hx-get="{{ start_export_url }}"
            hx-swap="outerHTML"
            hx-target="this"
            hx-push-url="false"
            hx-confirm="{% trans 'Are you sure you want to export the submissions as a CSV file? This file may contain sensitive information, so please handle it carefully.' %}"
        >
            {% heroicon_mini "arrow-down-tray" %}
        </button>
    {% endif %}
{% endif %}