{% load querystrings heroicons %}

<div
    {% if 'reviews' not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
        hx-trigger="load delay:50"
        hx-get="{% url "funds:submissions:partial-reviews-decisions" %}?ids={% for s in submissions %}{{s.id}}{% if not forloop.last %},{% endif %}{% endfor %}"
        hx-swap="multi:{% for s in submissions %}#r{{s.id}}{% if not forloop.last %},{% endif %}{% endfor %}"
    {% endif %}
>
    {% if row_layout != "list" %}
        <div class="pt-48 -mt-48 overflow-x-auto">
            <table class="w-full relative [&_th]:p-2 [&_td]:p-2">
                <thead class="bg-gray-50 border">
                    <tr class="">
                        {% if enable_selection %}<th class="md:table-cell hidden"></th>{% endif %}
                        <th></th>
                        <th class="min-w-48 font-semibold">
                            Title
                        </th>
                        <th class="font-semibold">Status</th>
                        <th class="font-semibold">
                            Applicant
                            {% if 'organization_name' not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
                                <span class="text-xs text-fg-muted"> / Organization</span>
                            {% endif %}
                        </th>

                        {% if "round" not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
                            <th class="min-w-36 font-semibold">Round</th>
                        {% endif %}

                        {% if 'lead' not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}
                            <th class="font-semibold">Lead</th>
                        {% endif %}
                        <th class="text-sm font-semibold">
                            {% if 'reviews' not in SUBMISSIONS_TABLE_EXCLUDED_FIELDS %}Reviews /{% endif %} <br /> Comments
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in submissions %}
                        {% include "funds/includes/submission-table-row.html" with s=s enable_selection=enable_selection %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% for s in submissions %}
            {% include "funds/includes/submission-list-row.html" with s=s enable_selection=enable_selection %}
        {% endfor %}
    {% endif %}
</div>
