{% load i18n heroicons %}

{% if request.user.is_apply_staff %}
    <a
        class="link"
        href="{% url 'funds:submissions:lead_update' pk=submission.pk %}"
        hx-get="{% url 'funds:submissions:lead_update' pk=submission.pk %}"
        hx-target="#htmx-modal"
    >
        <span class="max-w-lg truncate">{% trans "Lead" %}: {{ submission.lead }}</span>
        {% heroicon_micro "pencil-square" class="inline ms-1" aria_hidden=true %}
    </a>
{% elif request.user.is_org_faculty or not HIDE_STAFF_IDENTITY %}
    <span>{% trans "Lead" %}: {{ submission.lead }}</span>
{% endif %}
