//================================================================================================//
//
//  FOOTER COMPONENT
//
//================================================================================================//

// VARS

// ELEMENTS

.footer {
  @include gutters();
  position: relative;
  text-align: center;
}

.footer__copyright {
  .base-grey &,
  .base-lightest &,
  .base-light & {
    color: color(text-darkest);
  }

  .base-dark &,
  .base-darkest & {
    color: color(text-lightest);
  }
}
