//================================================================================================//
//
//  GIF HEADER IMAGE
//
//================================================================================================//

// VARS

// ELEMENTS

.gif-img {
  opacity: 0;
  overflow: hidden;

  &.is-displayed {
    opacity: 1;
  }
}

.gif-img__img {
  width: 100%;
  height: auto;
  max-width: 820px;
}
