//================================================================================================//
//
//  HEADER COMPONENT
//
//================================================================================================//

// VARS

// ELEMENTS

.header {
  background-color: color(seed-white);
  position: relative;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
