//================================================================================================//
//
//  RADIO COMPONENTS
//
//================================================================================================//

// VARS

$radio-label-checked: color(seed-blue, -25) !default;
$radio-label-disabled: color(seed-grey) !default;
$radio-field-background: color(seed-white) !default;
$radio-field-background-disabled: color(seed-white, -15) !default;
$radio-field-background-focus: color(seed-white) !default;
$radio-field-border: color(seed-grey) !default;
$radio-field-border-hover: color(seed-black) !default;
$radio-field-border-error: color(seed-red) !default;
$radio-field-border-disabled: color(seed-grey) !default;
$radio-field-mark: color(seed-blue) !default;
$radio-field-mark-disabled: color(seed-orange) !default;
$radio-field-shadow: 0 5px 5px -5px color(seed-grey, 25);
$radio-field-inset-shadow: inset 0 5px 5px -5px color(seed-grey, 25), 0 2px 5px -2px color(seed-black, null, .5);
$radio-mark-inset-shadow: inset 0 5px 5px -5px color(seed-white);

// ELEMENTS

.radio {}

.radio__field {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top: 0;
  left: 10px;
  z-index: 5;

  &::-ms-check {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:checked {
    background: transparent;
  }
}

.radio__label {
  @include animate(color);
  @include font-size-md();
  padding: 2px 10px 4px 40px;
  cursor: pointer;

  .radio__field:checked ~ & {
    color: $radio-label-checked;
  }

  &::after {
    content: '';
  }
}

.radio__fake {
  @include animate(border-color transform);
  position: absolute;
  background-color: $radio-field-background;
  border-radius: 100%;
  border: 1px solid $radio-field-border;
  box-shadow: $radio-field-inset-shadow;
  height: 20px;
  left: 10px;
  top: 0;
  width: 20px;

  &::before {
    @include animate(transform);
    background-color: $radio-field-mark;
    border-radius: #{$size-sm}px;
    border: 1px solid $radio-field-mark;
    box-shadow: $radio-mark-inset-shadow;
    content: ' ';
    display: block;
    position: absolute;
    transform: rotate(-45deg) scale(0);
    width: 12px;
    height: 12px;
    left: 2px;
    top: 2px;
    will-change: transform;
  }

  .radio__field:checked ~ & {
    &::before,
    &::after {
      transform: rotate(45deg) scale(1);
    }
  }

  &:hover,
  .radio__field:hover ~ &,
  .focus-disabled .radio__field:focus ~ & {
    border: 1px solid $radio-field-border-hover;
  }

  .radio__field:focus ~ & {
    outline: none;
    border: 1px solid $color-focus-border;
  }

  .is-disabled &,
  .radio__field:disabled ~ & {
    background-color: $radio-field-background-disabled;
    border: 1px solid $radio-field-border-disabled;

    &::before,
    &::after {
      background-color: $radio-field-background-disabled;
    }
  }

  .is-error & {
    border-color: $radio-field-border-error;
  }
}
