//================================================================================================//
//
//  WRAP COMPONENT
//
//================================================================================================//

// VARS

// ELEMENTS

.wrap {
  width: 100%;
  padding: 0;

  @include media-min-sm {
    padding: #{$size-xxl}px 0;
  }
}

.wrap--light {
  background-color: color(seed-white);
}

.wrap--dark {
  background-color: color(seed-grey);
}

.wrap__body {
  max-width: #{$grid-width-max}px;
  width: 100%;
  margin: 0 auto;
}

// VARIANTS
