.header {
    padding: $mobile-gutter;
    background-color: var(--color-header-bg);
    border-block-end: 1px solid rgb(136 146 171 / 10%);

    @include media-query(md) {
        padding: 0 $mobile-gutter;
    }

    @include media-query(xl) {
        padding: 0;
    }

    &--nomenu {
        padding-block: $mobile-gutter;
    }

    &__inner {
        z-index: 10;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include media-query(md) {
            flex-direction: row;
        }
    }

    &__logo {
        max-width: none;

        &--mobile {
            width: 60px;

            @include media-query(lg) {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include media-query(lg) {
                display: block;
                width: 215px;
            }
        }
    }

    &__buttons {
    }

    &__menus {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }
}
