.header {
    position: relative;
    min-height: 300px;
    padding: 10px;
    background-color: $color--primary;

    &::after {
        @extend %overlay;
        height: 300px;
    }

    @include media-query(tablet-portrait) {
        height: 410px;
        padding: 20px;
    }

    &--light-bg {
        height: auto;
        min-height: 250px;
        padding-bottom: 0;
        background: $color--white;

        &::after {
            display: none;
        }
    }

    &--standard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &--has-bg-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--narrow {
        height: auto;
        min-height: initial;
        padding: 20px;

        &::before {
            display: none;
        }
    }

    &--white-bg {
        background-color: $color--white;
    }

    &--homepage {
        height: 555px;
        padding: 20px;

        @include media-query(tablet-portrait) {
            height: 660px;
        }
    }

    &__title {
        z-index: 8;
        padding: 0 10px;
        margin: 0 0 20px;
        line-height: 1;
        color: $color--white;
        text-shadow: 0 2px 15px $color--black-10;
        text-transform: uppercase;

        @include media-query(tablet-portrait) {
            padding: 0;
        }

        .header--light-bg & {
            color: $color--dark-grey;
            text-shadow: none;
        }

        .template-lab-page &,
        .template-fund-page &,
        .template-news-page &,
        .template-project-page & {
            @include responsive-font-sizes(40px, 48px);
        }

        &--homepage {
            @include responsive-font-sizes(36px, 72px);
            max-width: 750px;
            line-height: 1.1;
            text-shadow: 0 2px 15px $color--black-25;

            &::after {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-left: 5px;
                background: $color--primary;
                border-radius: 50%;
                content: '';
                transition: height, width, 10s ease;
            }
        }
    }

    &__inner {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--mobile-buttons {
            justify-content: flex-end;

            @include media-query(tablet-portrait) {
                display: none;
            }
        }

        &--menu-open {
            padding: 10px;
            background: transparent;
            transition: background $transition;
        }
    }

    &__menus {
        &--desktop {
            display: none;

            @include media-query(tablet-portrait) {
                display: flex;
                align-items: center;
            }
        }

        &--mobile {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: $color--dark-grey;
            opacity: 0;
            transform: translate3d(0, -100%, 0);
            transition-duration: 0.25s;
            transition-property: transform, opacity;
            transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

            &.is-visible {
                opacity: 1;
                transform: translate3d(0, 0%, 0);

                @include media-query(tablet-portrait) {
                    display: none;
                }
            }

            nav {
                width: 100%;
            }
        }
    }

    &__logo {
        fill: $color--white;

        &--mobile {
            width: 60px;
            height: 60px;

            @include media-query(tablet-landscape) {
                display: none;
            }

            .header--light-bg & {
                fill: $color--dark-grey;
            }

            .header__menus--mobile.is-visible & { // sass-lint:disable-line force-element-nesting
                fill: $color--white;
            }
        }

        &--desktop {
            display: none;

            @include media-query(tablet-landscape) {
                display: block;
                width: 215px;
                height: 50px;
            }
        }

        &--desktop-light {
            @include media-query(tablet-landscape) {
                display: block;
            }

            .header--light-bg & {
                display: none;
            }
        }

        &--desktop-dark {
            display: none;

            .header--light-bg & {
                @include media-query(tablet-landscape) {
                    display: block;
                }
            }
        }
    }

    &__menu-toggle {
        @include media-query(tablet-portrait) {
            display: none;
        }
    }

    &__icon {
        &--close-search {
            @extend %is-hidden;
        }

        &--pixels {
            position: absolute;
            bottom: 0;
            display: none;

            @include media-query(tablet-landscape) {
                display: block;
            }

            .header--light-bg & {
                display: none;
            }
        }

        &--pixels-left {
            left: 0;
            width: 105px;
            height: 98px;
            fill: $color--white;

            .light-grey-bg &,
            .header--grey-pixels & {
                fill: $color--light-grey;
            }
        }

        &--pixels-left-home {
            left: 0;
            width: 110px;
            height: 165px;
            fill: $color--white;
        }

        &--pixels-right {
            right: 0;
            width: 295px;
            height: 300px;
            fill: $color--dark-blue;
        }

        &--pixels-right-home {
            right: 0;
            bottom: -55px;
            width: 328px;
            height: 567px;
            fill: $color--dark-blue;
        }
    }

    &__search {
        @extend %is-invisible;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 180px;
        padding-bottom: 50px;
        background: $color--dark-blue;
    }

    &__button-container {
        display: none;

        @include media-query(tablet-portrait) {
            display: flex;
        }
    }

    &__strapline {
        max-width: 550px;
        margin: 0 0 20px;
        font-weight: $weight--bold;
        color: $color--white;
    }

    &__link {
        display: inline-block;
        border: 0;
    }
}
