

a[disabled], a[disabled]:hover {
    pointer-events: none;
    color: #C6C6C6;
    // cursor: not-allowed;
 }

 .screening-visible-options{
     display: flex;
     max-width: 300px;
     flex-wrap: wrap;
 }