.thumbs-up-color{
    color : #0d7db0
}

.thumbs-down-color{
    color:  red
}

.screening-default-options{
    display: flex;
    justify-content: space-evenly;
}

.screening-visible-options{
    display : flex;
    flex-wrap: wrap;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

.screening-status-yes-enabled{
    cursor : pointer;
    display: flex;
    flex-direction: column;
}

.screening-status-yes-disabled{
    cursor : not-allowed;
    display: flex;
    flex-direction: column;
}

.screening-status-no-enabled{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.screening-status-no-disabled{
    cursor: not-allowed;
    display: flex;
    flex-direction: column;
}

.screening-status-active {
    font-weight: bold;
}
