.thumbs-up-color{
    color : #0d7db0
}

.thumbs-down-color{
    color:  red
}

.screening-default-options{
    display: flex;
    margin-bottom: 1em ;
    justify-content: space-evenly;
}

.screening-visible-options{
    display : flex;
    flex-wrap: wrap;
}

.screening-status-yes-enabled{
    cursor : pointer
}

.screening-status-yes-disabled{
    cursor : not-allowed
}

.screening-status-no-enabled{
    cursor: pointer;
}

.screening-status-no-disabled{
    cursor: not-allowed;
}
