//================================================================================================//
//
//  CLEARING TOOLS
//  N.B: Only mixins here NEVER anything that outputs CSS directly
//
//================================================================================================//

// MIXINS

@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}
