//================================================================================================//
//
//  FONT SIZE TOOLS
//  N.B: Only mixins here NEVER anything that outputs CSS directly
//
//================================================================================================//

// MIXINS

@mixin font-size($pixel-size: 16, $base-size: $font-size-base) {
  font-size: #{$pixel-size}px;
  font-size: #{($pixel-size / $base-size)}rem; // scss-lint:disable DuplicateProperty = true
}

@mixin font-size-omega {
  @include font-size($font-size-omega);
}

@mixin font-size-max {
  @include font-size($font-size-max);
}

@mixin font-size-xxl {
  @include font-size($font-size-xxl);
}

@mixin font-size-xl {
  @include font-size($font-size-xl);
}

@mixin font-size-lg {
  @include font-size($font-size-lg);
}

@mixin font-size-md {
  @include font-size($font-size-md);
}

@mixin font-size-sm {
  @include font-size($font-size-sm);
}

@mixin font-size-xs {
  @include font-size($font-size-xs);
}

@mixin font-size-xxs {
  @include font-size($font-size-xxs);
}

@mixin font-size-min {
  @include font-size($font-size-min);
}
