//================================================================================================//
//
//  PLACEHOLDER
//
//================================================================================================//

@mixin placeholder($color, $opacity: .5) {
  ::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }

  ::-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }

  :-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }

  :-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}
