{% load i18n invoice_tools %}

<div class="card-body">
    <h2 class="card-title">{% trans "Actions to take" %}</h2>

    <!-- Update status -->
    {% if user.is_org_faculty %}
        {% can_change_status object user as user_can_change_status %}
        {% if user_can_change_status %}
            <button
                class="btn btn-primary btn-block"
                hx-get="{% url 'apply:projects:invoice-update' pk=object.project.pk invoice_pk=object.pk %}"
                hx-target="#htmx-modal"
            >
                {% trans "Update Status" %}
            </button>
            <div class="modal" id="change-status">
                <h4 class="modal__project-header-bar">{% trans "Update Invoice status" %}</h4>
                <p>{% trans "Current status" %}: {{ object.status_display }}</p>
                {% trans "Update Status" as update %}
                {% include 'funds/includes/delegated_form_base.html' with form=change_invoice_status value=update %}
            </div>
        {% else %}
            <button class="btn btn-primary btn-block" disabled>
                {% trans "Update Status" %}
            </button>
        {% endif %}
    {% endif %}

    <!-- Edit -->
    {% can_edit object user as user_can_edit_request %}
    {% if user.is_apply_staff or user.is_applicant %}
        <a
            {% if not user_can_edit_request %}
                data-tippy-content="{% trans "Only editable when 'Submitted' or you have been requested to make changes" %}"
                disabled
            {% endif %}
            class="btn btn-secondary btn-outline btn-block"
            href={% if user_can_edit_request %}
                 "{% url "apply:projects:invoice-edit" pk=object.project.submission.pk invoice_pk=object.pk %}"
            {% else %}
                 "#"
            {% endif %}
        >
            {% trans "Edit Invoice" %}
        </a>
    {% endif %}

    <!-- Delete -->
    {% can_delete object user as user_can_delete_request %}
    {% if user_can_delete_request %}
        <a
            class="btn btn-warning btn-block"
            href="{% url 'apply:projects:invoice-delete' pk=object.project.submission.pk invoice_pk=object.pk %}"
        >
            {% trans "Delete Invoice" %}
        </a>
    {% endif %}

</div>
