{% load i18n heroicons project_tags %}

<div>
    <h5>{% trans "Contractor" %}</h5>
    <p>{{ object.user |default:"-" }}</p>
</div>

<div>
    <h5>{% trans "E-mail" %}</h5>
    {% if object.user.email %}
        <a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a>
    {% else %}
        -
    {% endif %}
</div>

<div>
    {% show_start_date object as show_start %}
    <h5>
        {% trans "Start date" %}
        {% if request.user.is_apply_staff and show_start %}
            <a class="transition-opacity hover:opacity-70 is-active"
               href="{% url 'apply:projects:project_dates_update' object.submission.id %}"
               hx-get="{% url 'apply:projects:project_dates_update' object.submission.id %}"
               hx-target="#htmx-modal"
            >
                {% heroicon_solid "pencil-square" class="inline mt-2 align-text-bottom ms-1" aria_hidden=true size=20 %}
                <span class="sr-only">{% trans "edit dates" %}</span>
            </a>
        {% endif %}
    </h5>
    <p {% if not show_start %} class="text-gray-400"{% endif %}>
        {% if show_start %}
            {{ object.proposed_start|date:"SHORT_DATE_FORMAT"|default:"-" }}
        {% else %}
            {% trans "Awaiting contract finalization..." %}
        {% endif %}
    </p>
</div>

<div>
    <h5>
        {% trans "End date" %}
        {% if request.user.is_apply_staff %}
            <a class="transition-opacity hover:opacity-70 is-active"
               href="{% url 'apply:projects:project_dates_update' object.submission.id %}"
               hx-get="{% url 'apply:projects:project_dates_update' object.submission.id %}"
               hx-target="#htmx-modal"
            >
                {% heroicon_solid "pencil-square" class="inline mt-2 align-text-bottom ms-1" aria_hidden=true size=20 %}
                <span class="sr-only">{% trans "edit dates" %}</span>
            </a>
        {% endif %}
    </h5>
    <p>{{ object.proposed_end|date:"SHORT_DATE_FORMAT"|default:"-" }}</p>
</div>
