{% load i18n approval_tools apply_tags project_tags heroicons %}
{% load can from permission_tags %}

<div class="list-col-grow">
    <h3 class="flex gap-2 items-center mb-2 font-medium text-h4">
        {% if remaining_document_categories %}
            {% heroicon_outline "check-circle" size=16 class="w-5 h-5 stroke-gray-400" aria_hidden=true %}
        {% else %}
            {% heroicon_outline "check-circle" size=16 class="w-5 h-5 stroke-primary" stroke_width=2 aria_hidden=true %}
        {% endif %}
        {% trans "Supporting documents" %}
    </h3>

    {% if all_document_categories %}
        <ul class="list">
            {% for document_category in all_document_categories %}
                <li class="list-row hover:bg-base-200">
                    <div class="self-center list-col-grow">
                        <div>
                            <span class="font-bold">{{ document_category.name }}</span>{% if document_category.required %}<sup>*</sup>{% endif %}

                            {% if document_category.template %}
                                &middot;
                                <a class="link"
                                   href="{% url 'apply:projects:category_template' pk=object.submission.pk type='project_document' category_pk=document_category.pk %}"
                                   target="_blank"
                                >
                                    {% trans "View template" %}
                                </a>
                            {% endif %}
                        </div>

                        {% if document_category not in remaining_document_categories %}
                            {% category_latest_file object document_category as latest_file %}
                            <div class="list-col-wrap">
                                <span>{{ latest_file.title|truncatechars_middle:45 }}</span> - <span class="text-fg-muted">{{ latest_file.created_at }}</span>
                            </div>
                        {% endif %}
                    </div>

                    <div class="card-actions">
                        {% can "upload_project_documents" object as can_upload_documents %}
                        {% if document_category in remaining_document_categories and can_upload_documents %}
                            <a
                                class="btn btn-sm btn-primary"
                                href="{% url 'apply:projects:supporting_doc_upload' object.submission.id document_category.id %}"
                                hx-get="{% url 'apply:projects:supporting_doc_upload' object.submission.id document_category.id %}"
                                hx-target="#htmx-modal"
                                aria-label="{% trans "Upload Supporting Documents" %}"
                            >
                                {% heroicon_micro "arrow-up-tray" class="w-4 h-4" aria_hidden="true" %}
                                {% trans "Upload" %}
                            </a>
                        {% else %}
                            {% category_latest_file object document_category as latest_file %}
                            {% if latest_file %}
                                <a
                                    class="btn btn-sm btn-secondary btn-outline"
                                    href="{% url 'apply:projects:document' pk=object.submission.pk file_pk=latest_file.pk %}"
                                    target="_blank"
                                >
                                    {% heroicon_micro "eye" class="opacity-80" aria_hidden=true %}
                                    {% trans "View" %}
                                </a>

                                {% user_can_remove_supporting_documents object user as can_remove_supporting_doc %}
                                {% if can_remove_supporting_doc %}
                                    <button
                                        class="btn btn-square btn-error btn-ghost"
                                        hx-delete="{% url "apply:projects:remove_supporting_document" object.submission.pk latest_file.pk %}"
                                        hx-swap="none"
                                        hx-confirm="Are you sure you want to remove this document?"
                                    >
                                        {% heroicon_micro "trash" aria_hidden=true %}
                                        <span class="sr-only">{% trans "Remove" %}</span>
                                    </button>
                                {% endif %}
                            {% endif %}
                            </div>
                        {% endif %}
                    </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
