<div class="wrapper wrapper--table-actions js-table-actions">
    <div class="actions-bar">
        {# Left #}
        <div class="actions-bar__inner actions-bar__inner--left">
            {% if heading %}
                <h4 class="heading heading--normal heading--no-margin">{{ heading }}</h4>
            {% endif %}
        </div>

        {# Right #}
        <div class="actions-bar__inner actions-bar__inner--right">
            <button class="button button--filters js-toggle-filters">Filters</button>

            {% if use_search|default:False %}
            <form action="{{ search_action }}" method="get" role="search" class="form form--search-desktop">
                <button class="button button--search" type="submit" aria-label="Search">
                    <svg class="icon icon--magnifying-glass icon--search"><use xlink:href="#magnifying-glass"></use></svg>
                </button>
                <input class="input input--search input--secondary" type="text" placeholder="Search {{ search_placeholder|default:"investments" }}" name="query"{% if search_term %} value="{{ search_term }}"{% endif %} aria-label="Search input">
            </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="filters {% if filter_classes %}{{filter_classes}}{% endif %}">
    <div class="filters__header">
        <button class="filters__button js-clear-filters">Clear</button>
        <div>Filter by</div>
        <button class="filters__button js-close-filters">Close</button>
    </div>

    <form action="{{ filter_action }}" method="get" class="form form--filters js-filter-form">
        <ul class="form__filters select2">
            {{ filter.form.as_ul }}
            <li>
                <button class="button button--primary" type="submit" value="Filter">Filter</button>
            </li>
        </ul>
    </form>
</div>
