{% load i18n heroicons %}
<form
    class="form form--error-inline px-4 py-4 mb-4 border rounded-sm bg-gray-50 w-full text-center"
    id="elevate-check-code-form"
    x-data="{ code: '' }"
>
    {% csrf_token %}
    {% if error %}
        <p class="mb-4 font-bold text-red-700">{% trans "Invalid code, please try again!" %}</p>
    {% else %}
        <p class="mb-4">
            {% heroicon_mini "check-circle" class="inline align-text-bottom fill-green-700" aria_hidden=true %}
            <em>{% trans "An email containing a code has been sent. Please check your email for the code." %}</em>
        </p>
    {% endif %}

    <div class="mb-4">
        <label class="font-bold me-1" for="id_code">{% trans "Enter Code" %}: </label>
        <input
            name='code'
            id="id_code"
            autofocus
            required
            type='text'
            maxlength='6'
            class="mb-2 !w-28 placeholder:text-gray-400 text-center tracking-wider"
            x-model="code"
            autocomplete="off"
            placeholder="_ _ _ _ _ _"
            data-1p-ignore
        >
    </div>

    <div>
        <button
            class="button button-primary block mb-4"
            type="submit"
            hx-post="{% url 'users:elevate_check_code' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}"
            hx-validate="true"
            hx-target="#section-form"
            x-bind:disabled="code ? false : true"
        >
            {% trans "Confirm" %}
        </button>
    </div>
    {% if error %}
        <button
            class="link hover:underline"
            hx-post="{% url 'users:elevate_send_confirm_access_email' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}"
            hx-target="#section-form"
        >
            {% trans "Re-send code?" %}
        </button>
    {% endif %}
</form>

{% if request.user.has_usable_password %}
    <section data-test-id="section-send-email" class="px-4 border pt-2 pb-4">
        <p>{% trans "Having problems?" %}</p>
        <ul class="list-disc ml-4">
            <li>
                <a
                    class="m-0"
                    type="submit"
                    hx-boost="true"
                    href="{% url 'users:elevate' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}"
                >
                    {% trans "Use your password" %}
                </a>
            </li>
        </ul>
    </section>
{% endif %}

