{% extends base_template %}
{% load i18n heroicons %}

{% block content %}
    <section class="prose mt-8">
        <div>
            {% heroicon_outline "document-check" aria_hidden="true" size=64 %}
        </div>
        <h2 class="mt-4">
            {% trans "Check your inbox to proceed!" %}
        </h2>

        <p>
            {% if ENABLE_PUBLIC_SIGNUP %}
                {% trans "We have sent you an email containing a link for logging in or signing up. Please check your email and use the link provided to either login or create your account." %}</p>
            {% else %}
                {% trans "We've sent you an email with a login link. Kindly check your email and follow the link to access your account." %}</p>
            {% endif %}
        </p>

        <p>
            {% blocktrans %}Check your "Spam" folder, if you don't find the email in your inbox.{% endblocktrans %}
        </p>

        <p>
            <a href="{% url 'users:passwordless_login_signup' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}" class="font-medium hover:underline">Try again</a>
        </p>
    </section>
{% endblock content %}
