{% load i18n wagtailcore_tags %}

{% if show_banner %}
    <div class="wrapper wrapper--cookieconsent cookieconsent">
        <div class="cookieconsent__content">
            <div class="cookieconsent__brief">
                <div>
                    <h2 class="cookieconsent__title">{% trans settings.cookieconsent_title %}</h2>
                    <div class="cookieconsent__message rich-text">
                        {{ settings.cookieconsent_message|richtext }}
                    </div>
                    <div class="cookieconsent__actions">
                        {% if settings.cookieconsent_analytics %}
                            <button class="button button--cookieconsent button--decline" title="{% trans 'Decline tracking cookies.' %}" type="button" data-consent="decline">{% trans 'Essential only' %}</button>
                            <button class="button button--cookieconsent button--accept lg:ms-[20px]" title="{% trans 'Accept tracking cookies.' %}" type="button" data-consent="accept">{% trans 'Accept all' %}</button>
                        {% else %}
                            <button class="button button--cookieconsent button--accept" title="{% trans 'Acknowledge use of essential cookies.' %}" data-consent="ack">{% trans 'Ok' %}</button>
                        {% endif %}
                        <button class="button button--cookieconsent button--learn-more lg:ms-[20px]" title="{% trans 'Learn more about specific cookies used.' %}" show-learn-more="true">{% trans 'Learn More' %}</button>
                    </div>
                </div>
            </div>
            <div class="cookieconsent__learnmore">
                <div>
                    <div class="cookieconsent__statement">
                        <p>{% trans "This Website uses cookies.  Below you can select the categories of cookies to allow when you use our website and services." %}</p>
                    </div>
                    <div class="cookieconsent__info-wrapper">
                        <div class="cookieconsent__info">
                            <p class="font-semibold">{% trans "Essential Cookies" %}</p>
                            {{ settings.cookieconsent_essential_about|richtext }}
                            <span class="font-bold">{% trans "Always enabled." %}</span>
                        </div>
                        {% if settings.cookieconsent_analytics %}
                            <div class="cookieconsent__info lg:pl-10">
                                <p class="font-semibold">{% trans "Analytics Cookies" %}</p>
                                {{ settings.cookieconsent_analytics_about|richtext }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="cookieconsent__actions">
                        {% if settings.cookieconsent_analytics %}
                            <button class="button button--cookieconsent button--decline" title="{% trans 'Decline tracking cookies.' %}" type="button" data-consent="decline">{% trans 'Essential only' %}</button>
                            <button class="button button--cookieconsent button--accept lg:ms-[20px]" title="{% trans 'Accept tracking cookies.' %}" type="button" data-consent="accept">{% trans 'Accept all' %}</button>
                        {% else %}
                            <button class="button button--cookieconsent button--accept" title="{% trans 'Acknowledge use of essential cookies.' %}" data-consent="ack">{% trans 'Ok' %}</button>
                        {% endif %}
                        <button class="button button--cookieconsent button--learn-more lg:ms-[20px]" title="{% trans 'Return to main cookie menu.' %}" show-learn-more="false" tabindex="-1">{% trans 'Back' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
