// stylelint-disable color-no-hex, no-color-literals, declaration-no-important
// stylelint-disable property-no-vendor-prefix, selector-class-pattern
* {
    background: transparent !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    font-family: "Garamond Premier Pro", serif !important;
    font-style: normal !important;
    letter-spacing: normal !important;
    text-align: left !important;
}

html {
    font-size: 100% !important;
}

@page {
    margin: 1cm !important;
    size: letter;
}

body {
    font-size: 14px !important;
    line-height: 1.3 !important;
    margin: 1cm !important;
}

// Underline all links.
:link,
:visited {
    text-decoration: none !important;
    border: 0 !important;
    color: #000 !important;
}

// Add visible URL after links.
a[href^="http:"]::after,
a[href^="https:"]::after {
    content: " (" attr(href) ")";
}

abbr[title] {
    // Add visible title after abbreviations.
    &::after {
        content: " (" attr(title) ")";
    }
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

.header__logo {
    fill: #000;
}

.header {
    height: auto;
    padding: 0;

    &::after {
        background: transparent !important;
    }
}

.admin-bar {
    position: static;
    inset-inline-end: auto;
    inset-inline-start: auto;
    width: auto;
    padding: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

nav,
aside,
footer,
.icon,
.card__icon,
.status-bar,
.tabs__container,
.cookieconsent,
.djhj,
.no-print {
    display: none !important;
}
