// Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// Base
@import "base/base";
@import "base/typography";

// Components
@import "components/alert";
@import "components/all-submissions-table";
@import "components/all-reviews-table";
@import "components/admin-bar";
@import "components/actions-bar";
@import "components/card";
@import "components/cookieconsent";
@import "components/comment";
@import "components/button";
@import "components/editor";
@import "components/error-bar";
@import "components/feed";
@import "components/filters";
@import "components/grid";
@import "components/heading";
@import "components/icon";
@import "components/link";
@import "components/list";
@import "components/list-reveal";
@import "components/modal";
@import "components/rich-text";
@import "components/section";
@import "components/sidebar";
@import "components/tabs";
@import "components/status-bar";
@import "components/form";
@import "components/nav";
@import "components/pagination";
@import "components/profile";
@import "components/projects-table";
@import "components/related-sidebar";
@import "components/responsive-table";
@import "components/reviewer-dash-box";
@import "components/reviews-list";
@import "components/reviews-summary";
@import "components/reviews-sidebar";
@import "components/round-block";
@import "components/select2";
@import "components/simplified";
@import "components/status-block";
@import "components/submission-meta";
@import "components/revision";
@import "components/table";
@import "components/tooltip";
@import "components/traffic-light";
@import "components/wrapper";
@import "components/revisions";
@import "components/messages";
@import "components/stat-block";
@import "components/docs-block";
@import "components/funding-block";
@import "components/data-block";
@import "components/invoice-block";
@import "components/reminder-sidebar";
@import "components/two-factor";
@import "components/determination";
@import "components/dropdown";
@import "components/dashboard-table";

// Layout
@import "layout/header";

// Styleguide

section {
    margin: 4rem 0;
}

.styleguide {
    color: $color--primary;
    margin: 2rem 0;
}

.color--white {
    color: $color--white;
}

.color--black {
    color: $color--black;
}

.color--light-grey {
    color: $color--light-grey;
}

.color--light-mid-grey {
    color: $color--light-mid-grey;
}

.color--mid-grey {
    color: $color--mid-grey;
}

.color--mid-dark-grey {
    color: $color--mid-dark-grey;
}

.color--dark-grey {
    color: $color--dark-grey;
}

.color--lightest-blue {
    color: $color--lightest-blue;
}

.color--light-blue {
    color: $color--light-blue;
}

.color--light-blue-90 {
    color: $color--light-blue-90;
}

.color--lighter-blue {
    color: $color--lighter-blue;
}

.color--dark-blue {
    color: $color--dark-blue;
}

.color--darkest-blue {
    color: $color--darkest-blue;
}

.color--mustard {
    color: $color--mustard;
}

.color--purple {
    color: $color--purple;
}

.color--pink {
    color: $color--pink;
}

.color--light-pink {
    color: $color--light-pink;
}

.color--light-green {
    color: $color--light-green;
}

.color--tomato {
    color: $color--tomato;
}

.color--mint {
    color: $color--mint;
}

.color--grass {
    color: $color--grass;
}

.color--ocean {
    color: $color--ocean;
}

.color--sky-blue {
    color: $color--sky-blue;
}

.color--marine {
    color: $color--marine;
}

.color--mist {
    color: $color--mist;
}

.color--green {
    color: $color--green;
}

.color--pastel-red {
    color: $color--pastel-red;
}

.color--pastel-green {
    color: $color--pastel-green;
}

.color--fog {
    color: $color--fog;
}

.color--twitter {
    color: $color--twitter;
}

.color--linkedin {
    color: $color--linkedin;
}

.color--facebook {
    color: $color--facebook;
}

.color--black-60 {
    color: $color--black-60;
}

.color--black-50 {
    color: $color--black-50;
}

.color--black-40 {
    color: $color--black-40;
}

.color--black-25 {
    color: $color--black-25;
}

.color--black-20 {
    color: $color--black-20;
}

.color--black-10 {
    color: $color--black-10;
}

.color--white-50 {
    color: $color--white-50;
}

.color--white-40 {
    color: $color--white-40;
}

.color--white-25 {
    color: $color--white-25;
}

.color--white-20 {
    color: $color--white-20;
}

.color--white-10 {
    color: $color--white-10;
}

.color--default {
    color: $color--default;
}

.color--primary {
    color: $color--primary;
}

.color--error {
    color: $color--error;
}

.color--correct {
    color: $color--correct;
}

.color--button-disabled {
    color: $color--button-disabled;
}
