// Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

.users-list {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 50px;

    &--has-filters {
        grid-template-columns: auto 250px;
    }

    &__results {
        grid-column-start: col-start 1 col-end 2;
    }

    &__filters {
        grid-column-start: col-start -2 col-end -1;

        button[type="submit"] {
            display: block;
            margin-block-start: 20px;
        }
    }

    &__export {
        button {
            display: block;
            margin-block-start: 20px;
        }

        a {
            color: $color--white;
        }
    }
}
