.listing {
    @include target-ie11 {
        max-width: 390px;
        width: 100%;
    }

    &__header {
        height: $listing-header-height;
        padding: 20px;
    }

    // containing <ul>
    &__list {
        @include column-scrolling;
        overflow-y: scroll;
        height: calc(100vh -  #{$listing-header-height});

        // ensures the last item will be at the top of the column after navigating to it via the dropdown
        &--applications {
            padding-bottom: calc(100vh - var(--last-listing-item-height) - #{$listing-header-height});

            @include media-query(tablet-landscape) {
                padding-bottom: calc(100vh - var(--header-admin-height) - var(--last-listing-item-height) - #{$listing-header-height});
            }

            @include media-query(laptop-short) {
                padding-bottom: calc(100vh - var(--last-listing-item-height) - #{$listing-header-height});
            }
        }

        &--notes {
            box-shadow: inset 0 -20px 20px -10px $color--light-mid-grey;
            overflow-y: auto;
            height: 100%;

            @include media-query(tablet-landscape) {
                height: calc(75vh - var(--header-admin-height) - #{$listing-header-height});
            }

            @include media-query(laptop-short) {
                // allow for vertical scrolling on laptops
                height: calc(60vh -  #{$listing-header-height});
            }
        }

        &.is-blank {
            padding: 20px;
            text-align: center;
        }
    }

    // inner <li>'s
    &__item {
        @include submission-list-item;

        &.is-active {
            @include target-edge {
                margin-left: 8px;
            }

            border-right: 2px solid $color--white;
            transition: border $transition;
        }

        &--heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color--fog;
            padding: 15px 20px;
        }
    }

    // <a> tags
    &__link {
        display: block;
        padding: 30px;
        background-color: transparent;
        transition: background-color $quick-transition;
        position: relative;
        color: $color--default;

        &::before {
            content: '';
            height: 100%;
            width: 0;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color--dark-blue;
            transition: width $transition;
        }

        &:hover {
            background-color: $color--white;
        }

        .is-active & {
            background-color: $color--white;

            &::before {
                width: 8px;
            }
        }
    }

    &__title {
        margin: 0;
    }

    &__count {
        background-color: $color--white;
        padding: 0 8px;
        border-radius: 5px;
        font-size: 14px;
    }

    &__blank-icon {
        border-radius: 50%;
        background-color: $color--light-mid-grey;
        padding: 20px;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px auto 20px;

        svg {
            fill: $color--white;
            width: 74px;
            height: 68px;
        }
    }

    &__help-text {
        margin: 0 0 5px;
        color: $color--dark-blue;

        &--standout {
            font-weight: $weight--bold;
        }
    }

    &__help-link {
        text-decoration: underline;
    }
}
