{% extends 'base-apply.html' %}
{% load i18n %}

{% block content_wrapper %}
    <div class="admin-bar">
        <div class="admin-bar__inner admin-bar__inner--with-button">
            <h3 class="admin-bar__heading">{% trans "Welcome" %} {{ user }}</h3>
            <a href="{% url 'dashboard:dashboard' %}" class="button button--primary button--arrow-pixels-white">
                {% trans "Go to dashboard" %}
                <svg><use xlink:href="#arrow-head-pixels--solid"></use></svg>
            </a>
        </div>
    </div>

    <div class="wrapper wrapper--small wrapper--inner-space-medium two-factor">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
