{% extends 'base-apply.html' %}
{% load i18n static heroicons %}

{% block content %}
    {% adminbar %}

        {% slot back_link %}
            <a href="/account/" class="admin-bar__back-link"> {% trans "Back to Account" %}</a>
        {% endslot %}

        {% slot header %}
            {% trans "Two-Factor Authentication (2FA)" %}
        {% endslot %}
        {% comment %} {% slot sub_heading %}{% trans "All submissions ready for discussion." %}{% endslot %} {% endcomment %}

        {% if user.can_access_dashboard %}
            <a href="{% url 'dashboard:dashboard' %}" class="button button--primary" hx-boost='true'>
                {% heroicon_mini "squares-2x2" size=20 class="mr-1 inline align-text-bottom" %}
                {% trans "Go to my dashboard" %}
            </a>
        {% endif %}
    {% endadminbar %}

    <div class="wrapper wrapper--inner-space-medium max-w-2xl  two-factor">
        {% block content_inner %}{% endblock %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {# Focus the 2FA field. #}
    <script>
        document.querySelector("#id_generator-token").focus();
    </script>
{% endblock %}
