{% load i18n %}

{% if wizard.steps.current == 'token' %}
    {% trans "Login" as button_text %}
{% elif wizard.steps.current == 'generator' %}
    {% trans "Next" as button_text %}
{% elif wizard.steps.current == 'welcome' %}
    {% trans "I've installed a 2FA App" as button_text %}
{% else %}
    {% trans "Next" as button_text %}
{% endif %}

<button type="submit" class="button button--primary">{{ button_text }}</button>

<script>
var lbl = document.querySelector("label[for=id_generator-token]");
if (lbl) {
    lbl.textContent = "{% trans "Verification code" %}:";
}

</script>
