{% load i18n %}

{% if wizard.steps.current == 'token' %}
    {% trans "Submit" as button_text %}
{% elif wizard.steps.current == 'generator' %}
    {% trans "Next" as button_text %}
{% elif wizard.steps.current == 'welcome' %}
    {% trans "I've installed a 2FA App" as button_text %}
{% else %}
    {% trans "Next" as button_text %}
{% endif %}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>

<script>
    const lbl = document.querySelector("label[for=id_generator-token]");
    const otpInput = document.querySelector("#id_token-otp_token");
    if (lbl) {
        lbl.textContent = "{% trans 'Verification code' %}:";
    }
    if(otpInput){
        // set max-width to 6 characters
        otpInput.style.maxWidth = "10ch";
    }
</script>
