{% load wagtailcore_tags %}
<nav role="navigation" aria-label="Primary">
    <ul class="nav nav--primary" role="menubar">
        {% for link in primarynav %}
            {% include_block link with class="primary" %}
        {% endfor %}
    </ul>
</nav>
<a href="{% url 'users:login' %}" class="link link--button-transparent link--mobile-standout">
    <svg class="icon"><use xlink:href="#person-icon"></use></svg>
    My OTF
</a>
<a href="#" class="link link--button-secondary link--mobile-standout">Apply</a>
