{% load flag_tags %}
<div class="sidebar__inner">
    <h5>Add to your flagged list</h5>
    <button class="button button--primary button--full-width button--flag{% if submission|flagged_by:user %} flagged{% endif %}" data-id="{{ submission.id }}" data-type="user">Flag</button>
</div>

{% if request.user.is_apply_staff %}
<div class="sidebar__inner">
    <h5>Add to staff flagged list</h5>
    <button class="button button--primary button--full-width button--flag{% if submission|flagged_staff %} flagged{% endif %}" data-id="{{ submission.id }}" data-type="staff">Staff flag</button>
</div>
{% endif %}
