{% load i18n flag_tags heroicons %}
<form class="flex gap-2" id="submission-flags">
    {% with submission|flagged_by:user as is_flagged %}
        <button
            class="flex-1 btn btn-outline btn-secondary"
            {% if submission.is_archive %}
                disabled
            {% else %}
                hx-post="{% url 'apply:submissions:flags:create_submission_flag' submission.id "user" %}"
                hx-swap="outerHTML transition:true"
                hx-target="#submission-flags"
                {% if is_flagged %}
                    data-tippy-content="{% trans 'Remove from your flagged submissions' %}"
                {% else %}
                    data-tippy-content="{% trans 'Add to your flagged submissions' %}"
                {% endif %}
            {% endif %}
        >
            {% if is_flagged %}
                {% heroicon_solid "flag" class="inline-block align-text-bottom fill-amber-400" size=18 %}
                <span>{% trans "Flagged" %}</span>
            {% else %}
                {% trans "Flag" %}
            {% endif %}
        </button>
    {% endwith %}

    {% if request.user.is_apply_staff %}
        {% with submission|flagged_staff as is_flagged %}
            <button
                class="flex-1 whitespace-nowrap btn btn-outline btn-secondary"
                {% if submission.is_archive %}
                    disabled
                {% else %}
                    hx-post="{% url 'apply:submissions:flags:create_submission_flag' submission.id "staff" %}"
                    hx-swap="outerHTML transition:true"
                    hx-target="#submission-flags"
                    {% if is_flagged %}
                        data-tippy-content="{% trans 'Remove staff flag' %}"
                    {% else %}
                        data-tippy-content="{% trans 'Flag for staff review' %}"
                    {% endif %}
                {% endif %}
            >
                {% if is_flagged %}
                    {% heroicon_solid "flag" class="inline-block align-text-bottom fill-amber-500" size=18 %}
                    <span>{% trans "Staff Flagged" %}</span>
                {% else %}
                    {% trans "Staff Flag" %}
                {% endif %}
            </button>
        {% endwith %}
    {% endif %}
</form>
