{% load i18n flag_tags %}
<div class="sidebar__inner">
    <h5>{% trans "Flags" %}</h5>
    <div class="wrapper wrapper--sidebar-buttons">
        <button class="button button--primary button--half-width button--flag{% if submission|flagged_by:user %} flagged{% endif %}" data-id="{{ submission.id }}" data-type="user">{% trans "Flag" %}</button>

        {% if request.user.is_apply_staff %}
        <button class="button button--primary button--half-width button--flag{% if submission|flagged_staff %} flagged{% endif %}" data-id="{{ submission.id }}" data-type="staff">{% trans "Staff flag" %}</button>
        {% endif %}
    </div>
</div>
