{% load i18n %}
{% block content %}{% blocktrans %}We appreciate your SUBMISSION_TITLE application submission to the ORG_LONG_NAME.{% endblocktrans %}

    {% trans "We will review and reply to your submission as quickly as possible." %}

    {% trans "If you have any questions, please submit them here" %}: SUBMISSION_URL#communications

    {% blocktrans %}If you have issues accessing the submission system or general inquiries, please email us at ORG_EMAIL.{% endblocktrans %}

    {% blocktrans %}For more information about our support options, review process, and selection criteria, please visit our website at ORG_URL.{% endblocktrans %}

    SUBMISSION_CONFIRMATION_TEXT_EXTRA

    {% trans "Project name" %}: SUBMISSION_TITLE
    {% trans "Contact name" %}: SUBMISSION_USER_NAME
    {% trans "Contact email" %}: SUBMISSION_USER_EMAIL{% endblock %}

