{% load i18n bleach_tags wagtailcore_tags markdown_tags heroicons %}

{% if page.open_round %}
  <div class="flex justify-between items-center px-4 py-8 gap-4 hover:bg-slate-50 transition-colors">

    <div>
      <h2>{{ page.title }}</h2>

      {% if page.next_deadline and page.show_deadline %}
        <p class="mb-4">
          <span class="bg-orange-100 px-3 py-2 text-sm rounded">
            {% heroicon_micro 'calendar-days' class='inline align-text-bottom' aria_hidden=true %}
            <span class="font-medium">{% trans 'Next deadline' %}: {{ page.next_deadline|date:'M j, Y' }}</span>
          </span>
        </p>
      {% endif %}

      {% if page.description %}
        <p>
          {{ page.description|markdown|bleach }}
        </p>
      {% endif %}
    </div>

    <div>
      <a
        class="button button--primary"
        href="{% pageurl page %}"
        title="Click to apply for {{ page.title }}"
      >
        {% trans 'Apply' %}
      </a>
    </div>
  </div>
{% endif %}
