{% load i18n wagtailcore_tags %}

{% with details=page.detail %}
{% if page.open_round %}
  <div class="listing listing--not-a-link">
      <div>
          <h4 class="listing__title listing__title--link">
              {% if page.next_deadline %}
                  <p class="listing__deadline">
                      <svg class="icon icon--calendar icon--small"><use xlink:href="#calendar"></use></svg>
                      <span>{% trans "Next deadline" %}: {{ page.next_deadline|date:"M j, Y" }}</span>
                  </p>
              {% endif %}
              {% if details %}
                  <a href="{% pageurl details %}">
              {% endif %}

              {{ page.title }}

              {% if details %}
                  </a>
              {% endif %}
          </h4>

          {% if details.listing_summary or details.introduction %}
              <h6 class="listing__teaser">{{ details.listing_summary|default:details.introduction|truncatechars_html:120 }}</h6>
          {% endif %}
      </div>
      <a class="listing__button" href="{% pageurl page %}">{% trans "Apply" %}</a>
  </div>
{% endif %}
{% endwith %}
