//============================================================================//
//
//  CONTAIN UTILITIES
//  ImportantRules are OK for utility classes -- they are not ok elsewhere
//  http://csswizardry.com/2016/05/the-importance-of-important/
//
//============================================================================//

// ELEMENTS

.contain {
  margin: 0 auto;
  width: 100%;

  @include media-min-md {
    max-width: #{$global-page-width}px;
  }

  @include media-min-xl {
    width: #{$global-page-width}px;
  }
}
