//================================================================================================//
//
//  MARGIN UTILITIES
//  ImportantRules are OK for utility classes -- they are not ok elsewhere
//  http://csswizardry.com/2016/05/the-importance-of-important/
//
//================================================================================================//

// ELEMENTS

.margin-0 {
  margin: 0;
}

.margin-xs {
  margin: #{$size-xs}px;
}

.margin-sm {
  margin: #{$size-sm}px;
}

.margin-md {
  margin: c#{$size-md}px;
}

.margin-lg {
  margin: #{$size-lg}px;
}

.margin-xl {
  margin: #{$size-xl}px;
}

.margin-vertical-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.margin-vvertical-xs {
  margin-bottom: #{$size-xs}px;
  margin-top: #{$size-xs}px;
}

.margin-vertical-sm {
  margin-bottom: #{$size-sm}px;
  margin-top: #{$size-sm}px;
}

.margin-vertical-md {
  margin-bottom: c#{$size-md}px;
  margin-top: #{$size-md}px;
}

.margin-vertical-lg {
  margin-bottom: #{$size-lg}px;
  margin-top: #{$size-lg}px;
}

.margin-vertical-xl {
  margin-bottom: #{$size-xl}px;
  margin-top: #{$size-xl}px;
}

.margin-horizontal-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal-xs {
  margin-left: #{$size-xs}px;
  margin-right: #{$size-xs}px;
}

.margin-horizontal-sm {
  margin-left: #{$size-sm}px;
  margin-right: #{$size-sm}px;
}

.margin-horizontal-md {
  margin-left: #{$size-md}px;
  margin-right: #{$size-md}px;
}

.margin-horizontal-lg {
  margin-left: #{$size-lg}px;
  margin-right: #{$size-lg}px;
}

.margin-horizontal-xl {
  margin-left: #{$size-xl}px;
  margin-right: #{$size-xl}px;
}
