{% load wagtailimages_tags util_tags %}
<form class="form {{extra_classes}}" method="post" id="{{ form.name }}">
    {% csrf_token %}
    <div class="form__item">
        {{ form.non_field_errors }}

        {% for field in form %}
            {{ field.errors }}

            {# TODO: Add styles around this later #}
            {% if objects_with_icons %}
                {% image objects_with_icons|get_icon_by_index:forloop.counter0 max-20x20 %}
            {% endif %}

            {{ field.label_tag }} {{ field }}

            {% if field.help_text %}
                {{ field.help_text|safe }}
            {% endif %}
        {% endfor %}
    </div>

    <input class="button button--primary button--top-space" id="{{ form.name }}-submit" name="{{ form_prefix }}{{ form.name }}" type="submit" form="{{ form.name }}" value="{{ value }}">

</form>
