<ul class="funding-block">
    <li class="funding-block__item">
        <p class="funding-block__title">Fund total</p>
        <p class="funding-block__standout">$50,000</p>
    </li>
    <li class="funding-block__item">
        <p class="funding-block__title">Total paid</p>
        <p class="funding-block__standout">$2,000</p>
        <p class="funding-block__meta">(4%)</p>
    </li>
    <li class="funding-block__item">
        <p class="funding-block__title">Awaiting payment</p>
        <p class="funding-block__standout">$10,000</p>
        <p class="funding-block__meta">(20%)</p>
    </li>
</ul>
