<div class="payment-block">
    <div class="payment-block__header">
        <p class="payment-block__title">Payment Requests</p>
        <button class="payment-block__button button button--primary">Add Request</button>
    </div>

    <table class="payment-block__table">
        <thead>
            <tr>
                <th class="payment-block__table-amount">Amount</th>
                <th class="payment-block__table-status">Status</th>
                <th class="payment-block__table-docs">Documents</th>
                <th class="payment-block__table-update">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>$10,000</td>
                <td>Approved 1111-11-11</td>
                <td><a href="#">Download</a></td>
                <td>
                    <p class="payment-block__status">Approved</p>
                    <a class="payment-block__status-link" href="#">Change status</a>
                </td>
            </tr>
            <tr>
                <td>$1,000</td>
                <td>Approved 2222-11-11</td>
                <td><a href="#">Download</a></td>
                <td>
                    <p class="payment-block__status">Paid</p>
                    <a class="payment-block__status-link" href="#">Change status</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
