<div class="payment-block">
    <div class="payment-block__header">
        <p class="payment-block__title">Payment Requests</p>
        <button class="payment-block__button button button--primary">Add Request</button>
    </div>

    <table class="payment-block__table">
        <thead>
            <tr>
                <th class="payment-block__table-amount">Amount</th>
                <th class="payment-block__table-status">Status</th>
                <th class="payment-block__table-docs">Documents</th>
                <th class="payment-block__table-update">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>$10,000</td>
                <td><span class="payment-block__mobile-label">Status: </span>Approved 1111-11-11</td>
                <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
                <td>
                    <span class="payment-block__mobile-label">Status:</span>
                    <span class="payment-block__status">Approved</span>
                    <a data-fancybox data-src="#change-payment-status" class="payment-block__status-link" href="#">Change status</a>
                </td>
            </tr>
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>$1,000</td>
                <td><span class="payment-block__mobile-label">Status: </span>Approved 2222-11-11</td>
                <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
                <td>
                    <span class="payment-block__mobile-label">Status:</span>
                    <span class="payment-block__status">Paid</span>
                    <a data-fancybox data-src="#change-payment-status" class="payment-block__status-link" href="#">Change status</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="payment-block__rejected"><a class="payment-block__rejected-link js-payment-block-rejected-link" href="#">Show rejected</a></p>

    <table class="payment-block__table is-hidden js-payment-block-rejected-table">
        <thead>
            <tr>
                <th class="payment-block__table-amount">Amount</th>
                <th class="payment-block__table-status">Status</th>
                <th class="payment-block__table-docs">Documents</th>
                <th class="payment-block__table-update">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>$14,000</td>
                <td><span class="payment-block__mobile-label">Status: </span>Rejected 1111-11-11</td>
                <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
                <td>
                    <span class="payment-block__mobile-label">Status:</span>
                    <span class="payment-block__status">Rejected</span>
                </td>
            </tr>
            <tr>
                <td><span class="payment-block__mobile-label">Amount: </span>$105,000</td>
                <td><span class="payment-block__mobile-label">Status: </span>Rejected 2222-11-11</td>
                <td><span class="payment-block__mobile-label">Documents: </span><a href="#">Download</a></td>
                <td>
                    <span class="payment-block__mobile-label">Status:</span>
                    <span class="payment-block__status">Rejected</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" id="change-payment-status">
    <h4 class="modal__header-bar">Change payment status</h4>
    <div class="wrapper--outer-space-medium">
        <p>Current status: <b>Approved</b></p>
        {# {% include 'funds/includes/delegated_form_base.html' with form=some_form value='Update'%} #}
    </div>
</div>
