{% if progress_form.should_show %}
<div class="modal" id="update-status">
    <h4>Update status</h4>
    <p>Current status: {{ object.phase.name }}</p>
    <form class="form" method="post" id="progress-form">
        {% csrf_token %}
        <div class="form__item">
            {{ progress_form }}
        </div>
        <input class="button button--primary button--top-space" id="progress-form-submit" name="form-submitted" type="submit" form="progress-form" value="Progress">
    </form>
</div>
{% endif %}
