{% load workflow_tags %}
<h3>Proposal Information</h3>
<div class="grid grid--proposal-info">
    <div>
        <h5>Requested Funding</h5>
        <p>{{ object.value }}</p>
    </div>

    <div>
        <h5>Project Duration</h5>
        <p>{{ object.get_duration_display }}</p>
    </div>

    <div>
        <h5>Legal Name</h5>
        <p>{{ object.full_name }}</p>
    </div>

    <div>
        <h5>Email</h5>
        <p>{{ object.email }}</p>
    </div>
    <div class="grid__cell--span-two">
        <h5>Address</h5>
        <p>{{ object.get_address_display }}</p>
    </div>
</div>
<div class="rich-text rich-text--answers">
    {{ object.output_answers }}
</div>
