{% load review_tags %}
<table class="reviews-sidebar js-reviews-sidebar">
    {% if staff_reviews or object.staff_not_reviewed %}
        {% if staff_reviews %}
            <tr class="tr tr--subchild light-grey-bg">
                <th colspan="2"></th>
                <th>{{ object.reviews.submitted.recommendation|traffic_light }}</th>
                <th>{{ object.reviews.submitted.score|floatformat|default_if_none:'-' }}</th>
            </tr>
            {% include 'funds/includes/review_table_row.html' with reviews=staff_reviews %}
        {% endif %}

        {% if object.staff_not_reviewed %}
            {% include 'funds/includes/review_table_row.html' with reviews=object.staff_not_reviewed missing=True %}
        {% endif %}
    {% else %}
        <tr><td class="reviews-sidebar__no-reviews">No reviews yet</td></tr>
    {% endif %}

    {% if object.stage.has_external_review %}
        <tr class="tr tr--subchild"><td colspan="4"><hr></td></tr>

        {% if reviewer_reviews or object.reviewers_not_reviewed  %}
            {% include 'funds/includes/review_table_row.html' with reviews=reviewer_reviews %}
            {# Add logic for showing missing reviews #}
            {% include 'funds/includes/review_table_row.html' with reviews=object.reviewers_not_reviewed missing=True class="hidden" %}
            <tr><td colspan="4"><a class="link link--bold link--underlined js-toggle-reviewers" href="#">all assigned advisors</a></td></tr>
            {% else %}
            <tr><td colspan="4" class="reviews-sidebar__no-reviews">No assignees or reviews yet</td></tr>
        {% endif %}
    {% endif %}
</table>
