{% load wagtailimages_tags %}

<li class="reviews-sidebar__item {% if hidden and  not reviewer.review %}is-hidden {% endif %}{% if not reviewer.review %}no-response {% endif %}">
    {% if not reviewer.review or reviewer.review.is_draft %}
        <div class="reviews-sidebar__name">
            <span>{{ reviewer}}</span>
            {% if reviewer.role %}{% image reviewer.role.icon max-12x12 %}{% endif %}
        </div>
        <div>-</div>
        <div>-</div>
    {% else %}
        {% if request.user == reviewer or request.user.is_reviewer and review.reviewer_visibility or request.user.is_partner and review.reviewer_visibility or request.user.is_community_reviewer and review.reviewer_visibility or request.user.is_apply_staff %}
            <div>
                <a href="{% url 'apply:submissions:reviews:review' submission_pk=reviewer.submission.id pk=reviewer.review.id %}">
                    <div class="reviews-sidebar__name">
                        <span>{{ reviewer }}</span>
                        {% if reviewer.role %}{% image reviewer.role.icon max-12x12 %}{% endif %}
                    </div>
                </a>
                <div class="reviews-sidebar__date">{{ reviewer.review.created_at|date:"Y-m-d" }}</div>
            </div>
        {% else %}
            <div class="reviews-sidebar__name">
                <span>{{ reviewer }}</span>
                {% if reviewer.role %}{% image reviewer.role.icon max-12x12 %}{% endif %}
            </div>
        {% endif %}
        <div>{{ reviewer.review.get_recommendation_display }}</div>
        <div>{{ reviewer.review.get_score_display }}</div>
    {% endif %}
</li>

{% for opinion in reviewer.review.opinions.all %}
    {% if forloop.first %}
        <ul class="reviews-sidebar__decision">
    {% endif %}
            <li class="reviews-sidebar__item reviews-sidebar__item--decision">
                <div class="reviews-sidebar__name">
                    <span>{{ opinion.author }}</span>
                    {% with role=opinion.author.role %}
                        {% if role %}{% image role.icon max-12x12 %}{% endif %}
                    {% endwith %}
                </div>
                <div></div>
                <div class="reviews-sidebar__outcome {{ opinion.get_opinion_display|lower }}">{{ opinion.get_opinion_display}}</div>
            </li>
    {% if forloop.last %}
        </ul>
    {% endif %}
{% endfor %}
