{% load review_tags %}

<table class="table table--reviews-sidebar">
    <tr class="tr tr--subchild light-grey-bg">
        <th colspan="2">OTF</th>
        <th>{{ object.reviews.staff_recommendation|traffic_light }}</th>
        <th>{{ object.reviews.staff_score|floatformat|default_if_none:'-' }}</th>
    </tr>
    {% include 'funds/includes/review_table_row.html' with reviews=staff_reviews %}
    {% include 'funds/includes/review_table_row.html' with reviews=object.staff_not_reviewed missing=True %}
</table>

{% if record.stage.has_external_review %}
<table class="table table--reviews-sidebar">
    <tr class="tr tr--subchild light-grey-bg">
        <th colspan="2">Reviewers</th>
        <th>{{ object.reviews.reviewers_recommendation|traffic_light }}</th>
        <th>{{ object.reviews.reviewers_score|floatformat|default_if_none:'-' }}</th>
    </tr>
    {% include 'funds/includes/review_table_row.html' with reviews=reviewer_reviews %}
    {# Add logic for showing missing reviews #}
    {% include 'funds/includes/review_table_row.html' with reviews=object.reviewers_not_reviewed missing=True %}
</table>
{% endif %}
