{% for review in reviews %}
    <tr class="tr--subchild {% if missing %}no-response{% endif %}">
        {% if missing %}
            <td colspan="2">{{ review }}</td>
            <td>-</td>
            <td>-</td>
        {% else %}
            <td class="reviews-sidebar__author" colspan="2">
                {% if request.user.is_apply_staff %}
                    <a href="{% url 'apply:submissions:reviews:review' submission_pk=review.submission.id pk=review.id %}">
                        <span>{{ review.author }}</span>
                    </a>
                {% else %}
                    <span>{{ review.author }}</span>
                {% endif %}
            </td>
            <td>{{ review.get_recommendation_display }}</td>
            <td>{{ review.score }}</td>
        {% endif %}
    </tr>
{% endfor %}
