{% load review_tags %}
<table class="reviews-sidebar js-reviews-sidebar">
    {% if top_reviews %}
        <tr class="tr tr--subchild light-grey-bg">
            <th colspan="2"></th>
            <th>{{ recommendation|traffic_light }}</th>
            <th></th>
        </tr>
    {% endif %}

    {% if reviews_block.role_reviewed or reviews_block.role_not_reviewed %}
        {% for review_data in reviews_block.role_reviewed %}
            {% include 'funds/includes/review_table_row.html' with review=review_data.review reviewer=review_data.reviewer role=review_data.role %}
        {% endfor %}

        {% for review_data in reviews_block.role_not_reviewed %}
            {% include 'funds/includes/review_table_row.html' with reviewer=review_data.reviewer role=review_data.role missing=True %}
        {% endfor %}

    {% endif %}

    {% if reviews_block.staff_reviewed or reviews_block.staff_not_reviewed %}
        {% for review_data in reviews_block.staff_reviewed %}
            {% include 'funds/includes/review_table_row.html' with review=review_data.review reviewer=review_data.reviewer %}
        {% endfor %}

        {% for review_data in reviews_block.staff_not_reviewed %}
            {% include 'funds/includes/review_table_row.html' with reviewer=review_data.reviewer missing=True %}
        {% endfor %}

    {% endif %}

    {% if not top_reviews %}
        <tr><td colspan="4" class="reviews-sidebar__no-reviews">No reviews yet</td></tr>
    {% endif %}

    {% if object.stage.has_external_review %}
        <tr class="tr tr--subchild"><td colspan="4"><hr></td></tr>
        {% if reviews_block.external_reviewed or reviews_block.external_not_reviewed %}

            {% for review_data in reviews_block.external_reviewed %}
                {% include 'funds/includes/review_table_row.html' with review=review_data.review reviewer=review_data.reviewer %}
            {% endfor %}

            {% for review_data in reviews_block.external_not_reviewed %}
                {% include 'funds/includes/review_table_row.html' with reviewer=review_data.reviewer missing=True class="hidden"  %}
            {% endfor %}

            <tr><td colspan="4"><a class="link link--bold link--underlined js-toggle-reviewers" href="#">All Assigned Advisors</a></td></tr>

        {% else %}
            <tr><td colspan="4" class="reviews-sidebar__no-reviews">No assignees or reviews yet</td></tr>
        {% endif %}
    {% endif %}

</table>
