<div class="wrapper wrapper--bottom-space">
    <section class="section section--with-options">
        <h4 class="heading heading--normal heading--no-margin">All Rounds and Labs</h4>
        <div class="js-tabs">
            <a class="tab__item tab__item--alt" href="#closed-rounds" data-tab="tab-1">Closed</a>
            <a class="tab__item tab__item--alt" href="#open-rounds" data-tab="tab-2">Open</a>
        </div>
    </section>

    {# Closed rounds/labs tab #}
    <div class="tabs__content" id="tab-1">
        <ul class="round-block">
            {% for round in closed_rounds %}
                {% if forloop.counter0 < 10 %}
                    <li class="round-block__item">
                        <h4 class="round-block__title">{{ round }}</h4>
                        <p> {{ round.fund }} </p>
                        <p class="round-block__date">Closed {{ round.end_date|date:"Y-m-d" }}</p>
                        <p class="round-block__determination">TODO: 33% Determined</p>
                        <a class="round-block__view" href="#TODO">View</a>
                    </li>
                {% else %}
                    <li class="round-block__item round-block__item--more">
                        {# href required #}
                        <a href="#TODO">Show all</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    {# Open rounds/labs tab #}
    <div class="tabs__content" id="tab-2">
        <ul class="round-block">
            {% for round in open_rounds %}
                {% if forloop.counter0 < 10 %}
                    <li class="round-block__item">
                        <h4 class="round-block__title">{{ round }}</h4>
                        <p> {{ round.fund }} </p>
                        <p class="round-block__date">Open until {{ round.end_date|date:"Y-m-d" }}</p>
                        <p class="round-block__determination">TODO: 33% Determined</p>
                        <a class="round-block__view" href="#TODO">View</a>
                    </li>
                {% else %}
                    <li class="round-block__item round-block__item--more">
                        {# href required #}
                        <a href="#TODO">Show all</a>
                    </li>
                {% endif %}

            {% endfor %}
        </ul>
    </div>

</div>
