<div class="status-bar {{ class }}">
    {# '.status-bar__item--is-complete' needs to be added to each 'complete' step #}
    {# '.status-bar__item--is-current' needs to be added to the current step #}
    {% for phase in workflow %}
        <div class="status-bar__item {% if phase == status %}status-bar__item--is-current{% endif %}">
            <span class="status-bar__tooltip" data-title="{{ phase.name }}" aria-label="{{ phase.name }}"></span>
            <svg class="status-bar__icon"><use xlink:href="#tick-alt"></use></svg>
        </div>
    {% endfor %}
</div>
<div class="status-bar--mobile">
    {% for phase in workflow %}
        {% if phase == status %}
            <h6 class="status-bar__subheading">{{ phase.name }}</h6>
        {% endif %}
    {% endfor %}
</div>
