<div class="status-bar {{ class }}">
    {% for phase in phases %}
        <div class="status-bar__item
                    {% if phase == status %}
                        status-bar__item--is-current
                    {% elif phase < status %}
                        status-bar__item--is-complete
                    {% endif %}">
            <span class="status-bar__tooltip"
                {% if phase == status %}
                    {# We want to display the status explicitly in case phase is a MultiStep (displays "Outcome" for name) #}
                    data-title="{{ status.name }}" aria-label="{{ status.name }}"
                {% else %}
                    data-title="{{ phase.name }}" aria-label="{{ phase.name }}"
                {% endif %}
            ></span>
            <svg class="status-bar__icon"><use xlink:href="#tick-alt"></use></svg>
        </div>
    {% endfor %}
</div>
<div class="status-bar--mobile">
    {% for phase in status.stage %}
        {% if phase == status %}
            <h6 class="status-bar__subheading">{{ status.name }}</h6>
        {% endif %}
    {% endfor %}
</div>
