<div class="wrapper wrapper--table-actions">
    <div class="actions-bar">
        {# Left #}
        <div class="actions-bar__inner actions-bar__inner--left">
            <p class="actions-bar__total"><span class="js-total-actions">0</span> Selected</p>
            <form action="" class="js-batch-update-status">
                <button class="button button--action button--change-status" type="submit">Change status</button>
            </form>

            <button data-fancybox data-src="#batch-update-reviewers" class="button button--action button--reviewers js-batch-update-reviewers" type="submit">Reviewers</button>
        </div>

        {# Right #}
        <div class="actions-bar__inner actions-bar__inner--right">
            <button class="button button--filters button--contains-icons button--action js-toggle-filters">Filters</button>

            {% if use_search|default:False %}
            <form method="get" role="search" class="form form--search-desktop js-search-form">
                <button class="button button--search" type="submit" aria-label="Search">
                    <svg class="icon icon--magnifying-glass icon--search"><use xlink:href="#magnifying-glass"></use></svg>
                </button>
                <input class="input input--search input--secondary js-search-input" type="text" placeholder="Search submissions" name="query"{% if search_term %} value="{{ search_term }}"{% endif %} aria-label="Search input">
            </form>
            {% endif %}
        </div>
    </div>

</div>

<div class="filters">
    <div class="filters__header">
        <button class="filters__button js-clear-filters">Clear</button>
        <div>Filter by</div>
        <button class="filters__button js-close-filters">Close</button>
    </div>

    <form action="{{ filter_action }}" method="get" class="form form--filters js-filter-form">
        <ul class="form__filters select2">
            {{ filter.form.as_ul }}
            <li>
                <button class="button button--primary" type="submit" value="Filter">Filter</button>
            </li>
        </ul>
    </form>
</div>

{% include "funds/includes/batch_update_reviewer_form.html" %}
