{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="wrapper wrapper--small">
    <div class="media-box media-box--reverse">
        <div class="media-box__images">
            {% if page.icon %}
                {% image page.icon max-210x235 as page_icon %}
                <img class="media-box__image media-box__image--large" src="{{ page_icon.url }}" alt="{{ page_icon.alt }}">
                <img class="media-box__image media-box__image--small" src="{{ page_icon.url }}" alt="{{ page_icon.alt }}">
            {% else %}
                <div class="media-box__default-image">
                    <svg><use xlink:href="#logo-mobile-no-text"></use></svg>
                </div>
            {% endif %}
        </div>

    {{ page.body }}
        <div class="media-box__content">
            <h4>{{ page.title }}</h4>
            {% if page.introduction %}
                <h5 class="media-box__teaser">{{ page.introduction }}</h5>
            {% endif %}
        </div>
    </div>

    <div class="wrapper wrapper--sidebar">
        <div>
            {% include "utils/includes/funding.html" %}
        </div>

        <div>
            {% with contact_details=page.contact_details.all %}
                {% if contact_details %}
                    <h5>Get the word out</h5>
                    {% for contact in contact_details %}
                        <a aria-label="Social media link" href="{{ contact.url }}">
                            <svg class="icon icon--social-share icon--{{contact.service}}-share"><use xlink:href="#{{contact.service}}"></use></svg>
                        </a>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>



    {% regroup page.category_options by category as categories %}
    {% for category, options in categories %}
        <ul>
            <li><h3>{{ category.name }}</h3>
                <ul>
                    {% for option in options %}
                        <li>{{ option.value }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

    {% if page.news_mentions.all %}
        <h4 class="heading">We wrote about it</h4>
        <ul class="list">
            {% for news in page.news_mentions.all %}
            <li><a href="{% pageurl news.source_page %}">{{ news.source_page }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock content %}
