{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
<div class="wrapper wrapper--small">
    {% if page.icon %}
        {% image page.icon original %}
    {% endif %}
    <h1>{{ page.title }}</h1>
    {% if page.introduction %}
        <p>{{ page.introduction }}</p>
    {% endif %}

    {{ page.body }}

    {% with contact_details=page.contact_details.all %}
        {% if contact_details %}
            {% for contact in contact_details %}
        <p><a href="{{ contact.url }}">
            <span class="icon {{ contact.service }}">{{ contact.service_name }}
                </a></p>
            {% endfor %}

        {% endif %}
    {% endwith %}

    {% include "utils/includes/funding.html" %}

    {% regroup page.category_options by category as categories %}
    {% for category, options in categories %}
    <ul>
        <li><h3>{{ category.name }}</h3>
            <ul>
                {% for option in options %}
                <li>{{ option.value }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}

    {% if page.news_mentions.all %}
        <h4 class="heading">We wrote about it</h4>
        <ul class="list">
            {% for news in page.news_mentions.all %}
            <li><a href="{% pageurl news.source_page %}">{{ news.source_page }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>


{% endblock content %}
