{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    <div class="intro">
        <div class="container">
            {% if page.icon %}
                {% image page.icon original %}
            {% endif %}
            <h1>{{ page.title }}</h1>
            {% if page.introduction %}
                <p>{{ page.introduction }}</p>
            {% endif %}

            {{ page.body }}

            {% with contact_details=page.contact_details.all %}
                {% if contact_details %}
                    {% for contact in contact_details %}
                <p><a href="{{ contact.url }}">
                    <span class="icon {{ contact.service }}">{{ contact.service_name }}
                        </a></p>
                    {% endfor %}

                {% endif %}
            {% endwith %}

        </div>
    </div>

{% endblock content %}
