{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}light-grey-bg{% endblock %}

{% block content %}
<div class="wrapper wrapper--small wrapper--top-bottom-inner-space">

        <form class="form" method="GET">
            <div class="form__select">
                <select name="news_type">
                    <option value="">All</option>
                    {% for news_type in news_types %}
                        <option value="{{ news_type.0 }}" {% if request.GET.news_type == news_type.0|slugify %}selected="selected"{% endif %}>{{ news_type.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>

        {% if news %}
            <div class="wrapper wrapper--listings wrapper--top-space">
                {% for n in news %}
                    <a class="listing" href="{% pageurl n %}">
                        {% if n.listing_image %}
                            {% image n.listing_image fill-450x300 %}
                        {% endif %}
                            <h4 class="listing__title" role="listitem">
                                {{ n.listing_title|default:n.title }}
                            </h4>
                        {% if n.listing_summary or n.introduction %}
                            <h6 class="listing__teaser">{{ n.listing_summary|default:n.introduction }}</h6>
                        {% endif %}
                        <span class="listing__meta">
                            {{ n.display_date|date:"Y-m-d" }}
                            {% if n.authors.all %}
                                | By:
                                {% for author in n.authors.all %}
                                    {{ author.author }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>
            {% include "includes/pagination.html" with paginator_page=news %}
        {% else %}
            {# no items #}
        {% endif %}

</div>
{% endblock %}
