{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<article class="wrapper wrapper--small">

    <header class="heading heading--author heading-text epsilon">
        <time datetime="{{ page.display_date|date:"c" }}">{{ page.display_date|date:"D, Y-m-d H:i" }}</time>
        {% if page.authors.all %}
            | By:
            {% for author in page.authors.all %}
                <a href="{% pageurl author.author %}">{{ author.author }}</a>
            {% endfor %}
        {% endif %}
    </header>

    {% if page.introduction %}
        <h4 class="heading heading--introduction">{{ page.introduction }}</h4>
    {% endif %}

    <div class="main-body">
        {% include_block page.body %}
    </div>

    {% if page.news_types.all %}
        <ul class="list list--flex">
            {% for news_type in page.news_types.all %}
                <li class="list__label">{{ news_type }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if page.related_projects.all %}
        <h4 class="heading">Projects Mentioned</h4>
        <ul class="list">
            {% for project in page.related_projects.all %}
            <li><a href="{% pageurl project.page %}">{{ project.page }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include "includes/share.html" %}
</article>

{% include "includes/relatedcontent.html" with related_documents=page.related_documents.all related_pages=page.related_pages.all %}

{% endblock %}
