{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
<div class="wrapper wrapper--small">

    <h5 class="heading heading--author">
        {{ page.display_date|date:"D, Y-m-d H:i" }}
        {% if page.authors.all %}
            | By:
            {% for author in page.authors.all %}
                <a href="{% pageurl author.author %}">{{ author.author }}</a>
            {% endfor %}
        {% endif %}
    </h5>

    {% if page.introduction %}
        <h4 class="heading heading--introduction">{{ page.introduction }}</h4>
    {% endif %}

    <section class="main-body">
        {% include_block page.body %}
    </section>

    {% if page.news_types.all %}
        <ul class="list list--flex">
            {% for news_type in page.news_types.all %}
                <li class="list__label">{{ news_type }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include "includes/share.html" %}
</div>

{% include "includes/relatedcontent.html" with related_documents=page.related_documents.all related_pages=page.related_pages.all %}

{% endblock %}
