{% extends "base-apply.html" %}
{% load bleach_tags %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h1 class="beta heading heading--no-margin heading--bold">Review</h1>
        <h5>For <a href="{% url "funds:submissions:detail" review.submission.id %}">{{ review.submission.title }}</a></h5>
    </div>
</div>

<div class="grid">
    <div>
        <h5>Recommendation</h5>
        <p>{{ review.get_recommendation_display }}</p>
    </div>
    <div>
        <h5>Score</h5>
        <p>{{ review.score }}</p>
    </div>
    {% if review.revision != review.submission.live_revision %}
        <div>
            <h5>Review was not against the lasted version:</h5>
            <p>
                <a class="button button--primary" href="{% url "funds:submissions:revisions:compare" submission_pk=review.submission.id to=review.submission.live_revision.id from=review.revision.id %}">Compare</a>
            </p>
        </div>
    {% endif %}
</div>

<div class="rich-text rich-text--answers">
    {{ object.output_answers }}
</div>
{% endblock %}
