{% extends "base-apply.html" %}
{% load bleach_tags review_tags workflow_tags %}

{% block title %}Reviews{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <div>
            <h1 class="beta heading heading--no-margin heading--bold">Reviews</h1>
            <h5>For <a href="{% url "funds:submissions:detail" submission.id %}">{{ submission.title }}</a></h5>
        </div>
        {% if request.user|has_review_perm:submission %}
            {% if request.user|has_draft:submission or request.user|can_review:submission %}
                {% include 'review/includes/review_button.html' with submission=submission %}
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="wrapper wrapper--reviews-table js-reviews-table">
    <table class="reviews-list">
    {% for answers in review_data.values %}
        <tr class="reviews-list__tr">
            <th class="reviews-list__th">{{ answers.question }}</th>
            {% for answer in answers.answers %}
                <td class="reviews-list__td">{{ answer|bleach }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
