{% extends "base-apply.html" %}
{% load bleach_tags %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h1 class="beta heading heading--no-margin heading--bold">Review</h1>
        <h5>For <a href="{% url "funds:submissions:detail" review.submission.id %}">{{ review.submission.title }}</a> by {{ review.author }}</h5>
    </div>
</div>

<div class="grid">
    <div>
        <h5>Recommendation</h5>
        <p>{{ review.get_recommendation_display }}</p>
    </div>
    <div>
        <h5>Score</h5>
        <p>{{ review.score }}</p>
    </div>
    {% if not review.for_latest %}
        <div>
            <h5>Review was not against the latest version:</h5>
            <p>
                <a class="button button--primary" href="{{ review.get_compare_url }}">Compare</a>
            </p>
        </div>
    {% endif %}
</div>

<div class="rich-text rich-text--answers">
    {{ object.get_comments_display }}

    {{ object.output_answers }}
</div>
{% endblock %}
