{% extends "base-apply.html" %}
{% load bleach_tags review_tags workflow_tags %}

{% block title %}Reviews{% endblock %}

{% block content %}
<div class="wrapper wrapper--breakout wrapper--admin">
    <div class="wrapper wrapper--medium">
        <div>
            <h2 class="heading heading--no-margin">Reviews</h2>
            <h5>For <a href="{% url "funds:submission:detail" submission.id %}">{{ submission.title }}</a></h5>
        </div>
        {% if request.user|has_review_perm:submission %}
            {% if request.user|has_draft:submission or request.user|can_review:submission %}
                <div class="wrapper wrapper--cta-box">
                    {% include 'review/includes/review_button.html' with submission=submission %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="wrapper wrapper--reviews-table js-reviews-table">
    <table class="table table--reviews">
    {% for question, answers in review_data.items %}
        <tr>
            <th>{{ question }}</th>
            {% for answer in answers %}
                <td>{{ answer|bleach }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
