// stylelint-disable color-function-notation, color-no-hex, alpha-value-notation, value-keyword-case
// Set via JS
:root {
    --last-listing-item-height: 0;
}

// Default
$color--white: #fff;
$color--black: #1f2328;
$color--light-grey: #f7f7f7;
$color--light-mid-grey: #e8e8e8;
$color--mid-grey: #cfcfcf;
$color--mid-dark-grey: #919191;
$color--dark-grey: #404041;

// Brand
$color--lightest-blue: #24aae1;
$color--light-blue: #1d79a8;
$color--light-blue-90: transparentize($color--light-blue, 0.9);
$color--lighter-blue: #7ab8d4;
$color--dark-blue: #0c72a0;
$color--darkest-blue: #3d6bdb;
$color--mustard: #e6ab32;
$color--purple: #8c0bbf;
$color--pink: #d02a85;
$color--light-pink: #ffe1df;
$color--light-green: #e1fae1;
$color--cream: #f5f7e7;
$color--tomato: #f05e54;
$color--mint: #40c2ad;
$color--grass: #7dc588;
$color--ocean: #1888b1;
$color--sky-blue: #e7f2f6;
$color--marine: #14729a;
$color--mist: #f3fafe;
$color--green: #7dc558;
$color--pastel-red: #f1a9a9;
$color--pastel-green: #afe6af;
$color--fog: #eff2f5;

// Social
$color--twitter: #1da6f6;
$color--linkedin: #137ab8;
$color--facebook: #396ab5;

// Transparent
$color--black-60: rgba(0, 0, 0, 0.6);
$color--black-50: rgba(0, 0, 0, 0.5);
$color--black-40: rgba(0, 0, 0, 0.4);
$color--black-25: rgba(0, 0, 0, 0.25);
$color--black-20: rgba(0, 0, 0, 0.2);
$color--black-10: rgba(0, 0, 0, 0.1);
$color--white-50: rgba(255, 255, 255, 0.5);
$color--white-40: rgba(255, 255, 255, 0.4);
$color--white-25: rgba(255, 255, 255, 0.25);
$color--white-20: rgba(255, 255, 255, 0.2);
$color--white-10: rgba(255, 255, 255, 0.1);

// Assignment
$color--default: $color--black;
$color--primary: $color--light-blue;
$color--error: $color--tomato;
$color--correct: $color--mint;
$color--button-disabled: $color--lighter-blue;

// Fonts
$font--primary: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
$font--headings: $font--primary;

// Font weights
$weight--black: 800;
$weight--bold: 700;
$weight--semibold: 600;
$weight--normal: 400;
$weight--light: 200;

// Font sizes
$base-font-size: 16px;
$base-font-size-large: 18px;
$base-line-height: 24px;
$base-line-height-large: 28px;
$font-sizes: (
    alpha: 36px,
    beta: 30px,
    gamma: 28px,
    delta: 24px,
    epsilon: 18px,
    zeta: 14px,
    milli: 12px,
);

// Wrappers
$site-width: 1280px;
$wrapper--medium: 1020px;
$wrapper--small: 790px;

// Text line length
$max-text-line-length: 50em;

// Breakpoints
$breakpoints: (
    "mob-portrait" "(min-width: 320px)",
    "mob-landscape" "(min-width: 480px)",
    "small-tablet" "(min-width: 600px)",
    "tablet-portrait" "(min-width: 768px)",
    "tablet-landscape" "(min-width: 1024px)",
    "laptop-short" "(min-width: 1024px) and (max-height: 1280px)",
    "desktop" "(min-width: 1320px)",
    "desktop-medium" "(min-width: 1920px)",
    "desktop-wide" "(min-width: 2556px)"
);

// Transition
$transition: 0.25s ease-out;
$quick-transition: 0.15s ease;
$medium-transition: 0.5s ease;

// Delays
$base-delay: 30ms;

// Spacing
$mobile-gutter: 20px;

// Filters
$filter-dropdown: ".select2 .select2-selection.select2-selection--single";

// Table breakpoint
$table-breakpoint: "tablet-landscape";

// Dropdown height
$dropdown-height: 45px;
