.grouped-listing {
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include media-query(tablet-landscape) {
        height: calc(100vh - var(--header-admin-height));
    }

    @include media-query(laptop-short) {
        height: 100vh;
    }

    &__dropdown {
        @include submission-list-item;
        height: $listing-header-height;
        padding: 20px;
    }

    .loading-panel__icon::after {
        background: $color--light-grey;
    }
}
