.grouped-listing {
    height: 98vh;

    @include media-query(laptop-short) {
        // allow for vertical scrolling on laptops
        height: calc(100vh - var(--header-admin-height));
    }

    display: flex;
    flex-direction: column;

    &__dropdown {
        @include submission-list-item;
        height: $listing-header-height;
        padding: 20px;
    }

    .loading-panel__icon::after {
        background: $color--light-grey;
    }
}
