{% load heroicons %}

<template x-teleport="body" x-data="{scrollBackTop: false, lastScrollTop: 0}">
    <button
        x-show="scrollBackTop"
        x-transition
        x-transition.duration.500ms
        x-on:scroll.window.throttle.50ms="scrollBackTop = (window.pageYOffset < lastScrollTop && window.pageYOffset > window.outerHeight * 0.4) ? true : false; lastScrollTop = window.pageYOffset;"
        @click="window.scrollTo({top: 0, behavior: 'smooth'})"
        aria-label="Back to top"
        class="fixed top-0 z-30 py-2 px-3 mt-10 text-white rounded-2xl shadow-lg transition-all cursor-pointer hover:text-white hover:shadow-lg focus:outline-none end-1/2 -me-[64px] bg-light-blue/80 hover:bg-light-blue">
        {% heroicon_mini "arrow-long-up" class="inline align-text-bottom" size=18 aria_hidden=true %} Back to top
    </button>
</template>
