.card {
    $root: &;
    position: relative;
    padding: 30px 30px 100px;
    background-color: $color--white;
    transition: background-color, color, $transition;

    &--lab {
        box-shadow: 0 8px 15px 0 $color--black-10;
    }

    &:hover {
        color: $color--white;
        background: $color--light-blue;
    }

    &__teaser {
        margin-top: 5px;
        font-size: 16px;
        color: $color--default;
        transition: color $transition;

        #{$root}:hover & {
            color: $color--white;
        }
    }

    &__heading {
        margin-bottom: 0;
    }

    &__subheading {
        margin: 0 0 5px;
        color: $color--pink;
        transition: color $transition;

        #{$root}:hover & {
            color: $color--white;
        }
    }

    &__icon {
        margin-bottom: 10px;
    }
}

.card-with-image {
    &:only-child {
        max-width: 260px;
	}
}

.card-slim {
    $root: &;
    padding: 20px;
    color: $color--light-blue;
    background-color: $color--white;
    border-left: 5px solid $color--light-blue;
    box-shadow: 0 2px 15px 0 $color--black-10;
    transition: background-color, color, $transition;

    @include media-query(tablet-landscape) {
        padding: 25px 50px 30px 35px;
    }

    &:hover {
        color: $color--white;
        background-color: $color--light-blue;
        border-left: 5px solid $color--dark-blue;
    }

    &__contents {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
            flex: 1;
            max-width: 450px;
        }
    }

    &__icon {
        width: 20px;
        height: 30px;
        margin-left: 20px;
        transition: fill $transition;
        fill: $color--light-blue;

        #{$root}:hover & {
            fill: $color--white;
        }
    }

    &__summary {
        display: none;
        margin: 0;
        font-size: 16px;
        color: $color--default;
        transition: color $transition;

        #{$root}:hover & {
            color: $color--white;
        }

        @include media-query(mob-landscape) {
            display: block;
        }
    }
}

