// stylelint-disable scss/percent-placeholder-pattern

// Lists with a straight left margin.

%ul-straight-left {
    display: table;
    list-style: none;
    padding: 0;

    & > li {
        display: table-row;

        &::before {
            display: table-cell;
            content: "\2022";
            padding-right: 1rem;
        }
    }
}

%ol-straight-left {
    display: table;
    list-style: none;
    padding: 0;

    & > li {
        display: table-row;
        counter-increment: table-ol;

        &::before {
            display: table-cell;
            content: counter(table-ol) ".";
            padding-right: 1rem;
            text-align: right;
        }
    }
}

%ul-straight-left--off {
    display: block;
    list-style: inherit;

    & > li {
        display: list-item;

        &::before {
            content: "";
            display: inline;
            padding: inherit;
        }
    }
}
