.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include media-query(tablet-portrait) {
        flex-direction: row;
        padding-top: 0;
    }

    &--primary {
        text-transform: uppercase;

        @include media-query(tablet-portrait) {
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 0;
        }
    }

    &--secondary {
        margin-right: 15px;
    }

    &--tertiary {
        height: auto;

        li:first-child {
            a {
                margin-left: 0;
            }
        }
    }

    &--breadcrumb {
        flex-direction: row;

        .header--light-bg & {
            display: none;
        }
    }

    &__item {
        margin-bottom: 10px;
        font-weight: $weight--bold;
        text-align: center;

        .nav--tertiary & {
            width: 100%;
            padding-bottom: 5px;
            margin-bottom: 0;
            border-bottom: 0;

            @include media-query(tablet-portrait) {
                width: auto;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        @include media-query(tablet-portrait) {
            width: auto;
            padding: 0;
            margin: 0;
            text-align: left;
            border-bottom: 0;
        }

        &--primary {
            margin: 0;
            letter-spacing: 1px;

            @include media-query(tablet-landscape) {
                margin: 0 18px;
            }
        }

        &--footer {
            a {
                color: $color--white;
            }
        }

        &--footer-column {
            &::after {
                display: none;
            }

            a {
                color: $color--white;
            }
        }

        &--back {
            @include font-size(milli);
            text-transform: uppercase;
        }

        &--breadcrumb {
            @extend %h6;
            display: flex;
            align-items: center;
            width: auto;
            padding: 0;
            margin: 0 5px 0 0;
            font-weight: $weight--normal;
            border-bottom: 0;

            .listing & {
                margin-left: 10px;
            }

            &::after {
                width: 0;
                height: 0;
                margin-left: 10px;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid $color--white;
                content: '';

                .listing & {
                    margin-left: 0;
                    border-left: 5px solid $color--default;
                }
            }

            &:first-child {
                .listing & {
                    margin-left: 0;
                }

                a {
                    margin-left: 0;
                }
            }

            &:last-child {
                margin-left: 10px;
            }
        }
    }

    &__link {
        display: inline-block;
        padding: 20px 10px;
        color: $color--white;
        border-bottom: 1px solid transparent;
        transition: color, border $transition;

        .header--light-bg & {
            color: $color--default;
        }

        .header__menus--mobile & {
            color: $color--white;
        }

        @include media-query(tablet-landscape) {
            display: initial;
            padding: 0;

            &:hover {
                color: lighten($color--light-grey, 20%);
                border-bottom: 1px solid $color--light-grey;

                .header--light-bg & {
                    color: $color--default;
                    border-bottom: 1px solid $color--default;
                }
            }
        }

        &--breadcrumb {
            position: relative;
            z-index: 8;
            padding: 0;

            &:hover {
                border-bottom: 1px solid $color--white;
            }
        }
    }
}
