{% load wagtailcore_tags i18n %}
<div class="wrapper wrapper--breakout wrapper--light-grey-bg wrapper--apply-bar{% if class %} {{class}} {% endif %}">
    <div class="wrapper wrapper--small apply-bar">
        {% if fund_type.deadline %}
            <div>
                <h5 class="apply-bar__subheading">{% trans "Next deadline" %}</h5>
                <h3 class="apply-bar__heading">
                    <svg class="icon icon--calendar apply-bar__icon"><use xlink:href="#calendar"></use></svg>
                    <span>{{ fund_type.deadline|date:"M j, Y" }}</span>
                </h3>
            </div>

            <a href="{% pageurl fund_type %}" class="link link--button-secondary">
                {% trans "Apply for this fund" %}
            </a>
        {% else %}
            <h3 class="heading heading--no-margin">
                {% trans "CLOSED" %}
            </h3>
        {% endif %}
    </div>
</div>

