{% load wagtailcore_tags i18n %}

<div class="wrapper wrapper--flex">
    <div class="section section--apply-cta">
        {% if fund_page.has_open %}
            {% if fund_page.deadline %}
            <div class="deadline">
                {% trans "Next deadline" %}: {{ fund_page.deadline|date:"M j, Y" }}
            </div>
            {% endif %}
            <div class="apply-link">
                <a class="button" href="{% pageurl fund_page.fund_type %}">{% trans "Apply for this fund" %}</a>
            </div>
        {% else %}
            <div class="deadline">
                {% trans "CLOSED" %}
            </div>
        {% endif %}
    </div>
</div>
