{% load wagtailcore_tags wagtailimages_tags %}
<a class="media-box" href="{% pageurl project %}">
    {% if project.icon %}
        {% image project.icon max-210x235 as project_icon %}
        <div class="media-box__image-container" style="background-image:url('{{ project_icon.url }}')">
            <img class="media-box__image media-box__image--small" src="{{ project_icon.url }}" alt="{{project_icon.alt}}">
        </div>
    {% else %}
        <div class="media-box__image-container">
            <div class="media-box__image media-box__image--small media-box__default-image media-box__default-image--small">
                    <svg><use xlink:href="#logo-mobile-no-text"></use></svg>
            </div>
        </div>
    {% endif %}

    <div class="media-box__content">
        <h4>{{ project.title }}</h4>
        {% if project.listing_summary or project.introduction %}
            <h5 class="media-box__teaser">{{ project.listing_summary|default:project.introduction|truncatechars_html:160 }}</h5>
        {% endif %}
    </div>
</a>

