{% extends "base-apply.html" %}
{% load i18n %}
{% block page_title %}{% trans "Email Change - Verify Email" %}{% endblock %}
{% block title %}{% trans "Verify Email" %}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header title="{% trans 'Email Update' %}" />
    </c-hero>
{% endblock %}

{% block content %}
    <div class="mt-12 max-w-2xl prose">
        <h2 class="mb-4 font-semibold text-h0">{% trans "Confirm &amp; verify your new email!" %} </h2>
        <p>
            {% trans "We have sent a confirmation link to your new email." %}
        </p>
        <p>
            {% trans "To start using the new email, please click on the confirmation link that has been sent to you on your new email." %}
        </p>
    </div>
{% endblock %}
