{% extends "base-apply.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "Password Reset" %}{% endslot %}
    {% endadminbar %}

    <div class="wrapper mt-12 max-w-xl">

        <h2 class="text-xl">
            {% trans "Check your inbox for a password reset email!" %}
        </h2>
        <p>
            {% blocktrans %}We have sent an email to you with a password recovery link, open the link in the email to change your password.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Check your "Spam" folder, if you don't find the email in your inbox.{% endblocktrans %}

        </p>


    </div>
{% endblock %}
