{% extends "base-apply.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block body_class %}bg-base-100{% endblock %}

{% block content %}

    <div class="mt-12 max-w-xl wrapper">
        <form class="form form--with-p-tags" method="post">
            <h2 class="text-2xl">{% trans "Forgot password?" %}</h2>
            <p class="form__help">{% trans "Please enter your user account's email address and we will send you a password reset link." %}</p>
            {% csrf_token %}
            {% if redirect_url %}
                <input type="hidden" name="next" value="{{ redirect_url }}">
            {% endif %}

            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if form.errors %}
                <ul class="errorlist">
                    {% blocktrans trimmed count counter=form.errors.items|length %}
                        <li>Please correct the error below.</li>
                    {% plural %}
                        <li>Please correct the errors below.</li>
                    {% endblocktrans %}
                </ul>
            {% endif %}

            <p>{{ form.email.label_tag }}</p>
            <p>{{ form.email }}</p>

            <button class="btn btn-primary btn-wide" type="submit">{% trans "Send reset email" %}</button>
        </form>
    </div>
{% endblock %}
