{% extends "base-apply.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

    <div class="my-12 max-w-xl wrapper">
        <form class="form" method="post">

            {% csrf_token %}
            <h2 class="text-2xl">{% trans "Forgot password?" %}</h2>
            <p class="text-sm whitespace-normal label">
                {% trans "Please enter your user account's email address and we will send you a password reset link." %}
            </p>

            {% if redirect_url %}
                <input type="hidden" name="next" value="{{ redirect_url }}">
            {% endif %}

            {% for field in form %}
                {% include "forms/includes/field.html" %}
            {% endfor %}

            <button class="mt-4 w-full sm:w-auto btn btn-primary" type="submit">
                {% trans "Send reset email" %}≥
            </button>
        </form>
    </div>
{% endblock %}
