{% extends 'base.html' %}
{% load i18n %}

{% block header_modifier %}header--light-bg{% endblock %}
{% block page_title %}{% trans "Reset password" %}{% endblock %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="wrapper wrapper--small wrapper--bottom-space">
    {% if form.non_field_errors %}
        <div class="messages">
            <ul>
                {% for error in form.non_field_errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="form form--with-p-tags" method="post">
        {% csrf_token %}
        <p>{{ form.email.label_tag }}</p>
        <p>{{ form.email }}</p>

        <button class="link link--button-secondary" type="submit">{% trans 'Reset password' %}</button>
    </form>
</div>
{% endblock %}
