.button {
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: 0;
    box-shadow: none;

    &:hover {
        cursor: pointer;
    }

    &--left-space {
        margin-left: 20px;
    }

    &--contains-icons {
        display: flex;
        align-items: center;
    }

    &--transparent {
        @include button(transparent, $color--white);

        &:hover {
            color: $color--dark-blue;
        }
    }

    &--narrow {
        padding: 5px 15px;
        font-size: 15px;
    }

    // cannot conform to BEM here in order to be able to override google button styles
    &--google-translate {
        width: 180px;
        margin-left: 10px;

        .goog-te-gadget-simple {
            @include button(transparent, $color--white);
            padding: 5px 15px;
            font-family: $font--primary;
            font-size: 15px;
            font-weight: $weight--bold;
            border: 1px solid $color--white;
            transition: background, color,  $transition;

            &:hover {
                .goog-te-menu-value {
                    span {
                        color: $color--dark-blue !important; // sass-lint:disable-line no-important
                    }
                }
            }

            .goog-te-menu-value {
                color: $color--white;

                span {
                    // color of the arrow is inlined hence !important
                    color: $color--white !important; // sass-lint:disable-line no-important
                    transition: color  $transition;

                    &:nth-of-type(2) {
                        // hide the pipe
                        display: none;
                    }
                }
            }
        }

        .goog-te-gadget-icon {
            // hide the google icon
            display: none;
        }
    }
}

