.card {
    padding: 20px;
    background-color: $color--tertiary;
    transition: background-color $transition;

    &:hover {
        background-color: darken($color--tertiary, 10%);
	}
}

.card-with-image {
    &:only-child {
        max-width: 260px;
	}
}
