.card {
    position: relative;
    padding: 30px 30px 100px;
    background-color: $color--white;

    &__teaser {
        font-size: 16px;
        color: $color--default;
    }
}

.card-with-image {
    &:only-child {
        max-width: 260px;
	}
}
