.fund-box {
    padding: 10px 15px;
    margin: 1rem 0;
    border: 1px solid $color--mid-grey;

    @include media-query(mob-landscape) {
        padding: 20px 30px;
    }

    @include media-query(tablet-landscape) {
        margin: 3rem 0;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0 10px;
        margin-bottom: 5px;
        background-color: $color--light-grey;

        @include media-query(mob-landscape) {
            padding: 0 20px;
        }
    }

    &__link {
        display: inline-block;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
