.heading {
    &--introduction {
        padding: 0 0 2rem;
        margin: 2rem 0;
        font-weight: $weight--light;
        border-bottom: 1px solid $color--mid-grey;
    }

    &--author {
        margin: 2rem 0 0;
    }

    &--no-margin {
        margin: 0;
        line-height: 1;
    }

    &--regular {
        font-weight: $weight--normal;
    }

    &--person {
        margin: 10px 0;
        line-height: 1;
    }

    &--person-introduction {
        margin: 1rem 0;
        font-weight: $weight--light;
    }

    &--top-space {
        margin-top: 1rem;
    }

    &--total-funding {
        span {
            color: $color--purple;
        }
    }
}
