.icon {
    width: 20px;
    height: 20px;
    transition: fill $transition;
    fill: $color--white;

    .header--light-bg & {
        fill: $color--dark-grey;
    }

    .header__menus--mobile.is-visible & {
        fill: $color--white;
    }

    &--home {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        fill: $color--primary;
    }

    &--footer-social {
        @include media-query(tablet-portrait) {
            margin-right: 10px;
        }
    }

    &--mobile-menu {
        width: 32px;
        height: 28px;
    }

    &--footer-credit {
        width: 70px;
        height: 45px;
        margin-right: 3rem;
    }

    &--person {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        transition: fill $transition;
        fill: $color--white;

        .button:hover & {
            fill: $color--dark-blue;

            .header--light-bg & {
                fill: $color--white;
            }
        }

        .header--has-bg-image & {
            fill: $color--dark-blue;
        }

        .search-open & {
            fill: $color--white;
        }

        .header--light-bg.search-open & {
            fill: $color--dark-grey;
        }
    }

    &--social-share {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 5px;
    }

    &--twitter-share {
        background: $color--twitter;
    }

    &--linkedin-share {
        background: $color--linkedin;
    }

    &--facebook-share {
        background: $color--facebook;
    }

    &--card-pixels {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 35px;
        height: 52px;
    }

    &--calendar {
        fill: $color--pink;
    } 

    &--error {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    &--search {
        .header--light-bg.search-open & {
            fill: $color--white;
        }
    }
}
