.icon {
    width: 20px;
    height: 20px;
    transition: fill $transition;
    fill: $color--white;

    &:hover {
        fill: darken($color--white, 20%);
    }

    &--home {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        fill: $color--primary;
  }

    &--footer-social {
        @include media-query(tablet-portrait) {
            margin-right: 10px;
        }
	}
}
