.link {
    &--button {
        @include button($color--light-blue);
        display: inline-block;
    }

    &--button-secondary {
        @include button($color--purple);
    }

    &--button-transparent {
        @include button(transparent);
        color: $color--white;
    }

    &--underlined {
        text-decoration: underline;
    }

    &--footer-signup {
        margin-top: 1rem;
    }

    &--mobile-standout {
        display: block;
        width: 100%;
        max-width: 250px;
        margin: 2rem auto 0;
        font-weight: $weight--bold;
        text-align: center;

        @include media-query(tablet-portrait) {
            display: none;
        }
    }
}
