.list {
    &--flex {
        display: flex;
    }

    &--contact {
        margin: 0;

        > span {
            font-weight: $weight--bold;
        }
    }

    &--status {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
        color: $color--mid-grey;
        text-align: center;

        &.is-active {
            color: $color--default;
        }
    }

    &__label {
        padding: 10px;
        margin-right: 20px;
        color: $color--white;
        background: $color--light-blue;
    }
}
