.list {
    &--flex {
        display: flex;
    }

    &--contact {
        margin: 0;

        > span {
            font-weight: $weight--bold;
        }
    }

    &__label {
        padding: 10px;
        margin-right: 20px;
        color: $color--white;
        background: $color--light-blue;
    }
}
