{% load wagtailcore_tags %}
<nav role="navigation" aria-label="Primary">
    <ul class="nav nav--primary" role="menubar">
        {% for link in primarynav %}
            {% include_block link with class="primary" %}
        {% endfor %}
    </ul>
</nav>
{% if ENABLE_PUBLIC_SIGNUP and request.path != '/register/' %}
    {% include "utils/includes/register_button.html" %}
{% endif %}
{% include "utils/includes/login_button.html" with class="link--mobile-standout"%}
<a href="{% pageurl APPLY_SITE.root_page %}" class="link link--button-secondary link--mobile-standout">Apply</a>
