{% load i18n %}

{% modal_title %}{% translate "Edit co-applicant" %}{% endmodal_title %}

<form
    class="form p-4 {{ extra_classes }}"
    action="{{ action|default:request.path }}"
    method="post"
    hx-post="{{ action|default:request.path }}"
    hx-swap="innerHTML"
    id="{{ form_id }}"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

    {% if co_applicant_exists %}
        <p class="text-sm text-fg-muted">
            {% translate "Update the role for co-applicant." %}
            <br>
            {% translate "1. View: They can only view the application." %}
            <br>
            {% translate "2. Comment: They can view and write comment." %}
            <br>
            {% translate "3. Edit: They can view, comment and edit the application." %}
        </p>

        <div class="fields--visible">
            {% for field in form.visible_fields %}
                {% if field.field %}
                    {% include "forms/includes/field.html" %}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="mt-4 sm:flex-row-reverse card-actions">
            <button
                class="w-full sm:w-auto btn btn-primary"
                type="submit"
            >
                {{ value }}
            </button>
            <button
                type="button"
                class="btn btn-error btn-soft"
                @click="show = false"
                hx-post="{% url 'apply:submissions:delete_co_applicant_invite' invite_pk=invite.pk %}"
                hx-confirm="{% translate 'Are you sure you want to delete co-applicant?' %}"
            >
                {% translate "Remove" %}
            </button>
        </div>
    {% else %}
        <div class="text-sm text-fg-muted">
            {% translate "You can not update until co-applicant accepts the invite. You may re-invite them." %}
        </div>

        <div class="mt-5 sm:flex-row-reverse sm:mt-4 card-actions">
            <button
                type="button"
                class="w-full sm:w-auto btn btn-primary"
                @click="show = false"
                hx-post="{% url 'apply:submissions:re_invite_co_applicant' invite_pk=invite.pk %}"
            >
                {% translate "Re-invite" %}
            </button>
            <button
                type="button"
                class="w-full sm:w-auto btn btn-error btn-soft"
                @click="show = false"
                hx-post="{% url 'apply:submissions:delete_co_applicant_invite' invite_pk=invite.pk %}"
                hx-confirm="{% translate 'Are you sure you want to delete co-applicant?' %}"
            >
                {% translate "Delete" %}
            </button>
        </div>
    {% endif %}

</form>
