//============================================================================//
//
//  GLOBAL COLORS
//
//============================================================================//

// COLORS

$colors: (
  seed-black: #000,
  seed-white: #fff,
  seed-grey: #d1d1d1,
  seed-red: #e2383d,
  seed-pink: #cc5e7b,
  seed-purple: #bb7aaa,
  seed-indigo: #9e8adb,
  seed-blue: #5aa2e0,
  seed-cyan: #41b7cc,
  seed-teal: #4ebeac,
  seed-green: #9acc54,
  seed-emerald: #62c884,
  seed-yellow: #f4ec31,
  seed-gold: #d7b431,
  seed-orange: #f5a61d,
  seed-rust: #f5733a,
  seed-brown: #693d32,
  text-darkest: #000,
  text-dark: #959595,
  text-light: #b6b6b6,
  text-lightest: #fff
);
