//============================================================================//
//
// COMPONENTS
// This layer is where we begin to style recognisable pieces of UI. This layer
// is more explicit than the last in that we are now styling explicit, designed
// pieces of the DOM.
//
//============================================================================//

@import 'component/radio';
@import 'component/gif-img';
@import 'component/checkbox';
@import 'component/cookie';
@import 'component/hero-carousel';
@import 'component/textbox';
@import 'component/select';
@import 'component/upload';
@import 'component/label';
@import 'component/icon';
@import 'component/button';
@import 'component/alert';
@import 'component/size-not-supported';
@import 'component/paragraph';
@import 'component/not-supported';
@import 'component/main-nav';
@import 'component/header';
@import 'component/footer';
@import 'component/corp';
@import 'component/banner';
@import 'component/artifact';
@import 'component/access';
@import 'component/call-info';
@import 'component/pair';
@import 'component/info';
@import 'component/card';
@import 'component/links';
