{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <h1>{% trans "Set your new password" %}</h1>

        <ul class="fields">
            <li>
                <div class="field">
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                </div>
            </li>
            <li>
                <div class="field">
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                </div>
            </li>
            <li class="submit">
                <button type="submit">{% trans 'Reset password' %}</button>
            </li>
        </ul>
    </form>
{% endblock %}
