{% extends "reset_network/base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block body_class %}base-darkest{% endblock %}

{% block content %}

  <section class="para para--lead theme-darkest" data-section-theme="dark">
    <div class="para__wrap contain reveal">
      <div class="para__content">
        <div class="para__title">
          <h1>{{ page.content_heading }}</h1>
        </div>
        <div class="para__body">
          {{ page.content_text|richtext }}
          {% if page.content_email %}
          <a href="mailto:{{ page.content_email }} ">{{ page.content_email }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}

