{% extends "base-apply.html" %}
{% load wagtailcore_tags static i18n util_tags heroicons %}
{% block title %}{% trans "Previewing" %}: {{object.title }}{% endblock %}
{% block body_class %}bg-white{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "Previewing" %}: {{ object.title }}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--medium wrapper--form">
        {% include "funds/includes/rendered_answers.html" %}

        <form id="preview-form-submit" class="form application-form" action="{% url 'funds:submissions:edit' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="preview-hidden-form" hidden>
                {% for field in form %}
                    {% if field.field %}
                        {% if field.field.multi_input_field %}
                            {% include "forms/includes/multi_input_field.html" with is_application=True %}
                        {% else %}
                            {% include "forms/includes/field.html" with is_application=True %}
                        {% endif %}
                    {% else %}
                        {{ field.block }}
                    {% endif %}
                {% endfor %}
            </div>
            <!-- <button class="button button--primary" name="submit" type="submit">{% trans "Submit for review" %}</button> -->
        </form>

        <form id="preview-form-edit" class="form application-form" action="{% url 'funds:submissions:edit' object.id %}">
            {% csrf_token %}
        </form>

        <div class="form__group">
            <button class="button button--primary" form="preview-form-submit" name="submit" type="submit">{% trans "Submit for review" %}</button>
            <button class="button button--secondary" form="preview-form-edit">{% trans "Edit" %}</button>
        </div>

    </div>
{% endblock %}