{% extends "base.html" %}

{% load wagtailcore_tags static i18n util_tags %}
{# Dont include fixed apply button on this page #}
{% block apply_button %}{% endblock %}
{% block header_modifier %}header--light-bg{% endblock %}

{% block content %}
{% if form.errors or form.non_field_errors %}
<div class="wrapper wrapper--medium wrapper--error">
    <svg class="icon icon--error"><use xlink:href="#error"></use></svg>
    <h5 class="heading heading--no-margin heading--regular">{% trans "There were some errors with your form. Please amend the fields highlighted below" %}</h5>
    {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endif %}

<div class="wrapper wrapper--medium wrapper--light-grey-bg wrapper--form">
    {% if page.end_date %}
        <p class="listing__deadline">
            <svg class="icon icon--calendar icon--small"><use xlink:href="#calendar"></use></svg>
            <span>{% trans "Next deadline" %}: {{ page.end_date }}</span>
        </p>
    {% endif %}
    {% if not page.open_round and not page.start_date and not request.is_preview %}
        {# the page has no open rounds and we arent on a round page #}
        <h3>{% blocktrans %}Sorry this {{ page|verbose_name }} is not accepting applications at the moment{% endblocktrans %}</h3>
    {% else%}
        {% if page.get_parent.specific.guide_link %}
            <a href="{{ page.get_parent.specific.guide_link }}" class="link link--fixed-apply" target="_blank" rel="noopener noreferrer">
                {% trans "Application guide" %}
            </a>
        {% endif %}
        <form class="form application-form" action="/test500/" method="POST" enctype="multipart/form-data">
            {{ form.media }}
            {% csrf_token %}

            {% for field in form %}
                {% if field.field %}
                    {% if field.field.multi_input_field %}
                        {% include "forms/includes/multi_input_field.html" with is_application=True %}
                    {% else %}
                        {% include "forms/includes/field.html" with is_application=True %}
                    {% endif %}
                {% else %}
                    {% if field.group_number > 1 %}
                        <div class="field-group-{{ field.group_number }}{% if not show_all_group_fields %} js-hidden{% endif %}">
                            {{ field.block }}
                        </div>
                    {% else %}
                        {{ field.block }}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {# Hidden fields needed e.g. for django-file-form. See `StreamBaseForm.hidden_fields` #}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <button class="link link--button-secondary" type="submit" disabled>{% trans "Submit for review" %}</button>
            <button class="link link--button-tertiary" type="submit" name="draft" value="Save draft" formnovalidate>{% trans "Save draft" %}</button>
        </form>
        <p class="wrapper--error message-no-js js-hidden">{% trans "You must have Javascript enabled to use this form." %}</p>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apply/application-form.js' %}"></script>
    <script src="{% static 'js/apply/file-uploads.js' %}"></script>
    <script src="{% static 'js/apply/tinymce-word-count.js' %}"></script>
    <script src="{% static 'js/apply/submission-form-copy.js' %}"></script>
    <script src="{% static 'js/apply/application-form-links-new-window.js' %}"></script>
    {% if not show_all_group_fields %}
    <script src="{% static 'js/apply/form-group-toggle.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/apply/multi-input-fields.js' %}"></script>
{% endblock %}
