{% extends "base-apply.html" %}
{% load i18n static workflow_tags wagtailcore_tags statusbar_tags archive_tags %}
{% load heroicons %}

{% block title %}{{ object.title }}{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
    {% if object.round.specific.is_sealed %}
        <ul class="messages">
            {% trans "This submission is sealed" as warning_message %}
            {% include "includes/message_item.html" with message=warning_message tag="warning" close=False %}
        </ul>
    {% endif %}
    <div class="admin-bar">
        <div class="admin-bar__inner">
            {% if request.GET.ref == 'all-beta' %}
                <a class="simplified__submissions-link"
                   hx-boost="true"
                   href="{% url "funds:submissions:list-beta" %}"
                >
                    {% trans "Back to submissions" %}
                </a>
            {% endif %}
            <h1 class="mb-0 mt-2 font-medium">{{ object.title }}</h1>
            <div class="heading heading--meta text-sm mt-1 font-medium">
                <span>{{ object.stage }}</span>
                <span>{{ object.page }}</span>
                {% if request.user.is_apply_staff and object.round %}
                    <span><a class="link--transparent link--underlined" href="{% url 'apply:rounds:detail' pk=object.round.pk %}">{{ object.round }}</a></span>
                {% else %}
                    <span>{{ object.round }}</span>
                {% endif %}
                {% if request.user.is_apply_staff %}
                    <span>{% trans "Lead" %}: <a class="link--transparent link--underlined" href="{% url 'apply:submissions:list' %}?lead={{ object.lead.id }}">{{ object.lead }}</a></span>
                {% else %}
                    <span>{% trans "Lead" %}: {{ object.lead }}</span>
                {% endif %}
            </div>
            {% status_bar object.workflow object.phase request.user author=object.user same_stage=True %}

            <div class="tabs js-tabs">
                <div class="tabs__container">
                    <a class="tab__item" href="#submission-details" data-tab="tab-1">
                        {% trans "Submission details" %}
                    </a>

                    <a class="tab__item" href="#communications" data-tab="tab-2">
                        {% trans "Communications" %} ({{ comments.count }})
                    </a>

                    <a class="tab__item"
                       href="#activity-feed"
                       hx-get="{% url 'funds:submissions:partial-activities' object.id %}"
                       hx-target="#tab-3 .feed"
                       hx-trigger="open-tab-3 once"
                       data-tab="tab-3"
                       x-init="$nextTick(() => { location.hash === '#activity-feed' ? $dispatch('open-tab-3') : '' })"
                       @hashchange.window="location.hash === '#activity-feed' ? $dispatch('open-tab-3') : ''"
                    >
                        {% trans "Activity feed" %}
                    </a>
                    {% if request.user.is_apply_staff_admin %}
                        <a class="tab__item tab__item--right js-tabs-off" href="{% url 'admin:activity_event_changelist' %}?submission__id={{ object.id }}">
                            {% trans "View message log" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if object.is_archive %}
        <div class="py-2 bg-red-600 text-white font-bold text-center">
            {% heroicon_outline "lock-closed" aria_hidden="true" size=16 stroke_width=2 class="inline align-baseline me-1" %}
            {% trans "This submission has been archived. This is visible to the roles " %} {{ archive_access_groups|join_with_commas }}
        </div>
    {% endif %}

    <div class="wrapper wrapper--large wrapper--tabs js-tabs-content">
    {# Tab 1 #}
        <div class="tabs__content" id="tab-1">
            {% block mobile_actions %}
            {% endblock %}
            <div class="wrapper wrapper--sidebar">
                {% if request.user|has_edit_perm:object and object.status == 'draft_proposal' and not request.user.is_apply_staff %}
                    <div class="wrapper--sidebar--inner">
                        <h4>{% trans "Congratulations!" %}</h4>
                        <h5>{% blocktrans with stage=object.previous.stage %}Your {{ stage }} application has been accepted.{% endblocktrans %}</h5>
                        <a class="button button--primary" href="{% url 'funds:submissions:edit' object.id %}">{% blocktrans with stage=object.stage %}Start your {{ stage }} application.{% endblocktrans %}</a>
                    </div>
                {% else %}
                    <article class="wrapper--sidebar--inner">
                        <header class="heading heading--submission-meta heading-text zeta">
                            <span>
                                {% if object.is_draft %}
                                    {% trans "Drafted " %}
                                {% else %}
                                    {% trans "Submitted " %}
                                {% endif %}
                                <strong><relative-time datetime={{ object.submit_time|date:"c" }}>{{ object.submit_time|date:"SHORT_DATETIME_FORMAT" }}</relative-time></strong> {% trans "by" %} <strong>{{ object.user.get_full_name }}</strong>
                            </span>
                            <span>{% trans "Updated" %} <strong><relative-time datetime={{ object.live_revision.timestamp|date:"c" }}>{{ object.live_revision.timestamp|date:"SHORT_DATETIME_FORMAT" }}</relative-time></strong> {% trans "by" %} <strong>{{ object.user.get_full_name }}</strong></span>
                            <div class="flex gap-4 justify-end flex-1 items-center">
                                {% if perms.funds.delete_applicationsubmission %}
                                    <a
                                        class="font-bold text-red-600 flex items-center hover:opacity-70 transition-opacity"
                                        href="{% url 'funds:submissions:delete' object.id %}"
                                    >
                                        {% heroicon_micro "trash" class="inline me-1 fill-red-600" aria_hidden=true %}
                                        {% trans "Delete" %}
                                    </a>
                                {% endif %}
                                {% if request.user|has_edit_perm:object %}
                                    <a
                                        class="font-bold flex items-center hover:opacity-70 transition-opacity"
                                        href="{% url 'funds:submissions:edit' object.id %}"
                                    >
                                        {% heroicon_micro "pencil-square" class="inline me-1" aria_hidden=true %}
                                        {% trans "Edit" %}
                                    </a>
                                {% endif %}
                            </div>
                        </header>

                        {% include "funds/includes/rendered_answers.html" %}

                    </article>
                {% endif %}

                <aside class="sidebar">
                    {% block sidebar_top %}
                        {% include "funds/includes/generic_primary_actions.html" %}
                    {% endblock %}

                    {% if object.project and PROJECTS_ENABLED %}
                        {% include 'funds/includes/project_block.html' %}
                    {% endif %}

                    {% block screening_status %}
                    {% endblock %}

                    {% block determination %}
                        {% if object.determinations.submitted.count %}
                            {% include 'determinations/includes/applicant_determination_block.html' with submission=object %}
                        {% endif %}
                    {% endblock %}

                    {% block reviews %}
                    {% endblock %}

                    {% block flags %}
                    {% endblock %}

                    {% block meta_terms %}
                    {% endblock %}

                    {% block reminders %}
                    {% endblock %}

                    {% block related %}
                        {% if other_submissions or object.previous or object.next %}
                            <div class="sidebar__inner related-sidebar">
                                <h5>{% trans "Related submissions" %}</h5>
                                {% if object.previous %}
                                    <p><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' object.previous.id %}">{% trans "View linked" %} {{ object.previous.stage }}</a></p>
                                {% endif %}

                                {% if object.next %}
                                    <p><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' object.next.id %}">{% trans "View linked" %} {{ object.next.stage }}</a></p>
                                {% endif %}

                                {% for submission in other_submissions %}
                                    {% if forloop.first %}
                                        <h6 class="heading heading--light-grey heading--uppercase">{% trans "Past Submissions" %}</h6>
                                        <ul>
                                    {% endif %}
                                    <li><a class="link link--underlined link--bold" href="{% url 'funds:submissions:detail' submission.id %}">{{ submission.title }}</a></li>
                                    {% if forloop.last %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </aside>
            </div>
        </div>

    {# Tab 2 #}
        <div class="tabs__content" id="tab-2">
            <div class="feed">
                {% if not object.is_archive %}
                    <h4 class="m-0">{% trans "Add communication" %}</h4>
                    {% include "activity/include/comment_form.html" %}
                    {% include "activity/include/comment_list.html" with editable=True %}
                {% else %}
                    {% include "activity/include/comment_list.html" with editable=False %}
                {% endif %}
            </div>
        </div>

    {# Tab 3 #}
        <div class="tabs__content" id="tab-3">
            <div class="feed">
            {% comment %} Loaded using the htmx via alpine's custom event "open-tab-3"{% endcomment %}
                <p>Loading...</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ comment_form.media.js }}
    <script src="{% static 'js/apply/tabs.js' %}"></script>
    <script src="{% static 'js/apply/submission-text-cleanup.js' %}"></script>
    <script src="{% static 'js/apply/edit-comment.js' %}"></script>
    <script src="{% static 'js/apply/flag.js' %}"></script>
    <script src="{% static 'js/apply/screening-status.js' %}"></script>
{% endblock %}
