{% extends "base-apply.html" %}
{% load wagtailcore_tags static i18n util_tags heroicons %}
{% block title %}{% trans "Previewing" %}: {{object.title }}{% endblock %}
{% block body_class %}bg-base-100{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "Previewing" %}: {{ object.title }}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--medium wrapper--form">
        {% include "funds/includes/rendered_answers.html" %}

        <form id="preview-form-submit" class="form application-form" action="{% url 'funds:submissions:edit' object.id %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            {# Hidden form fields to allow for POSTing to funds:submissions:edit on submit/edit #}
            <div hidden>
                {% for field in form %}
                    {% if field.field %}
                        {% if field.field.multi_input_field %}
                            {% include "forms/includes/multi_input_field.html" %}
                        {% else %}
                            {% include "forms/includes/field.html" %}
                        {% endif %}
                    {% else %}
                        <div class="mb-2 max-w-none field-block prose">
                            {{ field.block }}
                        </div>
                    {% endif %}
                {% endfor %}

                {# Hidden fields needed e.g. for django-file-form. See `StreamBaseForm.hidden_fields` #}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
            </div>
        </form>

        <form id="preview-form-edit" class="form application-form" action="{% url 'funds:submissions:edit' object.id %}" x-data="{ isFormSubmitting: false }" x-on:submit="isFormSubmitting = true">
            {% csrf_token %}
        </form>

        <div class="form__group">
            <button class="btn btn-primary" form="preview-form-submit" name="submit" type="submit" :disabled="isFormSubmitting">{% trans "Submit for review" %}</button>
            <button class="button button--secondary" form="preview-form-edit">{% trans "Edit" %}</button>
        </div>

    </div>
{% endblock %}
