{% extends "funds/applicationsubmission_detail.html" %}
{% load i18n static workflow_tags review_tags determination_tags %}

{% block reviews %}
    <div class="sidebar__inner">
        <h5>{% trans "Reviews & assignees" %}</h5>

        <div hx-trigger="revealed" hx-get="{% url "funds:submissions:partial-reviews-card" object.id %}" hx-target="this">
            <div class="animate-pulse min-h-30">
                <div class="w-full h-9 bg-gray-200 mb-3"></div>
                <div class="w-full h-6 bg-gray-200 mb-1"></div>
                <div class="w-full h-1 bg-gray-200 mb-3"></div>
                <div class="w-20 h-6 bg-gray-200 mb-3"></div>
            </div>
        </div>

        <div class="wrapper wrapper--sidebar-buttons">
            {% include 'review/includes/review_button.html' with submission=object class="button--half-width" %}
        </div>
    </div>
{% endblock %}

{% block related %}
{% endblock %}

{% block extra_js %}
    {{ reviewer_form.media.js }}
    {{ block.super }}
{% endblock %}
