{% extends "base-apply.html" %}
{% load i18n %}
{% block title %}{% blocktrans with title=submission.title %}Revisions for {{ title }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% adminbar %}
        {% slot header %}{% trans "Revisions" %}{% endslot %}
        {% slot sub_heading %}
            {% trans "For" %}
            <a
                class="text-blue-300 hover:underline"
                href="{% url "funds:submissions:detail" submission.id %}"
            >
                {{ submission.title_text_display }}
            </a>
        {% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--medium">
        <ol class="my-8 border card border-b-base-300 bg-base-200 list">
            {% for revision in object_list %}
                <li class="list-row first:bg-base-300 first:rounded-t-box">
                    <p class="self-center m-0 font-semibold list-col-grow">
                        {{ revision.author }} {% trans "edited" %}

                        <relative-time datetime={{ revision.timestamp|date:"c" }} class="text-fg-muted">
                            {{ revision.timestamp|date:"SHORT_DATETIME_FORMAT" }}
                        </relative-time>

                        {% if forloop.first %}

                        {% endif %}
                        {% if revision.is_draft %}
                            <span class="uppercase badge badge-warning badge-outline">
                                ({% trans "draft" %})
                            </span>
                        {% endif %}
                    </p>

                    {% if forloop.first %}
                        <span class="uppercase badge badge-primary badge-outline ms-1">
                            {% trans "latest" %}
                        </span>
                    {% else %}
                        <a
                            class="btn btn-primary btn-sm"
                            href="{{ revision.get_compare_url_to_latest }}"
                            data-tippy-content="{% trans 'Compare with latest' %}"
                        >
                            {% trans "Compare" %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </>
    </div>
{% endblock %}
