{% extends "funds/applicationsubmission_detail.html" %}
{% load i18n static workflow_tags review_tags determination_tags %}

{% block reviews %}
    <div class="sidebar__inner">
        <h5>{% trans "Reviews & assignees" %}</h5>

        {% include 'funds/includes/review_sidebar.html' %}

        <div class="wrapper wrapper--sidebar-buttons">
            {% include 'review/includes/review_button.html' with submission=object class="button--half-width" %}
        </div>
    </div>
{% endblock %}

{% block related %}
{% endblock %}

{% block extra_js %}
    {{ reviewer_form.media.js }}
    {{ comment_form.media.js }}
    {{ block.super }}
    <script src="{% static 'js/apply/toggle-reviewers.js' %}"></script>
    <script src="{% static 'js/apply/toggle-sidebar.js' %}"></script>
{% endblock %}
