{% load i18n static heroicons %}

<form class="px-4 pt-5 pb-4 sm:p-6 form" action="{{ request.path }}" method="post" x-data="{value: ''}">
    {% csrf_token %}

    <div class="sm:flex sm:items-start">
        <div class="flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto bg-red-100 rounded-full sm:mx-0 sm:h-10 sm:w-10">
            {% heroicon_outline "exclamation-triangle" class="w-6 h-6 text-red-600" stroke_width="1.5" aria_hidden="true" %}
            {% comment %} <svg class="w-6 h-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"></path>
            </svg> {% endcomment %}
        </div>
        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Delete submission</h3>
            <div class="mt-2">
                {% if request.user.is_applicant %}
                    <p class="text-sm text-gray-500">
                        Are you sure you want to delete draft submission? All of your data for this submission
                        will be permanently removed from our servers forever. This action cannot be undone.
                    </p>
                {% else %}
                    <p class="text-sm text-gray-500">
                        Are you sure you want to delete submission? All of your data
                        will be permanently removed from our servers forever. This
                        includes reviews, determinations and comments. This action cannot be undone.
                    </p>
                {% endif %}
            </div>
            <div>
                <label for="delete-confirmation" class="block mb-2 text-sm font-semibold text-gray-600">Type "<em>delete</em>" below to confirm</label>
                <input type="text" autocomplete="off" x-model='value' class="italic" id="delete-confirmation">
            </div>
        </div>
    </div>

    <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
        <button
            type="submit"
            x-bind:disabled="value !== 'delete'"
            class="inline-flex justify-center w-full px-3 py-2 text-sm font-semibold text-white bg-red-600 rounded-sm shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto disabled:opacity-50 disabled:cursor-not-allowed"
        >{% trans "Delete" %}</button>
        <button
            type="button"
            class="inline-flex justify-center w-full px-3 py-2 mt-3 text-sm font-semibold text-gray-900 bg-white rounded-sm shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
            @click="show = false"
        >{% trans "Cancel" %}</button>
    </div>
</form>
