{% extends "funds/applicationsubmission_detail.html" %}
{% load i18n static workflow_tags review_tags determination_tags translate_tags heroicons %}

{% block sidebar_top %}
    <div class="sidebar__inner sidebar__inner--light-blue sidebar__inner--actions" data-testid="sidebar-primary-actions">
        {% include "funds/includes/admin_primary_actions.html" %}
    </div>
{% endblock %}

{% block flags %}
    <div class="sidebar__inner">
        <h5>{% trans "Flags" %}</h5>

        {% include 'flags/flags.html' with submission=object user=request.user %}
    </div>
{% endblock %}

{% block reviews %}
    <div class="sidebar__inner">
        <h5>{% trans "Reviews & assignees" %}</h5>

        <div hx-trigger="revealed, reviewerUpdated from:body" hx-get="{% url "funds:submissions:partial-reviews-card" object.id %}" hx-target="this">
            <div class="animate-pulse min-h-30">
                <div class="w-full mb-3 bg-gray-200 h-9"></div>
                <div class="w-full h-6 mb-1 bg-gray-200"></div>
                <div class="w-full h-1 mb-3 bg-gray-200"></div>
                <div class="w-20 h-6 mb-3 bg-gray-200"></div>
            </div>
        </div>

        <div class="wrapper wrapper--sidebar-buttons gap-4">
            {% include 'review/includes/review_button.html' with submission=object class="button--half-width" %}
            {% if request.user.is_apply_staff and object.reviews.exists %}
                <a href="{% url 'apply:submissions:reviews:list' submission_pk=object.id %}" class="button button--white button--half-width">{% trans "View all" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block screening_status %}
    <div hx-trigger="revealed" hx-get="{% url "funds:submissions:partial-screening-card" object.id %}"></div>
{% endblock %}

{% block meta_terms %}
    <div class="sidebar__inner"
         hx-trigger="load, metaTermsUpdated from:body"
         hx-get="{% url "funds:submissions:partial-meta-terms-card" object.id %}"
         hx-target="this"
    >
        <div class="animate-pulse min-h-30">
            <div class="w-full mb-3 bg-gray-200 h-9"></div>
            <div class="w-full h-6 mb-1 bg-gray-200"></div>
            <div class="w-full h-1 mb-3 bg-gray-200"></div>
            <div class="w-20 h-6 mb-3 bg-gray-200"></div>
        </div>
    </div>
{% endblock %}

{% block determination %}
    {% include 'determinations/includes/determination_block.html' with submission=object %}
{% endblock %}

{% block reminders %}
    <div class="sidebar__inner">
        <div class="flex justify-between gap-4 pb-4">
            <h5 class="m-0">{% trans "Reminders" %}</h5>
            <button
                class="flex items-center px-2 py-1 font-bold transition-colors rounded hover:bg-gray-100 text-dark-blue -me-2"
                hx-get="{% url 'funds:submissions:create_reminder' pk=object.pk %}"
                hx-target="#htmx-modal"
                role="button"
                aria-label="{% trans "Create reminder" %}"
            >
                {% heroicon_micro "plus" class="inline align-middle me-1" stroke_width=5 aria_hidden=true %}
                Add
            </button>
        </div>

        <div hx-trigger="load, remindersUpdated from:body" hx-get="{% url "funds:submissions:partial-reminder-card" object.id %}" hx-target="this">
            <div class="animate-pulse min-h-30">
                <div class="w-full mb-3 bg-gray-200 h-9"></div>
                <div class="w-full h-6 mb-1 bg-gray-200"></div>
                <div class="w-full h-1 mb-3 bg-gray-200"></div>
                <div class="w-20 h-6 mb-3 bg-gray-200"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/behaviours/collapse.js' %}"></script>
    {% if request.user|can_translate_submission %}
        <script src="{% static 'js/translate-application.js' %}"></script>
    {% endif %}
{% endblock %}
