{% extends "base-apply.html" %}
{% load i18n static %}
{% block title %}Editing: {{object.title }}{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h2 class="heading heading--no-margin">{% trans "Editing" %}: {{ object.title }}</h2>
    </div>
</div>

{% include "forms/includes/form_errors.html" with form=form %}

<div class="wrapper wrapper--light-grey-bg wrapper--form wrapper--sidebar">
    <div class="wrapper--sidebar--inner">
        <form class="form application-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}

            {% for field in form %}
                {% if field.field %}
                    {% if field.field.multi_input_field %}
                        {% include "forms/includes/multi_input_field.html" %}
                    {% else %}
                        {% include "forms/includes/field.html" %}
                    {% endif %}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}

            {# Hidden fields needed e.g. for django-file-form. See `StreamBaseForm.hidden_fields` #}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% trans "Save draft" as save_draft %}
            {% for button_name, button_type, button_value in buttons %}
                <button class="button button--submit button--top-space button--{{ button_type }}" type="submit" name="{{ button_name }}" {% if button_value == save_draft %}formnovalidate{% endif %}>{{ button_value }}</button>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apply/list-input-files.js' %}"></script>
    <script src="{% static 'js/apply/tinymce-word-count.js' %}"></script>
    <script src="{% static 'js/apply/multi-input-fields.js' %}"></script>
    <script src="{% static 'js/apply/submission-form-copy.js' %}"></script>
    <script src="{% static 'js/apply/application-form-links-new-window.js' %}"></script>
    {% if not show_all_group_fields %}
    <script src="{% static 'js/apply/form-group-toggle.js' %}"></script>
    {% endif %}
{% endblock %}
