{% extends "funds/applicationsubmission_detail.html" %}
{% load i18n static workflow_tags review_tags determination_tags translate_tags heroicons %}

{% block sidebar_top %}
    <section
        class="card card-border bg-base-200 shadow-xs sidebar__inner--actions"
        data-testid="sidebar-primary-actions"
    >
        <div class="card-body">
            {% include "funds/includes/admin_primary_actions.html" %}
        </div>
    </section>
{% endblock %}

{% block flags %}
    <section class="card card-border bg-base-100 text-base-content" id="screening-status-{{ object.id }}">
        <div class="card-body">
            <h2 class="card-title">{% trans "Flags" %}</h2>
            {% include 'flags/flags.html' with submission=object user=request.user %}
        </div>
    </section>
{% endblock %}

{% block reviews %}
    <section class="card card-border bg-base-100 shadow-xs">
        <div class="card-body">
            <h2 class="card-title">{% trans "Reviews & assignees" %}</h2>

            <div
                hx-trigger="revealed, reviewerUpdated from:body"
                hx-get="{% url 'funds:submissions:partial-reviews-card' object.id %}"
                hx-target="this"
            >
                <div class="animate-pulse min-h-30">
                    <div class="mb-3 w-full h-9 bg-base-300"></div>
                    <div class="mb-1 w-full h-6 bg-base-300"></div>
                    <div class="mb-3 w-full h-1 bg-base-300"></div>
                    <div class="mb-3 w-20 h-6 bg-base-300"></div>
                </div>
            </div>

            <div class="card-actions">
                {% include 'review/includes/review_button.html' with submission=object class="grow" %}

                {% if request.user.is_apply_staff and object.reviews.exists %}
                    <a
                        href="{% url 'apply:submissions:reviews:list' submission_pk=object.id %}"
                        class="btn btn-outline grow"
                    >
                        {% trans "View all" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block screening_status %}
    <div hx-trigger="revealed" hx-get="{% url "funds:submissions:partial-screening-card" object.id %}"></div>
{% endblock %}

{% block meta_terms %}
    <div class="card card-border bg-base-100 shadow-xs"
         hx-trigger="load, metaTermsUpdated from:body"
         hx-get="{% url "funds:submissions:partial-meta-terms-card" object.id %}"
         hx-target="this"
    >
        <div class="card-body">
            <div class="animate-pulse min-h-30">
                <div class="mb-3 w-full h-9 bg-base-300"></div>
                <div class="mb-1 w-full h-6 bg-base-300"></div>
                <div class="mb-3 w-full h-1 bg-base-300"></div>
                <div class="mb-3 w-20 h-6 bg-base-300"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block determination %}
    {% include 'determinations/includes/determination_block.html' with submission=object %}
{% endblock %}

{% block reminders %}
    <div class="card card-border bg-base-100 shadow-xs">
        <div class="card-body">
            <div class="flex gap-4 justify-between pb-4">
                <h2 class="card-title">{% trans "Reminders" %}</h2>
                <button
                    role="button"
                    class="btn btn-sm btn-soft btn-secondary"
                    hx-get="{% url 'funds:submissions:create_reminder' pk=object.pk %}"
                    hx-target="#htmx-modal"
                    aria-label="{% trans "Create new reminder" %}"
                >
                    {% heroicon_micro "plus" stroke_width=5 aria_hidden=true %}
                    Add
                </button>
            </div>

            <div
                hx-trigger="load, remindersUpdated from:body"
                hx-get="{% url 'funds:submissions:partial-reminder-card' object.id %}"
                hx-target="this"
            >
                <div class="animate-pulse min-h-30">
                    <div class="mb-3 w-full h-9 bg-base-300"></div>
                    <div class="mb-1 w-full h-6 bg-base-300"></div>
                    <div class="mb-3 w-full h-1 bg-base-300"></div>
                    <div class="mb-3 w-20 h-6 bg-base-300"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/behaviours/collapse.js' %}"></script>
    {% if request.user|can_translate_submission %}
        <script src="{% static 'js/translate-application.js' %}"></script>
    {% endif %}
{% endblock %}
