{% extends "funds/applicationsubmission_detail.html" %}
{% load i18n static workflow_tags review_tags determination_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
    {{ reviewer_form.media.css }}
{% endblock %}

{% block mobile_actions %}
    <div x-data="{ show: false }">
        <button x-on:click="show = ! show" class="button button--white button--full-width button--actions">{% trans "Actions to take" %}</button>
        <div x-show="show" x-transition class="js-actions-sidebar sidebar__inner sidebar__inner--light-blue">
            {% include "funds/includes/admin_primary_actions.html"  %}
        </div>
    </div>
{% endblock %}

{% block sidebar_top %}
    <div class="js-actions-sidebar sidebar__inner sidebar__inner--light-blue sidebar__inner--actions {% if mobile %}sidebar__inner--mobile{% endif %}">
        {% include "funds/includes/admin_primary_actions.html" %}
    </div>
    {% if default_screening_statuses.0 != None and default_screening_statuses.1 != None %}
        {% include "funds/includes/screening_form.html" with submission=object default_yes=default_screening_statuses.0 default_no=default_screening_statuses.1 %}
    {% endif %}
    {% include "funds/includes/progress_form.html" %}
    {% include "funds/includes/update_lead_form.html" %}
    {% include "funds/includes/update_reviewer_form.html" %}
    {% include "funds/includes/update_partner_form.html" %}
    {% if PROJECTS_ENABLED %}
        {% include "funds/includes/create_project_form.html" %}
    {% endif %}
    {% if object.is_archive %}
        {% include "funds/includes/unarchive_submission_form.html" %}
    {% else %}
        {% include "funds/includes/archive_submission_form.html" %}
    {% endif %}
    {% include "funds/includes/update_meta_terms_form.html" %}
    {% include "funds/includes/create_reminder_form.html" %}
{% endblock %}

{% block flags %}
    {% include 'flags/flags.html' with submission=object user=request.user %}
{% endblock %}

{% block reviews %}
    <div class="sidebar__inner">
        <h5>{% trans "Reviews & assignees" %}</h5>

        <div hx-trigger="revealed" hx-get="{% url "funds:submissions:partial-reviews-card" object.id %}" hx-target="this">
            <div class="animate-pulse min-h-30">
                <div class="w-full h-9 bg-gray-200 mb-3"></div>
                <div class="w-full h-6 bg-gray-200 mb-1"></div>
                <div class="w-full h-1 bg-gray-200 mb-3"></div>
                <div class="w-20 h-6 bg-gray-200 mb-3"></div>
            </div>
        </div>

        <div class="wrapper wrapper--sidebar-buttons">
            {% include 'review/includes/review_button.html' with submission=object class="button--half-width" %}
            {% if request.user.is_apply_staff and object.reviews.exists %}
                <a href="{% url 'apply:submissions:reviews:list' submission_pk=object.id %}" class="button button--white button--half-width">{% trans "View all" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block screening_status %}
    {% if default_screening_statuses.0 != None and default_screening_statuses.1 != None %}
        {% include 'funds/includes/screening_status_block.html' with default_yes=default_screening_statuses.0 default_no=default_screening_statuses.1 %}
    {% endif %}
{% endblock %}

{% block meta_terms %}
    {% include 'funds/includes/meta_terms_block.html' %}
{% endblock %}

{% block determination %}
    {% include 'determinations/includes/determination_block.html' with submission=object %}
{% endblock %}

{% block reminders %}
    {% include 'funds/includes/reminders_block.html' with submission=object %}
{% endblock %}

{% block extra_js %}
    {{ reviewer_form.media.js }}
    {{ comment_form.media.js }}
    {{ partner_form.media.js }}
    {{ block.super }}
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/fancybox-global.js' %}"></script>
    <script src="{% static 'js/toggle-related.js' %}"></script>
{% endblock %}
