{% extends "base.html" %}
{% block header_modifier %}header--light-bg{% endblock %}
{% block content %}
<div class="wrapper wrapper--small">
    <h3>Thank you for your submission to the {{ ORG_LONG_NAME }}.</h3>
    <div class="rich-text">
        <p>An e-mail with more information has been sent to the address you entered.</p>
        <p>If you do not receive an e-mail within 15 minutes please check your
spam folder and contact {{ ORG_EMAIL }} for further assistance.</p>
    <h3>How was the new application process experience?</h3>
        <p>You will see we have redesigned this stage of the Internet Freedom Fund. We are interested in your feedback - Simply Secure is gathering feedback from applicants on behalf of OTF.
        <p>Please complete this short survey:</p>
        <p>https://saneuxdesign.survey.fm/iff-update-evaluation</p>
    </div>
</div>
{% endblock %}
