{% extends "base-apply.html" %}
{% load i18n static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
    {{ filter.form.media.css }}
{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "List of Submissions summary" %}{% endslot %}
    {% endadminbar %}

    <div id="grouped-applications-list"></div>
{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/fancybox-global.js' %}"></script>
    <script src="{% static 'js/all-submissions-table.js' %}"></script>
    <script src="{% static 'js/symbol-es6.min.js' %}"></script>
    <script src="{% static 'js/url-search-params.js' %}"></script>
    <script src="{% static 'js/submission-filters.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
    <script src="{% static 'js/batch-actions.js' %}"></script>
    <script src="{% static 'js/flag.js' %}"></script>
{% endblock %}
