{% extends "base-apply.html" %}
{% load i18n static %}
{% load render_bundle from webpack_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/apply/fancybox.css' %}">
{{ filter.form.media.css }}
{% endblock %}

{% block content%}
<div class="admin-bar">
        <div class="admin-bar__inner wrapper--search">
                {% block page_header %}
                    <div>
                        <h1 class="gamma heading heading--no-margin heading--bold">{% trans "List of Submissions summary" %}</h1>
                    </div>
                {% endblock %}
        </div>
</div>
<div id="grouped-applications-list"></div>

{% render_bundle 'groupedApplications' %}

{% endblock %}

{% block extra_js %}
    {{ filter.form.media.js }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
    <script src="{% static 'js/apply/fancybox-global.js' %}"></script>
    <script src="{% static 'js/apply/all-submissions-table.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/symbol-es6@0.1.2/symbol-es6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/1.1.0/url-search-params.js"></script>
    <script src="{% static 'js/apply/submission-filters.js' %}"></script>
    <script src="{% static 'js/apply/submission-tooltips.js' %}"></script>
    <script src="{% static 'js/apply/tabs.js' %}"></script>
    <script src="{% static 'js/apply/batch-actions.js' %}"></script>
    <script src="{% static 'js/apply/flag.js' %}"></script>
{% endblock %}
