{% extends "base-apply.html" %}
{% load i18n static %}

{% block title %}{% trans "Deleting" %}: {{ object }}{% endblock %}

{% block hero %}
    {% adminbar %}
        {% slot header %}{% trans "Deleting" %}: {{ object }}{% endslot %}
    {% endadminbar %}
{% endblock %}


{% block content %}
    <div class="wrapper wrapper--form wrapper--sidebar">
        <div class="grow">
            <form class="form" action="" method="post">
                {% csrf_token %}
                <p class="font-semibold">
                    {% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}
                </p>

                <button
                    class="mt-4 btn btn-warning"
                    type="submit"
                    role="button"
                >
                    {% trans "Confirm" %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
