{% extends "base-apply.html" %}
{% load i18n static %}

{% block title %}{% trans "Deleting" %}: {{ object }}{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "Deleting" %}: {{ object }}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--default-bg wrapper--form wrapper--sidebar">
        <div class="wrapper--sidebar--inner">
            <form class="form" action="" method="post">
                {% csrf_token %}
                <p><strong{% blocktrans %}>Are you sure you want to delete "{{ object }}"?{% endblocktrans %}</strong></p>
            <button class="button button--warning button--submit button--top-space" type="submit">{% trans "Confirm" %}</button>
        </form>
    </div>
    </div>

{% endblock %}
