{% extends "reset_network/base.html" %}

{% block body_class %}base-light{% endblock %}
{% load wagtailcore_tags static i18n util_tags %}
{# Dont include fixed apply button on this page #}
{% block apply_button %}{% endblock %}
{% block content %}

<section class="para para--head para--col-xxl theme-light" data-section-theme="light">
    <div class="para__wrap contain">
        <div class="para__content">

        {% if form.errors or form.non_field_errors %}
            <div class="form-summary">
                <p class="form-err-txt">There were some errors with your form. Please amend the fields highlighted below</h5>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="form-err-txt">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {# the page has no open rounds and we arent on a round page #}
            {% if not page.open_round and not page.start_date and not request.is_preview %}
                <div class="reveal">
                    <div class="para__title">
                        <h1>Sorry</h1>
                    </div>
                    <div class="para__body">
                        <p>{% blocktrans %}This {{ page|verbose_name }} is not accepting applications at the moment{% endblocktrans %}</p>
                    </div>
                </div>
            {% else %}

                <form class="form apply-form application-form" action="/test500/" method="POST" enctype="multipart/form-data">
                    <div class="para__body reveal">
                        {% csrf_token %}
                        <div>{{ form.media }}</div>

                        {% for field in form %}
                        {% if field.field %}
                            {% include "forms/includes/field.html" with is_application=True %}
                        {% else %}
                            {% if field.group_number > 1 %}
                            <div class="field-group-{{ field.group_number }}{% if not show_all_group_fields %} js-hidden{% endif %}">
                                {{ field }}
                            </div>
                            {% else %}
                            {{ field }}
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                    </div>

                    <div class="para__actions reveal">
                        <button class="button" type="submit" disabled>
                            <span class="button__drop"></span>
                            <span class="button__label">{% if page.action_text %}{{ page.action_text|safe }}{% else %}Submit for review{% endif %}</span>
                        </button>
                    </div>
                </form>

            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apply/application-form.js' %}"></script>
    <script src="{% static 'js/apply/mailgun-validator.js' %}"></script>
    <script src="{% static 'js/apply/file-uploads.js' %}"></script>
    <script src="{% static 'js/apply/tinymce-word-count.js' %}"></script>
    <script src="{% static 'js/reset-network/reset-submission-form-copy.js' %}"></script>
    <script src="{% static 'js/apply/application-form-links-new-window.js' %}"></script>
    {% if not show_all_group_fields %}
    <script src="{% static 'js/apply/form-group-toggle.js' %}"></script>
    {% endif %}
{% endblock %}
