{% extends "funds/submissions_overview.html" %}
{% load i18n static %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Reviews" %}{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner wrapper--search">
        {% block page_header %}
            <div>
                <h1 class="gamma heading heading--no-margin heading--bold">{% blocktrans %}Reviews by {{ object }}{% endblocktrans %}</h1>
                <h5>{% trans "Track and explore the reviews" %}</h5>
            </div>
        {% endblock %}
        {% block page_header_tabs %}
            {{ block.super }}
        {% endblock %}
    </div>
</div>

<div class="wrapper wrapper--large wrapper--inner-space-medium">
    {% block table %}
        {% render_table table %}
    {% endblock %}
</div>
{% endblock %}
