{% extends "funds/submissions_overview.html" %}
{% load i18n static %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Reviews" %}{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{% trans "Reviewer leaderboard" %}{% endslot %}
        {% slot sub_heading %}{% trans "Track and explore the reviews" %}{% endslot %}

        {% if request.user.is_apply_staff %}
            <div class="flex mt-2 md:m-0 gap-3 justify-center items-center font-medium uppercase">
                <a class="px-3 py-2 text-gray-300 transition-colors hover:bg-slate-50 rounded hover:text-gray-800"
                    href="{% url 'apply:submissions:list' %}"
                    title="Goto all submissions list page"
                >
                    {% trans "All" %}
                </a>
                <a class="px-3 py-2 text-gray-300 transition-colors hover:bg-slate-50 rounded hover:text-gray-800" href="{% url 'apply:submissions:staff_assignments' %}">
                    {% trans "Staff assignments" %}
                </a>
                <a class="px-3 py-2 bg-slate-50 rounded text-gray-800" href="{% url 'apply:submissions:reviewer_leaderboard' %} aria-current="page"">
                    {% trans "Reviews" %}
                </a>
                <a class="px-3 py-2 text-gray-300 transition-colors hover:bg-slate-50 rounded hover:text-gray-800" href="{% url 'apply:submissions:result' %}">
                    {% trans "Results" %}
                </a>
            </div>
        {% endif %}
    {% endadminbar %}

<div class="wrapper wrapper--large wrapper--inner-space-medium">
    {% block table %}
        {% trans "All reviewers" as all_reviewers %}
        {% include "funds/includes/table_filter_and_search.html" with filter_form=filter_form search_term=search_term search_placeholder="reviewers" use_search=True filter_action=filter_action use_batch_actions=False heading=all_reviewers %}

        {% render_table table %}
    {% endblock %}
</div>
{% endblock %}
