{% extends "base-apply.html" %}
{% load i18n heroicons %}
{% block title %}{% trans "Compare" %}: {{ object.title }}{% endblock %}
{% block hero %}
    <c-hero>
        <c-hero.header
            back_link="{% url 'funds:submissions:revisions:list' object.id %}"
            back_link_text="{% trans 'View all revisions' %}"
            title="{% trans 'Revision detail' %}"
            subtitle="{% blocktranslate with title=object.title_text_display %}For {{ title }}{% endblocktranslate %}"
        />
    </c-hero>
{% endblock %}

{% block content %}
    <div class="my-4 layout layout-flowrow-until-md layout-sidebar-flowrow-start">

        {% comment %} <article class="layout-main">
            <div class="mb-4">
                <h2 class="section-header">{% trans "Changes" %}</h2>
                <div class="flex flex-wrap gap-2">
                    <span class="badge badge-soft">{{ from_revision.timestamp|date:"SHORT_DATETIME_FORMAT" }}</span>

                    {% if to_revision.id != from_revision.id %}
                        {% trans "↔" %}
                        <span class="badge badge-soft">{{ to_revision.timestamp|date:"SHORT_DATETIME_FORMAT" }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="card card-border">
                <div class="gap-8 max-w-full card-body html-diff">
                    {% for diff in required_fields %}
                        {% if forloop.first %}
                            <section>
                                <h4 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{% trans "Title" %}</h4>
                                <div>{{ diff }}</div>
                            </section>
                        {% elif forloop.counter == 2 %}
                            <section>
                                <h4 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{% trans "Legal Name" %}</h4>
                                <div>{{ diff }}</div>
                            </section>
                        {% elif forloop.counter == 3 %}
                            <section>
                                <h4 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{% trans "E-mail" %}</h4>
                                <div>{{ diff }}</div>
                            </section>
                        {% elif forloop.counter == 4 %}
                            <section>
                                <h4 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{% trans "Address" %}</h4>
                                <div>{{ diff }}</div>
                            </section>
                        {% elif forloop.counter == 5 %}
                            <section>
                                <h4 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{% trans "Project Duration" %}</h4>
                                <div>{{ diff }}</div>
                            </section>
                        {% elif forloop.counter == 6 %}
                            <section>
                                <h4 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{% trans "Requested Funding" %}</h4>
                                <div>{{ diff }}</div>
                            </section>
                        {% elif forloop.counter == 7 %}
                            <section>
                                <h4 class="pb-1 mb-2 font-medium border-b text-h3 border-base-300 question">{% trans "Organization" %}</h4>
                                <div>{{ diff }}</div>
                            </section>
                        {% else %}
                            <section>
                                <div>{{ diff }}</div>
                            </section>
                        {% endif %}
                    {% endfor %}
                    {% for diff in stream_fields %}
                        {{ diff }}
                    {% endfor %}
                </div>
            </div>
        </article> {% endcomment %}
        <div class="layout-main">
            <div class="mb-4">
                <h2 class="section-header">{% trans "Changes" %}</h2>
                <div class="flex flex-wrap gap-2">
                    <span class="badge badge-soft">
                        <relative-time format='datetime' datetime="{{ to_revision.timestamp|date:'c' }}">
                            {{ to_revision.timestamp|date:'SHORT_DATETIME_FORMAT' }}
                        </relative-time>
                    </span>

                    {% if to_revision.id != from_revision.id %}
                        {% trans "↔" %}
                        <span class="badge badge-soft">
                            <relative-time format='datetime' precision='second' datetime="{{ to_revision.timestamp|date:'c' }}">
                                {{ to_revision.timestamp|date:'SHORT_DATETIME_FORMAT' }}
                            </relative-time>
                        </span>
                    {% endif %}
                </div>
            </div>
            <table class="px-4 pb-4 w-full max-w-none prose card card-border prose-h2:mt-0 prose-h2:text-lg html-diff">

                {% for from_field, to_field in required_fields %}
                    {% if forloop.first %}
                        <tr>
                            <td><h2>{% trans "Title" %}</h2>{{ from_field }}</td>
                            <td><h2>{% trans "Title" %}</h2>{{ to_field }}</td>
                        </tr>
                    {% elif forloop.counter == 2 %}
                        <tr>
                            <td><h2>{% trans "Legal Name" %}</h2>{{ from_field }}</td>
                            <td><h2>{% trans "Legal Name" %}</h2>{{ to_field }}</td>
                        </tr>
                    {% elif forloop.counter == 3 %}
                        <tr>
                            <td><h2>{% trans "E-mail" %}</h2>{{ from_field }}</td>
                            <td><h2>{% trans "E-mail" %}</h2>{{ to_field }}</td>
                        </tr>
                    {% elif forloop.counter == 4 %}
                        <tr>
                            <td><h2>{% trans "Address" %}</h2>{{ from_field }}</td>
                            <td><h2>{% trans "Address" %}</h2>{{ to_field }}</td>
                        </tr>
                    {% elif forloop.counter == 5 %}
                        <tr>
                            <td><h2>{% trans "Project Duration" %}</h2>{{ from_field }}</td>
                            <td><h2>{% trans "Project Duration" %}</h2>{{ to_field }}</td>
                        </tr>
                    {% elif forloop.counter == 6 %}
                        <tr>
                            <td><h2>{% trans "Requested Funding" %}</h2>{{ from_field }}</td>
                            <td><h2>{% trans "Requested Funding" %}</h2>{{ to_field }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ from_field }}</td>
                            <td>{{ to_field }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for from_field, to_field in stream_fields %}
                    <tr>
                        <td>{{ from_field }}</td>
                        <td>{{ to_field }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <aside class="layout-sidebar">
            <div class="sticky top-4">
                <h2 class="mb-4 card-title">{% trans "Revisions" %}</h2>
                <div class="list">
                    {% for revision in all_revisions %}
                        <a
                            class="list-row {% if revision.id == from_revision.id %} bg-base-300 {% else %}hover:bg-base-200{% endif %}"
                            href="{{ revision.get_compare_url_to_latest }}"
                        >
                            <div class="list-col-grow">
                                <span class="font-semibold">{{ revision.author }}</span> {% trans "edited" %}

                                <relative-time datetime={{ revision.timestamp|date:"c" }} class="text-fg-muted">
                                    {{ revision.timestamp|date:"SHORT_DATETIME_FORMAT" }}
                                </relative-time>

                                {% if revision.is_draft %}
                                    <span class="uppercase badge badge-warning badge-outline">
                                        ({% trans "draft" %})
                                    </span>
                                {% endif %}
                            </div>

                            <div>
                                {% if forloop.first %}
                                    <span class="uppercase badge badge-info badge-outline">
                                        {% trans "latest" %}
                                    </span>
                                {% else %}
                                    {% if revision.id != from_revision.id %}
                                        <span
                                            class="btn btn-sm"
                                            href="{{ revision.get_compare_url_to_latest }}"
                                        >
                                            {% trans "view" %}
                                            {% heroicon_mini "arrow-right" class="size-4" %}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
