{% extends "base-apply.html" %}
{% load i18n %}
{% block title %}{% trans "Compare" %}: {{ object.title }}{% endblock %}
{% block content %}

    {% adminbar %}
        {% slot back_link %}
            <a class="admin-bar__back-link" href="{% url "funds:submissions:revisions:list" object.id %}">
                {% trans "View revisions" %}
            </a>
        {% endslot %}

        {% slot header %}{% trans "Comparing revisions" %}{% endslot %}
        {% slot sub_heading %}
            {% trans "For" %} <a class="text-blue-300 hover:underline" href="{% url "funds:submissions:detail" object.id %}">{{ object.title_text_display }}</a>
        {% endslot %}

    {% endadminbar %}

    <table class="prose prose-h4:mt-0 max-w-none mb-8">
        <tr>
            <td>
                <h3>{% trans "Proposal Information (Old)" %}</h3>
                <p>{% trans "Submitted" %}: <strong>{{ timestamps.0|date:"DATETIME_FORMAT"}}</strong></p>
            </td>
            <td>
                <h3>{% trans "Proposal Information (New)" %}</h3>
                <p>{% trans "Submitted" %}: <strong>{{ timestamps.1|date:"DATETIME_FORMAT"}}</strong></p>
            </td>
        </tr>

        {% for from_field, to_field in required_fields %}
            {% if forloop.first %}
                <tr><td><h4>{% trans "Title" %}</h4>{{ from_field }}</td><td><h4>{% trans "Title" %}</h4>{{ to_field }}</td></tr>
            {% elif forloop.counter == 2 %}
                <tr><td><h4>{% trans "Legal Name" %}</h4>{{ from_field }}</td><td><h4>{% trans "Legal Name" %}</h4>{{ to_field }}</td></tr>
            {% elif forloop.counter == 3 %}
                <tr><td><h4>{% trans "E-mail" %}</h4>{{ from_field }}</td><td><h4>{% trans "E-mail" %}</h4>{{ to_field }}</td></tr>
            {% elif forloop.counter == 4 %}
                <tr><td><h4>{% trans "Address" %}</h4>{{ from_field }}</td><td><h4>{% trans "Address" %}</h4>{{ to_field }}</td></tr>
            {% elif forloop.counter == 5 %}
                <tr><td><h4>{% trans "Project Duration" %}</h4>{{ from_field }}</td><td><h4>{% trans "Project Duration" %}</h4>{{ to_field }}</td></tr>
            {% elif forloop.counter == 6 %}
                <tr><td><h4>{% trans "Requested Funding" %}</h4>{{ from_field }}</td><td><h4>{% trans "Requested Funding" %}</h4>{{ to_field }}</td></tr>

            {% else %}
                <tr><td>{{ from_field }}</td><td>{{ to_field }}</td></tr>
            {% endif %}
        {% endfor %}
        {% for from_field, to_field in stream_fields %}
            <tr><td>{{ from_field }}</td><td>{{ to_field }}</td></tr>
        {% endfor %}
    </table>

{% endblock %}
