{% extends "funds/base_submissions_table.html" %}
{% load i18n static %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

    {% adminbar %}
        {% slot header %}{{ object }} ({{ table.rows|length }}){% endslot %}
        {% slot sub_heading %}{% if object.fund %}{{ object.fund }} <span>|</span> {% endif %}{% trans "Lead" %}: {{ object.lead }}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--large wrapper--inner-space-medium">
        {% block table %}
            {{ block.super }}
        {% endblock %}
    </div>
{% endblock %}
