{% extends "funds/base_submissions_table.html" %}
{% load heroicons %}
{% load i18n static %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Submissions" %}{% endblock %}
{% block content %}

    {% adminbar %}
        {% slot header %}
            {% trans "All Submissions" %}<span class="submissions-count"> ({{ table.rows|length }})</span>
            <a class="text-sm text-lime-300 border-b border-transparent hover:opacity-70 transition-all"
               hx-boost="true"
               href="{% url 'apply:submissions:list-beta' %}"
            >
                {% heroicon_outline "rocket-launch" aria_hidden="true" size=15 stroke_width="2" class="inline align-text-bottom" %}
                {% trans "Try newer version" %}
            </a>
        {% endslot %}
        {% slot sub_heading %}{% trans "Search and filter all submissions" %}{% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--large wrapper--inner-space-medium">
        <div hx-get="{% url 'apply:submissions:applications_status_counts' %}" hx-trigger="load delay:50">
            <div class="animate-pulse min-h-50">
                <div class="w-full h-16 bg-gray-200 mb-5"></div>
                <div class="w-full h-6 bg-gray-200 mb-5"></div>
            </div>
        </div>

        {% block table %}
            {% include "funds/includes/table_filter_and_search.html" with filter_form=filter_form search_term=search_term use_search=True filter_action=filter_action use_batch_actions=True filter_classes="filters-open" show_archive=show_archive %}

            {% render_table table %}
        {% endblock %}
    </div>
{% endblock %}
