{% extends "base-apply.html" %}
{% load i18n wagtailcore_tags wagtailsettings_tags %}
{% block body_class %}{% endblock %}

{% block content %}
    <div class="wrapper max-w-2xl mt-8">
        {% if form_submission.status == 'draft' %}
            <h3>{% trans "Your application is saved as a draft." %}</h3>

            <p>{% trans "Please note that your application is not submitted for review." %}</p>

            {% if request.user.is_authenticated %}
                <p>{% trans "You can access your applications from your dashboard. From there, you can complete and submit them." %}</p>
            {% else %}
                <p>{% trans "You can complete your application by following the log-in details emailed to you." %}</p>
            {% endif %}

        {% else %}
            <h3>{% blocktrans %}Thank you for your submission to the {{ ORG_LONG_NAME }}.{% endblocktrans %}</h3>

            <p>{% trans "An e-mail with more information has been sent to the address you entered." %}</p>

            <p>
                {% blocktrans with email=ORG_EMAIL|urlize %}
                    If you do not receive an e-mail within 15 minutes
                    please check your spam folder and contact {{ email }}
                    for further assistance.
                {% endblocktrans %}
            </p>

            {% with email_context=page.specific %}
                {% if email_context.confirmation_text_extra %}
                    <p data-testid="db-confirmation-text-extra">{{ email_context.confirmation_text_extra|urlize }}</p>
                {% endif %}
            {% endwith %}

            {% if form_submission.round and settings.funds.ApplicationSettings.extra_text_round %}
                <div class="prose" data-testid="db-extra-text">
                    {{ settings.funds.ApplicationSettings.extra_text_round|richtext }}
                </div>
            {% elif settings.funds.ApplicationSettings.extra_text_lab %}
                <div class="prose" data-testid="db-extra-text">
                    {{ settings.funds.ApplicationSettings.extra_text_lab|richtext }}
                </div>
            {% endif %}

        {% endif %}

        <div class="mt-4 space-x-2">
            {% if request.user.is_authenticated and request.user.can_access_dashboard%}
                <a
                    class="button button--primary"
                    href="{% url 'dashboard:dashboard' %}"
                >
                    {% trans "Go to your dashboard" %}
                </a>
                {% if form_submission.status == 'draft' %}
                    <a
                        class="button button--secondary"
                        href="{% url 'apply:submissions:edit' form_submission.id %}"
                    >
                        {% trans "Continue editing" %}
                    </a>
                {% else %}
                    <a
                        class="button button--secondary"
                        href="{% url 'apply:submissions:detail' form_submission.id %}"
                    >
                        {% trans "View your submission" %}
                    </a>
                {% endif %}
            {% else %}
                <a
                    class="button button--primary"
                    href="{% url 'users:login' %}"
                >
                    {% trans "Log in" %}
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}
