{% extends "funds/base_submissions_table.html" %}
{% load i18n static %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <div class="admin-bar">
        <div class="admin-bar__inner admin-bar__inner--with-button">
            <div>
                <h1 class="gamma heading heading--no-margin heading--bold">{{ object }}<span class="submissions-count"> ({{ table.rows|length }})</span></h1>
                <p class="admin-bar__meta">{% if object.fund %}{{ object.fund }} <span>|</span> {% endif %}{% trans "Lead" %}: {{ object.lead }}</p>
            </div>
        </div>
    </div>

<div class="wrapper wrapper--large wrapper--inner-space-medium">
    {% block table %}
        {{ block.super }}
    {% endblock %}
</div>
{% endblock %}
