{% extends "base-apply.html" %}
{% load i18n statusbar_tags %}

{% block title %}{% trans "Sealed" %}: {{ object.title }}{% endblock %}

{% block hero %}
    <c-hero>
        <c-hero.header
            title="{{ object.title }}"
            subtitle='
                      <span class="separator-dot">{{ object.stage }}</span>
                      <span class="separator-dot">{{ object.page }}</span>
                      <span class="separator-dot">{{ object.round }}</span>
                      <span class="separator-dot">{% trans "Lead" %}: {{ object.lead }}</span>'
        />

        {% status_bar object.workflow object.phase request.user same_stage=True %}
    </c-hero>
{% endblock %}

{% block content %}
    <section class="my-8">
        <div class="mx-auto max-w-3xl card card-border bg-base-200">
            <div class="card-body">
                <h2 class="flex justify-between items-center card-title">
                    <span>{% trans 'Application Sealed' %}</span>
                    <a class="btn btn-sm btn-outline" href="{% url 'apply:submissions:overview' %}">{% trans "Go back" %}</a>
                </h2>

                <div class="prose">
                    <p>
                        {% trans "This application is sealed until the round is closed" %}
                    </p>

                    {% if object.round.specific.end_date %}
                        <p>{% trans "The round ends on" %}: {{ object.round.specific.end_date }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if can_view_sealed %}
            <form method="post" class="mx-auto mt-4 max-w-3xl alert alert-warning">
                {% csrf_token %}
                <span>
                    {% trans "As an admin you are allowed to access the application. However, this action will be recorded." %}
                </span>
                <button class="font-semibold link link-primary" type="submit">
                    {% trans "View application" %}
                </button>
            </form>
        {% endif %}
    </section>
{% endblock %}
