{% extends "funds/base_submissions_table.html" %}
{% load heroicons %}
{% load i18n static %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Submissions" %}{% endblock %}
{% block content %}

    {% adminbar %}
        {% slot header %}
            {% trans "All Submissions" %}<span class="submissions-count"> ({{ table.rows|length }})</span>
        {% endslot %}
        {% slot sub_heading %}{% trans "Search and filter all submissions" %}{% endslot %}

        {% slot buttons %}
            <a class="tab__item tab__item--right"
               hx-boost="true"
               href="{% url 'apply:submissions:list-alt' %}"
            >
                {% heroicon_mini "queue-list" aria_hidden="true" size=16 class="inline align-text-bottom" %}
                {% trans "List view" %}
            </a>
        {% endslot %}
    {% endadminbar %}

    <div class="wrapper wrapper--large wrapper--inner-space-medium">
        {% if request.user.is_apply_staff %}
            <div hx-get="{% url 'apply:submissions:applications_status_counts' %}" hx-trigger="load delay:50">
                <div class="animate-pulse min-h-50">
                    <div class="w-full h-16 bg-gray-200 mb-5"></div>
                    <div class="w-full h-6 bg-gray-200 mb-5"></div>
                </div>
            </div>
        {% endif %}

        {% block table %}
            {% include "funds/includes/table_filter_and_search.html" with filter_form=filter_form search_term=search_term use_search=True filter_action=filter_action use_batch_actions=True filter_classes="filters-open" show_archive=show_archive can_export=can_export %}

            {% render_table table %}
        {% endblock %}
    </div>
{% endblock %}
