{% extends "base-apply.html" %}
{% load nh3_tags %}

{% block title_prefix %}{{ settings.core.SystemSettings.home_title }} | {% endblock %}
{% block title %}{{ ORG_SHORT_NAME }}{% endblock %}
{% block meta_description %}{{ settings.core.SystemSettings.home_strapline|striptags|truncatechars:200 }}{% endblock %}

{% block content %}
    <div class="my-8 mx-auto max-w-3xl">

        <h1 class="font-bold text-h00">
            {{ settings.core.SystemSettings.home_title}}
        </h1>

        {% if settings.core.SystemSettings.home_strapline %}
            <div class="mb-8 text-fg-muted text-pretty prose prose-a:text-primary">{{ settings.core.SystemSettings.home_strapline|nh3|safe }}</div>
        {% endif %}

        {% if funds %}
            <div class="mt-4 list">
                {% for fund in funds %}
                    {% include "home/includes/fund-list-item.html" with page=fund %}
                {% endfor %}
            </div>
        {% else %}
            <div class="mt-8">
                {{ settings.core.SystemSettings.home_no_applications_msg|nh3|safe }}
            </div>
        {% endif %}
    </div>
{% endblock %}
