//

@font-face {
    font-family: 'NotoBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/NotoSans-Bold.woff') format('woff');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/NotoSans.woff') format('woff');
    text-rendering: optimizeLegibility;
}
