{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}

{% block extra_css %}
    {# To remove after the demo and we have some style #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
{% endblock %}

{% block content %}
<div class="wrapper wrapper--breakout wrapper--admin">
    <div class="wrapper wrapper--medium">
        <h3>Received Content</h3>
        <h5>Track and explore recent submissions</h5>
    </div>
</div>

<div class="wrapper wrapper--medium wrapper--top-bottom-inner-space">
    {% render_table object_list %}
</div>
{% endblock %}
