{% extends "base-apply.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner admin-bar__inner--with-button">
        {% block page_header %}
            <h1 class="gamma heading heading--no-margin heading--bold">Dashboard</h1>
        {% endblock %}
        <a href="{% url 'wagtailadmin_home' %}" class="button button--primary button--arrow-pixels-white">
            Apply admin
            <svg><use xlink:href="#arrow-head-pixels--solid"></use></svg>
        </a>
    </div>
</div>
<div class="wrapper wrapper--large wrapper--inner-space-medium">
        <div class="wrapper wrapper--large wrapper--inner-space-medium">
            <h3>Applications to review</h3>
            {% if in_review.data %}
                {% render_table in_review %}
            {% else %}
                No reviews to complete
            {% endif %}
        </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/apply/submission-tooltips.js' %}"></script>
{% endblock %}
