{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}<!doctype html>
<html class="no-js" lang="">
    <head>
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        <title>{% block title_prefix %}{{ TITLE_PREFIX }}{% endblock %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{{ TITLE_SUFFIX }}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if GOOGLE_TAG_MANAGER_ID %}
            {# To enable GTM code you need to specify GOOGLE_TAG_MANAGER_ID in production.py or in local.py #}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER_ID|escapejs }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        <!-- favicons -->
        {% comment %}
            Generate favicons by http://realfavicongenerator.net using the following path: settings.STATIC_URL + img/favicons.
            Then favicon.ico should be copied to a directory called "public" in the application root and puppet does some magic to serve it up at the site root.
        {% endcomment %}

        <!-- Twitter summary card - see https://dev.twitter.com/cards/types/summary -->
        <!--  and https://dev.twitter.com/cards/getting-started -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ settings.utils.SocialMediaSettings.twitter_handle }}" />
        <meta name="twitter:title" content="{{ page.title }}" />
        <meta name="twitter:description" content="{{ page|social_text:request.site }}">
        {% if page.social_image  %}
            {% image page.social_image width-320 as social_img %}
            <meta name="twitter:image" content="{{ request.site.root_url }}{{ social_img.url }}">
        {% else %}
            <!-- Add a default image to use for social sharing here in case one is not provided on the page. -->
        {% endif %}

        <!--facebook opengraph tags-->
        <meta property="fb:app_id" content="{{ settings.utils.SocialMediaSettings.facebook_app_id }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:title" content="{{ page.title }}" />
        {% if page.social_image %}
            <meta property="og:image" content="http://{{ request.site.hostname }}{{ social_img.url }}" />
        {% else %}
            <!-- Add a default image to use for social sharing here in case one is not provided on the page. -->
        {% endif %}
        <meta property="og:description" content="{{ page|social_text:request.site }}" />
        <meta property="og:site_name" content="{{ settings.utils.SocialMediaSettings.site_name }}" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}{% endblock %}
    </head>

    <body class="{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}">
        {% if GOOGLE_TAG_MANAGER_ID %}
            {# To enable GTM code you need to specify GOOGLE_TAG_MANAGER_ID in production.py or in local.py #}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER_ID|escapejs }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% include "includes/sprites.html" %}

        {% wagtailuserbar %}

        {% if page.header_image %}
            {% image page.header_image fill-2560x410 as header_image %}
            <header class="header header--standard header--has-bg-image" style="background-image:url('{{ header_image.url }}')">
        {% else %}
            <header class="header header--standard">
        {% endif %}

            <div class="header__inner wrapper wrapper--large">
                <a href="{% slugurl 'home' %}">
                    <svg class="header__logo header__logo--desktop"><use xlink:href="#logo-desktop"></use></svg>
                    <svg class="header__logo header__logo--mobile"><use xlink:href="#logo-mobile"></use></svg>
                </a>

                <div class="header__menu-toggle">
                    <span>Menu</span>
                    <button class="button button-menu-toggle js-mobile-menu-toggle" aria-haspopup="true">
                        <span class="button-menu-toggle__line"></span>
                        <span class="button-menu-toggle__line"></span>
                        <span class="button-menu-toggle__line"></span>
                        <span class="button-menu-toggle__line"></span>
                    </button>
                </div>

                <section class="header__menus header__menus--desktop">
                    <div class="header__inner--top">
                        {% primarynav %}

                        <button class="button js-desktop-search-toggle">
                            <svg class="header__icon header__icon--magnifying-glass icon"><use xlink:href="#magnifying-glass"></use></svg>
                            <svg class="header__icon header__icon--cross icon"><use xlink:href="#cross"></use></svg>
                        </button>
                    </div>
                </section>

                <section class="header__menus header__menus--mobile">
                    {% primarynav %}
                </section>

                <div class="button button--google-translate" id="google_translate_element"></div>
            </div>

            <div class="header__search">
                <form action="{% url 'search' %}" method="get" role="search" class="form form--header-search-desktop">
                    <button class="button" type="submit">
                        <svg class="icon icon--magnifying-glass"><use xlink:href="#magnifying-glass"></use></svg>
                    </button>
                    <input class="input input--transparent" type="text" placeholder="Search…" name="query"{% if search_query %} value="{{ search_query }}{% endif %}">
                </form>
            </div>

            <div class="wrapper wrapper--small">
                <h1 class="header__title">{{ page.title }}</h1>
            </div>
            <svg class="header__icon header__icon--pixels header__icon--pixels-left"><use xlink:href="#hero-standard-left-pixels"></use></svg>
            <svg class="header__icon header__icon--pixels header__icon--pixels-right"><use xlink:href="#hero-standard-right-pixels"></use></svg>
        </header>

        <main class="wrapper wrapper--large wrapper--main">
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="grid grid--two wrapper wrapper--large">
                <div class="footer__inner">
                    <h4>Get the latest internet freedom news</h4>
                    <form class="form">
                        <div>
                            <div class="mailchimp-signup-subscribe-form-description"></div>
                            <div id="mailchimp-newsletter-32632431e3-mergefields" class="mailchimp-newsletter-mergefields">
                                <div class="form-item form-type-textfield form-item-mergevars-EMAIL">
                                    <label for="edit-mergevars-email">Email Address <span class="form-required" title="This field is required.">*</span></label>
                                    <input type="text" id="edit-mergevars-email" name="mergevars[EMAIL]" value="" size="25" maxlength="128" class="form-text required">
                                </div>

                                <div class="form-item form-type-textfield form-item-mergevars-FNAME">
                                    <label for="edit-mergevars-fname">First Name </label>
                                    <input type="text" id="edit-mergevars-fname" name="mergevars[FNAME]" value="" size="25" maxlength="128" class="form-text">
                                </div>

                                <div class="form-item form-type-textfield form-item-mergevars-LNAME">
                                    <label for="edit-mergevars-lname">Last Name </label>
                                    <input type="text" id="edit-mergevars-lname" name="mergevars[LNAME]" value="" size="25" maxlength="128" class="form-text">
                                </div>

                            </div>
                            <input type="hidden" name="form_build_id" value="form-2Dy9x5istHLUmufjcHabtyuZ_niL-RlfSoHBIq39hpI">
                            <input type="hidden" name="form_id" value="mailchimp_signup_subscribe_block_otf_newsletter_form">
                            <div class="form-actions form-wrapper" id="edit-actions--3">
                                <input type="submit" id="edit-submit--3" name="op" value="Sign up" class="form-submit link link--button-transparent link--footer-signup">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="footer__inner">
                    <div class="footer__social-links">
                        {% if settings.utils.SocialMediaSettings.twitter_handle %}
                            <a href="https://twitter.com/{{ settings.utils.SocialMediaSettings.twitter_handle }}">
                                <svg class="icon icon--footer-social"><use xlink:href="#twitter"></use></svg>
                                <h4 class="heading heading--no-margin">@OpenTechFund</h4>
                            </a>
                        {% endif %}
                    </div>

                        <p>2025 M Street NW, Suite 300</br>
                        Washington, DC 20036 USA</p>

                        <p>
                            <a href="mailto:hello@opentech.fund">hello@opentech.fund</a></br>
                            <a href="mailto:press@opentech.fund">press@opentech.fund</a></br>
                            <span>PGP: 67AC DDCF B909 4685 36DD BC03 F766 3861 965A 90D2</span>
                        </p>


                        <p><a href="/rss.xml">RSS Feed</a></p>

                        <p><a class="link link--underlined" href="#">Terms of Use</a></p>

                        <p>Test the OTF website for censorship</p>

                        <a class="link link--button" href="https://run.ooni.io/nettest?tn=web_connectivity&ta=%7B%22urls%22%3A%5B%22https%3A%2F%2Fwww.opentech.fund%2F%22%5D%7D&mv=1.2.0">Run OONI!</a>

                        <div class="footer__credits">
                            <a href="https://www.bbg.gov/">
                                <svg class="icon icon--footer-credit"><use xlink:href="#bbg-logo"></use></svg>
                            </a>

                            <a href="http://www.rfa.org/english/">
                                <img src="{% static 'images/radio-free-asia-logo.svg' %}" alt="logo fo radio free asia">
                            </a>
                        </div>

                    <section>
                        {% footernav %}
                    </section>

                    <section>
                        {% footerlinks %}
                    </section>
                </div>
            </div>

        </footer>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
        </script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
