{% extends "base.html" %}

{% block content %}
    <h1>Style Guide</h1>

    <section id="palette">
        <h2>Colour palette</h2>
        <ul>
            <li class="color-name1">color-name1</li>
            <li class="color-name2">color-name2</li>
            <li class="color-name3">color-name3</li>
            <li class="color-name4">color-name4</li>
            <li class="color-name5">color-name5</li>
            <li class="color-name6">color-name6</li>
        </ul>
    </section>

    <section id="typography">
        <h2>Typography</h2>
        <h1>This is an h1</h1>
        <h2>This is an h2</h2>
        <h3>This is an h3</h3>
        <h4>This is an h4</h4>
        <h5>This is an h5</h5>
        <p>This is a paragraph</p>
        <ul>
            <li>These are</li>
            <li>items in an</li>
            <li>unordered list</li>
        </ul>
        <ol>
            <li>These are</li>
            <li>items in an</li>
            <li>ordered list</li>
        </ol>
        <code>This is an example of code</code>
    </section>

    {# Insert more style guide elements here #}

{% endblock %}
