{% load i18n contract_tools project_tags heroicons %}
{% allow_collapsible_header object header_type='contracting_documents' as collapsible_header %}

<div class="docs-block wrapper--outer-space-large" {% if collapsible_header %} x-data="{ collapsed: true }" {% endif %}>
    <div class="docs-block__header" id="contract-documents-section" {% if collapsible_header %} x-on:click="collapsed = ! collapsed" role="button" aria-label="Toggle Contract documents visibility" aria-controls="contract-documents-elements" {% endif %}>
        <div class="flex justify-between w-full" >
            <h2 class="text-lg font-semibold m-0">
                {% trans "Contracting documents" %}
            </h2>

            {% if collapsible_header %}
                <button class="align-middle ms-1 transform transition-transform" x-bind:class="collapsed ? '': '-rotate-90' ">
                    {% heroicon_outline 'chevron-left' size=20 stroke_width=2 aria_hidden=true %}

                    <span class="sr-only" x-text="collapsed ? 'expand' : 'collapse'">{% trans "expand" %}</span>
                </button>
            {% endif %}
        </div>
        {% user_can_upload_contract object request.user as can_upload_contract %}
        {% user_can_submit_contract object user contract as can_submit_contract %}
        {% required_remaining_contracting_doc_categories remaining_contract_document_categories as required_remaining_contract_document_categories %}
        {% if can_submit_contract %}
            <a class="button button--project-action {% if required_remaining_contract_document_categories or not contract.signed_by_applicant %}is-disabled{% endif %}"
               id="submit_contract_document"
               hx-get="{% url 'apply:projects:contract_documents_submit' object.id %}"
               href="{% url 'apply:projects:contract_documents_submit' object.id %}"
               hx-target="#htmx-modal"
            >
                {% trans "Submit contract documents" %}
            </a>
        {% endif %}
        {% user_can_approve_contract request.user object as can_approve_contract %}
        {% if contract_to_approve and can_approve_contract %}
            <a class="button button--project-action"
               hx-get="{% url 'apply:projects:contract_approve' object.id %}"
               href="{% url 'apply:projects:contract_approve' object.id %}"
               hx-target="#htmx-modal"
            >
                {% trans "Approve contract documents" %}
            </a>

        {% endif %}
    </div>

    <ul class="docs-block__inner" id="contract-documents-elements" {% if collapsible_header %} x-show="!collapsed" role="region"
            aria-labelledby="contract-documents-section" {% endif %}>

            {% is_project_contract_approved object as is_contract_approved %}
            {% contract_uploaded_by_contracting object as contract_uploaded %}
            <li class="docs-block__row">
                <div class="docs-block__row-inner">
                    {% if object.submitted_contract_documents %}
                        {% heroicon_outline "check-circle" class="stroke-light-blue me-1" aria_hidden=true %}
                    {% else %}
                        {% heroicon_outline "check-circle" class="stroke-gray-400 me-1" aria_hidden=true %}
                    {% endif %}
                    <p class="docs-block__title">{% trans "Contract" %}</p>
                </div>
                {% if contract_uploaded %}
                    <div class="docs-block__row-inner">
                        <a class="font-bold flex items-center w-auto text-start bg-white text-light-blue me-0 mb-1 p-2.5 border-solid border border-light-blue focus:text-light-blue hover:bg-light-blue hover:text-white" href="{% url 'apply:projects:contract' pk=project.pk file_pk=contract.pk %}" target="_blank">
                            {% heroicon_micro "eye" class="inline me-1 w-4 h-4" aria_hidden=true %}
                            {% trans "View" %}
                        </a>
                    </div>
                    {% if not is_contract_approved %}
                        <ul class="mt-0 w-full ps-9">
                            <li class="docs-block__document">
                                <div class="docs-block__row-inner">
                                </div>
                                <div class="docs-block__row-inner">
                                    {% heroicon_mini "information-circle" class="fill-light-blue inline align-middle me-1" aria_hidden=true %}
                                    <a class="docs-block__icon-link" href="#communications" target="_blank">
                                        <span>{% trans "Corrections/amendments?" %}</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}

                {% show_contract_upload_row object user as show_contract_row %}
                {% if show_contract_row %}
                    {% contract_reuploaded_by_applicant object as contract_reuploaded %}
                    <ul class="mt-2 w-full ps-9">
                        <li class="docs-block__document">
                            <div class="docs-block__row-inner">
                                <p class="docs-block__title">
                                    {% if not contract.uploaded_by_contractor_at %}{% trans "Pending signed contract by " %}{% else %}{% trans "Signed contract by " %}{% endif %}{% if user == object.user %}{{ ORG_SHORT_NAME }}{% else %}{% trans "Contracting team " %} {% endif %}
                                    <i>{% if contract.uploaded_by_contractor_at %}({{ contract.uploaded_by_contractor_at }}){% endif %}</i></p>
                            </div>
                            {% user_can_initiate_contract user as can_initiate_contract %}
                            {% if can_upload_contract and can_initiate_contract  %}
                                <div class="docs-block__row-inner docs-block__row-inner__contract-upload-row">
                                    <a class="font-bold flex items-center w-auto text-start bg-light-blue text-white me-0 p-2.5 border-none"
                                       hx-get="{% url 'apply:projects:contract_upload' object.id %}"
                                       href="{% url 'apply:projects:contract_upload' object.id %}"
                                       hx-target="#htmx-modal"
                                    >
                                        {% heroicon_micro "arrow-up-tray" size=18 class="inline me-1" aria_hidden="true" %}
                                        {% if not contract %}
                                            {% trans "Upload" %}
                                        {% elif not contract.approver %}
                                            {% trans "Reupload" %}
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        </li>

                        <li class="docs-block__document">
                            <div class="docs-block__row-inner">
                                <p class="docs-block__title">{% if not contract.uploaded_by_applicant_at %}{% trans "Pending countersigned contract by " %}{% else %}{% trans "Countersigned contract by " %}{% endif %}{% if user == object.user %}{% trans "you " %} {% else %}{% trans "Vendor " %}{% endif %}
                                    <i>{% if contract.uploaded_by_applicant_at %}({{ contract.uploaded_by_applicant_at }}){% endif %}</i></p>
                            </div>
                            {% if can_upload_contract and user.is_applicant %}
                                <div class="docs-block__row-inner docs-block__row-inner__contract-upload-row">
                                    <a class="font-bold flex items-center w-auto text-start bg-light-blue text-white me-0 p-2.5 border-none"
                                       hx-get="{% url 'apply:projects:contract_upload' object.id %}"
                                       href="{% url 'apply:projects:contract_upload' object.id %}"
                                       hx-target="#htmx-modal"
                                    >
                                        {% heroicon_mini "arrow-up-tray" size=18 class="inline me-1" aria_hidden="true" %}
                                        {% if not contract.signed_by_applicant %}
                                            {% trans "Upload" %}
                                        {% elif not contract.approver %}
                                            {% trans "Reupload" %}
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </li>

            {% if contracting_documents_configured and contract_uploaded %}
                <div
                    hx-trigger="load, contractingDocumentUpload from:body, contractingDocumentRemove from:body"
                    hx-get="{% url "apply:projects:contract_documents" object.id %}"
                    hx-target="this">
                    {% heroicon_outline "check-circle" class="stroke-gray-400 me-1" aria_hidden=true %}
                    <p class="docs-block__title">{% trans "Contracting documents" %}</p>

                    <div class="animate-pulse min-h-30">
                        <div class="w-full mb-3 bg-gray-200 h-9"></div>
                        <div class="w-full h-6 mb-1 bg-gray-200"></div>
                        <div class="w-full h-1 mb-3 bg-gray-200"></div>
                        <div class="w-20 h-6 mb-3 bg-gray-200"></div>
                    </div>
                </div>
            {% endif %}

        </ul>
</div>
