<div class="sidebar__inner">

    <h5>Choose deliverables</h5>
    <form id="add-deliverables", action="">
        <div class="select-deliverables">
            <select name="deliverables" id="deliverables">
            <option value="deliverables">Invoice Covers Deliverables</option>
            {% for deliverable in deliverables %}
                <option id="{{ deliverable.id }}" value="{{ deliverable.name }}" data-availabletoinvoice="{{ deliverable.available_to_invoice }}">{{ deliverable.name }} (${{ deliverable.unit_price }})</option>
            {% endfor %}
            </select>
        </div>
        <br>
        <div class="available-to-invoice">
            <b>Available to invoice: </b>
        </div>
        <br>
        <div class="quantity">
            <b><label for="quantity">Quantity:</label></b>
            <input type="number" id="quantity" name="quantity" min="1">
        </div>
        <br>
        <input type="submit" value="Add Deliverable">
    </form>
    <br>
    <div id="list-deliverables">
        <p>
            <b>Deliverable 1 (1 $5,000)</b><a href="remove"> Remove</a>
            <b>Deliverable 1 (1 $5,000)</b><a href="remove"> Remove</a><br>
            <b>...</b><br>
            <b>Total: $8,000</b>
        </p>
    </div>
</div>
