{% load i18n invoice_tools humanize %}

<div id="payment-requests" class="data-block">
    <div class="data-block__header">
        <p class="data-block__title">{% trans "Invoice requests" %}</p>
        <a class="data-block__button button button--primary"
           href="{% url "apply:projects:invoice" pk=object.pk %}">
            {% trans "Add Request" %}
        </a>
    </div>
    <div class="data-block__body">
        <table class="data-block__table">
            <thead>
                <tr>
                    <th class="data-block__table-amount">{% trans "Amount" %} ({{ CURRENCY_SYMBOL }})</th>
                    <th class="data-block__table-status">{% trans "Status" %}</th>
                    <th class="data-block__table-date">{% trans "From" %}</th>
                    <th class="data-block__table-date">{% trans "To" %}</th>
                    <th class="data-block__table-update"></th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in object.invoices.not_rejected %}
                <tr>
                    <td><span class="data-block__mobile-label">{% trans "Amount" %}: </span>{{ invoice.amount|intcomma }}</td>
                    <td><span class="data-block__mobile-label">{% trans "Status" %}: </span>{{ invoice.get_status_display }}</td>
                    <td><span class="data-block__mobile-label">{% trans "From" %}: </span>{{ invoice.date_from.date }}</td>
                    <td><span class="data-block__mobile-label">{% trans "To" %}: </span>{{ invoice.date_to.date }}</td>
                    <td>
                        <a class="data-block__action-link" href="{{ invoice.get_absolute_url }}">View</a>
                        {% can_edit invoice user as user_can_edit_request %}
                        {% if user_can_edit_request %}
                        <a class="data-block__action-link" href="{% url "apply:projects:invoice-edit" pk=invoice.project.pk invoice_pk=invoice.pk %}">
                            Edit
                        </a>
                        {% endif %}

                        {% can_delete invoice user as user_can_delete_request %}
                        {% if user_can_delete_request %}
                        <a class="data-block__action-link" href="{% url 'apply:projects:invoice-delete' pk=invoice.project.pk invoice_pk=invoice.pk %}">
                            Delete
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">{% trans "No active Invoices." %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if object.invoices.rejected %}
            <p class="data-block__rejected">
                <a class="data-block__rejected-link js-payment-block-rejected-link" href="#">{% trans "Show rejected" %}</a>
            </p>

            <table class="data-block__table is-hidden js-payment-block-rejected-table">
                <thead>
                    <tr>
                        <th class="data-block__table-amount">{% trans "Amount" %}</th>
                        <th class="data-block__table-status">{% trans "Status" %}</th>
                        <th class="data-block__table-view"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in object.invoices.rejected %}
                    <tr>
                        <td><span class="data-block__mobile-label">{% trans "Amount" %}: </span>{{ CURRENCY_SYMBOL }}{{ invoice.value }}</td>
                        <td><span class="data-block__mobile-label">{% trans "Status" %}: </span>{{ invoice.get_status_display }}</td>
                        <td><a href="{{ invoice.get_absolute_url }}">{% trans "View" %}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
