{% load i18n invoice_tools humanize %}

<div id="invoices" class="data-block">
    <div class="data-block__header">
        <p class="data-block__title">{% trans "Invoices" %}</p>
        {% user_can_add_invoices object user as can_add_invoice %}
        {% if can_add_invoice %}
            <a class="button button--project-action"
               href="{% url "apply:projects:invoice" pk=object.pk %}">
                {% trans "Add Invoice" %}
            </a>
        {% endif %}
    </div>
    <div class="data-block__body">
        <table class="data-block__table">
            <thead>
                <tr>
                    <th class="data-block__table-amount">{% trans "Submitted" %}</th>
                    <th class="data-block__table-status">{% trans "Invoice Number" %}</th>
                    <th class="data-block__table-date">{% trans "Status" %}</th>
                    <th class="data-block__table-update"></th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in object.invoices.not_rejected %}
                <tr>
                    <td><span class="data-block__mobile-label">{% trans "Submitted" %}: </span>{{ invoice.requested_at.date }}</td>
                    <td><span class="data-block__mobile-label">{% trans "Invoice Number" %}: </span>{{ invoice.vendor_document_number }}</td>
                    <td><span class="data-block__mobile-label">{% trans "Status" %}: </span>{{ invoice.get_status_display }}</td>
                    <td style="display:flex; flex-wrap:wrap;">
                        <a class="data-block__action-icon-link" href="{{ invoice.get_absolute_url }}">
                            <svg class="icon icon--project-eye"><use xlink:href="#eye"></use></svg>
                            {% trans "View" %}
                        </a>
                        {% can_edit invoice user as user_can_edit_request %}
                        {% if user_can_edit_request %}
                        <a class="data-block__action-icon-link" href="{% url "apply:projects:invoice-edit" pk=invoice.project.pk invoice_pk=invoice.pk %}">
                            <svg class="icon icon--project-pen"><use xlink:href="#pen"></use></svg>
                            {% trans "Edit" %}
                        </a>
                        {% endif %}

                        {% can_delete invoice user as user_can_delete_request %}
                        {% if user_can_delete_request %}
                        <a class="data-block__action-icon-link" href="{% url 'apply:projects:invoice-delete' pk=invoice.project.pk invoice_pk=invoice.pk %}">
                            <svg class="icon icon--delete"><use xlink:href="#delete"></use></svg>
                            {% trans "Delete" %}
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">{% trans "No active Invoices." %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if object.invoices.rejected %}
            <p class="data-block__rejected">
                <a class="data-block__rejected-link js-payment-block-rejected-link" href="#">{% trans "Show rejected" %}</a>
            </p>

            <table class="data-block__table is-hidden js-payment-block-rejected-table">
                <thead>
                    <tr>
                        <th class="data-block__table-amount">{% trans "Submitted" %}</th>
                        <th class="data-block__table-amount">{% trans "Invoice Number" %}</th>
                        <th class="data-block__table-status">{% trans "Status" %}</th>
                        <th class="data-block__table-view"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in object.invoices.rejected %}
                    <tr>
                        <td><span class="data-block__mobile-label">{% trans "Submitted" %}: </span>{{ invoice.requested_at.date }}</td>
                        <td><span class="data-block__mobile-label">{% trans "Invoice Number" %}: </span>{{ invoice.vendor_document_number }}</td>
                        <td><span class="data-block__mobile-label">{% trans "Status" %}: </span>{{ invoice.get_status_display }}</td>
                        <td><a href="{{ invoice.get_absolute_url }}">{% trans "View" %}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
