{% load i18n invoice_tools humanize heroicons %}

<section id="invoices" class="border rounded-box border-base-300 wrapper--outer-space-large">
    <div class="docs-block__header">
        <h2 class="m-0 text-lg font-semibold">{% trans "Invoices" %}</h2>
        {% user_can_add_invoices object user as can_add_invoice %}
        {% if can_add_invoice %}
            <a
                class="btn btn-secondary btn-outline"
                href="{% url "apply:projects:invoice" pk=object.submission.pk %}"
            >
                {% trans "Add Invoice" %}
            </a>
        {% endif %}
    </div>
    <div class="docs-block__inner"  x-data="{ showrejected: false }">
        {% if object.invoices.not_rejected %}
            <table class="table">
                <thead>
                    <tr>
                        <th class="data-block__table-date">{% trans "Date submitted" %}</th>
                        <th class="min-w-[180px] w-[15%]">{% trans "Invoice date" %}</th>
                        <th class="data-block__table-amount">{% trans "Invoice no." %}</th>
                        <th class="data-block__table-status">{% trans "Status" %}</th>
                        <th class="data-block__table-update"></th>
                    </tr>
                </thead>
                <tbody hx-get="{% url 'apply:projects:partial-invoices-status' pk=object.pk %}" hx-trigger="invoicesUpdated from:body">
                    {% include "application_projects/partials/invoice_status_table.html" with invoices=object.invoices.not_rejected rejected=False %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans "No active invoices yet." %}</p>
        {% endif %}

        {% if object.invoices.rejected %}
            <p class="text-center">
                {% trans "Show rejected" as showrejectedtext %}
                {% trans "Hide rejected" as hiderejectedtext %}
                <a
                    class="font-semibold"
                    href="#"
                    @click.prevent="showrejected = ! showrejected"
                    x-text="showrejected ? '{{ hiderejectedtext }}' : '{{ showrejectedtext }}'"
                >
                    {{ showrejectedtext }}
                </a>
            </p>

            <table class="table"  x-show="showrejected">
                <thead>
                    <tr>
                        <th class="data-block__table-date">{% trans "Date submitted" %}</th>
                        <th class="min-w-[180px] w-[15%]">{% trans "Invoice date" %}</th>
                        <th class="data-block__table-amount">{% trans "Invoice no." %}</th>
                        <th class="data-block__table-status">{% trans "Status" %}</th>
                        <th class="data-block__table-update"></th>
                    </tr>
                </thead>
                <tbody id="rejected-invoice-table" hx-get="{% url 'apply:projects:partial-rejected-invoices-status' pk=object.pk %}" hx-trigger="rejectedInvoicesUpdated from:body">
                    {% include "application_projects/partials/invoice_status_table.html" with invoices=object.invoices.rejected rejected=True %}
                </tbody>
            </table>
        {% endif %}
    </div>
</section>
