{% load project_tags dashboard_statusbar_tags %}

{% display_project_status object request.user as project_status %}

<h1
    class="mb-0 font-medium"
    hx-get='{% url "apply:projects:project_title" object.submission.id %}'
    hx-trigger="load, titleUpdated from:body"
>
    <span class="inline-block bg-gray-600 rounded-md animate-pulse"></span>
</h1>

<div class="mt-1 text-sm font-medium heading heading--meta">
    <span>{{ object.submission.page }}</span>

    {% if object.submission.round %}
        {% if request.user.is_apply_staff %}
            <span>
                <a class="text-white underline"
                   href="{% url 'apply:submissions:list' %}?round={{ object.submission.round.pk }}"
                >{{ object.submission.round }}</a>
            </span>
        {% else %}
            {{ object.submission.round }}
        {% endif %}
    {% endif %}

    {% if not HIDE_STAFF_IDENTITY or request.user.is_apply_staff %}
        <span
            hx-get="{% url "apply:projects:project_lead" object.submission.id %}"
            hx-trigger="load, leadUpdated from:body"
        >
            <span class="inline-block w-24 bg-gray-600 rounded-md animate-pulse"></span>
        </span>
    {% endif %}

</div>

{% project_status_bar object.status request.user css_class="w-full" %}


<div class="mt-5 status-bar--mobile">
    <h6 class="status-bar__subheading">{{ project_status }}</h6>
</div>
