{% load i18n approval_tools project_tags heroicons %}
{% allow_collapsible_header object header_type='project_documents' as collapsible_header %}

<section class="card overflow-hidden card-border @container" {% if collapsible_header %} x-data="{ collapsed: true }" {% endif %}>
    <header
        class="cursor-pointer card-header flex-col items-start @md:flex-row @md:items-center"
        id="project-documents-section"
        {% if collapsible_header %}
            x-on:click="collapsed = ! collapsed"
            role="button"
            aria-label="{% trans 'Toggle Project documents visibility' %}"
            aria-controls="project-documents-elements"
            x-bind:class="collapsed ? 'border-b-0': ''"
        {% endif %}
    >
        <h2 class="font-semibold text-h3">
            {% trans "Project documents" %}
        </h2>

        <div class="card-actions @md:justify-end">
            {% user_can_send_for_approval object user as can_send_to_approve %}
            {% if can_send_to_approve %}
                <a class="btn btn-primary btn-sm"
                   href="{% url 'apply:projects:submit_project_for_approval' object.submission.id %}"
                   hx-get="{% url 'apply:projects:submit_project_for_approval' object.submission.id %}"
                   hx-target="#htmx-modal"
                >
                    {% if object.paf_approvals.exists %}
                        {% trans "Resubmit for approval" %}
                    {% else %}
                        {% trans "Submit for approval" %}
                    {% endif %}
                </a>
            {% endif %}

            {% user_can_update_paf_approvers object user request as can_update_paf_approvers %}
            {% user_can_assign_approvers_to_project object user request as can_assign_paf_approvers %}
            {% if can_update_paf_approvers %}
                {% if user == project.lead %}
                    <a
                        class="btn btn-sm btn-soft"
                        href="{% url 'apply:projects:update_pafapprovers' object.submission.id %}"
                        hx-get="{% url 'apply:projects:update_pafapprovers' object.submission.id %}"
                        hx-target="#htmx-modal"
                    >
                        {% trans "Update approvers" %}
                    </a>
                {% else %}
                    <a
                        class="btn btn-sm btn-soft"
                        href="{% url 'apply:projects:assign_pafapprovers' object.submission.id %}"
                        hx-get="{% url 'apply:projects:assign_pafapprovers' object.submission.id %}"
                        hx-target="#htmx-modal"
                    >
                        {% trans "Change approver" %}
                    </a>
                {% endif %}
            {% endif %}

            {% if can_assign_paf_approvers %}
                <a
                    class="btn btn-sm btn-soft"
                    href="{% url 'apply:projects:assign_pafapprovers' object.submission.id %}"
                    hx-get="{% url 'apply:projects:assign_pafapprovers' object.submission.id %}"
                    hx-target="#htmx-modal"
                >
                    {% trans "Assign approver" %}
                </a>
            {% endif %}

            {% user_can_update_paf_status object user request=request as can_update_paf_status %}
            {% if object.can_make_approval and can_update_paf_status %}
                <a class="btn btn-primary btn-sm"
                   href="{% url 'apply:projects:update_pafstatus' object.submission.id %}"
                   hx-get="{% url 'apply:projects:update_pafstatus' object.submission.id %}"
                   hx-target="#htmx-modal"
                >
                    {% trans "Update Status" %}
                </a>
            {% endif %}

            {% if collapsible_header %}
                <button
                    class="transition-transform transform btn btn-ghost btn-square btn-sm"
                >
                    <span x-bind:class="collapsed ? '': 'rotate-180'">
                        {% heroicon_outline 'chevron-down' size=20 stroke_width=2 aria_hidden=true %}
                    </span>
                    <span class="sr-only" x-text="collapsed ? 'expand' : 'collapse'">{% trans "expand" %}</span>
                </button>
            {% endif %}
        </div>
    </header>

    <div
        class="list"
        id="project-documents-elements"
        {% if collapsible_header %}
            x-show="!collapsed" role="region"
            aria-labelledby="project-documents-section"
        {% endif %}
    >
        <div class="list-row hover:bg-base-200">
            <h3 class="flex gap-2 items-center font-medium text-h4 list-col-grow">
                {% if object.user_has_updated_pf_details %}
                    {% heroicon_outline "check-circle" size=16 class="w-5 h-5 stroke-primary" stroke_width=2 aria_hidden=true %}
                {% else %}
                    {% heroicon_outline "check-circle" size=16  class="w-5 h-5 stroke-gray-400" aria_hidden=true %}
                {% endif %}
                {% trans "Project form" %}
            </h3>

            <div class="flex gap-2">
                {% user_can_edit_pfs object user as can_edit_pfs %}
                {% if can_edit_pfs %}
                    <a
                        class="btn btn-sm {% if not object.user_has_updated_pf_details %}btn-primary{% endif %}"
                        href="{% url 'apply:projects:edit_pf' pk=object.submission.pk %}"
                    >
                        {% if object.user_has_updated_pf_details %}
                            {% heroicon_micro "pencil-square" class="inline size-4" aria_hidden=true %}
                            {% trans "Edit" %}
                        {% else %}
                            {% trans "Fill in" %}
                        {% endif %}
                    </a>
                {% endif %}
                {% if object.user_has_updated_pf_details and not user.is_applicant %}
                    <a
                        class="btn btn-outline btn-secondary btn-sm"
                        href="{% url 'apply:projects:approval' pk=project.submission.pk %}">
                        {% heroicon_micro "eye" class="inline size-4" aria_hidden=true %}
                        {% trans "View" %}
                    </a>
                {% endif %}
            </div>
        </div>

        {% has_project_sow_form object as project_sow %}
        {% if project_sow and not user.is_applicant %}
            <div class="list-row hover:bg-base-200">
                <h3 class="flex gap-2 items-center font-medium text-h4 list-col-grow">
                    {% if object.user_has_updated_sow_details %}
                        {% heroicon_outline "check-circle" size=16 class="w-5 h-5 stroke-primary" stroke_width=2 aria_hidden=true %}
                    {% else %}
                        {% heroicon_outline "check-circle" class="w-5 h-5 stroke-gray-400" aria_hidden=true %}
                    {% endif %}

                    {% trans "Scope of work" %}
                </h3>

                <div class="inline-flex gap-3">
                    {% if object.user_has_updated_sow_details %}
                        <a
                            class="btn btn-outline btn-secondary btn-sm"
                            href="{% url 'apply:projects:sow' pk=project.submission.pk %}"
                        >
                            {% heroicon_micro "eye" class="opacity-80 size-4" aria_hidden=true %}
                            {% trans "View" %}
                        </a>
                    {% endif %}

                    {% if can_edit_pfs %}
                        <a
                            class="btn btn-sm btn-square {% if not object.user_has_updated_sow_details %}btn-primary{% else %}btn-outline btn-secondary{% endif %}"
                            href="{% url 'apply:projects:edit_sow' pk=object.submission.pk %}"
                        >
                            {% if object.user_has_updated_sow_details %}
                                {% heroicon_micro "pencil-square" class="size-4" aria_hidden=true %}
                                <span class="sr-only">{% trans "Edit" %}</span>
                            {% else %}
                                {% trans "Fill in" %}
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}


        {% if supporting_documents_configured %}
            <div
                class="list-row"
                hx-trigger="load, supportingDocumentUpload from:body, supportingDocumentRemove from:body"
                hx-get="{% url "apply:projects:supporting_documents" object.submission.id %}"
                hx-target="this"
            >
                <h3 class="flex gap-2 items-center font-medium text-h4 list-col-grow">
                    {% heroicon_outline "check-circle" size=16 class="w-5 h-5 stroke-gray-400" aria_hidden=true %}
                    {% trans "Supporting documents" %}
                </h3>

                <div class="list-col-wrap">
                    <div class="animate-pulse min-h-30">
                        <div class="mb-3 w-full h-9 bg-base-300"></div>
                        <div class="mb-1 w-full h-6 bg-base-300"></div>
                        <div class="mb-3 w-full h-1 bg-base-300"></div>
                        <div class="mb-3 w-20 h-6 bg-base-300"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
