{% load dashboard_statusbar_tags i18n %}

<h1
    class="mb-2 text-h1"
    hx-get='{% url "apply:projects:project_title" object.submission.id %}'
    hx-trigger="load, titleUpdated from:body"
>
    <span class="inline-block rounded-md animate-pulse bg-base-300"></span>
</h1>

<div class="mb-4 font-medium text-fg-muted">
    <span class="separator-dot">{{ object.fund_name }}</span>

    {% if object.submission.round %}
        <span class="separator-dot">
            {% if request.user.is_apply_staff %}
                <a
                    class="transition-opacity hover:opacity-70 link"
                    title="{% trans 'View all applications in this round' %}"
                    href="{% url 'apply:submissions:list' %}?round={{ object.submission.round.pk }}"
                >{{ object.submission.round }}</a>
            {% else %}
                {{ object.submission.round }}
            {% endif %}
        </span>
    {% endif %}

    {% if not HIDE_STAFF_IDENTITY or request.user.is_apply_staff %}
        <span
            class="separator-dot"
            hx-get="{% url 'apply:projects:project_lead' object.submission.id %}"
            hx-trigger="load, leadUpdated from:body"
        >
            <span class="inline-block w-24 bg-gray-600 rounded-md animate-pulse"></span>
        </span>
    {% endif %}
</div>

<div class="mt-4 mb-8 print:!hidden">
    {% project_status_bar object.status request.user css_class="w-full" %}
</div>
