{% load i18n heroicons %}
<li class="data-block__list-item">
    <div class="data-block__info">
        {% if current %}
            {% trans "The" %} {% if report.can_submit %}{% trans "current" %}{% else %}{% trans "next" %}{% endif %} {% trans "reporting period is" %}
        {% else %}
            {% trans "A report is due for the period" %}
        {% endif %}
        <b>{{ report.start_date }}</b> {% trans "to" %} <b>{{ report.end_date }}</b>
        {% if report.is_very_late %}
            {% heroicon_outline 'exclamation-circle' stroke_width=2 size=22 class="inline me-1 stroke-red-500" aria_hidden=true %}
        {% endif %}
    </div>

    <div class="data-block__links">
        {% if report.can_submit %}
            <a
                class="data-block__button button button--project-action"
                href="{% url "apply:projects:reports:edit" pk=report.pk %}"
            >
                {% if report.draft %}{% trans "Continue Editing" %}{% else %}{% trans "Add Report" %}{% endif %}
            </a>
        {% endif %}

        {% if request.user.is_apply_staff and report.can_submit %}

            <input
                hx-post="{% url "apply:projects:reports:skip" pk=report.id %}"
                hx-confirm="{% blocktrans %} You're skipping the report for {{ report.start_date }} - {{ report.end_date }}. This will result in a gap in reporting for the project. You can undo this at any time. {% endblocktrans %}"
                type="submit"
                value="{% trans 'Skip' %}"
                class="btn data-block__action-link"
            ></input>

        {% endif %}
    </div>
</li>
