{% load i18n approval_tools project_tags %}
{% user_can_edit_project object request.user as editable %}
{% allow_collapsible_header object header_type='project_documents' as collapsible_header %}

<div class="docs-block wrapper--outer-space-large" {% if collapsible_header %} x-data="{ collapsed: true }" {% endif %}>
    <div class="docs-block__header" id="project-documents-section" {% if collapsible_header %} x-on:click="collapsed = ! collapsed" role="button" aria-label="Toggle Project documents visibility" aria-controls="project-documents-elements" {% endif %}>
        <div class="docs-block__heading">{% trans "Project documents" %}
            {% if collapsible_header %}
            <svg class="icon icon--caret-up" x-show="!collapsed" aria-hidden=true><use xlink:href="#caret-up"></use></svg>
            <svg class="icon icon--caret-down" x-show="collapsed" aria-hidden=true><use xlink:href="#caret-down"></use></svg>
            {% endif %}
        </div>
        {% user_can_send_for_approval object user as can_send_to_approve %}
        {% if can_send_to_approve %}
            <a data-fancybox
            data-src="#send-for-approval"
            class="button button--project-action"
            href="#">
                {% if object.paf_approvals.exists %}
                    {% trans "Resubmit for approval" %}
                {% else %}
                    {% trans "Submit for approval" %}
                {% endif %}
            </a>
        {% endif %}
        {% user_can_update_paf_approvers object user as can_update_paf_approvers %}
        {% if can_update_paf_approvers %}
            <a data-fancybox
            data-src="#update-paf-approvers"
            class="button button--project-action button--project-action--white"
            href="#">
                {% trans "View/Update Approvers" %}
            </a>
        {% endif %}
        {% user_can_update_paf_status object user request=request as can_update_paf_status %}
        {% if object.can_make_approval and can_update_paf_status %}
            <a data-fancybox
            data-src="#update-paf-status"
            class="button button--project-action"
            href="#">
                {% trans "Update Status" %}
            </a>
        {% endif %}
    </div>
    <ul class="docs-block__inner" id="project-documents-elements" {% if collapsible_header %} x-show="!collapsed" role="region"
       aria-labelledby="project-documents-section" {% endif %}>

        <li class="docs-block__row">
            <div class="docs-block__row-inner">
                <svg class="icon docs-block__icon is-complete"><use xlink:href="#tick"></use></svg>
                <p class="docs-block__title">{% trans "Proposal" %}</p>
            </div>
            <div class="docs-block__row-inner">
                {% if user.is_applicant %}
                    <a class="docs-block__icon-link" href="{{ project.submission.get_absolute_url }}">
                        <svg class="icon icon--project-eye"><use xlink:href="#eye"></use></svg>
                        {% trans "View" %}
                    </a>
                {% else %}
                    <a class="docs-block__icon-link" href="{% url 'apply:submissions:simplified' pk=project.submission.pk %}">
                        <svg class="icon icon--project-eye"><use xlink:href="#eye"></use></svg>
                        {% trans "View" %}
                    </a>
                {% endif %}
            </div>
        </li>
        {% if settings.application_projects.ProjectSettings.vendor_setup_required and project.vendor %}
            <li class="docs-block__row">
                <div class="docs-block__row-inner">
                    <svg class="icon docs-block__icon{% if project.vendor.user_has_updated_details %} is-complete{% endif %}"><use xlink:href="#tick"></use></svg>
                    <p class="docs-block__title">{% trans "Contracting Information" %}</p>
                </div>
                <div class="docs-block__row-inner">
                    {% if editable %}
                        <a class="{% if not project.vendor.user_has_updated_details %}button button--project-action{% else %}docs-block__icon-link{% endif %}" href="{% url 'apply:projects:vendor' pk=project.pk %}">
                            {% if project.vendor.user_has_updated_details %}
                            <svg class="icon icon--project-pen"><use xlink:href="#pen"></use></svg>
                            {% trans "Edit" %}
                            {% else %}
                            {% trans "Fill in" %}
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if project.vendor.user_has_updated_details %}
                        <a class="docs-block__icon-link" href="{% url 'apply:projects:vendor-detail' pk=project.pk vendor_pk=project.vendor.pk %}">
                            <svg class="icon icon--project-eye"><use xlink:href="#eye"></use></svg>
                            {% trans "View" %}
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endif %}

        <li class="docs-block__row">
            <div class="docs-block__row-inner">
                <svg class="icon docs-block__icon{% if object.user_has_updated_details %} is-complete{% endif %}">
                    <use xlink:href="#tick"></use>
                </svg>
                <p class="docs-block__title">{% trans "Approval Form" %}</p>
            </div>
            <div class="docs-block__row-inner">
                {% if editable and not user.is_applicant %}
                    <a class="{% if not object.user_has_updated_details %}button button--project-action{% else %}docs-block__icon-link{% endif %}" href="{% url 'apply:projects:edit' pk=object.pk %}">
                        {% if object.user_has_updated_details %}
                        <svg class="icon icon--project-pen"><use xlink:href="#pen"></use></svg>
                        {% trans "Edit" %}
                        {% else %}
                        {% trans "Fill in" %}
                        {% endif %}
                    </a>
                {% endif %}
                {% if object.user_has_updated_details and not user.is_applicant %}
                    <a class="docs-block__icon-link" href="{% url 'apply:projects:approval' pk=project.pk %}">
                        <svg class="icon icon--project-eye"><use xlink:href="#eye"></use></svg>
                        {% trans "View" %}
                    </a>
                {% endif %}
            </div>
            {% has_project_sow_form object as project_sow %}
            {% if project_sow and object.user_has_updated_details and not user.is_applicant %}
                <ul class="docs-block__document-list" style="padding-left:2.25rem;">
                    <li class="docs-block__document">
                        <div class="docs-block__document-inner">
                            <p class="docs-block__document-info">{% trans "Scope Of Work (SOW)" %}</p>
                        </div>
                        <div class="docs-block__document-inner__actions">
                            <a class="docs-block__icon-link" href="{% url 'apply:projects:sow' pk=project.pk %}">
                                <svg class="icon icon--project-eye"><use xlink:href="#eye"></use></svg>
                                {% trans "View" %}
                            </a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </li>

        {% if supporting_documents_configured %}
        <li class="docs-block__row">
            <div class="docs-block__row-inner">
                <svg class="icon docs-block__icon{% if not remaining_document_categories %} is-complete{% endif %}">
                    <use xlink:href="#tick"></use>
                </svg>
                <p class="docs-block__title">{% trans "Supporting documents" %}</p>
            </div>
            {% if user.is_apply_staff %}
            <div class="docs-block__row-inner">
                <a data-fancybox data-src="#upload-supporting-doc" class="docs-block__icon-link" style="margin-right:0;" href="#">
                    <svg class="icon icon--arrow-up-short-bar"><use xlink:href="#arrow-up-short-bar"></use></svg>
                    {% trans "Upload new" %}
                </a>
            </div>
            {% endif %}
            {% if remaining_document_categories %}
            <ul class="docs-block__document-list" style="padding-left:2.25rem;">
                <li class="docs-block__document">
                    <div class="docs-block__document-inner">
                        <p>
                            {% trans "Every project should include the following documents" %}:
                        </p>
                        <ul>
                            {% for missing in remaining_document_categories %}
                                <li>{{ missing.category.name }} ({{ missing.difference }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
            {% endif %}

            {% if object.packet_files.exists %}
            <ul class="docs-block__document-list" style="padding-left:2.25rem;">
                {% for document in object.packet_files.all %}
                <li class="docs-block__document">
                    <div class="docs-block__document-inner">
                        <p class="docs-block__document-info">{{ document.category.name }}</p>
                        <p class="docs-block__document-info"><b>{{ document.title }}</b> - {{ document.created_at }}</p>
                    </div>
                    <div class="docs-block__row-inner">
                        <a class="docs-block__icon-link" href="{% url 'apply:projects:document' pk=object.pk file_pk=document.pk %}" target="_blank">
                            <svg class="icon icon--project-eye"><use xlink:href="#eye"></use></svg>
                            {% trans "View" %}
                        </a>
                        {% user_can_remove_supporting_documents object user as can_remove_supporting_doc %}
                        {% if can_remove_supporting_doc %}
                        <form method="POST" id="{{ remove_document_form.name }}" class="docs-block__icon-link">
                            <svg class="icon icon--delete" style="margin-left:0; margin-right:2px"><use xlink:href="#delete"></use></svg>
                            {% csrf_token %}
                            {{ document.get_remove_form }}
                            <input
                                class="button button--link button--remove"
                                id="{{ remove_document_form.name }}-submit"
                                name="{{ form_prefix }}{{ remove_document_form.name }}"
                                type="submit"
                                form="{{ remove_document_form.name }}"
                                value="{% trans 'Remove' %}" />
                        </form>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </li>
        {% endif %}
    </ul>
</div>

{% if user.is_apply_staff %}
<div class="modal" id="copy-supporting-doc">
    <h4 class="modal__project-header-bar">{% trans "Select a document" %}</h4>
    {% url 'apply:projects:copy-documents' pk=object.pk as select_document_url %}
    {% trans "Copy" as copy %}
    {% include 'funds/includes/delegated_form_base.html' with form=select_document_form value=copy action=select_document_url %}
</div>

<div class="modal" id="upload-supporting-doc">
    <h4 class="modal__project-header-bar">{% trans "Upload supporting documents" %}</h4>
    <p></p>
    {% trans "Submit" as submit %}
    {% include 'funds/includes/delegated_form_base.html' with form=document_form value=submit %}
</div>
{% endif %}

{% if can_send_to_approve %}
<div class="modal" id="send-for-approval">
    <h4 class="modal__project-header-bar">{% trans "Submit for Approval" %}</h4>

    {% if remaining_document_categories %}
        <h5>{% trans "Are you sure you're ready to submit?" %}</h5>

        <p>{% trans "This project is missing the following documents" %}:</p>

        <ul>
            {% for missing in remaining_document_categories %}
            <li><strong>{{ missing.category.name }} ({{ missing.difference }})</strong></li>
            {% endfor %}
        </ul>
        {% trans "Submit anyway" as submit %}
    {% else %}
        {% trans "Submit" as submit %}
    {% endif %}
    {% if project_settings.paf_reviewers_roles.all %}
        <p> <strong> {% trans "Please select approvers for PAF in " %} {% if project_settings.paf_approval_sequential %} {% trans "sequential order" %} {% else %}{% trans "parallel order" %}{% endif %}</strong></p>
        <p>{% trans "(please note that in "%}{% if project_settings.paf_approval_sequential %}{%trans "sequential order, approvers will approve PAF one after the other)"%}{% else %}{% trans "parallel order, approvers can approve PAF anytime)" %}{% endif %}</p>
        <br>
        {% include 'funds/includes/delegated_form_base.html' with form=request_approval_form value=submit %}
    {% else %}
        <p>{% trans "No PAF Reviewer Roles created yet, please create these in " %}
        <a href="{% project_settings_url project_settings %}" target="_blank">{% trans " project settings" %}</a>
        </p>
    {% endif %}
</div>
{% endif %}

{% if can_update_paf_approvers %}
<div class="modal" id="update-paf-approvers">
    <h4 class="modal__project-header-bar">{% trans "View/Update Approvers" %}</h4>

    {% trans "Submit" as submit %}
    {% if project_settings.paf_reviewers_roles.all %}
        <p> {% trans "Are you sure you want to update the approvers?" %} {% if project_settings.paf_approval_sequential %} {% trans "The uppermost active approver will be notified via email." %} {% else %}{% trans "All approvers will be notified via email." %}{% endif %}</p>
    <br>
    {% include 'funds/includes/delegated_form_base.html' with form=update_approvers_form value=submit %}
    {% else %}
        <p>{% trans "No PAF Reviewer Roles created yet, please create these in " %}
        <a href="{% project_settings_url project_settings %}" target="_blank">{% trans " project settings" %}</a>
        </p>
    {% endif %}
</div>
{% endif %}

{% if can_update_paf_status %}
    <div class="modal" id="update-paf-status">
        <h4 class="modal__project-header-bar">{% trans "Update PAF Status" %}</h4>
        <p>{% trans "Project's current status" %}: {{ object.get_status_display }}</p>
        {% trans "Update Status" as update %}
        {% include 'funds/includes/delegated_form_base.html' with form=change_paf_status value=update %}
    </div>
{% endif %}
