{% load i18n approval_tools project_tags heroicons %}
{% user_can_edit_project object request.user as editable %}
{% allow_collapsible_header object header_type='project_documents' as collapsible_header %}

<div class="docs-block wrapper--outer-space-large" {% if collapsible_header %} x-data="{ collapsed: true }" {% endif %}>
    <div class="docs-block__header" id="project-documents-section" {% if collapsible_header %} x-on:click="collapsed = ! collapsed" role="button" aria-label="Toggle Project documents visibility" aria-controls="project-documents-elements" {% endif %}>
        <div class="flex justify-between w-full" >
            <h2 class="text-lg font-semibold m-0">
                {% trans "Project documents" %}
            </h2>

            {% if collapsible_header %}
                <button class="align-middle ms-1 transform transition-transform" x-bind:class="collapsed ? '': '-rotate-90' ">
                    {% heroicon_outline 'chevron-left' size=20 stroke_width=2 aria_hidden=true %}
                    <span class="sr-only" x-text="collapsed ? 'expand' : 'collapse'">{% trans "expand" %}</span>
                </button>
            {% endif %}
        </div>
        <div>
            {% user_can_send_for_approval object user as can_send_to_approve %}
            {% if can_send_to_approve %}
                <a data-fancybox
                   data-src="#send-for-approval"
                   class="button button--project-action"
                   href="#">
                    {% if object.paf_approvals.exists %}
                        {% trans "Resubmit for approval" %}
                    {% else %}
                        {% trans "Submit for approval" %}
                    {% endif %}
                </a>
            {% endif %}
            {% user_can_update_paf_approvers object user request as can_update_paf_approvers %}
            {% user_can_assign_approvers_to_project object user request as can_assign_paf_approvers %}
            {% if can_update_paf_approvers %}
                {% if user == project.lead %}
                    <a data-fancybox
                       data-src="#update-paf-approvers"
                       class="button button--project-action button--project-action--white ms-2"
                       href="#">
                        {% trans "View/Update Approvers" %}
                    </a>
                {% else %}
                    <a data-fancybox
                       data-src="#change-assigned-paf-approvers"
                       class="button button--project-action button--project-action--white ms-2"
                       href="#">
                        {% trans "Change approver" %}
                    </a>
                {% endif %}
            {% endif %}
            {% if can_assign_paf_approvers %}
                <a data-fancybox
                   data-src="#assign-paf-approvers"
                   class="button button--project-action ms-2"
                   href="#">
                    {% trans "Assign approver" %}
                </a>
            {% endif %}
            {% user_can_update_paf_status object user request=request as can_update_paf_status %}
            {% if object.can_make_approval and can_update_paf_status %}
                <a data-fancybox
                   data-src="#update-paf-status"
                   class="button button--project-action ms-2"
                   href="#">
                    {% trans "Update Status" %}
                </a>
            {% endif %}
        </div>
    </div>
    <ul class="docs-block__inner" id="project-documents-elements" {% if collapsible_header %} x-show="!collapsed" role="region"
            aria-labelledby="project-documents-section" {% endif %}>

            <li class="docs-block__row">
                <div class="docs-block__row-inner">
                    {% heroicon_outline "check-circle" class="stroke-light-blue me-1" aria_hidden=true %}
                    <p class="docs-block__title">{% trans "Proposal" %}</p>
                </div>
                <div class="docs-block__row-inner">
                    <a class="docs-block__icon-link hover:opacity-70 transition-opacity"
                       href="{% if user.is_applicant %}{{ project.submission.get_absolute_url }}{% else %}{% url 'apply:submissions:simplified' pk=project.submission.pk %}{% endif %}"
                    >
                        {% heroicon_micro "eye" class="inline me-1 w-4 h-4" aria_hidden=true %}
                        {% trans "View" %}
                    </a>
                </div>
            </li>
            {% if settings.application_projects.ProjectSettings.vendor_setup_required and project.vendor %}
                <li class="docs-block__row">
                    <div class="docs-block__row-inner">
                        {% if project.vendor.user_has_updated_details %}
                            {% heroicon_outline "check-circle" class="stroke-light-blue me-1" aria_hidden=true %}
                        {% else %}
                            {% heroicon_outline "check-circle" class="stroke-gray-400 me-1" aria_hidden=true %}
                        {% endif %}
                        <p class="docs-block__title">{% trans "Contracting Information" %}</p>
                    </div>
                    <div class="docs-block__row-inner">
                        {% if editable %}
                            <a class="{% if not project.vendor.user_has_updated_details %}button button--project-action{% else %}docs-block__icon-link{% endif %}" href="{% url 'apply:projects:vendor' pk=project.pk %}">
                                {% if project.vendor.user_has_updated_details %}
                                    {% heroicon_micro "pencil-square" class="inline me-1 w-4 h-4" aria_hidden=true %}
                                    {% trans "Edit" %}
                                {% else %}
                                    {% trans "Fill in" %}
                                {% endif %}
                            </a>
                        {% endif %}
                        {% if project.vendor.user_has_updated_details %}
                            <a class="docs-block__icon-link" href="{% url 'apply:projects:vendor-detail' pk=project.pk vendor_pk=project.vendor.pk %}">
                                {% heroicon_micro "eye" class="inline me-1 w-4 h-4" aria_hidden=true %}
                                {% trans "View" %}
                            </a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}

            <li class="docs-block__row">
                <div class="docs-block__row-inner">
                    {% if object.user_has_updated_details %}
                        {% heroicon_outline "check-circle" class="stroke-light-blue me-1" aria_hidden=true %}
                    {% else %}
                        {% heroicon_outline "check-circle" class="stroke-gray-400 me-1" aria_hidden=true %}
                    {% endif %}
                    <p class="docs-block__title">{% trans "Project Form" %}</p>
                </div>
                <div class="docs-block__row-inner">
                    {% if editable and not user.is_applicant %}
                        <a class="{% if not object.user_has_updated_details %}button button--project-action{% else %}docs-block__icon-link{% endif %}" href="{% url 'apply:projects:edit' pk=object.pk %}">
                            {% if object.user_has_updated_details %}
                                {% heroicon_micro "pencil-square" class="inline me-1 w-4 h-4" aria_hidden=true %}
                                {% trans "Edit" %}
                            {% else %}
                                {% trans "Fill in" %}
                            {% endif %}
                        </a>
                    {% endif %}
                    {% if object.user_has_updated_details and not user.is_applicant %}
                        <a class="docs-block__icon-link" href="{% url 'apply:projects:approval' pk=project.pk %}">
                            {% heroicon_micro "eye" class="inline me-1 w-4 h-4" aria_hidden=true %}
                            {% trans "View" %}
                        </a>
                    {% endif %}
                </div>
                {% has_project_sow_form object as project_sow %}
                {% if project_sow and object.user_has_updated_details and not user.is_applicant %}
                    <ul class="mt-2 w-full ps-7">
                        <li class="docs-block__document">
                            <div class="docs-block__document-inner">
                                <p class="docs-block__document-info">{% trans "Scope of work (SOW)" %}</p>
                            </div>
                            <div class="docs-block__document-inner__actions">
                                <a class="docs-block__icon-link" href="{% url 'apply:projects:sow' pk=project.pk %}">
                                    {% heroicon_micro "eye" class="inline me-1 w-4 h-4" aria_hidden=true %}
                                    {% trans "View" %}
                                </a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </li>

            {% if supporting_documents_configured %}
                <li class="docs-block__row">
                    <div class="docs-block__row-inner">
                        {% if remaining_document_categories %}
                            {% heroicon_outline "check-circle" class="stroke-gray-400 me-1" aria_hidden=true %}
                        {% else %}
                            {% heroicon_outline "check-circle" class="stroke-light-blue me-1" aria_hidden=true %}
                        {% endif %}
                        <p class="docs-block__title">{% trans "Supporting documents" %}</p>
                    </div>

                    {% if all_document_categories %}

                        <div class="w-full ps-9">
                            <p></p>
                            <ul>
                                {% for document_category in all_document_categories %}
                                    <li class="docs-block__document">
                                        <div class="docs-block__document-inner">
                                            <p class="docs-block__document-info">{{ document_category.name }}
                                                {% if document_category.required %}<span class="text-red-700">*</span>{% endif %}
                                                {% if document_category.template %}
                                                    <a class="font-bold hover:opacity-70 transition-opacity"
                                                       href="{% url 'apply:projects:category_template' pk=object.pk type='project_document' category_pk=document_category.pk %}"
                                                       target="_blank"
                                                    >
                                                        <span class="border-b-2 border-dashed">
                                                            {% trans "View template" %}
                                                        </span>{% heroicon_mini "information-circle" class="fill-light-blue inline align-middle me-1" aria_hidden=true %}
                                                    </a>
                                                {% endif %}
                                            </p>
                                            {% if document_category not in remaining_document_categories %}
                                                {% category_latest_file project document_category as latest_file %}
                                                <p class="docs-block__document-info"><b>{{ latest_file.title }}</b> - {{ latest_file.created_at }}</p>
                                            {% endif %}
                                        </div>
                                        {% if document_category in remaining_document_categories %}
                                            <div class="docs-block__document-inner__actions">
                                                <a data-fancybox data-src="#upload-supporting-doc"
                                                   class="font-bold flex items-center me-0 hover:opacity-70 transition-opacity"
                                                   onclick="handleCategory({{ document_category.id }})"
                                                   href="#"
                                                >
                                                    {% heroicon_micro "arrow-up-tray" class="inline me-1 w-4 h-4" aria_hidden="true" %}
                                                    {% trans "Upload" %}
                                                </a>

                                            </div>
                                        {% else %}
                                            {% category_latest_file project document_category as latest_file %}
                                            {% if latest_file %}
                                                <div class="docs-block__row-inner">
                                                    <a class="docs-block__icon-link" href="{% url 'apply:projects:document' pk=object.pk file_pk=latest_file.pk %}" target="_blank">
                                                        {% heroicon_micro "eye" class="inline me-1" aria_hidden=true %}
                                                        {% trans "View" %}
                                                    </a>
                                                    {% user_can_remove_supporting_documents object user as can_remove_supporting_doc %}
                                                    {% if can_remove_supporting_doc %}
                                                        <form method="POST" id="{{ remove_document_form.name }}-{{ latest_file.pk }}" class="docs-block__icon-link">
                                                            {% heroicon_micro "trash" class="inline me-1 fill-red-500" aria_hidden=true %}
                                                            {% csrf_token %}
                                                            {{ latest_file.get_remove_form }}
                                                            <input
                                                                class="button button--link button--remove"
                                                                id="{{ remove_document_form.name }}-submit"
                                                                name="{{ form_prefix }}{{ remove_document_form.name }}"
                                                                type="submit"
                                                                form="{{ remove_document_form.name }}-{{ latest_file.pk }}"
                                                                value="{% trans 'Remove' %}" />
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                </li>
            {% endif %}
        </ul>
</div>

{% if user.is_apply_staff %}
    <div class="modal" id="upload-supporting-doc">
        <h4 class="modal__project-header-bar">{% trans "Upload supporting documents" %}</h4>
        <p></p>
        {% trans "Submit" as submit %}
        {% include 'funds/includes/delegated_form_base.html' with form=document_form value=submit %}
    </div>
{% endif %}

{% if can_send_to_approve %}
    <div class="modal" id="send-for-approval">
        <h4 class="modal__project-header-bar">{% trans "Submit for Approval" %}</h4>

        {% if remaining_document_categories %}
            <h5>{% trans "Are you sure you're ready to submit the project documents to be approved in" %}
                {% if project_settings.paf_approval_sequential %}{% trans "sequential order?" %}{% else %}{% trans "parallel order?" %}{% endif %}</h5>

            <p>{% trans "This project is missing the following documents" %}:</p>

            <ul>
                {% for missing_category in remaining_document_categories %}
                    <li><strong>{{ missing_category.name }} </strong></li>
                {% endfor %}
            </ul>
            {% trans "Submit anyway" as submit %}
        {% else %}
            <h5>{% trans "Are you ready to submit the project documents to be approved in" %}
                {% if project_settings.paf_approval_sequential %}{% trans "sequential order?" %}{% else %}{% trans "parallel order?" %}{% endif %}</h5>
            {% trans "Submit" as submit %}
        {% endif %}
        {% if project_settings.paf_reviewers_roles.all %}

            <p>{% trans "By default all the members are notified when an approver is not selected. Optionally, you may select specific approvers to assign and notify them." %}</p>
            <div class="flex items-center text-sm">
                <p class="flex-shrink font-bold text-slate-500 pe-2 mb-0">{% trans "Optional" %}</p>
                <p class="flex-grow h-px bg-mid-grey mb-0"></p>
            </div>

            <p>{% trans "Please note that in "%}{% if project_settings.paf_approval_sequential %}{%trans "sequential order, approvers will approve PAF one after the other."%}{% else %}{% trans "parallel order, approvers can approve PAF anytime." %}{% endif %}</p>
            {% include 'funds/includes/delegated_form_base.html' with form=request_approval_form value=submit %}
        {% else %}
            <p>{% trans "No PAF Reviewer Roles created yet, please create these in " %}
                <a href="{% project_settings_url project_settings %}" target="_blank">{% trans " project settings" %}</a>
            </p>
        {% endif %}
    </div>
{% endif %}

{% if can_update_paf_approvers %}
    <div class="modal" id="update-paf-approvers">
        <h4 class="modal__project-header-bar">{% trans "View/Update Approvers" %}</h4>

        {% trans "Submit" as submit %}
        {% if project_settings.paf_reviewers_roles.all %}
            <p> {% trans "Are you sure you want to update the approvers?" %} {% if project_settings.paf_approval_sequential %} {% trans "The uppermost active approver will be notified via email." %} {% else %}{% trans "All approvers will be notified via email." %}{% endif %}</p>
            <br>
            {% include 'funds/includes/delegated_form_base.html' with form=update_approvers_form value=submit %}
        {% else %}
            <p>{% trans "No PAF Reviewer Roles created yet, please create these in " %}
                <a href="{% project_settings_url project_settings %}" target="_blank">{% trans " project settings" %}</a>
            </p>
        {% endif %}
    </div>

    <div class="modal" id="change-assigned-paf-approvers">
        <h4 class="modal__project-header-bar">{% trans "Change Approver" %}</h4>
        <p>{% trans "Selected approver will be notified. On unselecting, every listed member here will be notified." %} </p>
        {% trans "Submit" as submit %}
        {% include 'funds/includes/delegated_form_base.html' with form=assign_approvers_form value=submit %}
    </div>

{% endif %}

{% if can_assign_paf_approvers %}
    <div class="modal" id="assign-paf-approvers">
        <h4 class="modal__project-header-bar">{% trans "Assign Approver" %}</h4>
        <p>{% trans "Selected approver will be notified. On unselecting, every listed member here will be notified." %} </p>
        {% trans "Submit" as submit %}
        {% include 'funds/includes/delegated_form_base.html' with form=assign_approvers_form value=submit %}
    </div>
{% endif %}

{% if can_update_paf_status %}
    <div class="modal" id="update-paf-status">
        <h4 class="modal__project-header-bar">{% trans "Update PAF Status" %}</h4>
        {% trans "Update Status" as update %}
        {% include 'funds/includes/delegated_form_base.html' with form=change_paf_status value=update %}
    </div>
{% endif %}
