{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block content_inner %}

    <h1>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h1>
    <p class="mb-4">{% blocktrans trimmed %}Disabling Two-factor authentication weakens your account security.
        We recommend reenabling it when you can.{% endblocktrans %}</p>

    <form class="form" action="" method="POST" novalidate>
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if form.errors %}
            <ul class="errorlist">
                {% blocktrans trimmed count counter=form.errors.items|length %}
                    <li>Please correct the error below.</li>
                {% plural %}
                    <li>Please correct the errors below.</li>
                {% endblocktrans %}
            </ul>
        {% endif %}

        {% csrf_token %}

        {% for field in form %}
            {% include "forms/includes/field.html" %}
        {% endfor %}

        <button class="btn btn-danger" type="submit">
            {% trans 'Confirm' %}
        </button>
    </form>

{% endblock %}
