{% extends "base.html" %}
{% block header_modifier %}header--grey-pixels{% endblock %}
{# Dont include fixed apply button on this page #}
{% block apply_button %}{% endblock %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    {% include "public_funds/includes/fund_apply_cta.html" with page=page apply_page=page.fund_type %}
    <div class="wrapper">
        <section class="section section--main">

            {% if page.introduction %}
                <h4 class="heading heading--introduction">
                    {{ page.introduction }}
                </h4>
            {% endif %}

            {% include_block page.body %}
        </section>
    </div>
    {% include "public_funds/includes/fund_apply_cta.html" with page=page apply_page=page.fund_type %}
    {% include "includes/relatedcontent.html" with related_pages=page.related_pages.all %}
{% endblock %}
