{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}light-grey-bg{% endblock %}
{% block content %}
<div class="wrapper wrapper--small wrapper--top-bottom-inner-space">
    <div class="wrapper wrapper--listings">

        {% if subpages.object_list.exists %}
            {% for subpage in subpages.object_list.specific %}

                <a class="listing" href="{% pageurl subpage %}">
                    {% if subpage.deadline %}
                        <p class="listing__deadline">
                            <svg class="icon icon--calendar icon--small"><use xlink:href="#calendar"></use></svg>
                            <span>Next deadline: {{ subpage.deadline|date:"M j, Y" }}</span>
                        </p>
                    {% endif %}
                </a>

            {% endfor %}

            {% include "includes/pagination.html" with paginator_page=subpages %}

        {% else %}
            {# no items on this page #}
        {% endif %}
    </div>
</div>

{% endblock %}
