{% extends "base.html" %}
{% block header_modifier %}header--grey-pixels{% endblock %}
{# Dont include fixed apply button on this page #}
{% block apply_button %}{% endblock %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    {% include "public_funds/includes/lab_apply_cta.html" %}
    <div class="wrapper">
        <section class="section section--main section--top-bottom-space">
            <div class="media-box media-box--reverse media-box--bottom-space">
                {% if page.icon %}
                    {% image page.icon max-210x235 as page_icon %}
                    <div class="media-box__image-container" style="background-image:url('{{ page_icon.url }}')">
                        <img class="media-box__image media-box__image--small" src="{{ page_icon.url }}" alt="{{ page_icon.alt }}">
                    </div>
                {% else %}
                    <div class="media-box__default-image">
                        <svg><use xlink:href="#logo-mobile-no-text"></use></svg>
                    </div>
                {% endif %}

                <div class="media-box__content">
                    <h4>{{ page.title }}</h4>
                    {% if page.introduction %}
                        <p class="media-box__teaser">{{ page.introduction }}</p>
                    {% endif %}
                </div>
            </div>

            {% include_block page.body %}
        </section>
    </div>
    {% include "public_funds/includes/lab_apply_cta.html" %}
    {% include "includes/relatedcontent.html" with related_pages=page.related_pages.all %}
{% endblock %}
