{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    <div class="wrapper wrapper--flex">
        <section class="section section--main">
            <h5>{{ page.introduction }}</h5>
            {{ page.icon }}

            {% include_block page.body %}
        </section>
        <section>
            <a href="{{ page.link_to_lab }}">{{ page.link_text }}</a>
        </section>
    </div>
    {% include "includes/relatedcontent.html" with related_pages=page.related_pages.all %}
{% endblock %}
