{% extends "base-apply.html" %}
{% load static bleach_tags %}
{% block title %}Create a determination{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h2 class="heading heading--no-margin">{% if object %}Update Determination draft{% else %}Add Determination{% endif %}</h2>
        <h5>For <a href="{% url "funds:submissions:detail" submission.id %}">{{ submission.title }}</a></h5>
    </div>
</div>

{% include "forms/includes/form_errors.html" with form=form %}

<div class="wrapper wrapper--medium wrapper--inner-space-medium">
    <form class="form form--with-p-tags" action="" method="post" novalidate>
        {{ form.media }}
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {# to be replaced with better logic when/if we use stream form #}
            {% ifchanged field.field.group %}
                {% for key, value in form.titles.items %}
                    {% if key == field.field.group %}
                        <h2>{{ value }}</h2>
                    {% endif %}
                {% endfor %}
            {% endifchanged %}

            {% if field.field %}
                {% include "forms/includes/field.html" %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <input class="button button--submit button--top-space button--white" type="submit" value="Save Draft" name="{{ form.draft_button_name }}" />
        <input class="button button--submit button--top-space button--primary" type="submit" value="Send" name="submit" />
    </form>
    {% for type, message in message_templates.items %}
        <div class="is-hidden" data-type="{{ type }}" id="determination-message-{{ type }}">
            {{ message|bleach }}
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
    {# Skip this until the script is improved. <script src="{% static 'js/apply/determination-template.js' %}"></script> #}
{% endblock %}
