{% extends "base-apply.html" %}
{% load bleach_tags %}

{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h2 class="heading heading--no-margin">Determination</h2>
        <h5>For <a href="{% url "funds:submissions:detail" determination.submission.id %}">{{ determination.submission.title }}</a></h5>
    </div>
</div>

<div class="grid">
    <div>
        <h5>Determination: {{ determination.get_outcome_display }}</h5>
        {{ determination.message|bleach }}
    </div>
</div>

<div class="rich-text rich-text--answers">
    {% for group in determination.detailed_data.values %}
        <h4>{{ group.title }}</h4>
        {% for question, answer in group.questions %}
            <h5>{{ question }}</h5>
            {% if answer %}{{ answer|bleach }}{% else %}-{% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
