{% extends "base-apply.html" %}
{% load static bleach_tags %}
{% block title %}Create a determination{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/apply/fancybox.css' %}">
{% endblock %}
{% block content %}
<div class="admin-bar">
    <div class="admin-bar__inner">
        <h2 class="heading heading--no-margin">{% if object %}Update Determination draft{% else %}Add Determination{% endif %}</h2>
        <h5>For <a href="{% url "funds:submissions:detail" submission.id %}">{{ submission.title }}</a></h5>
    </div>
</div>

{% include "forms/includes/form_errors.html" with form=form %}

<div class="wrapper wrapper--medium wrapper--inner-space-medium">

    {% comment %}
        Example determination block
        TODO: use correct variables
    {% endcomment %}

    {% if submissions %}
        <div class="list-reveal list-reveal--determination">
            <div class="list-reveal__item list-reveal__item--meta list-reveal__item--determination" aria-live="polite">
                <span>Determining {{ submissions.length }} submissions</span>
                <a href="#" class="list-reveal__link js-toggle-batch-list">Show</a>
            </div>
            <div class="list-reveal__list list-reveal__list--determination js-batch-titles is-closed" aria-live="polite">
                {% for submission in submissions %}
                    <a href="{{ submission.href }}" class="list-reveal__item" target="_blank" rel="noopener noreferrer" title="{{ submission.title }}">
                        {{ submission.title }}
                        <svg class="list-reveal__open-icon">
                            <use xlink:href="#open-in-new-tab"></use>
                        </svg>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <form class="form form--with-p-tags" action="" method="post" novalidate>
        {{ form.media }}
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {# to be replaced with better logic when/if we use stream form #}
            {% ifchanged field.field.group %}
                {% for key, value in form.titles.items %}
                    {% if key == field.field.group %}
                        <h2>{{ value }}</h2>
                    {% endif %}
                {% endfor %}
            {% endifchanged %}

            {% if field.field %}
                {% include "forms/includes/field.html" %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <input class="button button--submit button--top-space button--white" type="submit" value="Save Draft" name="{{ form.draft_button_name }}" />
        <input data-fancybox data-src="#batch-send-determination" class="button button--submit button--top-space button--primary" type="button" value="Send" />
        {% include "funds/includes/batch_send_determination_form.html" %}
    </form>
    {% for type, message in message_templates.items %}
        <div class="is-hidden" data-type="{{ type }}" id="determination-message-{{ type }}">
            {{ message|bleach }}
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
    {# Skip this until the script is improved. <script src="{% static 'js/apply/determination-template.js' %}"></script> #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
    <script src="{% static 'js/apply/batch-actions.js' %}"></script>
    <script src="{% static 'js/apply/fancybox-global.js' %}"></script>
{% endblock %}
