.actions-bar {
    margin-bottom: 20px;

    @include media-query(tablet-landscape) {
        display: flex;
        justify-content: space-between;
    }

    &__inner {
        & > * {
            margin-bottom: 20px;
        }

        @include media-query(tablet-landscape) {
            display: flex;
            align-items: center;

            & > * {
                margin: 0 0 0 20px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &--left {
            display: none;

            @include media-query(tablet-landscape) {
                display: flex;
                opacity: 0;
                pointer-events: none;
                transition: opacity $quick-transition;

                .batch-actions-enabled & {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }

    &__total {
        background-color: $color--light-blue;
        color: $color--white;
        padding: 6px 16px;
        border-radius: 30px;
        min-width: 120px;
        text-align: center;
        font-weight: $weight--semibold;
    }
}
