.activity-feed {
    position: fixed;
    top: 100vh;
    right: 0;
    left: 0;
    transition: top .3s cubic-bezier(0, .52, .58, 1);

    &.is-open {
        top: 0;
        z-index: 99999;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        overflow: scroll;
        background: $color--white;
    }

    &__header {
        padding: 0 20px;
        background-color: $color--default;

        @include media-query(tablet-portrait) {
            padding: 0;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        padding: 20px 0;
        color: $color--white;

        @include media-query(tablet-portrait) {
            justify-content: center;
        }
    }
}
