.activity-feed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity, z-index, $transition;

    &.is-open {
        z-index: 20;
        width: 100%;
        height: 100vh;
        background: $color--white;
        opacity: 1;
    }

    &__header {
        padding: 0 20px;
        background-color: $color--default;

        @include media-query(tablet-portrait) {
            padding: 0;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        padding: 20px 0;
        color: $color--white;

        @include media-query(tablet-portrait) {
            justify-content: center;
        }
    }
}
