.filters {
    display: none;

    .filters-open & {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        display: block;
        width: 100%;
        height: 100vh;
        background: $color--white;
    }

    @include media-query(tablet-landscape) {
        display: block;
        max-height: 0;
        transition: max-height $medium-transition;
        transition-delay: $base-delay;
        pointer-events: none;

        .filters-open & {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            height: auto;
            background: transparent;
            max-height: 85px;
            pointer-events: all;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;

        @include media-query(tablet-landscape) {
            display: none;
        }

        > div[class^='js-'] {
            color: $color--primary;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__button {
        appearance: none;
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        border: 0;
        color: $color--primary;
        background: transparent;
    }
}
