.form {
    &__filters {
        @extend %h6;
        display: flex;
        padding: 10px 0 30px;

        label {
            display: none;
        }

        // so the form can be output in any tag
        > * {
            flex-basis: 215px;
            margin-right: 10px;
        }

        &--mobile {
            flex-direction: column;
            padding: 0;

            .select2 .select2-selection.select2-selection--single {
                border: 0;
                border-top: 1px solid $color--mid-grey;

                &.is-active {
                    font-weight: $weight--normal;
                    background-color: transparentize($color--primary, 0.9);
                    border-color: $color--mid-grey;
                }
            }

            > * {
                flex-basis: auto;
                margin: 0;
            }
        }
    }

    &--header-search-desktop {
        position: relative;
        width: 280px;

        @include media-query(small-tablet) {
            margin-top: 15px;
        }
    }
}

