.form {
    $root: &;

    &--with-p-tags {
        p {
            margin: 0 0 10px;

            label {
                @extend %h4;
                display: block;
                margin-bottom: 10px;
                font-weight: $weight--bold;
            }
        }

        button {
            margin-top: 10px;
        }
    }

    &--header-search-desktop {
        position: relative;
        width: 280px;

        @include media-query(small-tablet) {
            margin-top: 15px;
        }
    }

    &__group {
        position: relative;
        margin: 1rem 0;

        @include media-query(tablet-portrait) {
            margin: 2rem 0;

            // reduce spacing on the profile page
            .profile & {
                margin: 1rem 0;
            }
        }

        &:nth-of-type(1) {
            margin-top: 0;
        }

        &:last-child {
            .locality & {
                // remove margin from last item in address field set
                margin-bottom: 0;
            }
        }

        &--wrap {
            flex-wrap: wrap;
        }

        &--checkbox {
            display: flex;
            align-items: center;
            margin: 20px 0;

            .form__question {
                margin: 0;
            }

            .form__item {
                position: relative;
                top: -10px;
                order: -1;
                padding: 0;
            }

            .form__help {
                order: -2;
                width: 100%;
            }
        }

        input[type='date']:last-child {
            max-width: 385px;
        }
    }

    &__question {
        @extend %h4;
        display: block;
        margin-bottom: 10px;
        font-weight: $weight--bold;

        // sass-lint:disable class-name-format
        &--image_field,
        &--multi_file_field,
        &--file_field {
            @include button($color--light-blue, $color--dark-blue);
            max-width: 290px;
            text-align: center;
            background: url('./../../images/upload.svg') $color--light-blue no-repeat 50px center;
            border: 0;

            .no-js & {
                display: none;
            }

            &:hover {
                background: url('./../../images/upload.svg') $color--dark-blue no-repeat 50px center;

                .no-js & {
                    background: none;
                }
            }
        }

        &--boolean_field {
            font-size: 17px;
        }
        // sass-lint:enddisable
    }

    &__filters {
        @extend %h6;
        display: flex;
        padding: 10px 0 30px;

        label {
            display: none;
        }

        // so the form can be output in any tag
        > * {
            flex-basis: 225px;
            margin-right: 10px;
        }

        &--mobile {
            flex-direction: column;
            padding: 0;

            .select2 .select2-selection.select2-selection--single { // sass-lint:disable-line force-element-nesting
                border: 0;
                border-top: 1px solid $color--mid-grey;

                &.is-active {
                    font-weight: $weight--normal;
                    background-color: transparentize($color--primary, 0.9);
                    border-color: $color--mid-grey;
                }
            }

            // so the form can be output in any tag
            > * {
                flex-basis: auto;
                margin: 0;
            }
        }
    }

    &__label {
        @extend %h5;
        font-weight: $weight--bold;

        .wrapper--comments & {
            font-size: 15px;
        }
    }

    &__required {
        color: $color--purple;
    }

    &__help {
        @extend %h6;

        .profile & {
            margin-top: 0;
        }
    }

    &__item {
        position: relative;
        padding-bottom: 10px;

        > label {
            display: block;
            margin-bottom: 10px;
        }
    }

    &__select {
        max-width: 385px;
        background: url('./../../images/dropdown.svg') $color--white no-repeat 95% center;
        background-size: 8px;

        .form--scoreable & {
            margin-top: 20px;
        }

        .form__filters & {
            max-width: 100%;
        }

        select[multiple='multiple'] {
            display: block;
        }

        select {
            background: transparent;
            border-radius: 0;
            appearance: none;
            -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
            -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes

            option {
                background-color: $color--white;
            }
        }

        &--narrow {
            max-width: 280px;
        }
    }

    select,
    input[type='url'],
    input[type='text']:not(.input--secondary),
    input[type='date'],
    input[type='time'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='datetime-local'] {
        width: 100%;
        max-width: 385px;
        padding: 10px;
        border: 1px solid $color--mid-grey;

        &:disabled {
            color: $color--black-50;
            cursor: not-allowed;
        }
    }

    &__error {
        select,
        textarea,
        input[type='url'],
        input[type='text'],
        input[type='date'],
        input[type='time'],
        input[type='email'],
        input[type='number'],
        input[type='password'],
        input[type='datetime-local'] {
            border: 2px solid $color--error;
        }
    }

    &__error-text {
        max-width: 200px;
        padding: 5px;
        margin: 20px 0 0;
        color: $color--white;
        background: $color--error;

        @include media-query(tablet-landscape) {
            position: absolute;
            top: 0;
            right: 0;
            max-width: auto;
            margin: 0;

            &::before {
                position: absolute;
                top: 12px;
                left: -10px;
                border-color: transparent $color--error transparent transparent;
                border-style: solid;
                border-width: 5px 10px 5px 0;
                content: '';
            }
        }
    }

    // make date & time input siblings inline
    input[type='date'] {
        max-width: calc(385px - 100px);
    }

    input[type='date'] + input[type='time'] {
        width: 100px;
    }

    input[type='file'] {
        @extend %off-screen;

        .no-js & {
            @extend %on-screen;
        }
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid lightgrey;
    }

    // Radio + Checkbox
    [type='radio'],
    [type='checkbox'] {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: -1;
        width: 1px;
        height: 1px;
    }

    [type='radio'] + label,
    [type='checkbox'] + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }

    [type='radio'] + label::before,
    [type='checkbox'] + label::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: $color--white;
        border: 1px solid $color--mid-grey;
        content: '';

    }

    // Radio specific
    [type='radio'] {
        & + label::before {
            border-radius: 100%;
        }

        & + label::after {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            background: $color--dark-blue;
            border-radius: 100%;
            content: '';
            transition: transform, opacity, $transition;
        }

        &:not(:checked) + label::after {
            opacity: 0;
            transform: scale(0);
        }

        &:checked + label::after {
            opacity: 1;
            transform: scale(1);
        }

        &:checked + label::before {
            border: 1px solid $color--dark-blue;
        }
    }

    // Checkbox specific
    input[type='checkbox'] {
        & + label::before {
            transition: background-color $transition;
        }

        &:checked + label::before {
            background: url('./../../images/tick.svg') $color--dark-blue center no-repeat;
            background-size: 12px;
            border: 1px solid $color--dark-blue;
        }
    }

    .errorlist {
        padding: 5px;
        margin-bottom: 5px;
        background: $color--light-pink;
        border: 1px solid $color--tomato;
    }

    textarea,
    &__textarea {
        display: block;
        width: 100%;
        height: 100px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid $color--mid-grey;

        @include media-query(tablet-portrait) {
            max-width: 70%;
        }
    }
}

