.grid {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex-basis: calc(100% - 20px);
        margin: 10px;

        @media all and (min-width: 480px) {
            flex-basis: calc(50% - 20px);
        }

        @media all and (min-width: 1024px) {
            flex-basis: calc(30% - 20px);
        }
    }

    &--two {
        > * {
            // fix for IE11 not rendering calc flex-basis correctly
            flex-basis: auto;
            width: calc(50% - 20px);
        }
    }

    &--narrow {
        text-align: center;

        @include media-query(tablet-portrait) {
            text-align: left;
        }
    }
}

@supports (display: grid) {
    .grid {
        display: grid;
        margin: 30px 0;
        grid-gap: 10px; // sass-lint:disable-line no-misspelled-properties
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        > * {
            flex-basis: initial;
            width: auto;
            margin: 0;
        }

        &--two {
            grid-template-columns: 100%;
            grid-gap: 0; // sass-lint:disable-line no-misspelled-properties

            @include media-query(tablet-portrait) {
                grid-template-columns: 1fr 1fr;
            }

            .form--comments & {
                margin: 20px 0 0;
                grid-gap: 10px; // sass-lint:disable-line no-misspelled-properties
                grid-template-columns: 100px 100px;
            }

            .wrapper--comments & {
                max-width: 800px;
                margin-bottom: 0;
                grid-template-columns: repeat(auto-fit,  200px 200px);
            }

            + br {
                display: none;
            }
        }

        &--no-margin {
            margin: 0;
        }

        &--proposal-info {
            padding-bottom: 30px;
            margin: 0 0 30px;
            border-bottom: 1px solid $color--mid-grey;
            grid-template-columns: 100%;
            grid-gap: 10px; // sass-lint:disable-line no-misspelled-properties

            @include media-query(mob-landscape) {
                margin: 0 0 30px;
                grid-template-columns: 1fr 1fr;
            }

            * {
                margin: 0;
            }
        }

        &__cell {
            &--span-two {
                @include media-query(mob-landscape) {
                    grid-column: auto / span 2;
                }
            }
        }

        &--seventy-thirty {
            grid-template-columns: 0.70fr 0.3fr;
        }
    }
}
