.heading {
    &--no-margin {
        margin: 0;
    }

    &--meta {
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        @include media-query(tablet-portrait) {
            margin-bottom: 1rem;
        }

        span {
            &::after {
                padding: 0 15px;
                content: '|';
            }

            &:last-child {
                &::after {
                    content: '';
                }
            }
        }
    }

    &--submission-meta {
        color: transparentize($color--dark-grey, 0.5);

        span {
            font-weight: $weight--normal;
        }
    }

    &--small {
        font-size: 12px;
    }

    &--light-grey {
        color: transparentize($color--dark-grey, 0.5);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--activity-feed {
        @include responsive-font-sizes(12px, 18px);
        line-height: 1.1;
        text-align: center;

        @include media-query(tablet-portrait) {
            line-height: auto;
            text-align: left;
        }
    }

    &--normal {
        font-weight: $weight--normal;
    }
}
