.icon {
    width: 20px;
    height: 20px;
    transition: fill $transition;
    fill: $color--dark-grey;

    .header__menus--mobile.is-visible & { // sass-lint:disable-line force-element-nesting
        fill: $color--white;
    }

    &--person {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        transition: fill $transition;

        .button:hover & {
            fill: $color--white;
        }
    }

    &--social-share {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 5px;
    }

    &--calendar {
        fill: $color--pink;
    }

    &--error {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    &--close {
        width: 12px;
        height: 12px;
    }

    &--status {
        width: 65px;
        height: 100%;
        stroke: $color--mid-grey;
        fill: transparent;

        .is-active & {
            stroke: $color--correct;
        }
    }

    &--small {
        width: 14px;
        height: 14px;
    }

    &--speech-bubble {
        fill: $color--white;

        .activity-feed__header & {
            margin-left: 10px;
        }
    }

    &--to-top {
        display: flex;
        align-items: center;
        width: 45px;
        height: 45px;
        padding: 12px;
        margin: 0 0 5px;
        background-color: $color--white;
        border: 2px solid $color--black-50;
        border-radius: 50%;
        fill: $color--black-50;

        @include media-query(small-tablet) {
            width: 65px;
            height: 65px;
            padding: 20px;
        }
    }

    &--eye {
        position: relative;
        top: 0.25em;
        align-self: center;
        width: 1em;
        height: 1em;
        stroke: $color--black;
    }

    &--pen {
        width: 12px;
        margin-left: 7px;
        fill: $color--light-blue;
    }

    &--padlock {
        width: 12px;
        margin-left: 7px;
        stroke: $color--mid-grey;
    }
}
