.messages {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    pointer-events: none;

    &__text {
        position: relative;
        padding: 15px 20px;
        color: $color--white;
        font-size: 14px;
        opacity: 1;
        transition: opacity, max-height, $transition;
        pointer-events: all;
        max-height: 1000px;

        @include media-query(desktop) {
            padding: 15px 30px;
        }

        &--info,
        &--success {
            background: $color--dark-blue;
        }

        &--error,
        &--warning {
            background: darken($color--error, 20%);
        }

        &--debug {
            background: darken($color--pink, 30%);
        }

        &--hide {
            opacity: 0;
            pointer-events: none;
            max-height: 0;
            padding: 0;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        max-width: $site-width;
        margin: 0 auto;
    }

    &__copy {
        padding-right: 20px;
        margin: 0;
        flex: 1;
        word-break: break-word;
    }

    &__button {
        margin-left: auto;
        color: $color--dark-blue;
        background-color: $color--white;
        display: inline-block;
        font-weight: $weight--bold;
        padding: 2px 20px;
    }

    &__icon {
        width: 25px;
        height: 25px;
        fill: $color--white;
        margin-right: 10px;
    }
}
