.messages {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &__text {
        max-height:1000px;
        padding: 15px;
        padding-right: 35px;
        position:relative;
        border: solid 1px;

        &--info {
            background: $color--pastel-green;
            border-color: darken($color--pastel-green, 20%);
        }

        &--warning{
            color: $color--white;
            font-weight: bold;
            background: $color--error;
            border-color: darken($color--error, 20%);
        }

        &--hide {
            max-height: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            border: 0 none;
            transform-origin: top;
            transition: all $transition;
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;

    }
}
