.modal {
    display: none;
    width: calc(100% - 40px);
    padding: 20px;

    &--secondary {
        padding: 0;
    }

    @include media-query(small-tablet) {
        width: 580px;
        padding: 30px;
    }

    &__header-bar {
        color: $color--white;
        background-color: $color--dark-blue;
        margin: -24px -24px 0;
        padding: 15px;
        text-align: center;
    }

    &__list {
        max-height: 230px;
        overflow: scroll;
        margin: 0 -24px 20px;
        padding: 0;
        border-bottom: 2px solid $color--light-mid-grey;
        box-shadow: inset 0 -10px 20px -10px $color--mid-grey;
    }

    &__list-item {
        font-size: map-get($font-sizes, zeta);
        padding: 12px 28px;
        border-bottom: 2px solid $color--light-mid-grey;
        margin: 0;

        &--meta {
            color: $color--dark-blue;
            font-weight: $weight--semibold;
            display: flex;
            justify-content: space-between;
            margin: 0 -24px 0;
        }
    }

    &__hide-link {
        text-decoration: underline;
    }
}
