.modal {
    display: none;
    width: calc(100% - 40px);
    padding: 0;

    @include media-query(small-tablet) {
        width: 580px;
        padding: 30px;
    }

    &__header-bar {
        color: $color--white;
        background-color: $color--dark-blue;
        margin: -24px -24px 20px;
        padding: 15px;
        text-align: center;

        &--no-bottom-space {
            margin-bottom: 0;
        }
    }

    &__copy {
        margin: 30px 20px;
    }

    &__buttons {
        display: flex;
        margin: 30px 40px 20px;

        button {
            width: 100%;
            padding: .5em 30px;
        }
    }
}
