.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: $weight--semibold;

    @include media-query(tablet-portrait) {
        flex-direction: row;
        padding-top: 0;
    }

    &--primary {
        text-transform: uppercase;

        @include media-query(tablet-portrait) {
            flex-direction: row;
            justify-content: center;
            margin-top: 0;
            text-transform: none;
        }
    }

    &__item {
        @include media-query(tablet-portrait) {
            margin-right: 75px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        @extend %h5;
        position: relative;
        display: inline-block;
        padding: 20px 10px;
        color: $color--white;
        transition: color $transition;

        &:focus,
        &:hover {
            color: $color--light-blue;
        }

        @include media-query(tablet-portrait) {
            display: inline;
            padding: 30px 0;
            color: $color--default;
        }


        &--active {
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: $color--dark-blue;
                content: '';
                opacity: 0;
                transition: opacity 0.5s cubic-bezier(0.2, 1.4, 0.67, 1.13);
            }
        }

        &--active,
        &:focus,
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}
