.reviews-summary {
    display: none;
    background-color: transparent;

    @include media-query(tablet-portrait) {
        display: table;
    }

    &__tr {
        vertical-align: top;
        border-bottom: 0;
    }

    &__td {
        padding: 10px;
        vertical-align: middle;
    }
}
