.revision-diff-table {
    td {
        vertical-align: top;
    }
}

.diff {
    &__deleted {
        background-color: $color--light-pink;

        a {
            background-color: inherit;
        }
    }

    &__added {
        background-color: $color--light-green;

        a {
            background-color: inherit;
        }
    }
}
