.reviewer-dash-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid $color--mid-grey;

    &__title {
        color: $color--mid-dark-grey;
    }

    &__teaser {
        width: 100%;

        span {
            font-weight: $weight--bold;
        }
    }
}
