.diff {
    display: inline-block;

    &__deleted {
        background-color: $color--pastel-red;

        a {
            background-color: inherit;
        }
    }

    &__added {
        background-color: $color--pastel-green;

        a {
            background-color: inherit;
        }
    }
}
