.round-block {
    $root: &;

    &__item {
        align-items: center;
        background-color: $color--white;
        border: 1px solid $color--light-mid-grey;
        border-bottom: 0;
        padding: 25px;
        transition: background-color $quick-transition;

        @include media-query(tablet-landscape) {
            display: flex;

            &:hover {
                background-color: $color--light-grey;
                border-right: 1px solid $color--light-grey;
                border-left: 1px solid $color--light-grey;
            }

            // item spacing
            > * {
                margin: 0 20px 0 0;
                flex-basis: 200px;
            }
        }

        &--more {
            padding: 20px 25px;
            justify-content: center;
            border-bottom: 1px solid $color--light-mid-grey;

            &:hover {
                background-color: $color--white;
            }
        }
    }

    &__view {
        margin: 0 0 0 auto;
        transition: opacity $quick-transition;

        @include media-query(tablet-landscape) {
            opacity: 0;
            flex-basis: auto;
            pointer-events: none;
        }

        #{$root}__item:hover & {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__date,
    &__determination {
        color: $color--primary;
    }

    &__view,
    &__reviewer {
        font-weight: $weight--bold;
        text-transform: uppercase;
    }
}
