.section {
    &--has-sidebar {
        flex-grow: 1;
        margin: $mobile-gutter 0;

        @include media-query(tablet-portrait) {
            padding-right: 20px;
            margin-bottom: 0;
        }
    }

    &--with-options {
        display: flex;
        justify-content: space-between;
    }
}
