// base table styles - specific ones in their own scss partial
table {
    width: 100%;
    background-color: $color--white;
    border-collapse: collapse;
    table-layout: fixed;

    // table head
    th {
        padding: 20px 15px;
        font-size: 15px;
        font-weight: 600;
        text-align: left;

        a {
            color: $color--mid-dark-grey;
            transition: color .25s ease-out;
        }
    }

    // table rows
    tr {
        border: 1px solid $color--light-mid-grey;
        transition: box-shadow .15s ease;

        @include media-query($table-breakpoint) {
            border-top: 0;
            border-right: 0;
            border-bottom: 2px solid $color--light-grey;
            border-left: 0;

            &.is-expanded {
                border-bottom: 1px solid $color--light-mid-grey;

                .lead {
                    span {
                        background-color: $color--mist;
                    }
                }
            }

            &:hover {
                box-shadow: 0 6px 35px -13px $color--black-50;
            }

            &.reviews-summary__tr {
                box-shadow: none;
            }
        }

        // responsive table styles
        > td {
            display: block;
            width: 100%;

            @include media-query($table-breakpoint) {
                display: table-cell;
                width: initial;
            }

            &.lead {
                span {
                    @include media-query($table-breakpoint) {
                        position: relative;
                        z-index: 1;
                        display: block;
                        padding-right: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background: $color--white;

                        &:hover {
                            display: inline-block;
                            overflow: visible;
                        }
                    }
                }
            }

            &.title {
                a {
                    font-weight: $weight--bold;
                }
            }
        }
    }

    td,
    th {
        padding: 5px 20px;

        @include media-query($table-breakpoint) {
            padding: 15px 10px;
        }

        &.title {
            padding-left: 20px;
        }
    }
}
