.traffic-light {
    display: block;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;

    &--red {
        color: $color--tomato;
        background-color: $color--tomato;
    }

    &--amber {
        color: $color--mustard;
        background-color: $color--mustard;
    }

    &--green {
        color: $color--green;
        background-color: $color--green;
    }
}
