// stylelint-disable property-no-vendor-prefix

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
html {
    font-family: $font--primary;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;

    &.no-scroll {
        overflow-y: hidden;
    }

    &.app-open {
        overflow: hidden;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Responsive images
img {
    height: auto;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

a {
    color: $color--primary;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

details > summary {
    cursor: pointer;
    margin-bottom: 10px;

    &:focus {
        outline: none;
    }
}

.is-invisible,
%is-invisible {
    z-index: -1;
    opacity: 0;
    transition: opacity, z-index, $transition;
}

.is-visible,
%is-visible {
    z-index: 5;
    opacity: 1;
    transition: opacity, z-index, $transition;
}

.hidden,
.is-hidden,
%is-hidden {
    display: none;
}

.js-hidden,
%js-hidden {
    html.js & {
        @extend %is-hidden;
    }
}

.no-js-hidden,
%no-js-hidden {
    html.no-js & {
        @extend %is-hidden;
    }
}

.is-unhidden,
%is-unhidden {
    display: block;
}

.off-screen,
%off-screen {
    position: absolute;
    left: -9999px;
}

.on-screen,
%on-screen {
    position: relative;
    left: 0;
}

.light-grey-bg {
    background-color: $color--light-grey;
}

.mid-grey-text {
    color: $color--mid-dark-grey;
}
