@use "sass:math";

// $TYPOGRAPHY
// Base font
html {
    color: $color--default;
}

/* ============================================
    Families – one mixin per typeface
    :: For each font mixin defined here, make sure each property is negated (set
    :: to its default value, usually `inherit`) in all other font mixins.
*/
@mixin heading-text {
    margin: 0 0 1rem;
    font-style: inherit;
    font-weight: $weight--semibold;
}

@mixin body-text {
    font-family: $font--primary;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-text {
    @include heading-text;
}

.body-text {
    @include responsive-font-sizes($base-font-size, $base-font-size-large);
}

// Default sizes
h1,
%h1,
.alpha {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 400;
}

h2,
%h2,
.beta {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
}

h3,
%h3,
.gamma {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4,
%h4,
.delta {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h5,
%h5,
.epsilon {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

h6,
%h6,
.zeta {
    @include font-size(zeta);
}

small,
.milli {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
