//================================================================================================//
//
//  MEDIA STRUCTURE
//
//================================================================================================//

// ELEMENTS

.media {
  align-items: flex-start;
  display: flex;
}

.media__adj {
  margin: 0 #{$size-md}px 0 0;

  .media--alt & {
    margin: 0 0 0 #{$size-md}px;
    order: 1;
  }
}

.media__body {
  flex: 1;
}
