//============================================================================//
//
//  GLOBAL GENERIC BODYLOCK
//
//============================================================================//

// SETUP

html.is-locked {
  overflow: hidden;

  body {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}
