//------------------------------------------------------------------//
//
//  GLOBAL GENERIC ANGULAR SCROLLBAR
//
//  Mixins have already been decared in a parent file
//  sass-lint:disable mixins-before-declarations
//
//------------------------------------------------------------------//

// VARS

$scrollbar-thumb: color(seed-grey, 10) !default;
$scrollbar-track: color(seed-grey, -45) !default;

// ELEMENTS

// sass-lint:disable no-vendor-prefixes
.is-not-touch {
    ::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: $scrollbar-track;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
    }
}
// sass-lint:enable no-vendor-prefixes
